<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Payor List - {{interfaceName}}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <th scope="col" class=" sticky-top">Name</th>
              <th scope="col" class="sticky-top">Payor Code</th>
              <!-- <th scope="col" class="sticky-top">Jurisdiction</th>
              <th scope="col" class="sticky-top">Source System</th> -->
              <th scope="col" class="sticky-top">Active</th>
              <th scope="col" class="sticky-top">Sort Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of payerlist">
              <td class="position-relative edit-option padding-interface border-left">
                <ul class="m-0 p-0">
                  <li class="">
                    <div class="share-button">
                      <input class="toggle-input" id="toggle-input" type="checkbox" />
                      <label for="toggle-input" class="toggle"></label>
                    </div>
                    <div class="slider d-flex align-items-center interface-slider-left">
                      <p class="twitter mr-1">
                        <span (click)="getInterfacePayerDetailsById(item.id)">
                          <a class="text-white" title="Edit"></a>
                        </span>
                      </p>
                      <p class="payor-details-ico mr-1">
                        <span (click)="payorMapping(item)">
                          <a class="text-white" title="Payer Mapping">
                          </a>
                        </span>
                      </p>
                    </div>
                  </li>
                </ul>
              </td>
              <td>{{item.name}}</td>
              <td>{{item.payerCode}}</td>
              <!-- <td>{{item.jurisdiction}}</td>
              <td>{{item.sourceSystem}}</td> -->
              <td>{{item.active==1?'Yes':'NO'}}</td>
              <td>{{item.sortOrder}}</td>
            </tr>
          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="payerlist.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5 pr-0" *ngIf="!displayMapping">
  <div class="create-wrapper">
    <form [formGroup]="payorForm">
      <div class="title">
        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
          {{payorForm.value.id==0?'Create Payor':'Update Payor'}} - {{interfaceName}}
        </h5>
      </div>
      <div class="border-2" style="height:70vh">
        <div class="my-3 d-flex">
          <label class="m-0 w-200">Name <span class="text-danger">*</span></label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" [trim]="'blur'" formControlName="name" placeholder="Name"
              aria-label="Your Name" aria-describedby="basic-addon2" />
          </div>

        </div>
        <div class="text-danger text-center ml-4" *ngIf="formcontrols.name.errors?.required&&payorFormError">
          Name is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200">Payor Code</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" formControlName="payer" placeholder="Payor Code"
              aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1" />
          </div>
        </div>
        <div class="text-danger text-center ml-n5" *ngIf="formcontrols.payer.errors?.required&&payorFormError">
          Payor code is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200">Plan/Program Code</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" formControlName="planCode" placeholder="Plan/Program Code"
              aria-label="Your Name" aria-describedby="basic-addon2" />
          </div>

        </div>
        <div class="text-danger text-center ml-4" *ngIf="formcontrols.planCode.errors?.required&&payorFormError">
          Plan code is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200">Jurisdiction</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" formControlName="jurisdiction" placeholder="Jurisdiction"
              aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1" />
          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formcontrols.jurisdiction.errors?.required&&payorFormError">
          Jurisdiction is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200">Source System </label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" formControlName="sourceSystem" placeholder="Source System "
              aria-label="Your Name" aria-describedby="basic-addon2" />
          </div>

        </div>
        <div class="text-danger text-center ml-4" *ngIf="formcontrols.sourceSystem.errors?.required&&payorFormError">
          Source System is required
        </div>









        <div class="my-3 d-flex">
          <label class="m-0 w-200">Sort Order</label>
          <div class="input-group input-section">
            <input type="number" class="form-control input-text w-200" formControlName="sortOrder" placeholder="Sort Order"
              aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1" />

          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formcontrols.sortOrder.errors?.required&&payorFormError">
          Sort Order is required
        </div>

        <div  *ngIf="payorForm.value.id!=0"   class="input-group input-section d-flex align-items-center mt-2">
          <label class="m-0 pr-3 font-size-15 w-135"> Active </label>
          <div class="check-box-wrapper">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" id="bopis" name="active" (change)="onActivechange($event)"
                [checked]="payorForm.value.active==1?true:false" type="checkbox" />
              <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
          </div>


        </div>

        <div class="close-button justify-content-end  mt-4">
          <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal" (click)="form()">
            Cancel</button>
          <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
            (click)="saveInterfacePayerDetails()">
            {{payorForm.value.id==0?'Create ':'Save '}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div [formGroup]="payorMappingForm" class="col-md-5" *ngIf="displayMapping">
  <div class="edit-wrapper mb-3 box-shadow">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{payorMappingForm.value.interfacePocPayersMapId==0?'Create':'Update'}} Payor Mapping - {{payorName}}
      </h5>

    </div>

    <div class="border-2">
      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Office <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235" (change)="getPayorPlanList()" formControlName="officeId">
            <option [ngValue]="0">select</option>
            <option *ngFor="let item of officeLookup" [ngValue]="item.officeId">{{item.officeName}}</option>
          </select>
          <div class="text-danger mb-2 text-center" *ngIf="payorMappingForm.value.officeId==0 && payorFormError">
            Office is required
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">POC Payor Plan <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235" formControlName="pocPayorPlanId">
            <option [ngValue]="0">select</option>
            <option *ngFor="let item of payorPlanLookup" [ngValue]="item.payorPlanId">{{item.payorPlan}}</option>
          </select>
          <div class="text-danger mb-2 text-center" *ngIf="payorMappingForm.value.pocPayorPlanId==0 && payorFormError">
            POC Payor Plan is required
          </div>
        </div>
      </div>

      <div  *ngIf="payorMappingForm.value.interfacePocPayersMapId!=0" class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3 w-120 font-size-15">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input (change)="onActivechange($event,'mapping')" [checked]="payorMappingForm.value.active==1?true:false"
              class="on-off-toggle__input" id="bopis" name='active' type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" (click)='payorMapForm()'
          data-dismiss="modal"> Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" (click)='saveInterfacePayorMapping()'
          data-dismiss="modal">{{payorMappingForm.value.interfacePocPayersMapId==0?'Create':'Save'}}</button>
      </div>
    </div>
  </div>

  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center">
      <h5 class="m-0 text-white">Interface Payor Mapping List
      </h5>
      <!-- <input type="search" class="form-control w-200" placeholder="Search Lookups" /> -->
    </div>
    <div class="p-2">
      <div class="table-responsive dual-data-table vh-30">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top p-0">
              </th>
              <th scope="col" class=" sticky-top p-0">POC Payor Plan

              </th>
              <th class="align-middle sticky-top p-0">Office

              </th>
              <th scope="col" class="sticky-top p-0">Active

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of payorMappingList">
              <td>
                <span (click)="updatePayormapping(item)" class="material-icons" data-toggle="modal" title="Edit"
                  data-target="#staticBackdrop">
                  edit
                </span>
              </td>
              <td class="text-left">{{item.pocPayorPlan}}</td>
              <td class="text-left">{{item.office}}</td>
              <td>
                {{item.active==1?'Yes':'No'}}
              </td>

            </tr>
          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="payorMappingList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
