<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Interface Medium - {{interfaceName}}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th scope="col" class="sticky-top">Interface Dataset</th>
              <th scope="col" class="sticky-top">SFTP/Web Service</th>
              <th scope="col" class="sticky-top">URL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of interfaceMediumList">
              <td>
                <span (click)="updateForm(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{item.name}}</td>
              <td>{{item.sftpUrl.length>0?'SFTP':'WebService'}}</td>
              <td>{{item.sftpUrl.length>0?item.sftpUrl:item.wsUrl}}</td>

            </tr>

          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="interfaceMediumList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <div class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{interfaceMediumForm.value.id==0 && interfaceMediumFormWs.value.id==0 ?'Create':'Update'}} Interface Medium - {{interfaceName}}
      </h5>

    </div>
    <div class="d-flex justify-content-center my-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="displayForm=$event.target.value" type="radio" [checked]="displayForm=='SFTP'"
          name="inlineRadioOptions" id="inlineRadio1" value="SFTP">
        <label class="form-check-label" for="inlineRadio1">SFTP</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" (change)="displayForm=$event.target.value"[checked]="displayForm!=='SFTP'"
          name="inlineRadioOptions" id="inlineRadio2" value="WS">
        <label class="form-check-label" for="inlineRadio2">Web Service</label>
      </div>
    </div>
    <div class="border-2" [formGroup]="interfaceMediumForm" *ngIf="displayForm==='SFTP'"
      style="height: 72vh;overflow-y: auto;">

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
            aria-describedby="basic-addon2" tabindex="1">
          <div class="break">
          </div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="w-200">Interface Dataset <span class="text-danger">*</span></h6>
        <div class="w-100">
          <select class="form-control " formControlName="interfaceDatasetId">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let item of interFaceDatasetList" [ngValue]="item.id">{{item.name}}</option>
          </select>
          <div class="text-danger" *ngIf="interfaceMediumForm.value.interfaceDatasetId==null && formError">
            InterfaceDataset is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Records Limit </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="wsRecordsLimit"
            placeholder="RecordsLimit" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200"> Interface Tax ID </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="interfaceTaxId"
            placeholder="Interface Tax ID" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <!-- <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Site Name <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235" formControlName="siteName">
            <option [ngValue]="">Select</option>
            <option>Select</option>
          </select>
          <div class="text-danger" *ngIf="formControls.siteName.errors?.required && formError">
            SiteName is required
          </div>
        </div>
      </div>
       <div class="my-3 d-flex">
        <label class="m-0 w-200"> Site Number<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" formControlName="interfaceSiteNumber" placeholder=" Site Number"
            aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.interfaceSiteNumber.errors?.required && formError">
        Site Number is required
      </div> -->
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP URL <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="sftpUrl" placeholder="SFTP URL"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpUrl.errors?.required && formError">
        SFTP URL is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP Port <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="number" class="form-control input-text " formControlName="sftpPort" placeholder="SFTP Port"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpPort.errors?.required && formError">
        SFTP Port is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP User Name <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'"class="form-control input-text " formControlName="sftpUserName" placeholder="User Name"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>

      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpUserName.errors?.required && formError">
        SFTP UserName is required
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP Password</label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpPassword" placeholder="SFTP Password"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpPassword.errors?.required && formError">
        SFTP Password required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200"> SFTP Key File Name</label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpKeyFileName"
            placeholder="SFTP Key File Name" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpKeyFileName.errors?.required && formError">
        SFTP Key File Name is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP From Folder </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpFromFolder"
            placeholder="SFTP From Folder" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpFromFolder.errors?.required && formError">
        SFTP From Folder is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP To Folder </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpToFolder"
            placeholder="SFTP  To Folder" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.sftpToFolder.errors?.required && formError">
        SFTP To Folder is required
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP File Name </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpFileName"
            placeholder="SFTP File Name" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP File Date Format </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpFileDateFormat"
            placeholder="SFTP File Date Format" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200"> Effective from <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="effictiveFrom"
            placeholder="Effective from" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.effictiveFrom.errors?.required && formError">
        Effective from required
      </div> -->
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client ID </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientId" placeholder="Client ID"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.clientId.errors?.required && formError">
        Client ID required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client Secret </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientSecret" placeholder="Client Secret"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.clientSecret.errors?.required && formError">
        Client Secret required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Scope </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="scope" placeholder="Scope"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.scope.errors?.required && formError">
        Scope required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">JSON Key Name </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="jsonKeyName" placeholder="JSON Key"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControls.jsonKeyName.errors?.required && formError">
        JSON Key Name required
      </div>

      <div class="input-group input-section d-flex align-items-center mt-2">
        <label class="m-0 pr-3  font-size-15 w-135">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" formControlName="active" [checked]="interfaceMediumForm.value.active==1" id="bopis" name='active'
              type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end sticky-bottom-btn ">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
          (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
          (click)="saveInterfaceMediumDetails()">{{interfaceMediumForm.value.id==0?'Create':'Save'}}</button>
      </div>
    </div>
    <div class="border-2" [formGroup]="interfaceMediumFormWs" *ngIf="displayForm!=='SFTP'"
      style="height: 72vh;overflow-y: auto;">

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
            aria-describedby="basic-addon2" tabindex="1">
          <div class="break">
          </div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="w-200">Interface Dataset <span class="text-danger">*</span></h6>
        <div class="w-100">
          <select class="form-control" formControlName="interfaceDatasetId">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let item of interFaceDatasetList" [ngValue]="item.id">{{item.name}}</option>
          </select>
          <div class="text-danger text-center" *ngIf="formControlsws.interfaceDatasetId.errors?.required && formError">
            Interface Dataset is required
          </div>
        </div>

      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">WS RecordsLimit </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="wsRecordsLimit"
            placeholder="WS RecordsLimit" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.wsRecordsLimit.errors?.required && formError">
        WS RecordsLimit required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200"> Interface Tax ID </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="interfaceTaxId"
            placeholder="Interface Tax ID" aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.interfaceTaxId.errors?.required && formError">
        Interface Tax ID from required
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">WS URL <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="wsUrl" placeholder="WS URL"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.wsUrl.errors?.required && formError">
        WS URL is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">WS Port </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="wsPort" placeholder="WS Port"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">WS User Name </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="wsUserName" placeholder="WS User Name"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>

      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.wsUserName.errors?.required && formError">
        WS UserName is required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">WS Password </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="wsPassword" placeholder="WS Password"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.wsPassword.errors?.required && formError">
        WS Password required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client ID </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientId" placeholder="Client ID"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.clientId.errors?.required && formError">
        Client ID required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client Secret </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientSecret" placeholder="Client Secret"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.clientSecret.errors?.required && formError">
        Client Secret required
      </div>





      <div class="my-3 d-flex">
        <label class="m-0 w-200">Scope </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="scope" placeholder="Scope"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.scope.errors?.required && formError">
        Scope required
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">JSON Key Name </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="jsonKeyName" placeholder="JSON Key"
            aria-label="Your Name" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="text-danger text-center" *ngIf="formControlsws.jsonKeyName.errors?.required && formError">
        JSON Key Name required
      </div>
      <div class="input-group input-section d-flex align-items-center mt-2">
        <label class="m-0 pr-3  font-size-15 w-135">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" formControlName="active" [checked]="interfaceMediumFormWs.value.active==true" id="bopis"
              name='active' type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end sticky-bottom-btn">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
          (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
          (click)="saveInterfaceMediumDetails()">{{interfaceMediumForm.value.id==0?'Create':'Save'}}</button>
      </div>
    </div>
  </div>
</div>
