<div class="px-2 mt-2">
  <div class="filter-content reconcilation-filters pb-2">
    <div class="row m-0 w-100">
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" class=" w-100" bsDatepicker placeholder="MM/DD/YYYY"
            pInputText>
          <label for="inputtext">Start Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" class="" bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">End Date </label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown [options]="fileType"  class="w-100" styleClass="w-100" optionLabel="name" appendTo="body"></p-dropdown>
          <label for="inputtext">File Type </label>
        </span>
      </div>
      <div class="col-lg-3 pl-0">
        <div class="d-flex align-items-center" style="margin-top: 22px;">
          <button class="btn-border btn-green text-white px-3 py-2" > Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive box-shadow mb-3 bg-white" style="height: calc(100vh - 200px);">
    <table class="table  mb-0 visit-table">
      <thead class="thead-dark">
        <tr>
          <th class="edit-option border-right sticky-top"></th>

          <th class="AvenirLTStd-Heavy border-right sticky-top">
            File Name
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            File Type
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Uploaded Date
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Uploaded User
          </th>
          <th class="AvenirLTStd-Heavy  sticky-top">
            Comments
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-right border-bottom text-center">
            <span class="material-icons-outlined cursor-pointer" (click)="openLaEvvClients()">
              menu_book
            </span>
          </td>

          <td class="border-right border-bottom  AvenirLTStd-Medium">
            <span class="color-blue-light cursor-pointer AvenirLTStd-Medium link blue-link" (click)=" getReviewModal()" >test</span>
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            Client
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            08/05/2022 11.00 PM
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            Job
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            Dummy comment
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-end pagination nav mr-0 pb-1  mt-1">
    <div class="pr-2 pagination-add-close  justify-content-end">
      <span class="footer-text">Per Page</span>
      <select class="pagination-select border-0">
        <option>
          10
        </option>`
      </select>
      <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
      <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
      <button type="button " class="pagination-btn ml-0 " id="next-btn"
        class="pagination-btn btn-green ml-2 color-white">Next</button>
    </div>
  </div>

</div>
