<div class=" px-3 mt-2">
    <div class="">
        <div
            class="filter-content reconcilation-filters d-flex justify-content-between px-3  pb-3 align-items-end nav">
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 d-flex align-items-center justify-content-end">
                    Interface
                    <span class="text-danger ml-1">*</span>
                </label>
                <div class="input-group input-section ">
                    <select (change)="filterChange()"[(ngModel)]="interfaceId"
                        class="form-control input-text ">
                        <option [ngValue]="0" >--Select--</option>
                        <option *ngFor="let data of interfaceList" [ngValue]="data.id">{{data.name}}</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <div class=" form-check ">
                  <input type="checkbox" [(ngModel)]="includeInActivePS" (change)="onIncludeInactiveChange($event)" class="form-check-input" id="exampleCheck1">
                  <span class="form-check-label f-15 AvenirLTStd-Roman" for="exampleCheck1">Include In-Active</span>
                 </div>
            <div class="mt-2 d-flex align-items-center">
                <label class=" f-15 my-0 ml-4 pr-2 text-right" style="width: 178px;">PS </label>
                <div class="input-group input-section">
                    <ng-autocomplete #ps class="input-text w-100" [data]="psList" [searchKeyword]="'psName'"
                        [(ngModel)]="psId"
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.psName"></a>
                    </ng-template>
                </div>
            </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="ml-2 f-13 my-0   text-left">Start Date <span class="text-danger ">*</span>
                </label>
                <div class="input-group input-section">
                    <input [(ngModel)]="startDate" type="text" class="form-control input-text "
                         bsDatepicker placeholder="MM/DD/YYYY">
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-13 my-0   text-right">End Date<span class="text-danger">*</span>
                </label>
                <div class="input-group input-section">
                    <input type="text" [(ngModel)]="endDate" class="form-control input-text" style="width:161px"
                        bsDatepicker
                        placeholder="MM/DD/YYYY">
                </div>
            </div>
            <!-- <div class="mt-2 d-flex align-items-center">
                <label class="mx-1 mt-2 f-15 text-right">Status </label>
                <div class="input-group input-section">
                    <select  class="form-control input-text ">
                        <option>--Select--</option>
                        <option>Exported</option>
                        <option>Accepted</option>
                        <option>Rejected</option>
                    </select>
                </div>
            </div> -->

            <div class=" mt-2  ">

                <button (click)="onGo()" class="btn-border btn-green text-white px-3 py-2" > Go</button>
            </div>
        </div>

    </div>

    <div class="table-reconcilation mt-2" style="
    height: calc(100vh - 200px) !important;
">
        <table class="table box-shadow ">
            <thead class="thead-dark sticky-top">
                <tr>

                    <th colspan="2" class="border-right  align-middle"  rowspan="2"><input class="mr-2" [checked]="visiitDetailsCheckedAll" (change)="onCheckAll($event)" type="checkbox">PS</th>
                    <th colspan="1" class="border-right text-center align-middle" rowspan="2">
                       MRN
                    </th>
                    <th colspan="5" class="border-right text-center border-bottom">Export Details</th>
                </tr>
                <tr class="no-wrap" style="white-space: nowrap;">

                  <th class="border-right" scope="col" style="white-space: nowrap;">
                    <i (click)="sortorder('batch','asc')" [ngClass]="currentorderby=='batch' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                    <span class="mx-2">Batch #</span>
                    <i (click)="sortorder('batch','desc')" [ngClass]="currentorderby=='batch' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
                  </th>

                    <th class="border-right " scope="col">Exported On</th>
                    <th class="border-right " scope="col">Request/Response Message
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  class="no-wrap" *ngFor="let item of exportDetailsArray" >
                  <td><input type="checkbox" [checked]="psIds.includes(item.id)" (change)="onvisitCheck(item.psId,$event)" ></td>
                  <td>{{item.psName}}</td>
                    <td>{{item.mrn}}</td>
                    <td class="text-center">{{item.batchNumber}}</td>
                    <td>{{item.exportedOn}}</td>
                    <td>  <i class="far fa-arrow-alt-circle-up mx-2 f-20" title="Request"
                      (click)="getExportedDataDetails(item,recordDetails)"></i>
                      <i class="far fa-arrow-alt-circle-down mx-2 f-20" title="Response" (click)="onresponse(response,item.responseMessage)"></i>
                    </td>
                </tr>

            </tbody>
        </table>
        <p *ngIf="exportDetailsArray.length==0" class="no-records text-center">{{defaultMessage==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
    </div>
    <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2">
      <div class="">
        <button *ngIf="exportDetailsArray.length>0" [ngStyle]="psIds.length==0?{'cursor': 'not-allowed'}:''" [disabled]="psIds.length==0" (click)="repushPSRecords()" class="bg-blue-header btn-border text-white  px-2 py-2">Repush</button>
      </div>
        <div class="pagination  justify-content-end pagination-button">
            <div class="d-flex align-items-center">
                <h6 class="mx-3">Per page</h6>
                <select (change)="onPageReset()" [(ngModel)]="perPage" class="border-0 box-shadow mr-3">
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="75">75</option>
                  <option [ngValue]="100">100</option>
                  <option [ngValue]="125">125</option>
                  <option [ngValue]="150">150</option>
              </select>
            </div>
            Showing {{totalCount>0?lowerBound:totalCount}} to {{this.upperBound<=totalCount ?this.upperBound:this.totalCount}} of {{totalCount}}

            <div class="page-item "><button [disabled]="lowerBound<=1" (click)="prevpage()"  type="button"
              class="btn-green btn-border text-white mx-2">Prev</button>
      </div>
      <div class="page-item "><button [disabled]="this.upperBound>=totalCount" (click)="nextPage()" type="button"
              class="btn-green btn-border text-white mx-2">Next</button>
      </div>
        </div>
        <!-- Pagination end  -->
    </div>
</div>
<ng-template #notFoundTemplate let-notFound>
    <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template>
<ng-template #response>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Response Message </h5>
    <button type="button" class="close text-white" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
  {{responseMessage}}
  </div>

</ng-template>

<ng-template #recordDetails>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Record Details</h4>
      <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="color-white">&times;</span>
  </button>
  </div>
  <div class="modal-body">
      <div class="">
          <h3 class="m-0 table-reconcile-header">Details</h3>
          <div class="table-responsive border box-shadow height-67 reconcilation-table">
              <table class="table ">
                  <thead>
                      <tr>
                          <th class="bg-dark color-white border-right">
                              Column Name
                          </th>
                          <th class="bg-dark color-white">
                              Value
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="" *ngFor="let item of visitRequestData">
                          <td class=" border-right">
                              <div class="border-left">{{item.interfaceElementName}}</div>
                          </td>
                          <td class="">
                              <div class="border-right">{{item.requestValue}}</div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
          </div>
      </div>

  </div>
</ng-template>
