<div class="bg-white px-2 activity-inner-wrapper" >
    <!-- <div class="lightblue-bg  mb-0 p-2">
        <h3 class="color-white text-center AvenirLTStd-Roman">List of SRI Clients</h3>
    </div> -->
    <div class="filter-content reconcilation-filters pb-2 mt-2">
      <div class="row m-0 w-100">
        <div class="field pt-4 col-lg-3 col-md-4 col-12">
          <span class="p-float-label">
            <input  type="text" class=" w-100"
              pInputText>
            <label for="inputtext">PS</label>
          </span>
        </div>
        <div class="field pt-4 col-lg-3 col-md-4 col-12">
          <span class="p-float-label">
            <input  type="text" class=" w-100"  pInputText>
            <label for="inputtext">MRN </label>
          </span>
        </div>
        <div class="field pt-4 col-lg-3 col-md-4 col-12">
          <span class="p-float-label">
            <input  type="text" class=" w-100"  pInputText>
            <label for="inputtext">Alternate ID </label>
          </span>
        </div>
        <div class="col-lg-3 pl-0">
          <div class="d-flex align-items-center" style="margin-top: 22px;">
            <button class="btn-border btn-green text-white px-3 py-2" > Go</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive box-shadow bg-white" style="height: calc(100vh - 178px);">
        <table class="table  mb-0 visit-table">
            <thead class="thead-dark">
                <tr>
                    <th class="edit-option border-right sticky-top"></th>
                    <th class="edit-option border-right sticky-top">PS</th>
                    <th class="edit-option border-right sticky-top">MRN</th>
                    <th class="edit-option border-right sticky-top">AlternateId</th>
                    <th class="edit-option border-right sticky-top">Account#</th>
                    <th class="edit-option border-right sticky-top">Admission Date</th>
                    <th class="edit-option border-right sticky-top">Cordinator</th>
                    <th class="edit-option border-right sticky-top">Case Manager</th>
                    <th class="edit-option border-right sticky-top">Processed Date</th>
                    <th class="edit-option border-right sticky-top">Processed User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light" routerLink="/processed-pa-records">  menu_book</span>
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ALEXANDER, DEBRA
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        39614

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        1900534214.293OAASCCW
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        06/10/2015
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ARMSTRONG, LINDA
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        177024

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        174333108.641OAASCCW
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        05/07/2010
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ARNAUD, DONNA
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        402277

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        2019938069.926OAASCCW
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        07/29/2015
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ADAMS,JE'MANI
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        462404

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        2108039267.487PCS-ETP
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        02/17/2022
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ADAMS,KIRSTEN
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        519995

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        2188631122.118PCS-ETP
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        07/27/2022
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ANDRUS, GERLD
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        501484

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        1849821603LTPCS
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        05/25/2019
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        ANDRUS, MARY
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        540116

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        2242121601LTPCS
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        05/19/2021
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">

                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        BAKER, IZETTA
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        188284

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        1872521604LTPCS
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        06/18/2010
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        BROWN, DINAH
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        555211

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        2219721602LTPCS
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        05/09/2010
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
                <tr>
                    <td class="border-right AvenirLTStd-Medium">
                        <span class="material-icons-outlined cursor-pointer color-blue-light">   menu_book </span>


                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        BROWN, KYLIE
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        509995

                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        142562064NOW
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        71434000386
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        10/01/2019
                    </td>
                    <td class="border-right AvenirLTStd-Medium">
                        White, Pertemuel
                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                    <td class="border-right AvenirLTStd-Medium">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex align-items-center justify-content-end pagination nav pb-2 mt-1">
        <div class="pr-2 pagination-add-close  justify-content-end">
            <span class="footer-text">Per Page</span>
            <select class="pagination-select border-0">
                <option>
                    10
                </option>`
            </select>
            <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
            <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
            <button type="button " class="pagination-btn ml-0 " id="next-btn"
                class="pagination-btn btn-green ml-2 color-white">Next</button>
        </div>
    </div>
</div>
