<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center">
      <h5 class="m-0 text-white">Interface Offices - {{ interfaceName }}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th scope="col" class="sticky-top">Dataset</th>
              <th scope="col" class="sticky-top">Office</th>
              <th scope="col" class="sticky-top">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of officesList">
              <td>
                <span (click)="updateOffices(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{ item.interfaceDataset }}</td>
              <td>{{ item.siteCode }}</td>
              <td>{{ item.active == 1 ? "Yes" : "No" }}</td>
            </tr>
          </tbody>
        </table>

        <p class="no-records text-center" *ngIf="officesList.length == 0">
          No Records Found
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0" *ngIf='officeForm.value.id==0'>
  <form [formGroup]="CreateOfficeForm">
    <div class="create-wrapper">
      <div class="title">
        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
          Create Interface Offices
          - {{ interfaceName }}
        </h5>
      </div>
      <div class="border-2 ngmultiselectWrapper">
        <div class="my-3 d-flex justify-content-between nav">
          <label class="m-0">Dataset <span class="text-danger">*</span></label>
          <div class="input-group input-section w-235">
            <!-- <input type="text" class="form-control input-text" formControlName="dataset" placeholder="Dataset" aria-label="Your Name"
            aria-describedby="basic-addon2" /> -->
            <ng-select placeholder="--Select--" class="w-235" [multiple]="true" [closeOnSelect]="false"
               [notFoundText]="'No data found'" [items]="exportedTables" bindLabel="name"
              bindValue="name" formControlName="dataset" name="name">
            </ng-select>
          </div>
        </div>
        <div class="text-danger text-center ml-4" *ngIf="CreateFormcontrols.dataset.errors?.required && formError">
          Dataset is required
        </div>

        <!-- <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Dataset <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235" formControlName="dataset">
            <option [ngValue]="null">Select</option>
            <option [ngValue]="'SAMPLE1'">Dataset1</option>
          </select>
          <div class="text-danger " *ngIf="formcontrols.dataset.errors?.required && formError">
            Dataset is required
          </div>
        </div>
      </div> -->

        <div class="d-flex align-items-center justify-content-between my-3">
          <h6 class="">Office<span class="text-danger">*</span></h6>
          <div class="input-group input-section w-235">
            <!-- <select class="form-control w-235" formControlName="officeId">
            <option [ngValue]="0">Select</option>
            <option *ngFor="let item of officeLookup" [ngValue]="item.officeId">{{item.officeName}}</option>
          </select> -->
            <ng-select placeholder="--Select--" class="w-235" [multiple]="true" [closeOnSelect]="false"
              [notFoundText]="'No data found'" [items]="officeLookup" bindLabel="office" bindValue="officeId"
              formControlName="officeId" name="name">
            </ng-select>
            <div class="text-danger" *ngIf="CreateFormcontrols.officeId.errors?.required && formError">
              Office is required
            </div>
          </div>
        </div>
        <!-- <div class="input-group justify-content-between input-section d-flex align-items-center mt-2">
          <label class="m-0 pr-3 font-size-15"> Active </label>
          <div class="check-box-wrapper w-235">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" (change)="onActivechange($event,'create')"
                [checked]="CreateOfficeForm.value.active == 1" id="bopis" name="active" type="checkbox" />
              <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
          </div>
        </div> -->
        <div class="close-button justify-content-end">
          <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
            (click)="createForm()">
            Cancel
          </button>
          <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
            (click)="createInterfaceOffices()">
            Create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-md-5 pr-0" *ngIf='officeForm.value.id!=0'>
  <form [formGroup]="officeForm">
    <div class="create-wrapper">
      <div class="title">
        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
          {{ officeForm.value.id == 0 ? "Create" : "Update" }} Interface Offices
          - {{ interfaceName }}
        </h5>
      </div>
      <div class="border-2 ngmultiselectWrapper">
        <div class="my-3 d-flex justify-content-between nav">
          <label class="m-0">Dataset <span class="text-danger">*</span></label>
          <div class="input-group input-section w-235">
            <!-- <input type="text" class="form-control input-text" formControlName="dataset" placeholder="Dataset" aria-label="Your Name"
            aria-describedby="basic-addon2" /> -->
            <ng-select placeholder="--Select--" class="w-235"
               [notFoundText]="'No data found'" [items]="exportedTables" bindLabel="name"
              bindValue="name" formControlName="dataset" name="name">
            </ng-select>
          </div>
        </div>
        <div class="text-danger text-center ml-4" *ngIf="formcontrols.dataset.errors?.required && formError">
          Dataset is required
        </div>

        <!-- <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Dataset <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235" formControlName="dataset">
            <option [ngValue]="null">Select</option>
            <option [ngValue]="'SAMPLE1'">Dataset1</option>
          </select>
          <div class="text-danger " *ngIf="formcontrols.dataset.errors?.required && formError">
            Dataset is required
          </div>
        </div>
      </div> -->

        <div class="d-flex align-items-center justify-content-between my-3 nav">
          <h6 class="mb-0">Office<span class="text-danger">*</span></h6>
          <div class="w-235">
            <!-- <select class="form-control w-235" formControlName="officeId">
            <option [ngValue]="0">Select</option>
            <option *ngFor="let item of officeLookup" [ngValue]="item.officeId">{{item.officeName}}</option>
          </select> -->
            <ng-select placeholder="--Select--" class="w-235"
              [notFoundText]="'No data found'" [items]="officeLookup" bindLabel="office" bindValue="officeId"
              formControlName="officeId" name="name">
            </ng-select>
            <div class="text-danger" *ngIf="formcontrols.officeId.errors?.required && formError">
              Office is required
            </div>
          </div>
        </div>
        <div class="input-group justify-content-between input-section d-flex align-items-center mt-2">
          <label class="m-0 pr-3 font-size-15"> Active </label>
          <div class="check-box-wrapper w-235">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" (change)="onActivechange($event)"
                [checked]="officeForm.value.active == 1" id="bopis" name="active" type="checkbox" />
              <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
          </div>
        </div>
        <div class="close-button justify-content-end">
          <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
            (click)="createForm()">
            Cancel
          </button>
          <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
            (click)="saveInterfaceOffices()">
            {{ officeForm.value.officeId == 0 ? "Create" : "Save" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>



