

::ng-deep
{
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option  {
    overflow: auto !important;
    text-overflow: clip !important;
     white-space: pre-wrap  !important;
  }
}
