/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}

/* Common Styles Start from Here */
html {
  font-size: 14px;
}
body {
  @include margin(0, 0, 0, 0);
  // @include size(null, 100vh);
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  // font-family: AvenirLTStd-Black;
  // background-color: $table-body;
  background-color: #f9f9f9 !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
  color: $black;
}
i {
  cursor: pointer;
}
button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.font-size-15 {
  font-size: 15px;
}
html,
body {
  height: 100%;
}

.bg-dark {
  background-color: #343a40 !important;
}
.bg-blue {
  background-color: #1690d1;
}
.color-white {
  color: $white;
}
.bg-white {
  background: $white;
}
.container-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.left-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}

.f-15 {
  font-size: 15px;
}

.f-20 {
  font-size: 20px;
}
.space-nowrap {
  white-space: nowrap;
}
.h-25 {
  height: 25px !important;
}
.h-30 {
  height: 30px !important;
}
.h-68 {
  height: 68px !important;
}
.vh-30 {
  height: 30vh !important;
}
.h-70 {
  height: 70vh !important;
}
.h-92 {
  height: 92%;
}
.h-90 {
  height: 90%;
}
.h-175 {
  height: 175px !important; //used for descriptions fields
}
.w-60 {
  width: 60px;
}
.w-80 {
  width: 80px;
}
.w-90 {
  width: 90px !important;
}
.w-110 {
  width: 110px !important;
}
.w-120 {
  width: 120px;
}
.w-125 {
  width: 125px;
}
.w-130 {
  width: 130px;
}
.w-120 {
  width: 120px;
}
.w-135 {
  width: 135px !important;
}
.w-150 {
  width: 150px !important;
}
.w-160 {
  width: 160px;
}
.w-180 {
  width: 180px !important;
}
.w-200 {
  width: 200px;
}
.w-230 {
  width: 230px;
}
.w-235 {
  width: 235px;
}
.w-250 {
  width: 250px;
}
.w-270{
  width: 270px;
}
.w-275{
  width: 275px;
}
.mxw-100 {
  max-width: 100% !important;
}
.mnw-90 {
  min-width: 90px;
}
.mnw-110 {
  min-width: 110px;
}
.mnw-150 {
  min-width: 150px;
}
.mnw-220 {
  min-width: 220px;
}
.mxw-250 {
  min-width: 250px !important;
}
.pr-20 {
  padding-right: 20px;
}
.mx-w-95{
  max-width: 95%;
}
.material-icons {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden !important;
}
.box-shadow {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);
}

.table-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-border {
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  -webkit-border-top-right-radius: 8px !important;
  -webkit-border-bottom-left-radius: 8px !important;
  -moz-border-radius-topright: 8px !important;
  -moz-border-radius-bottomleft: 8px !important;
}
.btn-blue {
  background-color: $blue;
}
.btn-green {
  background-color: $button !important;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.no-records {
  text-align: center !important;
}

.no-wrap {
  white-space: no-wrap !important;
}

.table-responsive{
  white-space: no-wrap !important;
}

.ngx-pagination a:focus {
  outline: none;
}
// ==================scroll styles=================

/* width & height*/
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px;
}

// / Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(226, 226, 226);
  border-radius: 10px;
}

// / Handle /
::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201);
  border-radius: 10px;
}

// / Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}
.border-2 {
  border: 2px solid #dee2e6;
  padding: 2px 8px;
}

@media (max-width: 768px) {
  .d-none-sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .h-90 {
    //  height: 100vh;
    height: auto;
  }
}

.documentpopup {
  .modal-content {
    height: 85vh;
  }
  // .modal-dialog {
  //   width: 800px !important;
  // }
  &.modal-dialog {
    max-width: 1200px !important;
  }
}

.reconcilation-filters {
  .mt-2.d-flex.align-items-center {
    width: 245px;
  }

  label {
    width: 235px;
  }

  .input-group.input-section {
    width: 202%;
  }

  .autocomplete-container {
    height: 35px;
    z-index: 10;
    .input-container {
      input {
        line-height: 35px;
        height: 35px;
        border-radius: 3px;
      }
    }
  }
}

.autocomplete-container .suggestions-container ul li a {
  padding: 2px 15px !important;
}

li.sublist-items.active {
  background: #00adee;
  color: #fff;
}

.autocomplete-container.active {
  z-index: 999999 !important;
}

/* Fixed Headers */

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

th[scope=row] {
  vertical-align: top;
  color: inherit;
  background-color: inherit;
  // background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

.modal{
  .modal-dialog{
    .modal-content{
      .modal-header{
        background-color: #343a40 !important;
        color: #fff !important;
      }
    }
  }
}

.create-wrapper{

  .ng-select.ng-select-single .ng-select-container{
    margin-left: auto !important;
    // width: 88%;
  }
}

app-interface-office-details, app-interface-medium,app-interface-offices{
  .data-table{
    height: 74vh;
  }
}

// th:not([scope=row]):first-child {
//   left: 0;
//   z-index: 3;
//   // background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);
// }

// th[scope=row] {
//   position: -webkit-sticky;
//   position: sticky;
//   left: 0;
//   z-index: 1;
// }

textarea{
  padding:5px 10px;
}
.blueanchor {
  color: #1662e8;
  cursor: pointer;
}
.blue-link {
  color: #145194;
  cursor: pointer;
}
dropdown-panel .ng-dropdown-panel-items .ng-option {
  overflow: auto !important;
  text-overflow: clip !important;
   white-space: pre-wrap  !important;
}
.table-reconcile-header{
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: #6c757d!important;
  font-family: "AvenirLTStd-Black";
}
.bg-secondary {
  background-color: #6c757d!important;
}
.reconcilation-table{
  height: 70vh;
}
.form-control{
  color: #000;
  &::placeholder{
    color: #808080 !important;
  }
}


.ngmultiselectWrapper{
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
}

}
.interface-filter-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  white-space: pre-line !important;
}
.text-white{
  color: $white;
}

.swal2-confirm{
  @extend .btn-border ;
  @extend .btn-green ;
  @extend .text-white;
}
.swal2-deny{
  @extend .btn-border ;
  // @extend .btn-danger;
  @extend .text-white;

}
app-export-evv-data,app-resubmittransaction-ps,app-resubmittransaction-dcs,app-interface,app-resubmit-scheduled-visits,app-laevv-activity-log,app-laevv-summary-log{
  width: 100%;
}
.bg-blue-header{
  background-color: #4273a8;
}
.word-break{
  word-break: break-all;
}
.filePopup.modal-dialog {
  max-width: 90% !important;
  margin: 1.75rem auto;
}
.inActive{
  background-color: #ff99cc !important;
}
.p-dropdown-label,.p-inputtext{
  color: #000;
  font-family: "AvenirLTSTD-Medium", sans-serif !important;
}
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label{
  color: #fff;
  font-family: "AvenirLTSTD-Medium", sans-serif !important;
  font-size: 13px;
}
app-reconciliation-ps,app-client-file-from-sri,app-service-message-file-sri,app-client-pa-from-sri,app-job-log,app-pa-file-from-sri{
  width: 100%;
}
app-processed-pa-records{
  width: 94%;
}
app-reconciliation-dcs{
  width: 100%;
}
.full-width-dialog{
  max-width: 95% !important;
}
app-export-dcs{
  width: 100%;
}
app-evv-export-visits{
  width: 100%;
}


.btn-common {
  font-size: 15px;
  color: $white;
  font-weight: 500;
  width: 120px;
  height: 35px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 8px;
}
.cursor-pointer{
  cursor: pointer;
}
