.evv-dashboard-wrapper{
    .dashboard-inner-wrapper{
        .card{
            width: 32.1%;
            // height: 35vh;
            border-radius: 5px;
            box-shadow:5px 17px 10px -10px #ccc;
            transition: all ease-in-out 300ms;
            &:hover{
                box-shadow: 0 11px 10px 0px #b7b7b7;
                transform: translate(0px, -2px);
                transition: all ease-in-out 300ms;
            }
            .dataset-header{
                background-color: $bottom-text;
                @include padding(10px,10px,10px,10px);
                @include border-radius(5px, 5px, null, null);
                h4{
                    color: $black;
                }
            }
        }
        .dataset-body{
            height: 30vh;
            @include padding(null,null,10px,null);
            .dataset-title{
                z-index: 1;
            }
            .dataset-inner-links{
                height: 22vh;
                overflow-y: auto;
                i{
                    color: $bottom-text;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 2px;
                    border-top: 1px solid #d7d7d7;
                    padding-top: 3px;
                    line-height: 24px;
                }
            }
        }
    }

    .sidebar-container{
        height: 100%;
    }

    .cards-wrapper {
        width: 94%;
    }
    // ==================common================
    i{
        cursor: pointer;
    }

}

// .ribbon-highlight{
//     position:relative;
//     margin:0.1em;
//   }
//   .ribbon-highlight:before{
//     content:"";
//     z-index:-1;
//     left:0.5em;
//     // top:0.1em;
//     border-width:0.5em;
//     border-style:solid;
//     border-color:lightgreen;
//     position:absolute;
//     width:25%;
//     border-left-color:transparent;
//     border-right-color:transparent;
//   }
