.header-container {
    height: 60px;
    padding: 0 30px;
    background-color: #343a40 !important;
    color: #ffffff;
    box-shadow: 2px 2px 5px #1b1b1b;
    z-index: 61;
    position: relative;
}
@media (min-width: 1300px){
    .header-container {
        height: 9vh;
    }
    .h-90{
        height: 91vh;
    }
}
// @media (min-width: 992px){
//     .page-sidebar.collapse {
//         /* display: block; */
//         max-height: none!important;
//     }
// }
// .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse, .page-sidebar.navbar-collapse {
//     padding: 0;
//     box-shadow: none;
// }
// .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
//     background-color: #364150;
// }
// @media (min-width: 768px){
//     .navbar-collapse.collapse {
//         display: block!important;
//         height: auto!important;
//         padding-bottom: 0;
//         overflow: visible!important;
//     }
// }
// @media (min-width: 992px){
//     .page-sidebar {
//         width: 235px;
//         float: left;
//         position: relative;
//         margin-right: -100%;
//     }
// }
// .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }
// .page-sidebar .page-sidebar-menu>li.sidebar-search-wrapper, .page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.sidebar-search-wrapper, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.sidebar-toggler-wrapper {
//     border: 0!important;
// }
// .page-sidebar .page-sidebar-menu>li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li {
//     display: block;
//     margin: 0;
//     padding: 0;
//     border: 0;
// }
// .page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
//     background: #2c3541;
// }
// .page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
//     webkit-transition: opacity .3s;
//     -moz-transition: opacity .3s;
//     -ms-transition: opacity .3s;
//     -o-transition: opacity .3s;
//     transition: opacity .3s;
//     display: block;
//     cursor: pointer;
//     opacity: .7;
//     filter: alpha(opacity=70);
//     padding: 6px 8px;
//     margin-top: 15px;
//     margin-right: 16px;
//     float: right;
//     -webkit-border-radius: 4px;
//     -moz-border-radius: 4px;
//     -ms-border-radius: 4px;
//     -o-border-radius: 4px;
//     border-radius: 4px;
// // }
// .page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
//     background-color: #364150;
// }
// // @charset "UTF-8";
// .sidebar-user-material-menu>a>.caret {
// 	-webkit-transition: -webkit-transform ease-in-out .15s;
// 	-o-transition: -webkit-transform ease-in-out .15s;
// 	transition: -webkit-transform ease-in-out .15s;
// 	-webkit-transition-duration: .35s;
// 	transition-duration: .35s
// }
// .sidebar {
// 	color: #fff;
// 	position: relative;
// 	width: 100%;
// 	display: none
// }
// .sidebar .sidebar-content {
// 	background-color: #263238;
// 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// }
// // .sidebar {
// //     height: 92vh;
// // }
// @media (min-width:769px) {
// 	.sidebar {
// 		display: flex;
// 		// vertical-align: top;
// 		width: 250px;
// 		// padding-right: 20px
// 	}
// }
// .sidebar-main {
// 	z-index: 99
// }
// .sidebar-secondary {
// 	z-index: 98
// }
// .sidebar-opposite {
// 	display: none;
// 	z-index: 97
// }
// @media (min-width:769px) {
// 	.sidebar-opposite-visible .sidebar-opposite {
// 		display: table-cell;
// 		padding-right: 0;
// 		padding-left: 20px
// 	}
// }
// .sidebar-default {
// 	color: #333
// }
// .sidebar-user-material-content>h6, .sidebar-user-material-content>span, .sidebar-user-material-menu>a {
// 	color: #fff;
// 	text-shadow: 0 0 1px rgba(0, 0, 0, .5)
// }
// .sidebar-default .sidebar-content {
// 	background-color: #fff
// }
// .sidebar-content {
// 	position: relative;
// 	border-radius: 3px;
// 	// margin-bottom: 20px
// }
// .sidebar-all-hidden .sidebar-main, .sidebar-all-hidden .sidebar-secondary, .sidebar-main-hidden .sidebar-main, .sidebar-secondary-hidden .sidebar-secondary {
// 	display: none
// }
// @media (max-width:768px) {
// 	.sidebar-mobile-main .sidebar-main, .sidebar-mobile-opposite .sidebar-opposite, .sidebar-mobile-secondary .sidebar-secondary {
// 		display: block
// 	}
// }
// .category-title {
// 	position: relative;
// 	margin: 0;
// 	padding: 12px 46px 12px 20px;
// 	border-bottom: 1px solid rgba(255, 255, 255, .1)
// }
// .category-title>span {
// 	display: block
// }
// .category-title:not(.h5):not(.h6)>span {
// 	padding-top: 2px;
// 	text-transform: uppercase;
// 	font-weight: 500;
// 	font-size: 11px;
// 	line-height: 1.82
// }
// .category-title.h5, .category-title.h6 {
// 	padding: 20px;
// 	border-bottom: 0
// }
// .category-title .icons-list, .category-title>i {
// 	position: absolute;
// 	right: 20px;
// 	top: 50%;
// 	margin-top: -8px
// }
// .category-content, .navigation, .navigation li {
// 	position: relative
// }
// .category-title+.sidebar-user {
// 	padding-top: 5px;
// 	padding-bottom: 5px
// }
// .sidebar-default .category-title {
// 	border-bottom-color: #ddd
// }
// // .category-content {
// // 	padding: 20px
// // }
// .sidebar-user-material .category-content {
// 	background: url(../images/backgrounds/user_bg4.jpg) center center no-repeat;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover
// }
// .sidebar-user-material .navigation-wrapper {
// 	background-color: rgba(0, 0, 0, .1);
// 	border-bottom: 1px solid rgba(255, 255, 255, .1)
// }
// .sidebar-default .sidebar-user-material .navigation-wrapper {
// 	background-color: rgba(0, 0, 0, .01);
// 	border-bottom-color: #ddd
// }
// .sidebar-user-material .navigation {
// 	padding: 8px 0
// }
// .sidebar-user-material:first-child .category-content {
// 	border-top-right-radius: 3px;
// 	border-top-left-radius: 3px
// }
// .sidebar-user-material-menu {
// 	margin: 20px -20px -20px
// }
// .sidebar-user-material-menu>a {
// 	padding: 10px 20px;
// 	display: block;
// 	background-color: rgba(0, 0, 0, .1)
// }
// .sidebar-user-material-menu>a:focus, .sidebar-user-material-menu>a:hover, .sidebar-user-material-menu>a[aria-expanded=true] {
// 	background-color: rgba(0, 0, 0, .15)
// }
// .sidebar-user-material-menu>a>i {
// 	float: right;
// 	margin-top: 2px
// }
// .sidebar-user-material-menu>a[aria-expanded=true]>.caret {
// 	-webkit-transform: rotate(180deg);
// 	-ms-transform: rotate(180deg);
// 	-o-transform: rotate(180deg);
// 	transform: rotate(180deg)
// }
// .sidebar-user-material-content {
// 	text-align: center
// }
// .sidebar-user-material-content>a {
// 	display: inline-block;
// 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// }
// .navigation .hidden-ul, .sidebar-xs .sidebar-user-material-content, .sidebar-xs .sidebar-user-material-menu>a>span {
// 	display: none
// }
// .sidebar-user-material-content>a>img {
// 	height: 80px
// }
// .sidebar-user-material-content>h6 {
// 	margin-bottom: 0
// }
// .sidebar-xs .sidebar-user-material>.category-content {
// 	padding: 0
// }
// .sidebar-xs .sidebar-user-material-menu {
// 	margin: 0
// }
// .sidebar-xs .sidebar-user-material-menu>a {
// 	text-align: center;
// 	padding: 20px;
// 	line-height: 1
// }
// .sidebar-xs .sidebar-user-material-menu>a>i {
// 	float: none;
// 	margin-top: 0
// }
// .navigation {
// 	margin: 0;
// 	padding: 10px 0;
// 	list-style: none
// }
// .sidebar-category>.h5+.category-content>.navigation, .sidebar-category>.h6+.category-content>.navigation {
// 	padding-top: 0
// }
// .navigation li+li {
// 	margin-top: 1px
// }
// .navigation li+.navigation-header {
// 	margin-top: 10px
// }
// .navigation li a {
// 	color: rgba(255, 255, 255, .75);
// 	display: block;
// 	-webkit-transition: background .15s linear, color .15s linear;
// 	-o-transition: background .15s linear, color .15s linear;
// 	transition: background .15s linear, color .15s linear
// }
// .navigation li a:focus, .navigation li a:hover {
// 	background-color: rgba(0, 0, 0, .1);
// 	color: #fff
// }
// .navigation li a>i {
// 	float: left;
// 	top: 0;
// 	margin-top: 2px;
// 	margin-right: 15px;
// 	-webkit-transition: opacity .2s ease-in-out;
// 	-o-transition: opacity .2s ease-in-out;
// 	transition: opacity .2s ease-in-out
// }
// .navigation li a>i.pull-right {
// 	margin-right: 0;
// 	margin-left: 15px
// }
// .navigation li.disabled>a, .navigation li.disabled>a:focus, .navigation li.disabled>a:hover {
// 	color: inherit;
// 	background-color: transparent;
// 	cursor: not-allowed;
// 	opacity: .3;
// 	filter: alpha(opacity=30)
// }
// .navigation li>.has-ul {
// 	position: relative;
// 	padding-right: 36px
// }
// // .navigation li>.has-ul:after {
// // 	content: "f106";
// // 	font-family: icomoon;
// // 	font-size: 16px;
// // 	display: block;
// // 	position: absolute;
// // 	top: 50%;
// // 	margin-top: -8px;
// // 	right: 20px;
// // 	line-height: 1;
// // 	-webkit-transform: rotate(0);
// // 	-ms-transform: rotate(0);
// // 	-o-transform: rotate(0);
// // 	transform: rotate(0);
// // 	-webkit-transition: -webkit-transform .2s ease-in-out;
// // 	-o-transition: -webkit-transform .2s ease-in-out;
// // 	transition: -webkit-transform .2s ease-in-out
// // }
// // .navigation li.active>.has-ul:after {
// // 	-webkit-transform: rotate(90deg);
// // 	-ms-transform: rotate(90deg);
// // 	-o-transform: rotate(90deg);
// // 	transform: rotate(90deg)
// // }
// .navigation li>.has-ul .mm {
// 	// content: "f106";
// 	// font-family: icomoon;
// 	font-size: 16px;
// 	display: block;
// 	position: absolute;
// 	top: 50%;
// 	margin-top: -8px;
// 	right: 20px;
// 	line-height: 1;
// 	-webkit-transform: rotate(0);
// 	-ms-transform: rotate(0);
// 	-o-transform: rotate(0);
// 	transform: rotate(0);
// 	-webkit-transition: -webkit-transform .2s ease-in-out;
// 	-o-transition: -webkit-transform .2s ease-in-out;
// 	transition: -webkit-transform .2s ease-in-out
// }
// .navigation li.active>.has-ul .mm {
// 	-webkit-transform: rotate(180deg);
// 	-ms-transform: rotate(180deg);
// 	-o-transform: rotate(180deg);
// 	transform: rotate(180deg)
// }
// .navigation li.navigation-divider {
// 	margin: 10px 0;
// 	height: 1px;
// 	background-color: rgba(255, 255, 255, .1)
// }
// .sidebar-default .navigation li.navigation-divider {
// 	background-color: #eee
// }
// .navigation>li>a {
// 	// padding: 12px 20px;
// 	min-height: 44px;
// 	font-weight: 500
// }
// .navigation>li.active>a, .navigation>li.active>a:focus, .navigation>li.active>a:hover {
// 	background-color: #26A69A;
// 	color: #fff
// }
// .navigation>li.active>a>[class*=text-] {
// 	color: #fff
// }
// .navigation>li.active>a .badge, .navigation>li.active>a .label {
// 	background-color: transparent;
// 	border-color: transparent;
// 	color: #fff;
// 	-webkit-transition: background-color ease-in-out .2s;
// 	-o-transition: background-color ease-in-out .2s;
// 	transition: background-color ease-in-out .2s
// }
// .navigation>li ul {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// 	background-color: rgba(0, 0, 0, .15);
// 	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .05);
// 	box-shadow: 0 1px 0 rgba(255, 255, 255, .05)
// }
// .navigation>li ul li a {
// 	padding: 10px 20px 10px 20px;
// 	min-height: 40px
// }
// .navigation>li ul .navigation-header {
// 	padding-left: 51px
// }
// .navigation>li>ul>li>ul>.navigation-header, .navigation>li>ul>li>ul>li>a {
// 	padding-left: 71px
// }
// .navigation>li>ul>li>ul>li>ul .navigation-header, .navigation>li>ul>li>ul>li>ul>li>a {
// 	padding-left: 91px
// }
// // .navigation>li>ul li:first-child {
// // 	padding-top: 10px
// // }
// // .navigation>li>ul li:last-child {
// // 	padding-bottom: 10px
// // }
// .navigation>li>ul li.active>a, .navigation>li>ul li.active>a:focus, .navigation>li>ul li.active>a:hover {
// 	background-color: rgba(0, 0, 0, .2);
// 	color: #fff
// }
// .navigation .navigation-header {
// 	min-height: 30px;
// 	padding: 10px 20px;
// 	border-bottom: 0;
// 	text-transform: uppercase;
// 	font-size: 11px;
// 	line-height: 1.82
// }
// .navigation .navigation-header>span {
// 	display: block;
// 	margin-top: 2px
// }
// .navigation .navigation-header>i {
// 	display: none
// }
// .navigation .navigation-header>i.pull-right {
// 	margin-top: 2px
// }
// .navigation-bordered li+.navigation-header, .navigation-bordered>li+li {
// 	margin-top: 0
// }
// .navigation .navigation-header, .navigation .navigation-header a {
// 	color: rgba(255, 255, 255, .5);
// 	font-weight: 400
// }
// .navigation .navigation-header a:focus, .navigation .navigation-header a:hover {
// 	color: #fff
// }
// .navigation .navigation-header a i {
// 	float: none;
// 	margin: 0
// }
// .sidebar-default .navigation .navigation-header, .sidebar-default .navigation .navigation-header a {
// 	color: #999
// }
// .sidebar-default .navigation .navigation-header a:focus, .sidebar-default .navigation .navigation-header a:hover {
// 	color: #333
// }
// .navigation.nav>.active>.hidden-ul {
// 	display: block
// }
// @media (max-width:768px) {
// 	.navigation.nav>li>.hidden-ul {
// 		display: block
// 	}
// }
// .navigation .badge, .navigation .label {
// 	float: right
// }
// .sidebar-default .navigation li>a {
// 	color: #333
// }
// .sidebar-default .navigation li>a:focus, .sidebar-default .navigation li>a:hover {
// 	background-color: #f8f8f8
// }
// .sidebar-default .navigation li.active>a, .sidebar-default .navigation li.active>a:focus, .sidebar-default .navigation li.active>a:hover {
// 	background-color: #f5f5f5;
// 	color: #333
// }
// .sidebar-default .navigation li.disabled>a, .sidebar-default .navigation li.disabled>a:focus, .sidebar-default .navigation li.disabled>a:hover, .sidebar-default .navigation>li ul {
// 	background-color: transparent
// }
// .sidebar-default .navigation li.active>a>[class*=text-] {
// 	color: #333
// }
// .sidebar-default .navigation li .label-transparent {
// 	color: #333
// }
// .sidebar-default .navigation>li.active>a, .sidebar-default .navigation>li.active>a:focus, .sidebar-default .navigation>li.active>a:hover {
// 	background-color: #f5f5f5;
// 	color: #333
// }
// .sidebar-default .navigation>li.active>a .label-transparent {
// 	color: #333
// }
// .navigation-icons-right>li>a, .navigation-icons-right>li>a.has-ul {
// 	padding-right: 20px
// }
// .navigation-icons-right>li>a>i {
// 	float: right;
// 	margin-right: 0;
// 	margin-left: 15px
// }
// .navigation-icons-right>li.active>.has-ul:after, .navigation-icons-right>li>a.has-ul:after {
// 	content: none
// }
// .navigation-bordered>li {
// 	border-top: 1px solid rgba(255, 255, 255, .05)
// }
// .navigation-bordered>li:last-child {
// 	border-bottom: 1px solid rgba(255, 255, 255, .05)
// }
// .navigation-bordered>li.navigation-header {
// 	background-color: rgba(0, 0, 0, .1)
// }
// .navigation-bordered>li ul {
// 	-webkit-box-shadow: none;
// 	box-shadow: none
// }
// .sidebar-default .navigation-bordered>li {
// 	border-top: 1px solid #eee
// }
// .sidebar-default .navigation-bordered>li.navigation-header {
// 	background-color: #fafafa
// }
// .navigation-lg>li>a, .navigation-lg>li>a>span {
// 	padding-top: 14px;
// 	padding-bottom: 14px;
// 	min-height: 48px
// }
// .navigation-lg>li ul li a, .navigation-sm>li>a, .navigation-sm>li>a>span {
// 	padding-top: 10px;
// 	padding-bottom: 10px;
// 	min-height: 40px
// }
// .navigation-sm>li ul li a {
// 	padding-top: 6px;
// 	padding-bottom: 6px;
// 	min-height: 32px
// }
// .navigation-xs>li>a, .navigation-xs>li>a>span {
// 	padding-top: 8px;
// 	padding-bottom: 8px;
// 	min-height: 36px
// }
// .navigation-xs>li ul li a {
// 	padding-top: 6px;
// 	padding-bottom: 6px;
// 	min-height: 32px
// }
// @media (min-width:769px) {
// 	.sidebar-fixed.affix {
// 		position: fixed;
// 		width: 260px;
// 		top: 20px;
// 		bottom: 20px;
// 		-webkit-transition: bottom ease-in-out .15s;
// 		-o-transition: bottom ease-in-out .15s;
// 		transition: bottom ease-in-out .15s
// 	}
// 	.sidebar-fixed.affix .sidebar-content {
// 		max-height: 100%;
// 		overflow-y: auto
// 	}
// 	.sidebar-fixed.affix.fixed-sidebar-space {
// 		bottom: 60px
// 	}
// 	.navbar-bottom .sidebar-fixed.affix.fixed-sidebar-space {
// 		bottom: 90px
// 	}
// 	.navbar-bottom-lg .sidebar-fixed.affix.fixed-sidebar-space {
// 		bottom: 94px
// 	}
// 	.navbar-bottom-sm .sidebar-fixed.affix.fixed-sidebar-space {
// 		bottom: 88px
// 	}
// 	.navbar-bottom-xs .sidebar-fixed.affix.fixed-sidebar-space {
// 		bottom: 86px
// 	}
// 	.navbar-fixed .sidebar-fixed.affix {
// 		top: 90px
// 	}
// 	.navbar-fixed-lg .sidebar-fixed.affix {
// 		top: 94px
// 	}
// 	.navbar-fixed-sm .sidebar-fixed.affix {
// 		top: 88px
// 	}
// 	.navbar-fixed-xs .sidebar-fixed.affix {
// 		top: 86px
// 	}
// 	.sidebar-xs .sidebar-fixed.affix {
// 		width: 56px
// 	}
// 	.sidebar-separate .sidebar-content {
// 		background-color: transparent
// 	}
// 	.sidebar-separate .sidebar-category {
// 		background-color: #263238;
// 		border-radius: 3px;
// 		margin-bottom: 20px;
// 		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 		box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// 	}
// 	.sidebar-separate.sidebar-default .sidebar-content {
// 		background-color: transparent;
// 		border: 0;
// 		-webkit-box-shadow: none;
// 		box-shadow: none
// 	}
// 	.sidebar-separate.sidebar-default .sidebar-category {
// 		background-color: #fff
// 	}
// }
// .sidebar-fixed-expanded .sidebar-main {
// 	position: absolute;
// 	display: block;
// 	z-index: 1001
// }
// .sidebar-xs .sidebar-fixed-expanded .sidebar-main {
// 	width: 280px
// }
// .sidebar-fixed-expanded .content-wrapper {
// 	padding-left: 76px
// }
// @media (min-width:769px) {
// 	.sidebar-xs .sidebar-main {
// 		width: 76px
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-category {
// 		display: none
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-category-visible {
// 		display: block
// 	}
// 	.sidebar-xs .sidebar-main .category-title {
// 		padding: 0
// 	}
// 	.sidebar-xs .sidebar-main .category-title>i {
// 		padding: 13px 0;
// 		float: none;
// 		display: block;
// 		top: 0
// 	}
// 	.sidebar-xs .sidebar-main .category-title>span {
// 		display: none
// 	}
// 	.sidebar-xs .sidebar-main .category-title .icons-list {
// 		position: static;
// 		text-align: center;
// 		margin-top: 0;
// 		padding-top: 14px;
// 		padding-bottom: 14px
// 	}
// 	.sidebar-xs .sidebar-main .category-title .icons-list>li {
// 		display: block;
// 		margin-left: 0
// 	}
// 	.sidebar-xs .sidebar-main .category-title .icons-list>li+li {
// 		margin-top: 10px
// 	}
// 	.sidebar-xs .sidebar-main .category-title.h6 .icons-list {
// 		padding-top: 23.54px;
// 		padding-bottom: 23.54px
// 	}
// 	.sidebar-xs .sidebar-main .category-title.h5 .icons-list {
// 		padding-top: 25.08px;
// 		padding-bottom: 25.08px
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>a {
// 		display: block;
// 		text-align: center;
// 		padding-left: 0;
// 		padding-right: 0
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>a>span {
// 		display: none;
// 		position: absolute;
// 		top: 0;
// 		right: -260px;
// 		background-color: #26A69A;
// 		padding: 12px 20px;
// 		width: 260px;
// 		text-align: left;
// 		color: #fff;
// 		cursor: pointer;
// 		border-bottom-right-radius: 3px;
// 		border-top-right-radius: 3px;
// 		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 		box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>a>span .badge, .sidebar-xs .sidebar-main .navigation>li>a>span .label {
// 		background-color: transparent;
// 		border-color: transparent;
// 		color: #fff;
// 		padding-left: 0;
// 		padding-right: 0
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>a>i {
// 		margin: 2px 0;
// 		display: block;
// 		float: none
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>a.legitRipple {
// 		overflow: visible
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li.active>.has-ul:after, .sidebar-xs .sidebar-main .navigation>li>.has-ul:after {
// 		content: none
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li .has-ul>span {
// 		border-radius: 0 3px 0 0;
// 		cursor: default
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li.active>ul, .sidebar-xs .sidebar-main .navigation>li.disabled:hover>a>span, .sidebar-xs .sidebar-main .navigation>li.disabled:hover>ul {
// 		display: none !important
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li:hover>ul {
// 		display: block !important
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li:hover>a>span {
// 		display: block
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li:hover:not(.active)>a {
// 		background-color: rgba(0, 0, 0, .1);
// 		color: #fff
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>ul {
// 		position: absolute;
// 		right: -260px;
// 		top: 44px;
// 		width: 260px;
// 		display: none;
// 		background-color: #263238;
// 		border-radius: 0 0 3px;
// 		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
// 		box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>ul>li>a {
// 		padding-left: 20px;
// 		padding-right: 20px
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>ul>li>ul>li>a {
// 		padding-left: 30px
// 	}
// 	.sidebar-xs .sidebar-main .navigation>li>ul>li>ul>li>ul>li>a {
// 		padding-left: 60px
// 	}
// 	.sidebar-xs .sidebar-main .navigation>.navigation-header {
// 		padding: 0;
// 		text-align: center
// 	}
// 	.sidebar-xs .sidebar-main .navigation>.navigation-header>i {
// 		display: block;
// 		top: 0;
// 		padding: 13px 0
// 	}
// 	.sidebar-xs .sidebar-main .navigation>.navigation-header>span {
// 		display: none
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user {
// 		padding-left: 0;
// 		padding-right: 0
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user .media-left, .sidebar-xs .sidebar-main .sidebar-user .media-right {
// 		padding: 0;
// 		text-align: center;
// 		display: block
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user .media-left>img, .sidebar-xs .sidebar-main .sidebar-user .media-right>img {
// 		max-width: 100%;
// 		height: auto !important
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user .media-left>.img-sm, .sidebar-xs .sidebar-main .sidebar-user .media-right>.img-sm {
// 		margin-top: 1px;
// 		margin-bottom: 1px
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user .media-left>.img-xs, .sidebar-xs .sidebar-main .sidebar-user .media-right>.img-xs {
// 		margin-top: 3px;
// 		margin-bottom: 3px
// 	}
// 	.sidebar-xs .sidebar-main .sidebar-user .media-body, .sidebar-xs .sidebar-main .sidebar-user .media-right {
// 		display: none
// 	}
// 	.sidebar-xs .sidebar-main .navigation-lg>li>ul {
// 		top: 48px
// 	}
// 	.sidebar-xs .sidebar-main .navigation-sm>li>ul {
// 		top: 40px
// 	}
// 	.sidebar-xs .sidebar-main .navigation-xs>li>ul {
// 		top: 36px
// 	}
// 	.sidebar-xs .sidebar-main.sidebar-default .navigation>li>a>span {
// 		background-color: #f5f5f5;
// 		color: #333
// 	}
// 	.sidebar-xs .sidebar-main.sidebar-default .navigation>li>a>span .badge, .sidebar-xs .sidebar-main.sidebar-default .navigation>li>a>span .label {
// 		color: #333
// 	}
// 	.sidebar-xs .sidebar-main.sidebar-default .navigation>li>ul {
// 		background-color: #fff;
// 		border-top: 0
// 	}
// 	.sidebar-xs .sidebar-main.sidebar-default .navigation>li:hover:not(.active)>a {
// 		background-color: #f5f5f5;
// 		color: #333
// 	}
// }
// .sidebar .row {
// 	margin-left: -5px;
// 	margin-right: -5px
// }
// .sidebar .row [class*=col-] {
// 	padding-left: 5px;
// 	padding-right: 5px
// }
// @media (max-width:768px) {
// 	.sidebar .sp-container {
// 		display: block;
// 		width: 220px;
// 		margin-left: auto;
// 		margin-right: auto
// 	}
// }
// .sidebar .sp-flat .sp-picker-container {
// 	display: block;
// 	width: 218px
// }
// .sidebar .panel-group .panel {
// 	border-radius: 0;
// 	border-bottom: 1px solid #ddd;
// 	-webkit-box-shadow: none;
// 	box-shadow: none
// }
// .sidebar .panel-group .panel:first-child {
// 	border-top: 1px solid #ddd
// }
// .sidebar .panel-group .panel+.panel {
// 	margin-top: 0
// }
// .sidebar .media-list-bordered>li {
// 	border-top: 0;
// 	border-bottom: 1px solid #eee
// }
// .sidebar:not(.sidebar-default) .media .media-annotation, .sidebar:not(.sidebar-default) .media .text-muted {
// 	color: rgba(255, 255, 255, .8)
// }
// .sidebar:not(.sidebar-default) .media .media-body>a, .sidebar:not(.sidebar-default) .media .media-left>a, .sidebar:not(.sidebar-default) .media .media-right>a {
// 	color: #fff
// }
// .sidebar:not(.sidebar-default) .media .media-link:focus, .sidebar:not(.sidebar-default) .media .media-link:hover {
// 	background-color: rgba(0, 0, 0, .1)
// }
// .sidebar:not(.sidebar-default) .media .media-badge {
// 	border-color: #263238
// }
// .sidebar:not(.sidebar-default) .media-list-bordered>li {
// 	border-color: rgba(255, 255, 255, .1)
// }
// .sidebar .thumbnail {
// 	margin-bottom: 10px
// }
// .sidebar .form-group:last-child, .sidebar .sidebar-category .checkbox:last-child, .sidebar .sidebar-category .radio:last-child, .sidebar .thumbnail:last-child {
// 	margin-bottom: 0
// }
// .sidebar .thumbnail .zoom-image i {
// 	font-size: 16px;
// 	margin-top: -8px;
// 	margin-left: -8px
// }
// .sidebar .sidebar-category .checkbox, .sidebar .sidebar-category .radio {
// 	margin-top: 0
// }
// .sidebar .nav-tabs {
// 	border-width: 0 0 1px
// }
// @media (min-width:769px) {
// 	.sidebar .nav-tabs {
// 		border-width: 1px
// 	}
// 	.sidebar .nav-tabs>li>a {
// 		border-bottom-color: rgba(255, 255, 255, .1);
// 		background-color: rgba(0, 0, 0, .2);
// 		color: rgba(255, 255, 255, .6);
// 		border-top: 0;
// 		border-radius: 0
// 	}
// 	.sidebar .nav-tabs>li>a:focus, .sidebar .nav-tabs>li>a:hover {
// 		color: #fff;
// 		border-bottom-color: rgba(255, 255, 255, .1)
// 	}
// 	.sidebar .nav-tabs>.active>a, .sidebar .nav-tabs>.active>a:focus, .sidebar .nav-tabs>.active>a:hover {
// 		border-top: 0;
// 		border-bottom: 0;
// 		background-color: transparent;
// 		border-color: rgba(255, 255, 255, .1);
// 		color: #fff
// 	}
// 	.sidebar .nav-tabs>.active:first-child>a {
// 		border-left-color: transparent !important
// 	}
// 	.sidebar .nav-tabs>.active:last-child>a {
// 		border-right-color: transparent !important
// 	}
// 	.sidebar .nav-tabs>.open>a {
// 		color: #fff
// 	}
// 	.sidebar .nav-tabs>.open:not(.active)>a {
// 		background-color: rgba(0, 0, 0, .2)
// 	}
// }
// @media (max-width:768px) {
// 	.sidebar .nav-tabs {
// 		border-bottom: 1px solid rgba(255, 255, 255, .1);
// 		border-bottom-right-radius: 0;
// 		border-bottom-left-radius: 0;
// 		-webkit-box-shadow: none;
// 		box-shadow: none
// 	}
// 	.sidebar-default .nav-tabs {
// 		border-bottom-color: #ddd
// 	}
// }
// .header-demo .page-header, body>.ui-pnotify {
// 	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
// }
// .sidebar .tab-pane>.category-title:first-child {
// 	padding-top: 0
// }
// .sidebar .tab-pane>.category-title:first-child .icons-list {
// 	top: 0;
// 	margin-top: 4px
// }
// .page-container {
// 	position: relative;
// 	padding: 20px 20px 60px
// }
// .navbar-bottom .page-container, .navbar-bottom-lg .page-container, .navbar-bottom-sm .page-container, .navbar-bottom-xs .page-container {
// 	padding-bottom: 20px
// }
// @media (min-width:769px) {
// 	.sidebar-default .nav-tabs>.open>a, .sidebar-default .nav-tabs>li>a:focus, .sidebar-default .nav-tabs>li>a:hover {
// 		border-bottom-color: #ddd;
// 		color: #333
// 	}
// 	.sidebar-default .nav-tabs>li>a {
// 		background-color: #fafafa;
// 		border-bottom-color: #ddd;
// 		color: #999
// 	}
// 	.sidebar-default .nav-tabs>li:first-child>a {
// 		border-top-left-radius: 3px
// 	}
// 	.sidebar-default .nav-tabs>li:last-child>a {
// 		border-top-right-radius: 3px
// 	}
// 	.sidebar-default .nav-tabs>.active>a, .sidebar-default .nav-tabs>.active>a:focus, .sidebar-default .nav-tabs>.active>a:hover {
// 		border-color: #ddd;
// 		color: #333
// 	}
// 	.sidebar-default .nav-tabs>.open:not(.active)>a {
// 		background-color: #fafafa
// 	}
// 	.sidebar-default .nav-justified>li:first-child .dropdown-menu:not(.dropdown-menu-right) {
// 		left: -1px
// 	}
// 	.sidebar-default .nav-justified>li:last-child .dropdown-menu-right {
// 		right: -1px
// 	}
// 	.page-container {
// 		width: 100%;
// 		display: table;
// 		table-layout: fixed
// 	}
// 	@-moz-document url-prefix() {
// 		.page-container {
// 			height: 1px
// 		}
// 	}
// 	.navbar, .page-container, .page-header-content {
// 		padding-left: 65px;
// 		padding-right: 65px
// 	}
// 	.page-content {
// 		display: table-row
// 	}
// }




// .small{
//     .list-dropdown{
//         display: block;
//         position: absolute;
//         right: -235px;
//         top: 0;
//         background: white;
//     }
// }


// .close-sidebar{
//     width: 50px;
// }
.right-icon{
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 9;
    color: #343a40;
}
.search-input{

}
.form-control {
    height: 33px !important;   
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    // box-shadow: 2px 2px 3px #ccc;
    // color: #808080 !important; 
    // &:focus {
    //     border: 0;
    //     outline: none;
    //     box-shadow: 2px 2px 3px #ccc !important;
    // }
    // &::placeholder{
    //     color: #808080;
    // }
}
.wrapper{
    width: 93%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.search-input{
    width: 300px;
   .form-control{
    padding: 0px 24px 0 15px;
   }
}
// input:focus, textarea:focus, select:focus{
//     outline: none;
//     box-shadow: none ;
//     border: 0;
//   }
.wrapper-inner{
    // width: 500px;
    // background: #ffffff;
    // padding: 15px;
    background: white;
    width: 500px;
    padding: 8px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 320px;
}
.input-group-container{
    width: 220px;
    
    padding: 6px 0;

}
.input-form{
    padding: 6px 0;
}
.payor-details{
    resize: none;
   height: 186px !important;
}
.search-icon{
    background: white;
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgb(52 58 64);
    color: #343a40;
}