.view-container {
  width: 99%;

  .table {
    thead {
      th {
        color: #fff;
        background-color: $blue;
        border-color: $blue;
        text-align: left;
        padding-left: 15px;
      }

    }

    td {
      vertical-align: middle !important;
      padding: 2px 12px !important;
      text-align: left;
    }

    .no-records {
      text-align: center !important;
    }
  }

  .interface-block {
    .table {
      tbody {
        td {
          vertical-align: middle !important;
          // padding: .75rem !important;
          padding: 7px 10px !important;
        }
      }
    }
  }

  .dataset-element-mintable {
    height: 67vh !important;
  }

  .dataset-pagination {
    ul {
      padding: 0px;
    }

    .pagination-previous {
      &.disabled::before {
        display: none;
      }
    }

    .pagination-next.disabled::after {
      display: none;
    }

  }

  li.pagination-next {
    background: $button !important;
    color: $black !important;
    -webkit-border-top-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    cursor: pointer !important;

    &:hover {
      background: $button !important;
      color: $white;
    }
  }

  // .dataset-wrap{
  //     width:107%;
  // }
}

.edit-option {
  .share-button {
    position: relative;
    // width: 70px;


    &-input:checked+.toggle,
    &-input:hover+.toggle {

      // Cross Icon Bars
      &:after,
      &:before {
        background-color: #ffffff;
        content: "";
        height: 3px;
        width: 19px;
        position: absolute;
        left: 5px;
        top: 14px;
      }

      // Bar 1
      &:after {
        transform: rotate(45deg);
        // animation: bar1 0.3s forwards;
      }

      // Bar 2
      &:before {
        transform: rotate(-45deg);
        // animation: bar2 0.3s forwards;
      }
    }
  }

  // Toggle Button
  .toggle {
    position: relative;
    // width: 30px;
    // height: 30px;
    z-index: 99;
    // display: block;
    border-radius: 25px;
    cursor: pointer;
    color: #000;
    // box-shadow: inset 0 0 0 1px #C8C7C0;
    // background: #76bc43;

    // Toggle Button Hover
    &:hover {
      // box-shadow: inset 0 0 0 2px $toggle;
    }

    // Share Icon
    &:after {
      position: relative;
      display: block;
      // width: 32px;
      // height: 28px;
      font-family: "FontAwesome";
      content: "\f142";
      // line-height: 30px;
      font-size: 15px;
      text-align: center;
      // left: -2px;
      font-family: "Font Awesome 5 Free";

      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;

    }

    // Hidden input to toggle state
    &-input {
      display: none;
    }


  }


  // Twitter
  .twitter {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f304";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
      font-size: 12px;
    }

    a:hover:before {
      // box-shadow: inset 0 0 0 2px $twitter;
    }
  }

  // Facebook
  .facebook {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f500";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
      font-size: 12px;
    }

    a:hover:before {
      // box-shadow: inset 0 0 0 2px $facebook;
    }
  }

  // google Plus
  .googleplus {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f19c";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
      font-size: 12px;
    }

    a:hover:before {
      // box-shadow: inset 0 0 0 2px $googleplus;
    }
  }

  //document
  .document {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f15b";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .mapping {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f0c1";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .payor-details-ico {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f007";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .payor-map {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f360";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .interface-service {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f0ea";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .service-map {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f044";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .interface-medium {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f036";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .office-details {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f2bb";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .interfaceOffices {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\e06c";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .interfaceToken {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f478";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }


  .visitMedium {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f479";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .providerDetails {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f7e6";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .ps-providerDetails {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f508";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .dcs-providerDetails {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\e068";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }

  .interface-status {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f128";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }

  }

  .staticValues {
    a:before {
      font-family: "Font Awesome 5 Free";
      content: "\f461";
      display: inline-block;
      // padding-right: 3px;
      vertical-align: middle;
      font-weight: 900;
      color: #fff;
    }
  }





  ul {
    list-style: none;
    height: 30px;
    width: 10px;
  }

  ul li {
    width: 10px;
    height: 10px;
    // position: relative;

    border-radius: 50%;
  }

  ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
  }

  ul li.facebook {
    // background: #76bc43;
  }



  ul li.facebook div.slider {
    // background: #76bc43;
  }



  .slider {
    content: "";
    position: absolute;
    top: -2px;
    left: 30px;
    width: 0px;
    height: 36px;
    // background: #76bc43;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
    visibility: hidden;
    flex-wrap: wrap;
    max-width: 270px;
    min-width: 220px;
  }

  .slider p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
    margin: 0px 0px 10px 0px;
    border-radius: 50%;
    // background: #ffffff;
    // widows: 35px;
    // height: 35px;
    background: $blue;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    padding: 8px;
    // display: none;
  }

  ul li:hover .slider {
    // width: 220px;
    visibility: visible;
    transition: all 0.5s ease;
  }

  ul li:hover .slider p {
    opacity: 1;
    transition: all 1s 0.2s ease;
    z-index: 99;
    // display: flex;
    transition: 0.3s ease-in-out;
  }
}

.Dataset-element-wrapper {
  .modal-content {
    height: 92vh;
  }

  .dataset-wrap {
    height: 78vh;
  }

  .modal-dialog {
    max-width: 95%;
    z-index: 99999999;
    position: relative;

    .data-table {

      .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: $table-green;
      }

      .sticky-head {
        background-color: $blue;
        z-index: 99999 !important;
      }

      .first-child {
        left: 0px;
        // z-index: 999999;
        z-index: 999999 !important;
        position: sticky;
        background-color: #145194;
      }

      .second-child {
        left: 40px;
        // z-index: 999999;
        z-index: 999999 !important;
        position: sticky;
        background-color: #145194;
      }

      .third-child {
        left: 290px;
        // z-index: 999999;
        z-index: 999999 !important;
        position: sticky;
        background-color: #145194;

      }

      .first-col {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        left: 0px;
        // z-index: 999999;
        z-index: 1024;
        position: sticky;
        background: #f7fafc;
      }

      .second-col {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        left: 40px;
        // z-index: 999999;
        z-index: 1024;
        position: sticky;
        background: #f7fafc;
      }

      .third-col {
        // width: 250px;
        // min-width: 250px;
        // max-width: 250px;
        left: 290px;
        // z-index: 999999;
        z-index: 1024;
        position: sticky;
        background: #f7fafc;
      }

      // th:nth-child(2) {
      //     position: -webkit-sticky;
      //     position: fixed;
      //     left: 0;
      //     z-index: 99;
      //     background: #ccc;
      //   }
      // td:nth-child(2) {
      //     position: -webkit-sticky;
      //     position: sticky;
      //     left: 0;
      //     z-index: 2;
      //     background: #ccc;
      //   }
      //   th:nth-child(1) {
      //     position: -webkit-sticky;
      //     position: sticky;
      //     left: 0;
      //     z-index: 99;
      //     background: #ccc;
      //   }
      // td:nth-child(1) {
      //     position: -webkit-sticky;
      //     position: sticky;
      //     left: 0;
      //     z-index: 2;
      //     background: #ccc;
      //   }
      //   th:nth-child(3) {
      //     position: -webkit-sticky;
      //     position: sticky;
      //     left: 0;
      //     z-index: 99;
      //     background: #ccc;
      //   }
      // td:nth-child(3) {
      //     position: -webkit-sticky;
      //     position: sticky;
      //     left: 0;
      //     z-index: 2;
      //     background: #ccc;
      //   }
    }
    .data-table.Nodata{
        .first-child,.second-child,.third-child,.fourth-child{
            left: auto !important;
        }
    }
  }
}

.dataset-wrap {
  .ng-select.ng-select-single .ng-select-container {
    height: 30px;
  }

  .ng-select .ng-select-container {
    min-height: 32px;
  }
}

tr.selected {
  background-color: $login-text;
}

.file-select {
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
}

.interface-block-interface {
  height: 92vh !important;
}

.interface-slider-left {
  left: 22px !important;
  top: 2px !important;
}

.padding-interface {
  padding: 7px 10px !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: $button !important;
  -webkit-border-top-right-radius: 8px !important;
  -webkit-border-bottom-left-radius: 8px !important;
}

// .file-desc{
//   &
// }



// ::placeholder {
//   padding-left: 15px;
// }
// .ngx-pagination a, .ngx-pagination button {
//     color: #ffffff !important;
// }

// .ngx-pagination a:nth-child(2){
//     color: #000 !important;
// }
.is-invalid{
  .ng-select-container{
    border:1px solid #dc3545;

  }
}
.sticky-bottom-btn{
  position: sticky;
  bottom: -3px;
  z-index: 9999999;
  background: #f9f9f9;
}
.filter-selection{
  .ng-select-container{
      width: 150px !important;
      color: black;
      // background: #e8ebee;
  }
}