.interface-container {
    width: 94%;
    // margin: 20px;
    .interface-wrapper {
        background: #435d7d;
        // height: 60px;
        color: #ffffff;
        padding: 12px 17px;
    }
}
.logo {
    height: 37px;
    width: 193px;
}
.search-content {
    width: 200px !important;
}

.data-table-header {
    background: $blue;
    padding: 10px 10px;
}

.data-table{
.form-control {
    max-width: 165px;
    margin: auto;
    height: 30px !important;
}
.lookup-input{
    height: 25px !important;
}
}
.table-container {
    // padding: 15px 15px;
}

li.pagination-previous {
    background: $button !important;
    color: black !important;
    -webkit-border-top-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    cursor: pointer !important;
    margin-right: 10px;
    &:hover{
        background: $button !important;
        color: $white;
    }
}
li.pagination-next{
    background: $button !important;
    color: black !important;
    -webkit-border-top-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    cursor: pointer !important;
    &:hover{
        background: $button !important;
        color: $white;
    }
}
.filter-group {
    padding: 0 10px;

    label {
        padding-right: 10px;
    }

    .user-control {
        padding-left: 30px;
    }
}

.data-table {
    background: $table-green;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 68vh;
    overflow: auto;
    th {
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: $blue;
        border-bottom: 0 !important;
        border-top: 0 !important;
        border-right: 1px solid #ccc;
        padding: 5px 5px;
        font-weight: 400;
        letter-spacing: 0.6px;
    }

    td {
        border-bottom: 0 !important;
        border-top: 0 !important;
        vertical-align: middle;
        vertical-align: middle !important;
    text-align: center;
    padding: 2px 12px !important;
    }

    tr {
        border: 1px solid #eee !important;
    }

    td:nth-child(odd) {
        border-right: 1px solid #eee;
    }

    td:nth-child(even) {
        border-right: 1px solid #eee;
    }

    td:nth-last-child(1) {
        border-right: 0px;
    }
}


#staticBackdrop .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}



.modal {
    .modal-container {
        max-width: 450px;
        margin: 0 auto;

        // .form-container-wrapper{
        //     width: 100%;
        //     padding: 0px 20px;
        // }
        .modal-content {
            .modal-header {
                padding: 15px 0;
                text-align: center;
                position: relative;
                justify-content: center;

                .modal-title-content {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                }

                .close-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

            }

            .modal-body-container {
                padding: 0 20px;

                .input-section {
                    // max-width: 420px;
                    margin: 10px 0px;
                    height: 45px;
                }

                .input-text {
                    background-color: #e9ecef;
                    position: relative;
                    padding: 0 15px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: left;
                    color: #6f8ba4;
                    border: none;

                    &::-webkit-input-placeholder {
                        color: #6f8ba4;
                    }
                }

                .password-text {
                    padding: 0 30px;
                }

                .input-img {
                    position: absolute;
                    left: 4px;
                    top: 11px;
                    z-index: 3;
                }


                .close-button {
                    padding: 10px 13px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .btn-inner {
                        background: none;
                        // width: 100%;
                        width: 100px;
                        height: 40px;
                        background-color: $blue;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        letter-spacing: normal;
                        color: #ffffff;
                    }

                    .btn-save {
                        background-color: #76bd43 !important;

                    }

                }
                .interface-container {
                    width: 100%;
                    margin: 10px auto 0 auto;
                }
            }

        }
    }
}

.textarea-color {
    resize: none;
    height: 110px !important;
}

.data-table-inner{
    height:65vh;
    overflow: auto;
    background: $table-green;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: auto;
    th {
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: $blue;
        border-bottom: 0 !important;
        border-top: 0 !important;
    }

    td {
        border-bottom: 0 !important;
        border-top: 0 !important;
        vertical-align: middle;
        vertical-align: middle !important;
    text-align: center;
    padding: 2px 12px !important;
    }

    tr {
        border: 1px solid #eee !important;
    }

    td:nth-child(odd) {
        border-right: 1px solid #eee;
    }

    td:nth-child(even) {
        border-right: 1px solid #eee;
    }

    td:nth-last-child(1) {
        border-right: 0px;
    }
}

.table-modal{
    .modal-container {
        max-width: 60% !important;
        margin: 0 auto;
    }
}

.btn-add{
    // background: #00aeef;
    background: none;
    width: 100px;
    height: 40px;
    background-color: #00aeef !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    color: #ffffff !important;
}


// switch code

.check-box-wrapper {
    cursor: pointer;

    .on-off-toggle {
    width: 40px;
    height: 23px;
    position: relative;
    display: inline-block;
    }

    .on-off-toggle__slider {
    width: 42px;
    height: 22px;
    display: block;
    border-radius: 34px;
    background-color: #bdc1c8;
    transition: background-color 0.4s;
    cursor: pointer;

    &:before {
    content: "";
    display: block;
    background-color: #fff;
    // box-shadow: 0 0 0 1px #949494;
    bottom: 4px;
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
    z-index: 5;
    border-radius: 100%;
    }

    &:after {
    display: block;
    line-height: 22px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    content: "No";
    color: #ffff;
    padding-left: 23px;
    transition: all 0.4s;
    }

    }

    .on-off-toggle__input {
    position: absolute;
    opacity: 0;
    }

    .on-off-toggle__input:checked+.on-off-toggle__slider {
    background-color: #76bd43;

    &:before {
    transform: translateX(20px);
    }

    &:after {
    content: 'Yes';
    color: #FFFFFF;
    padding-left: 6px;
    }
    }

    }


    // ==================================

    .dropdown-menu.show{
        left:-25px;
    }
    .dropdown-toggle::after {
        border-top: .3em solid #fff;
    }
    .side-pane{
        // padding-top: 15px;
    }
    .title {
        background: #145194;
        padding: 10px;
    }

    .close-button {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .btn-inner {
            background: none;
            // width: 100%;
            width: 100px;
            height: 30px;
            background-color: #1a5092;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: normal;
            color: #ffffff;
        }

        .btn-save {
            background-color: #76bd43 !important;

        }

    }



.current{
    margin-left: 5px;
    margin-right: 5px !important;
}

.interface-slider-left{
    .slider{
        top: 2px !important;
    }
}




/* Fixed Headers */

// th {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//     z-index: 2;
//   }

//   th[scope=row] {
//     position: -webkit-sticky;
//     position: sticky;
//     left: 0;
//     z-index: 1;
//   }

//   th[scope=row] {
//     vertical-align: top;
//     color: inherit;
//     background-color: inherit;
//     background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
//   }


//  Working fixed headers styles from Dataset-element-popup

//   table:nth-of-type(2) th:not([scope=row]):first-child {
//     left: 0;
//     z-index: 3;
//   }
//   th:not([scope=row]).first-child,th:not([scope=row]).second-child,th:not([scope=row]).third-child {
//     left: 0;
//     z-index: 99999;
//   }
//   th:not([scope=row]).second-child{
//     left: 40px;
//   }
//   th:not([scope=row]).third-child{
//     left: 290px;
//   }
.dataset-pagination-interface{
    .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
        display: none;
      }
      
      .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
        display: none;
      }
      ul{
          margin: 0;
      }
}