
//footer pagination code
.pagination{
    margin-right: 8px;
    margin-bottom: 5px;

    .footer-text {
    font-size: 14px;
    font-weight: normal;
    // padding-top: 0.6rem;
    padding-right: 1rem;
    // padding-bottom: 0rem;
    padding-left: 1rem;
    }

    .pagination-select {

    height: 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    .prev-btn {

    background-color: #cbcbcb;

    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: #808080;
    }
    .next-btn {

    background-color: #76bd43;

    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: #ffffff !important;
    }
    .pagination-btn{
    max-width: 5.75rem;
    height: 2.1875rem;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;
    }
    .btn.disabled, .btn:disabled {
    cursor: not-allowed;
    }
    }

    .create-ps-button{
        width: 120px;
        height: 35px;
        background: none;
        background-color: rgba(111, 139, 164, 0.2);
        font-size: 16px;

        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: normal;
        color: #145194!important;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        cursor: pointer;
        border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomleft: 8px;

        }


        .ng-dropdown-panel {
            -webkit-overflow-scrolling: touch;
            box-sizing: border-box;
            opacity: 0;
            position: absolute;
            width: 100%;
            z-index: 1050;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 1px 0 rgba(0,0,0,0.06);
            left: 0;
        }
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            padding: 5px 0 5px 8px;
        }
