.sidebar-container{
    width: 70px;
    background-color: $heading-bg;
    height: 100%;
    .list-items{
        color:#ffffff;
    }
    .dropdown-listitems{
        left: 68px !important;
        background-color: #343a40;
        border-radius: 0;
        color:#a2a9b4;
        padding:0;
        z-index: 99999;
        h5{
            border-bottom: 1px solid #ccc;
        }
        li{
            &:focus{
                outline: none;
            }
        }
    }
}
.dropdown-menu{
    display: none;
}
.sidebar-listcontent:hover .dropright .dropdown-listitems-cont{
    display: block;
    width:280px;
}
.sidebar-listcontent{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-listcontent.active,.sidebar-listcontent{
    &:hover{
        background-color: #394253;
        .list-items{
            color:#e4e6e9;
        }
    }

}

.sublist-items{
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    &:hover{
        background-color: #394253;
    color: #e4e6e9;
    }
}
.material-icon-sidebar{
    height: 24px;

}
.mh-91{
    min-height: 91vh;
}