
.activity-inner-wrapper{
    .sidebar-container{
        min-height:91vh;
    }
    .filter-content {
        background-color: $bottom-text;
        // margin-bottom: 14px;
        color: $white;
    }
    .activity-container{
        width: 95%;
    }
}

.table-res{
    height: 73vh !important;
    overflow-y: auto;
}
@media(max-widht:768px){
    .activity-inner-wrapper{
        .sidebar-container{
            height:100%;
        }
    }
}