.lookup-container{
    width:94%;
    .title {
        background: $blue;
        padding: 8px;
    }
    .data-table{
        height: 46vh;
    }
        .dual-data-table{
        background: #f7fafc;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        height: 35vh;
        overflow: auto;
        }
}