
    <div class=" px-3 mt-2">
        <div class="filter-content d-flex justify-content-between px-3 align-items-center nav">
          <div class="my-3 d-flex align-items-center">
            <label class="mx-2 f-15 mr-4">Dataset</label>
            <div class="input-group input-section">
              <select [(ngModel)]="interfaceDatasetId" class="form-control input-text w-120">
                <option [ngValue]='0'>Completed Visits </option>
                <option *ngFor="let data of datsetFilter" [ngValue]='data.id'>{{data.name}}</option>
              </select>
            </div>
          </div>
          <div class="my-3 d-flex align-items-center">
            <label class="mx-2 w-200 f-15 my-0">Activity Start Date</label>
            <div class="input-group input-section">
              <input type="text" class="form-control input-text w-200" [maxDate]="activityEndDate"
                #ActivityStart="bsDatepicker" readonly bsDatepicker [(ngModel)]="activityStartDate"
                placeholder="MM/DD/YYYY">
              <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityStart.toggle()"></i>
            </div>
          </div>
          <div class="my-3 d-flex align-items-center">
            <label class="ml-2 w-200 f-15 my-0">Activity End Date</label>
            <div class="input-group input-section">
              <input type="text" class="form-control input-text w-200" #ActivityEnd="bsDatepicker"
                [minDate]="activityStartDate" readonly bsDatepicker [(ngModel)]="activityEndDate"
                placeholder="MM/DD/YYYY">
              <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i>
            </div>
          </div>
          <div>
            <button class="btn-border btn-green text-white px-3" (click)="getLAEVVActivityList()"> Go</button>
          </div>
        </div>
        <div class="table-res">
          <table class="table box-shadow mt-2">
            <thead class="thead-dark">
              <tr>
                <th colspan="2" class="border-right"></th>
                <th colspan="3" class="border-right text-center">Request</th>

                <th colspan="2" class="border-right text-center">Summary</th>
              </tr>
              <tr>
                <th class="border-right sticky-top" scope="col">Dataset</th>
                <th class="border-right sticky-top" scope="col">Direction</th>
                <th class="border-right sticky-top" scope="col"> File</th>
                <th class="border-right sticky-top" scope="col">User</th>
                <th class="border-right sticky-top" scope="col">Activity Date</th>

                <th class="border-right sticky-top" scope="col"> Batch# </th>
                <th class="border-right sticky-top" scope="col"> # of Txns sent</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of activityLogList">
                <th class="border-right" scope="col">{{item.pocDataset}}</th>
                <th class="border-right" scope="col">{{item.dataFlow}}</th>
                <th style="color: blue;cursor: pointer;" class="border-right" scope="col" (click)="getBatchDetails(item,csv)" ><a> {{item.requestedFileName}} </a> </th>
                <th class="border-right" scope="col">{{item.exportedBy}}</th>
                <th class="border-right" scope="col">{{item.exportedOn}}</th>

                <th class="border-right" scope="col"> {{item.laEvvBatchInfoId}} </th>
                <th class="border-right" scope="col">{{item?.noOfRecordsSent}} </th>

              </tr>

            </tbody>
          </table>
          <p *ngIf="activityLogList?.length==0" class="no-records text-center">No Records Found</p>
        </div>
        <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-n1 ">
          <div class="pagination  justify-content-end pagination-button">
            <div class="d-flex align-items-center">
              <h6 class="mx-3">Per page</h6>
              <select [(ngModel)]="perPage" (change)="perPageChange()" class="border-0 box-shadow mr-3">
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="30">30</option>
                <option [ngValue]="40">40</option>
                <option [ngValue]="50">50</option>
              </select>
            </div>
            Showing {{ activityLogList?.length==0?0:lowerBound}} to {{upperBound >totalCount?totalCount:upperBound }} of
            {{totalCount}}
            <div class="page-item "><button [disabled]="activityLogList?.length==0||this.lowerBound==1" type="button"
                class="btn-green btn-border text-white mx-2" (click)="pagePrev()">Prev</button></div>
            <div class="page-item "><button [disabled]="this.upperBound>=totalCount" type="button"
                class="btn-green btn-border text-white mx-2" (click)="pageNext()">Next</button></div>
          </div>
        </div>
      </div>



   <ng-template #csv>
    <div class="modal-header bg-dark d-flex align-items-center">
      <h4 class="modal-title pull-left text-white">Document - {{fileName}} </h4>
      <a [href]="'data:application/octet-stream;base64,' + fileData | domsanitize" download={{fileName}}>
        <i class="fa fa-download blueanchor ml-2" style="font-size: 22px;" aria-hidden="true"></i>
      </a>
      <button type="button" class=" close pull-right p-2 text-white mr-1" aria-label="Close" (click)="modelRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-responsive box-shadow" style="height: 70vh;">
        <table class="table ">
          <thead class="thead-dark">
            <tr>
              <th *ngFor="let item of headersArray;let i=index" scope="col">{{item}}</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of exportDetailsArray;let i=index">
              <td *ngFor="let cell of headersArray">{{item[cell]}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>


  <!-- <ng-template #pdf>
    <div class="modal-header bg-dark d-flex align-items-center">
      <h4 class="modal-title pull-left text-white">{{fileName}}</h4>
      <a [href]="'data:application/octet-stream;base64,' + fileData | domsanitize" download={{fileName}}>
        <i class="fa fa-download text-white ml-2" aria-hidden="true"></i>
      </a>
      <button type="button" class="close pull-right p-2 text-white" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="pdf-content p-2">
        <p>
          {{pdfData}}
        </p>
      </div>
    </div>

  </ng-template> -->

