<!-- <div class="interface-container row m-0 pt-3"> -->
<div class="table-container col-md-12 pr-0">
  <div class="border">
    <div class="data-table-header d-flex justify-content-between align-items-center">
      <h5 class="m-0 text-white">Interface Jobs List - {{interfaceName}}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <th scope="col" class=" sticky-top">Job Name</th>
              <!-- <th class="align-middle sticky-top">Interface</th> -->
              <th class="align-middle sticky-top">Interface Datasest</th>
              <th scope="col" class="sticky-top px-3">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of interfaceJobRunTimes">
              <td class="position-relative edit-option">
                <ul class="m-0 p-0">
                  <li class="">
                    <div class="share-button">
                      <input class="toggle-input" id="toggle-input" type="checkbox" />
                      <label for="toggle-input" class="toggle"></label>
                    </div>
                    <div class="slider d-flex align-items-center">
                      <!-- <p class="twitter mr-2">
                            <span (click)="updateJobForm(data)">
                              <a class="text-white" title="Edit"></a>
                            </span>
                          </p>-->
                      <p class="facebook mr-2">
                        <span data-toggle="modal" data-target=".bd-example-modal-lg"
                          (click)="getInterfaceJobLog(data,'bd-example-modal-lg')"
                          class="modal-dialog-centered">
                          <a class="text-white" title="Job Logs"></a>
                        </span>
                      </p>

                    </div>
                  </li>
                </ul>
              </td>
              <td class="position-relative text-left">{{data.jobName}}</td>
              <!-- <td class="position-relative text-left">{{data.interfaceDefinationId}}</td> -->
              <td class="position-relative">
                {{data.interfaceDataset}}
              </td>
              <td class="position-relative">
                {{data.active=="1"?'Yes':'No'}}
              </td>
            </tr>

          </tbody>
        </table>
        <p *ngIf="interfaceJobRunTimes.length==0" class="no-records text-center">No Records Found</p>

      </div>
    </div>
    <!-- <div class="d-flex align-items-center justify-content-end pagination">

                    <div>
                        <span class="footer-text">Per Page</span>
                        <select class="pagination-select border-0">
                            <option value=10>10</option>
                            <option value=15>15</option>
                            <option value=20>20</option>
                        </select>
                    </div>
                    <pagination-controls class="mt-3"></pagination-controls>

                </div> -->
  </div>
</div>
<div *ngIf="false" [formGroup]="jobForm" class="side-pane col-md-5 pr-0">

  <div class="title">
    <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
      {{jobForm.value.id==0?'Create':'Update'}} Interface Job - {{interfaceName}}
    </h5>
    <!-- <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
                    Create Interface
                </h5> -->

  </div>
  <div class="border-2" style="height:70vh">
    <div class="my-3 d-flex">
      <label class="m-0 w-200">Job Name <span class="text-danger">*</span></label>
      <div class="input-group input-section">
        <input type="text" class="form-control input-text " placeholder="Job Name" aria-label="Your Name"
          formControlName="jobName" aria-describedby="basic-addon2" tabindex="1" required>
        <div class="break"></div>
        <p *ngIf="formControls.jobName.errors?.required && formError" class="text-danger mt-2 mb-0">Name is required</p>
      </div>
    </div>
    <!-- <div class="my-3 d-flex">
          <label class="m-0 w-200">Interface <span class="text-danger">*</span></label>
          <div class="input-group input-section">
            <input type="text" formControlName="interface" class="form-control input-text " placeholder="Interface"
              aria-label="Your Name" aria-describedby="basic-addon2" tabindex="1" required>
            <div class="break"></div>
            <p *ngIf="formControls.interface.errors?.required && formError" class="text-danger mt-2 mb-0">Interface is required</p>
          </div>
        </div> -->
    <div class="my-3 d-flex">
      <label class="m-0 w-200">Interface Datasest <span class="text-danger">*</span></label>
      <div class="input-group input-section">
        <input type="text" class="form-control input-text " placeholder="Interface Dataset" aria-label="Your Name"
          formControlName="interfaceDataset" aria-describedby="basic-addon2" tabindex="1" required>
        <div class="break"></div>
        <p *ngIf="formControls.interfaceDataset.errors?.required && formError" class="text-danger mt-2 mb-0">Interface
          Datasest
          is required</p>
      </div>
    </div>

    <div class="input-group input-section d-flex align-items-center">

      <label class="m-0 pr-3 font-size-15 w-135">
        Active
      </label>
      <div class="check-box-wrapper">
        <div class="on-off-toggle">
          <input class="on-off-toggle__input" id="bopis" [checked]="jobForm.value.active==1?true:false"
            (change)="activeToggle($event)" name='active' type="checkbox" />
          <label for="bopis" class="on-off-toggle__slider"></label>
        </div>
      </div>

    </div>
    <div class="close-button justify-content-end">
      <!-- <button style="margin-right: 52px" type="submit" class="btn btn-inner btn-blue btn-border "
            data-dismiss="modal" (click)="createForm()">Cancel</button>
          <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveForm()">Save</button> -->

      <!-- <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal">Create</button> -->
    </div>
  </div>
</div>
<!-- </div> -->

<!-- Jobslist-modal -->

<div class="jobs-modal">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white ">
          <h5 class="modal-title" id="exampleModalLongTitle">Interface Jobs List &nbsp;&nbsp; Interface - {{interfaceName}} &nbsp;&nbsp;Dataset- {{datasetName}} </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive table-shadow table-height">
            <table class="table">
              <thead class="thead-dark" style="white-space: nowrap;">
                <tr>
                  <!-- <th scope="col ">Interface</th>
                  <th scope="col ">Dataset</th> -->
                  <!-- <th scope="col">Interface Dataset Map ID</th> -->
                  <th scope="col">Procedure Name</th>
                  <th scope="col">Method Name</th>
                  <th scope="col">Response Message</th>
                  <th scope="col">Response Date</th>
                  <!-- <th scope="col">Interface Definition ID</th> -->
                  <th scope="col">Updated User</th>
                  <th scope="col">Last updated</th>
                  <th scope="col">Is Job Completed</th>

                </tr>
              </thead>
              <tbody>
                <tr class="now-wrap" *ngFor="let items of interfaceJobLogList">
                  <th scope="row">2 </th>
                  <!-- <td>{{Mark}}</td>
                  <td>ProcessVisitsResponseFile </td> -->
                  <td>{{items.procedureName}}
                  </td>
                  <td>{{items.methodName}}
                  </td>
                  <td>{{items.responseMsg}}
                  </td>
                  <td>{{items.responseDate}}</td>
                  <td>{{items.lastUpdated}}</td>
                  <td>{{items.isJobCompleted}}
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
