<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Interface Token Credential - {{interfaceName}} </h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th scope="col" class="sticky-top">Dataset</th>
              <th scope="col" class="sticky-top">Webservice URL</th>
              <th scope="col" class="sticky-top">Client ID</th>
              <th scope="col" class="sticky-top">Client Secret</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tokenCredntialsList">
              <td>
                <span (click)="updateTokenForm(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{item.interfaceDataset}}</td>
              <td>{{item.wsUrl}}</td>
              <td>{{item.clientId}}</td>
              <td>{{item.clientSecret}}</td>
            </tr>
          </tbody>
        </table>

        <p class="no-records text-center" *ngIf="tokenCredntialsList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <form  [formGroup]="tokenForm">
  <div class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{tokenForm.value.id ==0?"Create":'Update'}} Interface Token Credential - {{interfaceName}}
      </h5>
    </div>
    <div class="border-2">

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
            aria-describedby="basic-addon2" tabindex="1">
          <div class="break"></div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="w-200">Dataset <span class="text-danger">*</span></h6>
        <div class="w-100">
          <select class="form-control " formControlName="interfaceDatasetId" >
            <option [ngValue]="null">Select</option>
            <option *ngFor="let item of datasetLookup" [ngValue]="item.id">{{item.name}}</option>
          </select>
          <div class="text-danger"  *ngIf="formControl.interfaceDatasetId.errors?.required && formError">
            Dataset is required
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">Webservice URL <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " [trim]="'blur'" formControlName="webServiceUrl" placeholder="Webservice URL" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControl.webServiceUrl.errors?.required && formError">
            <div>Webservice URL is required</div>
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client ID </label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientId" placeholder="Client ID " aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <!-- <div class="text-danger">
            <div>Client ID  is required</div>
          </div> -->
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client Secret</label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientSecret" placeholder="Client Secret" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <!-- <div class="text-danger">
            <div>Client Secret is required</div>
          </div> -->
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Additional Data</label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="additionalData" placeholder="Additional Data" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <!-- <div class="text-danger">
            <div>Additional Data is required</div>
          </div> -->
        </div>
      </div>

      <div *ngIf="tokenForm.value.id !=0" class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3 w-120 font-size-15">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" (change)="onActivechange($event)" [checked]="tokenForm.value.active==1" id="bopis" name='active'
               type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>
      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal" (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal" (click)="saveInterfaceTokenCredentials()">{{tokenForm.value.id ==0?"Create":'Save'}}</button>
      </div>
    </div>
  </div>
</form>
</div>
