<div class="row m-0 pt-2">

  <div class="table-container col-md-12  mt-3">
    <div class="border">
      <div class="data-table-header d-flex justify-content-between align-items-center">
        <h5 class="m-0 text-white">Interface Jobs </h5>
        <div class="d-flex nav align-items-center">
          <div class=" input-section filter-selection interface-filter-select mr-2">
            <ng-select [(ngModel)]="interfaceSelectedFilter" placeholder="--Interface--" class="">
              <ng-option [value]="interfaceFilter[i]" *ngFor="let item of interfaceFilter;let i=index">{{interfaceFilter[i]}}</ng-option>
            </ng-select>
          </div>
          <div class=" input-section filter-selection interface-filter-select mr-2">
            <ng-select [(ngModel)]="datasetSelectedFilter" placeholder="--Interface Dataset--" class="">
              <ng-option [value]="datasetFilter[i]" *ngFor="let item of datasetFilter;let i=index">{{datasetFilter[i]}}</ng-option>
            </ng-select>
          </div>
          <div class=" input-section filter-selection interface-filter-select mr-2">
            <ng-select [(ngModel)]="jobNameSelectedFilter" placeholder="--Interface Job Name--" class="">
              <ng-option [value]="jobNameFilter[i]" *ngFor="let item of jobNameFilter;let i=index">{{jobNameFilter[i]}}</ng-option>
            </ng-select>
          </div>
          <div class=" input-section  interface-filter-select mr-2 active-filter">
            <ng-select [(ngModel)]="activeFilter" placeholder="-- Active--" class="">
              <ng-option [value]="2">Both</ng-option>
              <ng-option [value]="1">Yes</ng-option>
              <ng-option [value]="0">No</ng-option>

            </ng-select>
          </div>


          <!-- <div class=" d-flex mr-2">
            <label class="m-0 font-size-15 color-white mr-2">
              Active:
            </label>
            <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input (change)="activeFilter=$event.target.checked" class="on-off-toggle__input" id="bopis" name="sync" [checked]="activeFilter" type="checkbox" value="1" />
                <label for="bopis" class="on-off-toggle__slider"></label>
              </div>
            </div>
          </div> -->
          <div><button (click)="ongo()" class="btn-border btn-green text-white px-3"> Go</button></div>
        </div>
      </div>
      <div class="p-2">
        <div class="table-responsive data-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="page__toggle">
                    <label class="toggle">
                      <input (change)="checkedAll($event)" [checked]="checkedAllFlag" class="toggle__input" type="checkbox">
                      <span class="toggle__label">
                        <span class="toggle__text"></span>
                      </span>
                    </label>
                  </div>
                </th>
                <th scope="col" class="w-60 sticky-top "></th>
                <th scope="col" class=" sticky-top text-left pl-3">Interface</th>
                <th class="align-middle sticky-top">Interface Dataset</th>
                <th class="align-middle sticky-top text-left pl-3">Interface Job Name</th>
                <th scope="col" class="sticky-top px-3 text-left">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of interfaceJobRunTimes;let i=index;">
                <td class="position-relative w-60">
                  <div class="page__toggle">
                    <label [ngClass]="data.active==1?'toggle':'toggle2'">
                      <input [checked]="checkedList.includes(data.id)" (change)="onvisitCheck($event,data.id)" class="toggle__input" type="checkbox">
                      <span class="toggle__label">
                        <span class="toggle__text"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td class="position-relative edit-option">
                  <ul class="m-0 p-0">
                    <li class="">
                      <div class="share-button">
                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                        <label for="toggle-input" class="toggle"></label>
                      </div>
                      <div class="slider d-flex align-items-center">
                        <!-- <p class="twitter mr-2">
                                  <span (click)="updateJobForm(data)">
                                    <a class="text-white" title="Edit"></a>
                                  </span>
                                </p>-->
                        <p class="facebook mr-2">
                          <span data-toggle="modal" data-target=".bd-example-modal-lg"
                            (click)="getInterfaceJobLog(data,'bd-example-modal-lg')" class="modal-dialog-centered">
                            <a class="text-white" title="Job Logs"></a>
                          </span>
                        </p>

                      </div>
                    </li>
                  </ul>
                </td>
                <td class="position-relative text-left">{{data.interfaceDefinition}}</td>
                <td class="position-relative text-left">
                  {{data.interfaceDataset}}
                </td>
                <td class="position-relative text-left">{{data.jobName}}</td>
                <td class="position-relative text-left">
                  {{data.active==1?'Yes':'No'}}
                </td>
              </tr>

            </tbody>
          </table>
          <p *ngIf="interfaceJobRunTimes.length==0" class="no-records text-center">No Records Found</p>

        </div>
        <div class="d-flex mt-2 align-items-center justify-content-between">
          <div class="d-flex">
            <button [disabled]="checkedList.length==0" (click)="updateInterfacejobRunTimes(1)" class="btn-border btn-green text-white px-3"> Active</button>
            <button [disabled]="checkedList.length==0" (click)="updateInterfacejobRunTimes(0)" class="btn-border  text-white px-3 btn-danger ml-2">In Active</button>
          </div>
          <div class="d-flex">
            <button (click)="this.getInterfaceJobRunTimesList();" class="btn-border btn-green text-white ml-3 px-3"> Refresh</button>
            <button (click)="reset()" class="btn-border btn-blue text-white ml-3 px-3">Reset</button>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center justify-content-end pagination">

                          <div>
                              <span class="footer-text">Per Page</span>
                              <select class="pagination-select border-0">
                                  <option value=10>10</option>
                                  <option value=15>15</option>
                                  <option value=20>20</option>
                              </select>
                          </div>
                          <pagination-controls class="mt-3"></pagination-controls>

                      </div> -->
    </div>
  </div>
   <!-- Jobslist-modal -->

  <div class="jobs-modal">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white ">
            <h5 class="modal-title" id="exampleModalLongTitle">Interface Jobs List &nbsp;&nbsp; Interface -
              {{interfaceName}} &nbsp;&nbsp;Dataset- {{datasetName}} </h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive table-shadow table-height">
              <table class="table">
                <thead class="thead-dark" style="white-space: nowrap;">
                  <tr>
                    <!-- <th scope="col ">Interface</th>
                        <th scope="col ">Dataset</th> -->
                    <!-- <th scope="col">Interface Dataset Map ID</th> -->
                    <th scope="col">Procedure Name</th>
                    <th scope="col">Method Name</th>
                    <th scope="col">Response Message</th>
                    <th scope="col">Response Date</th>
                    <!-- <th scope="col">Interface Definition ID</th> -->
                    <th scope="col">Updated User</th>
                    <th scope="col">Last updated</th>
                    <th scope="col">Is Job Completed</th>

                  </tr>
                </thead>
                <tbody>
                  <tr class="now-wrap" *ngFor="let items of interfaceJobLogList">
                    <th scope="row">2 </th>
                    <!-- <td>{{Mark}}</td>
                        <td>ProcessVisitsResponseFile </td> -->
                    <td>{{items.procedureName}}
                    </td>
                    <td>{{items.methodName}}
                    </td>
                    <td>{{items.responseMsg}}
                    </td>
                    <td>{{items.responseDate}}</td>
                    <td>{{items.lastUpdated}}</td>
                    <td>{{items.isJobCompleted}}
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
