<!-- <app-header></app-header>
<div class="d-flex mh-91">
  <app-sidebar></app-sidebar> -->
  <div class="col-md-6 pr-0">
    <div class="border box-shadow" style="min-height: 84vh">
      <div class="data-table-header d-flex justify-content-between align-items-center nav">
        <h5 class="m-0 text-white">Interface Dataset List -{{interfaceName}}</h5>

      </div>
      <div class="p-2">
        <div class="table-responsive data-table dataset-element-mintable">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="w-60 sticky-top"></th>
                <th scope="col" class="sticky-top">
                  Name

                </th>
                <th *ngIf="showType !== 'datasetElement'" class="align-middle sticky-top">
                  Description

                </th>
                <th *ngIf="showType !== 'datasetElement'" scope="col" class="sticky-top px-3">
                  Active

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                      let data of InterfaceDataSetDetailsList">
                <td class="position-relative edit-option">
                  <ul class="m-0 p-0">
                    <li class="">
                      <div class="share-button">
                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                        <label for="toggle-input" class="toggle"></label>
                        <div class="slider d-flex align-items-center">
                          <p class="twitter mr-2" title="Edit Dataset">
                            <span>
                              <a class="text-white
                                    " (click)="getInterfaceDataset(data.id)" title="Edit">
                              </a>
                            </span>
                          </p>
                          <p class="facebook mr-2" title="Dataset Element">
                            <span >
                              <a (click)="viewDatasetElement(data)" class="text-white" title="Dataset Element" data-toggle="modal"
                                data-target="#datasetElementmodal">
                              </a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </td>
                <td>{{ data.name }}</td>
                <td *ngIf="showType !== 'datasetElement'">
                  {{ data.description }}
                </td>
                <td *ngIf="showType !== 'datasetElement'">
                  {{ data.active === 0 ? "No" : "Yes" }}
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="InterfaceDataSetDetailsList.length == 0" class="no-records text-center">
            No Records Found
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end pagination nav">
        <div class="mr-2">
          <span class="footer-text">Per Page</span>
          <select class="pagination-select border-0" [(ngModel)]="perPage">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
        <pagination-controls class="mt-3 dataset-pagination">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div class="col-md-6 pr-1">
    <form [formGroup]="addForm" autocomplete="off">
      <div class="title">
        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
          {{addForm.value.id==0?'Create':'Edit'}} Interface Dataset - {{interfaceName}}
        </h5>
      </div>
      <div class="border-2 box-shadow">

        <div class="my-2 d-flex">
          <label class="m-0 w-200">Name<span class="text-danger">*</span></label>
          <div class="input-group input-section w-75 ml-auto">
            <input type="text " [trim]="'blur'" class="form-control input-text" aria-label="Your Name" name="name"
              formControlName="name" autocomplete="off" placeholder="Name" aria-describedby="basic-addon2" />
            <div class="break"></div>
            <div class="text-danger">
              <div *ngIf="formcontrols.name.errors?.required && formError">Name is required</div>

            </div>
          </div>
        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200">Effective From</label>
          <div class="input-group input-section w-75 ml-auto">
            <input type="text " class="form-control input-text" formControlName="effectiveDate" bsDatepicker
              autocomplete="off" placeholder="MM/DD/YYYY" />
              <div class="break"></div>
              <div class="text-danger">
                <!-- <div *ngIf="formcontrols.effectiveDate.errors?.pattern && formError">EffectiveDate is Invalid</div> -->

          </div>
        </div>

        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200">Exported Table<span class="text-danger">*</span></label>
          <div class="input-group input-section w-75 ml-auto">
            <ng-select placeholder="--Select--" class="w-100" [items]="exportTableLookup" bindLabel="name"
              bindValue="value" formControlName="interfaceExportedTable">
            </ng-select>
            <div class="break"></div>
            <div class="text-danger">
              <div *ngIf="formcontrols.interfaceExportedTable.errors?.required && formError">
                Exported Table is required
              </div>
            </div>
          </div>
        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200">Data Flow <span class="text-danger">*</span></label>
          <div class="input-group input-section w-75 ml-auto">
            <ng-select placeholder="--Select--" class="w-100" [items]="lookups.dataflow" bindLabel="name" bindValue="id"
              name="dataFlowId" formControlName="dataFlowId">
            </ng-select>
            <div class="break"></div>
            <div class="text-danger">
              <div *ngIf="formcontrols.dataFlowId.errors?.required && formError">
                Data Flow is required
              </div>
            </div>
          </div>
        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200">Data Medium</label>
          <div class="input-group input-section w-75 ml-auto">
            <ng-select placeholder="--Select--" class="w-100" [items]="lookups.datamedium" bindLabel="name"
              bindValue="id" name="dataMediumId" formControlName="dataMediumId">
            </ng-select>
            <div class="break"></div>
          </div>
        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200">Data File Format</label>
          <div class="input-group input-section w-75 ml-auto">
            <ng-select placeholder="--Select--" class="w-100" (change)="onfileFormatChange(addForm.value.dataFileFormatId)" [items]="lookups.datafileformat" bindLabel="name"
              bindValue="id" name="dataFileFormatId" formControlName="dataFileFormatId">
            </ng-select>
            <div class="break"></div>
          </div>
        </div>
        <div class="my-2 d-flex" *ngIf="addForm.value?.dataFileFormatId==1||addForm.value?.dataFileFormatId==5||addForm.value?.dataFileFormatId==2">
          <label class="m-0 w-200">Data File Delimeter</label>
          <div class="input-group input-section w-75 ml-auto">
            <ng-select placeholder="--Select--" class="w-100" bindLabel="name" bindValue="id"
              [items]="lookups.datafiledelimeter" name="dataFileDelimeterId" formControlName="dataFileDelimeterId">
            </ng-select>
          </div>
        </div>

        <div class="my-2 d-flex">
          <label class="m-0 w-200">Description</label>
          <div class="input-group w-75 ml-auto">
            <textarea rows="2" class="textarea-color form-control" name="description"
              formControlName="description"></textarea>
          </div>
        </div>
        <div class="my-2 d-flex"*ngIf="addForm.value.interfaceExportedTable=='exported_visit_data'" >
          <label class="m-0 pr-5 w-200 font-size-15">
            Sync Provider Details
          </label>
          <div class="check-box-wrapper">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" id="bopis" formControlName="isSyncProviderDetails" name="sync"
                type="checkbox" value="1" />
              <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
          </div>
        </div>
        <div class="my-2 d-flex">
          <label class="m-0 w-200 font-size-15">
            Active
          </label>
          <div class="check-box-wrapper">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" id="active" formControlName="active" name="sync" type="checkbox"
                [checked]="addForm.value.active==1" />
              <label for="active" class="on-off-toggle__slider"></label>
            </div>
          </div>
        </div>
        <div class="close-button d-flex justify-content-end">
          <button (click)="createForm()" class="btn btn-inner btn-blue btn-border mr-2">
            Cancel
          </button>
          <button type="submit" (click)="saveInterfaceDataset()" class="btn btn-inner btn-save btn-border"
            data-dismiss="modal">
            {{addForm.value.id==0?'Create':'Save'}}
          </button>
        </div>
      </div>
    </form>
  </div>



<!-- </divs> -->

<div class="modal fade" id="datasetElementmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="Dataset-element-wrapper">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark d-flex justify-content-between align-items-center p-2">
        <h4 class="modal-title text-white AvenirLTStd-Heavy">
          Interface Dataset Elements
        </h4>
        <div class="my-2 d-flex align-items-center">
          <h4 class="mb-0 AvenirLTStd-Heavy mr-2">Interface :</h4>
          <h4 class="mb-0 AvenirLTStd-Heavy mr-2">{{ interfaceName }}</h4>

        </div>
        <div class="my-2 d-flex align-items-center">
          <h4 class="mb-0 AvenirLTStd-Heavy mr-2">Dataset :</h4>
          <h4 class="mb-0 AvenirLTStd-Heavy mr-2">{{ Dataset }}</h4>

        </div>
        <div class="d-flex align-items-center mr-5">
          <label class="mb-0 mr-2">Rows</label>
          <input type="number" class="form-control mr-2 h-30 w-40 number-input"
            [(ngModel)]="addDatasetRows" />
          <button type="submit" (click)="addDataset(addDatasetRows)"
            class="btn btn-add btn-border h-30 w-auto px-2">
            Add
          </button>
        </div>

        <button type="button" class="close text-white m-0 px-2 modal-close-btn" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border box-shadow dataset-wrap">

          <div class="">

            <div class="px-2 pb-2">
              <div class="data-table h-70" [ngClass]="{
                  Nodata: InterfaceElementsDetailsList.length == 0
                }">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="sticky-top align-middle w-60 sticky-head first-child"></th>
                      <th class="sticky-top align-middle mnw-150 sticky-head second-child">
                        Element Name<span class="text-danger f-15">*</span>
                      </th>
                      <th class="sticky-top align-middle mnw-150 sticky-head third-child">
                        POC Dataset
                      </th>
                      <th class="sticky-top align-middle">
                        POC Element
                      </th>
                      <th class="sticky-top align-middle">
                        Static Value
                      </th>
                      <th class="sticky-top align-middle mnw-90">
                        Default Value
                      </th>
                      <th class="sticky-top align-middle mnw-150">
                        Lookup
                      </th>

                      <th class="sticky-top align-middle mnw-90">
                        Data Type<span class="text-danger f-15">*</span>
                      </th>
                      <th class="sticky-top align-middle mnw-150">
                        Date Format
                      </th>
                      <th class="sticky-top align-middle">Length</th>
                      <th class="sticky-top align-middle mnw-150">
                        Function Name
                      </th>
                      <th class="sticky-top align-middle">
                        Sort Order<span class="text-danger f-15">*</span>
                      </th>
                      <th class="sticky-top align-middle">
                        Is Parent
                      </th>
                      <th class="sticky-top align-middle">
                        Is Child
                      </th>
                      <th class="sticky-top align-middle">
                        Is JsonArray
                      </th>
                      <th class="sticky-top align-middle">
                        Json KeyName
                      </th>
                      <th class="sticky-top align-middle">
                        No.of End Braces
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                        let item of InterfaceElementsDetailsList;
                        let j = index;
                      ">
                      <td class="first-col">
                        <i (click)="removeDataset(j, item)" class="fa fa-trash"></i>
                      </td>
                      <td class="second-col">
                        <input class="form-control h-30 mxw-100" type="text" [ngClass]="{
                            'is-invalid':
                              InterfaceElementsDetailsList[j]
                                .interfaceElementName.length == 0 ||
                              InterfaceElementsDetailsList[j]
                                .interfaceElementName == null ||
                              InterfaceElementsDetailsList[
                                j
                              ].interfaceElementName.trim().length ==
                                0
                          }" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .interfaceElementName
                          " />
                        </td>
                      <td class="third-col">
                        <ng-select class="h-30 w-135 text-left" [items]="pocDataSetList"
                          bindLabel="datasetName" bindValue="datasetId" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .pocDatasetId
                          " (change)="pocDatsetChange($event, j)" appendTo="body" (clear)="pocDatasetClear(j)" >
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.datasetName }}">
                              {{ item.datasetName }}
                            </div>
                          </ng-template>
                        </ng-select>

                      </td>
                      <td>
                        <ng-select class="w-160 text-left" [ngClass]="{
                            'is-invalid':
                              InterfaceElementsDetailsList[j]
                                .pocDatasetElementsId == null &&
                              InterfaceElementsDetailsList[j]
                                .pocDatasetId != null
                          }" [items]="
                            pocDataSetElementsList[
                              item.pocDatasetId - 1
                            ]
                          " bindLabel="elementName" bindValue="pocDatasetElementsId" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .pocDatasetElementsId
                          " required>
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.elementName }}">
                              {{ item.elementName }}
                            </div>
                          </ng-template>
                        </ng-select>

                      </td>
                      <td>
                        <ng-select class="w-160 text-left" [items]="interfaceStaticValues" bindLabel="name"
                          bindValue="id" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .interfaceStaticValuesId
                          " required>
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.name }}">
                              {{ item.name }}
                            </div>
                          </ng-template>
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .interfaceDefaultValue
                          " />
                      </td>
                      <td>
                        <ng-select class="h-30 w-160" [items]="lookupArray" bindLabel="lookupName"
                          bindValue="lookupId" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .interfaceLookupId
                          ">
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.lookupName }}">
                              {{ item.lookupName }}
                            </div>
                          </ng-template>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select class="mxw-100" [items]="lookups.dataType" bindLabel="name" [ngClass]="{
                            'is-invalid':
                              InterfaceElementsDetailsList[j]
                                .dataTypeId == null
                          }" bindValue="id" [(ngModel)]="
                            InterfaceElementsDetailsList[j].dataTypeId
                          " required>
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.name }}">
                              {{ item.name }}
                            </div>
                          </ng-template>
                        </ng-select>

                      </td>
                      <td>
                        <ng-select class="w-160" [items]="lookups.dateFormat" bindLabel="name" bindValue="id"
                          [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .dateFormatId
                          "
                          [ngClass]="{
                            'is-invalid':
                            InterfaceElementsDetailsList[j]
                            .dataTypeId == 3 &&
                          (InterfaceElementsDetailsList[j]
                            .dateFormatId == null ||
                            InterfaceElementsDetailsList[j]
                              .dateFormatId == 0)
                          }"
                          >
                          <ng-template ng-option-tmp let-item="item">
                            <div title="{{ item.name }}">
                              {{ item.name }}
                            </div>
                          </ng-template>
                        </ng-select>

                      </td>
                      <td>
                        <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                            InterfaceElementsDetailsList[j].length
                          " />
                      </td>
                      <td>
                        <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .specialHandlerFunctionName
                          " />
                      </td>
                      <td>
                        <input type="number" class="form-control h-30 w-60" [ngClass]="{
                            'is-invalid':
                              InterfaceElementsDetailsList[j]
                                .sortOrder == null
                          }" [(ngModel)]="
                            InterfaceElementsDetailsList[j].sortOrder
                          " />
                        <!-- <div *ngIf="
                            InterfaceElementsDetailsList[j]
                              .sortOrder == null
                          " class="text-danger mt-1">
                          <div>Sort required</div>
                        </div> -->
                      </td>
                      <!-- <td class="check-box-wrapper">
                        <div class="check-box-wrapper">
                          <input  class="on-off-toggle__input" (change)="InterfaceElementsDetailsList[j].isParent = $event.target.checked?1:0" [checked]="InterfaceElementsDetailsList[j].isParent == 1
                          " id="isParent" name="active" type="checkbox" />
                        <label for="isparent" class="on-off-toggle__slider"></label>
                        </div>

                      </td> -->
                      <td>
                        <div class="check-box-wrapper">
                          <div class="on-off-toggle">
                            <input
                              class="on-off-toggle__input"
                              id="isParent{{j}}"
                              [(ngModel)]="InterfaceElementsDetailsList[j].isParent"
                              (change)="InterfaceElementsDetailsList[j].isParent = $event.target.checked?1:0" [checked]="InterfaceElementsDetailsList[j].isParent == 1"
                              name="active"
                              type="checkbox"
                              value="1"
                            />
                            <label for="isParent{{j}}" class="on-off-toggle__slider"></label>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="check-box-wrapper">
                        <div class="on-off-toggle">
                          <input class="on-off-toggle__input" id="bopisy{{j}}"
                            [(ngModel)]="InterfaceElementsDetailsList[j].isChild " [checked]="InterfaceElementsDetailsList[j].isChild==1" (change)="
                              InterfaceElementsDetailsList[j].isChild  = $event.target.checked ? 1: 0" name="sync" type="checkbox"  />
                          <label for="bopisy{{j}}" class="on-off-toggle__slider"></label>
                        </div>
                        </div>
                      </td>
                      <td>
                        <div class="check-box-wrapper">
                        <div class="on-off-toggle">
                          <input class="on-off-toggle__input" id="jsonArray{{j}}"
                            [(ngModel)]="InterfaceElementsDetailsList[j].isJsonArray " [checked]="InterfaceElementsDetailsList[j].isJsonArray==1" (change)="
                              InterfaceElementsDetailsList[j].isJsonArray  = $event.target.checked ? 1: 0" name="sync" type="checkbox"  />
                          <label for="jsonArray{{j}}" class="on-off-toggle__slider"></label>
                        </div>
                        </div>
                      </td>
                      <td>
                        <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .jsonKeyName
                          " />
                      </td>   <td>
                        <input type="number" class="form-control h-30 mxw-100" [(ngModel)]="
                            InterfaceElementsDetailsList[j]
                              .noOfEndBraces
                          " />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="InterfaceElementsDetailsList.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>
            <div class="close-button px-2 pt-1 justify-content-end">
              <button type="submit" class="mr-2 btn btn-inner btn-blue btn-border" data-dismiss="modal">
                <!-- <span class="material-icons mr-2">
                                              close
                                              </span> -->
                Close
              </button>
              <button type="submit" class="btn btn-inner btn-save btn-border"
                (click)="saveInterfaceElements()">
                <!-- <span class="material-icons mr-2">
                                              save
                                              </span> -->
                {{
                showType === "datasetElement" ? "Create" : "Save"
                }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
