<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Office Details - {{interfaceName}}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <!-- <th scope="col" class="sticky-top">Interface</th> -->
              <th scope="col" class="sticky-top">Dataset</th>
              <th scope="col" class="sticky-top">Site</th>
              <th scope="col" class="sticky-top">SFTP key</th>
              <th scope="col" class="sticky-top">File Name</th>
              <th scope="col" class="sticky-top">File Date Format</th>
              <th scope="col" class="sticky-top">Effective From</th>
              <th scope="col" class="sticky-top">Client ID</th>
              <th scope="col" class="sticky-top">Json Key Name</th>
              <th scope="col" class="sticky-top"> Active</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of officeDetailsList">
              <td>
                <span (click)="updateOfficeDetailForm(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{item.dataset}}</td>
              <td>{{item.site}}</td>
              <td>{{item.sftpKey}}</td>
              <td>{{item.fileName}}</td>
              <td>{{item.fileDateFormat}}</td>
              <td>{{item.effectiveFrom}}</td>
              <td>{{item.clientId}}</td>
              <td>{{item.jsonKey}}</td>
              <td>{{item.active==1?"Yes":'No'}}</td>
            </tr>
          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="officeDetailsList.length==0  ">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <div [formGroup]="officeDetailsForm" class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
       {{officeDetailsForm.value.officeDetailsId==0?'Create':'Update'}} Interface Office Details - {{interfaceName}}
      </h5>

    </div>
    <div class="border-2" style="height: 76vh;
    overflow-y: auto;">

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
            aria-describedby="basic-addon2" tabindex="1">
          <div class="break"></div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Interface <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-230" formControlName="interfaceId">
            <option [ngValue]="0">Select</option>
            <option>Select</option>
          </select>
          <div class="text-danger" *ngIf="officeDetailsForm.value.interfaceId==0 &&formError">
            Interface is required
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Dataset <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-230"formControlName="datasetId">
            <option [ngValue]="0">Select</option>
            <option>Select</option>
          </select>
          <div class="text-danger" *ngIf="officeDetailsForm.value.datasetId==0 && formError">
            Dataset is required
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Site <span class="text-danger" >*</span></h6>
        <div>
          <select class="form-control w-230" formControlName="site">
            <option [ngValue]="0">Select</option>
            <option>Select</option>
          </select>
          <div class="text-danger" *ngIf="officeDetailsForm.value.site==0 && formError">
            Site is required
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">SFTP key <span class="text-danger" >*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="sftpKey" placeholder="SFTP key" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.sftpKey.errors?.required && formError">
            SFTP Key is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">File Name <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="fileName" placeholder="File Name" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.fileName.errors?.required && formError">
            FileName is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">File Date Format <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " placeholder="File Date Format" formControlName="fileDateFormat" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.fileDateFormat.errors?.required && formError">
              File Date Format is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Effective From <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="effectiveFrom" placeholder="Effective From" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.effectiveFrom.errors?.required && formError">
              EffectiveFrom is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Client ID <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="clientId" placeholder="Client ID" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.clientId.errors?.required && formError">
            Client ID is required
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Json Key Name <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " formControlName="jsonKey" placeholder="Json Key Name" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
             <div class="text-danger" *ngIf="formControls.jsonKey.errors?.required && formError">
            JSON Key is required
          </div>
        </div>
      </div>
      <div class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3  font-size-15 w-135">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="bopis" [checked]="officeDetailsForm.value.active" name='active'
               type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal" (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveOfficeDetails()" >{{officeDetailsForm.value.officeDetailsId==0?'Create':'Save'}} </button>
      </div>
    </div>
  </div>
</div>
