<!-- <app-header></app-header> -->

    <!-- <div class="d-flex h-100">
        <app-sidebar></app-sidebar> -->

        <div class="interfacelist-container">
            <div class="table-container">
                <div class="table-responsive box-shadow">
                    <table class="table mb-0">
                        <thead>
                            <tr class="data-table-header text-white ">
                                <th scope="col" class="sticky-top">Action</th>
                                <th scope="col" class="sticky-top">Interface</th>
                                <th scope="col" class="sticky-top">Lookup Name</th>
                                <!-- <th scope="col" class="sticky-top">DCS</th>
                                <th scope="col" class="sticky-top">Service</th>
                                <th scope="col" class="sticky-top">Schedule Begin Date Time</th>
                                <th scope="col" class="sticky-top">Schedule End Date Time</th>
                                <th scope="col" class="sticky-top">Reported Begin Date Time</th>
                                <th scope="col" class="sticky-top">Reported End Date Time</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of lookUpData.lookupList | paginate: { itemsPerPage: perPage, currentPage: p }'>
                                <td>
                                    <span   (click)='goToLookUpsList(data.lookupName)'  class="material-icons" data-toggle="modal" data-target="#staticBackdrop">
                                        edit
                                    </span>
                                </td>
                                <td>{{data.interfaceDefinitionName}}</td>
                                <td> {{data.lookupName}}</td>
                                <!-- <td>@mdo</td>
                                <td>Mark</td>
                                <td>12/5/2020</td>
                                <td>12/12/2020</td>
                                <td>12/3/2020</td>
                                <td>12/12/2020</td> -->

                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex align-items-center justify-content-end pagination">
                        <div>

                            <span class="footer-text">Per Page</span>
                            <select class="pagination-select border-0" [(ngModel)]='perPage'>
                                <option value=10>10</option>
                                <option value=15>15</option>
                                <option value=20>20</option>
                            </select>
                        </div>
                        <pagination-controls (pageChange)="p = $event" class="pt-3"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="modal fade p-0" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-container modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle">Edit
                    Export Completed Visits</h5>
                <button type="button" class="close m-0 close-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-container">
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="Name" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="Start Date" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="End Date" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group ">

                    <textarea rows="2" class="textarea-color form-control" placeholder="Payor"></textarea>
                    <div class=" right-icon">

                    </div>

                </div>

                <div class="close-button">
                    <button type="submit" class="btn btn-inner" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-inner btn-save" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
