<div class="container-fluid page-wrapper">
    <div class="login-wrapper d-flex align-items-center justify-content-center">
        <div class="row login-inner-wrapper d-flex align-items-start justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="all-ways-caring-logo">
                    <img src="assets/images/all-ways-caring-logo.png" class="img-fluid">
                </div>
                <div class="welcome-heading-wrapper">
                    <h3 class="welcome-To-POC-Call-Management text-light">Welcome To POC EVV Portal</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-item pr-4 pl-4">
                    <div
                        class="global-container d-flex justify-content-lg-end justify-content-sm-center justify-content-md-center justify-content-xs-center">
                        <div class="card login-form">
                            <div class="card-body">

                                <h3 class="card-title text-center">POC EVV Portal</h3>
                                <div class="card-text">
                                    <div class="">
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="w-100 form-control-sm border"
                                                #loginId='ngModel'  [(ngModel)]='payLoad.loginId'  id="exampleInputEmail" placeholder="UserID" name="loginId"
                                                [ngClass]="{ 'is-invalid': submitted && loginId.invalid }"  required>
                                            </div>
                                            <div *ngIf='loginId.invalid && submitted' class="massage text-left">
                                                <span 
                                                    class="text-danger text-left">UserID Required</span>
                                            </div>
                                            <div class="form-group">
                                                <input  type="{{ShowPassword ? 'text':'password'}}"
                                                    class="w-100 border form-control-sm" id="exampleInputPassword"
                                                    placeholder="Password" name="password" name="password"
                                                    #password='ngModel'  [(ngModel)]='payLoad.password'  autocomplete="off"
                                                    [ngClass]="{ 'is-invalid': submitted && password.invalid }"   required>
                                              
                                                    <span *ngIf="ShowPassword==false" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" (click)="showpassword()"></span>
                                                    <span *ngIf="ShowPassword==true" toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password" (click)="showpassword()"></span>
                                              
                                              
                                                    <!-- <span  toggle=""
                                                    class="fa fa-fw fa-eye field-icon toggle-password"
                                                    ></span>
                                                <span  toggle=""
                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"
                                                    ></span> -->
                                            </div>

                                            <div *ngIf='password.invalid && submitted' class="massage text-left">
                                                <span 
                                                    class="text-danger text-left">Password Required</span>
                                            </div>

                                            <button type="submit" (click)='login()'
                                                class="btn global-button login-btn btn-block">login</button>

                                            <div class="detail-wrapper text-center">
                                                Copyright @ 2020. Aquila Software Inc.
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>