<!-- <app-header></app-header> -->
<!-- <div class="activity-wrapper">

  <div class="activity-inner-wrapper d-flex">
    <app-sidebar></app-sidebar> -->
    <div class="px-3 mt-2">
      <div class="filter-content d-flex justify-content-between px-3 align-items-center nav">
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 f-15 mr-4">Dataset</label>
          <div class="input-group input-section">
            <!-- <input type="text" class="form-control input-text w-120" placeholder="Search Dataset"> -->
            <select [(ngModel)]="interfaceDatasetId" class="form-control input-text w-120" >
              <option [ngValue]='0||undefined'>Select Dataset</option>
              <option *ngFor="let data of datsetFilter" [ngValue]='data.id' >{{data.name}}</option>
            </select>
          </div>
        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 w-200 f-15 my-0">Activity Start Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200"  [maxDate]="activityEndDate" #ActivityStart="bsDatepicker"
            readonly bsDatepicker [(ngModel)]="activityStartDate" placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityStart.toggle()" ></i>
          </div>

        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 w-200 f-15 my-0">Activity End Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200" #ActivityEnd="bsDatepicker" readonly  [minDate]="activityStartDate" bsDatepicker [(ngModel)]="activityEndDate" placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()" ></i>
          </div>
        </div>
        <div>
          <button class="btn-border btn-green text-white px-3" (click)="getActivityErrorLogList()">Go</button>
        </div>
      </div>
      <div class="table-res mt-2">
        <table class="table box-shadow ">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="sticky-top">Dataset</th>
              <th scope="col" class="sticky-top">Direction</th>
              <th scope="col" class="sticky-top">User</th>
              <th scope="col" class="sticky-top">Error Type</th>
              <th scope="col" class="sticky-top">Error Date</th>
              <th scope="col" class="sticky-top">Error Message</th>

          </thead>
          <tbody>
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td (click)="openModal(template,'')">errormsg</td>
            </tr> -->
            <tr *ngFor="let data of activityErrorList;let i=index">
              <td>{{data.interafceDataset}}</td>
              <td>{{data.dataFlow}}</td>
              <td><span *ngIf="data.errorBy.trim()!=','">{{data.errorBy}}</span></td>
              <td>{{data.errorType}}</td>
              <td >{{data.errorOn}}</td>
              <td [tooltip]="data.errorMsg" (click)="openModal(template,data.errorMsg)">{{data.errorMsg|slice:0:20 }}...</td>
              <!-- <td><i class="fas fa-list f-20"></i></td> -->

            </tr>
          </tbody>
        </table>
        <p *ngIf="activityErrorList.length==0" class="no-records text-center">No Records Found</p>

      </div>

      <!-- <div class="pagination">
        <div>

        </div>
        <button type="button" class="btn-border btn-green mx-2" id="prev-btn">Prev</button>
        <button type="button" class="btn-border btn-green mx-2" id="next-btn">Next</button>
      </div> -->

      <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-n1 ">
        <div class="pagination  justify-content-end pagination-button">
          <div class="d-flex align-items-center">
            <h6 class="mx-3">Per page</h6>
            <select [(ngModel)]="perPage" (change)="perPageChange()"  class="border-0 box-shadow mr-3">
              <option [ngValue]="10">10</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="30">30</option>
              <option [ngValue]="40">40</option>
              <option [ngValue]="50">50</option>

            </select>
          </div>
          Showing  {{ activityErrorList.length==0?0:lowerBound}} to {{upperBound >totalCount?totalCount:upperBound }} of {{totalCount}}
          <div class="page-item " ><button [disabled]="activityErrorList.length==0||this.lowerBound==1" type="button" class="btn-green btn-border text-white mx-2" (click)="pagePrev()">Prev</button></div>
          <div class="page-item "><button [disabled]="this.upperBound>=totalCount" type="button" class="btn-green btn-border text-white mx-2" (click)="pageNext()">Next</button></div>
        </div>
        <!-- Pagination end  -->
      </div>
    </div>
  <!-- </div>
</div> -->


<ng-template #template>
  <div class="modal-header bg-dark">
    <h4 class="modal-title pull-left text-white">Error message</h4>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <p style="word-break: break-all;overflow: auto;"> {{errormessage}}</p>
  </div>
</ng-template>

