<div class="px-2 mt-2">
  <div class="filter-content reconcilation-filters pb-2">
    <div class="row m-0 w-100">
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown [options]="" optionValue="id" appendTo="body" optionLabel="name" class="w-100" styleClass="w-100">
          </p-dropdown>
          <label for="inputtext">Interface Type</label>
        </span>
      </div>
      <div class="col-lg-2 col-md-4 col-12 d-flex pt-4 align-items-center">
        <label class="mt-2 w-150"> Include Terminate DCS </label>
        <p-checkbox class="ml-2"></p-checkbox>
      </div>
      <div class="col-lg-3 pl-0">
        <div class="d-flex align-items-center" style="margin-top: 22px;">
          <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive box-shadow mb-3 bg-white" style="height: calc(100vh - 190px);">
    <table class="table  mb-0 visit-table">
      <thead class="thead-dark">
        <tr>
          <th class="edit-option border-right sticky-top">DCS Alternate Id</th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Last Name
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            First Name
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Middle Initial
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Hire Date
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Termination Date
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Date of Birth
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            SSN
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-right border-bottom AvenirLTStd-Medium ">
            356832
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            AKUDU
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            TORRIe
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            Job
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            7/29/2011
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            06/27/2012
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            12/20/1990
          </td>
          <td class="border-right border-bottom  AvenirLTStd-Medium">
            436817311
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-between pagination nav mr-0 pb-1  mt-1">
    <button type="submit" class="btn-common  w-auto px-3 mr-3 bg-dark mr-2"> Cancel</button>

    <div class="pr-2 pagination-add-close  justify-content-end">
      <button type="submit" class="btn-border btn-green text-white px-3 py-2 mr-2">Generate File</button>
      <span class="footer-text">Per Page</span>
      <select class="pagination-select border-0">
        <option>
          10
        </option>`
      </select>
      <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
      <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
      <button type="button " class="pagination-btn ml-0 " id="next-btn"
        class="pagination-btn btn-green ml-2 color-white">Next</button>
    </div>
  </div>
</div>
