<header class="header-container">
    <div class="d-flex align-items-center justify-content-between h-100 text-center">
        <!-- <button class="navbar-toggler navbar-light toggle-button" type="button">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="logo">
            <img src="assets\images\all-ways-caring-logo.png" alt="" class="img-fluid">
        </div>
        <h3 class="m-0"style="pointer-events: none;">
          <span routerLink="/activityLog" routerLinkActive #activity="routerLinkActive">
            {{activity.isActive ? 'Activity Log - '+dashboardService.headerInterfaceDatsetName : ''}}
          </span>
          <span routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
            {{dashboard.isActive ? 'Dashboard' : ''}}
          </span>
          <span routerLink="/errorlog" routerLinkActive #errorlog="routerLinkActive">
            {{errorlog.isActive ? 'Error Log -  ' + dashboardService.headerInterfaceDatsetName  : ''}}
          </span>
          <span routerLink="/interface" routerLinkActive #interface="routerLinkActive">
            {{interface.isActive ? 'Interface' : ''}}
          </span>
          <span routerLink="/view" routerLinkActive #view="routerLinkActive">
            {{view.isActive ? 'Interface' : ''}}
          </span>
          <span routerLink="/datasetLog" routerLinkActive #datasetLog="routerLinkActive">
            {{datasetLog.isActive ? 'Dataset Log - '+dashboardService.headerInterfaceDatsetName  : ''}}
          </span>
          <span routerLink="/reconcilation" routerLinkActive #reconcilation="routerLinkActive">
            {{reconcilation.isActive ? ' Reconciliation - Completed Visits' : ''}}
          </span>
          <span routerLink="/reconcilation-schedule" routerLinkActive #reconcilationschedule="routerLinkActive">
            {{reconcilationschedule.isActive ? ' Reconciliation - Scheduled Visits' : ''}}
          </span>
          <span routerLink="/resubmit-transaction" routerLinkActive #resubmitTransaction="routerLinkActive">
            {{resubmitTransaction.isActive ? ' Resubmit - Completed Visits ' : ''}}
          </span>
          <span routerLink="/interface-job-list" routerLinkActive #jobs="routerLinkActive">
            {{jobs.isActive ? ' Interface Jobs ' : ''}}
          </span>
          <span class="" routerLink="/analytics" routerLinkActive #analytics="routerLinkActive">
            {{analytics.isActive ? 'EVV Metrics Dashboard' : ''}}
          </span>
          <span class="" routerLink="/dbms-jobs" routerLinkActive #dbmsjobs="routerLinkActive">
            {{dbmsjobs.isActive ? 'DBMS Scheduler Jobs' : ''}}
          </span>
          <span class="" routerLink="/export-evv" routerLinkActive #export="routerLinkActive">
            {{export.isActive ? ' Download EVV Data' : ''}}
          </span>
          <span class="" routerLink="/reconciliation-ps" routerLinkActive #rps="routerLinkActive">
            {{rps.isActive ? 'Reconciliation - PS' : ''}}
          </span>
          <span class="" routerLink="/reconciliation-dcs" routerLinkActive #rdcs="routerLinkActive">
            {{rdcs.isActive ? 'Reconciliation - DCS' : ''}}
          </span>
          <span class="" routerLink="/resubmit-ps" routerLinkActive #reps="routerLinkActive">
            {{reps.isActive ? 'Resubmit - PS' : ''}}
          </span>
          <span class="" routerLink="/resubmit-dcs" routerLinkActive #redcs="routerLinkActive">
            {{redcs.isActive ? 'Resubmit - DCS' : ''}}
          </span>
          <span class="" routerLink="/resubmit-scheduled" routerLinkActive #submitschedulde="routerLinkActive">
            {{submitschedulde.isActive ? 'Resubmit - Scheduled Visits' : ''}}
          </span>
          <span class="" routerLink="/laevv-activity-log" routerLinkActive #laevvactivitylog="routerLinkActive">
            {{laevvactivitylog.isActive ? 'LAEVV Activity Log' : ''}}
          </span>
          <span class="" routerLink="/laevv-summary-log" routerLinkActive #laevvsummarylog="routerLinkActive">
            {{laevvsummarylog.isActive ? 'LAEVV Summary ' : ''}}
          </span>
          <span class="" routerLink="/client-file-from-sri" routerLinkActive #clientFilefromSri="routerLinkActive">
            {{clientFilefromSri.isActive ? 'Client & PA files from SRI ' : ''}}
          </span>
          <span class="" routerLink="/client-pa-from-sri" routerLinkActive #clientPafromSri="routerLinkActive">
            {{clientPafromSri.isActive ? "Client PA's from SRI " : ''}}
          </span>
          <span class="" routerLink="/export-dcs" routerLinkActive #exportdcs="routerLinkActive">
            {{exportdcs.isActive ? " Export DCS" : ''}}
          </span>
          <span class="" routerLink="/evv-export-visits" routerLinkActive #evvexportvisits="routerLinkActive">
            {{evvexportvisits.isActive ? " Export Visits" : ''}}
          </span>
          <!-- <span class="" routerLink="/pa-details-from-sri" routerLinkActive #PadetailsfromSri="routerLinkActive">
            {{PadetailsfromSri.isActive ? "PA Details from SRI " : ''}}
          </span> -->
          <span class="" routerLink="/job-log" routerLinkActive #jobLog="routerLinkActive">
            {{jobLog.isActive ? "LA EVV Job Log " : ''}}
          </span>
          <span class="" routerLink="/pa-file-from-sri" routerLinkActive #paFilefromSri="routerLinkActive">
            {{paFilefromSri.isActive ? "PA file from SRI " : ''}}
          </span>
          <span class="" routerLink="/processed-pa-records" routerLinkActive #processedParecords="routerLinkActive">
            {{processedParecords.isActive ? "PA Details from SRI  " : ''}}
          </span>
          <span class="" routerLink="/service-message-file-sri" routerLinkActive #test1="routerLinkActive">
            {{test1.isActive ? "Service Message from SRI  " : ''}}
          </span>
          <span class="" routerLink="/pending-reason" routerLinkActive #pendingReason="routerLinkActive">
            {{pendingReason.isActive ? "Pending - Completed Visits" : ''}}
          </span>
          <span class="ml-5" routerLink="/metrics-summary" routerLinkActive #metricssummary="routerLinkActive">
            {{metricssummary.isActive ? 'EVV Metrics Summary' : ''}}
          </span>
        </h3>
        <div class="">
            <a class="navbar-brand">
                <div class="dropdown d-flex profile-dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        <!-- {{userName==undefined ||null?'--':userName.length > 12?(userName|titlecase |slice:0:12)+'..' :userName|titlecase}}
           -->  <span class="text-white">{{userData?.userName}}</span>
                    </button>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" (click)="logout()">Log Out</a> -->
                        <a (click)='logout()' class="dropdown-item" >Logout</a>
                        <!-- <a class="dropdown-item" >Change Password</a> -->
                        <!-- <span class="dropdown-item-text">Just Text</span> -->
                    </div>
                    <!-- <div class="richard-img">
                        <img src="assets/images/group-13.png" class="img-fluid">
                    </div> -->
                </div>
            </a>
        </div>
    </div>
</header>
