<div class="col-md-6 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Document List - {{interfaceName}}</h5>
      <!-- <input type="search" class="form-control w-200" [(ngModel)]='searchTerm'
                        placeholder="Search Document" /> -->
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top">
              </th>
              <th scope="col" class=" sticky-top">Name

              </th>
              <th class="align-middle sticky-top">Description

              </th>
              <th scope="col" class="sticky-top px-3">Active

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of documentList">
              <td class="position-relative edit-option">
                <ul class="m-0 p-0">
                  <li class="">
                    <div class="share-button">
                      <input class="toggle-input" id="toggle-input" type="checkbox" />
                      <label for="toggle-input" class="toggle"></label>
                    </div>
                    <div class="slider d-flex align-items-center">
                      <p class="twitter mr-2" title="Edit" (click)="updateForm(doc)">
                        <span>
                          <a class="text-white" title="Edit">
                          </a>
                        </span>
                      </p>
                      <!-- <p class="facebook mr-2" title="Dataset Element">
                        <span>
                          <a class="text-white" title="Documents">
                          </a>
                        </span>
                      </p> -->
                    </div>
                  </li>
                </ul>
              </td>
              <td><span class="blueanchor" (click)="getInterfaceDocument(doc.interfaceAttachmentId)">{{doc.fileName}}</span></td>
              <td>{{doc.description}}</td>
              <td>
                {{doc.active==1?'Yes':'No'}}
              </td>

            </tr>
          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="documentList.length==0">No Records Found</p>
      </div>
    </div>
    <!-- <div>
      <div class="d-flex align-items-center justify-content-end pagination">
        <span class="footer-text ">Per Page</span>
        <select class="pagination-select border-0 mr-4">
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
        <p class="mt-3">
          Showing 1 to 7 of 7
        </p>
        <button type="submit" class="btn btn-inner ml-4 btn-green btn-border" data-dismiss="modal">Prev</button>
        <button type="submit" class="btn btn-inner ml-4 btn-green btn-border" data-dismiss="modal">Next</button>
      </div>
    </div> -->
  </div>
</div>
<div class="col-md-6 pr-1">
  <form [formGroup]="documentForm">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{documentForm.value.id==0?'Create':'Update'}} Document - {{interfaceName}}</h5>
    </div>
    <div class="border-2 box-shadow">

      <div class="my-2 d-flex">
        <label class="m-0 w-200">Attachment</label>

        <div class="file-upload input-group w-75 ml-auto">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Choose File</div>
            <div class="file-select-name" id="noFile">
              {{fileName==null? 'No File choosen':fileName|slice:0:20}}
            </div>
            <input type="file" name="chooseFile" id="chooseFile" (change)="fileUpload($event)">
          </div>
          <div class="text-danger" *ngIf="(formControl.fileContent.errors?.required||this.documentForm.value.fileContent==null)&&formError">
            File is required
          </div>
        </div>
      </div>
      <div class="my-2 d-flex">
        <label class="m-0 w-200">Document Name<span class="text-danger">*</span></label>
        <div class="input-group input-section w-75 ml-auto">
          <input type="search" [trim]="'blur'" formControlName="documentName" class="form-control input-text" aria-label="Your Name"
            placeholder="Document Name" name='name'>
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControl.documentName.errors?.required && formError">
            Document Name is required
          </div>

        </div>
      </div>


      <div class="my-2 d-flex">
        <label class="m-0 w-200">Description<span class="text-danger">*</span></label>
        <div class="input-group input-section w-75 ml-auto">
          <!-- <input type="search" class="form-control input-text" aria-label="Your Name" name='name'> -->
          <textarea id="desc" [trim]="'blur'" formControlName="description" placeholder="Description"
            class="w-100 outline-0 h-68 file-desc" style="border-color: #b3b3b3 #ccc #d9d9d9;">

            </textarea>
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControl.description.errors?.required && formError">
            Description is required
          </div>
        </div>
      </div>


      <div class="my-2 d-flex">
        <label class="m-0 w-200">Sort<span class="text-danger">*</span></label>
        <div class="input-group input-section w-75 ml-auto">
          <input type="number" formControlName="sort" class="form-control input-text" aria-label="Your Name"
            placeholder="Sort" name='name'>
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControl.sort.errors?.required && formError">
            Sort is required
          </div>
        </div>
      </div>

      <div *ngIf="documentForm.value.id!=0" class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3  font-size-15 w-160">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input [checked]="documentForm.value.active==1" (click)="onActiveChange($event)"
              class="on-off-toggle__input" id="bopis" name='active' type="checkbox" value=1 />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>


        <!-- <div class="check-box-wrapper">
            <div class="on-off-toggle">
                <input class="on-off-toggle__input" [(ngModel)]='InterfaceDataSetById.active'
                    (change)="InterfaceDataSetById.active = $event.target.checked ? 1: 0" name='active'
                    type="checkbox" />
                <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
        </div> -->

      </div>

      <div class="close-button justify-content-end">
        <button type="submit" (click)="createForm()" class="btn btn-inner btn-blue btn-border mr-2"> Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border"
          (click)="saveInterfaceDocumentation()">{{documentForm.value.id==0?'Create':'Save'}}</button>
      </div>
    </div>
  </form>

</div>

<a type="hidden" id="filedownload" [href]="'data:application/octet-stream;base64,' + fileData | domsanitize" download={{fileName}}>

