<div class="bg-white p-3">
  <!-- <div class="lightblue-bg  mb-0 p-2">
        <h3 class="color-white text-center AvenirLTStd-Roman">PA Details - PS: ALEXANDER, DEBRA</h3>
    </div> -->
  <div class="table-responsive box-shadow  mb-3" style="height: calc(100vh - 145px);">
    <table class="table  mb-0 visit-table">
      <thead class="thead-dark">
        <tr>
          <th class="edit-option border-right sticky-top"></th>
          <th class="edit-option border-right sticky-top">#</th>
          <th class="edit-option border-right sticky-top">TRANSCTION TYPE</th>
          <th class="edit-option border-right sticky-top">UID_CLIENT</th>
          <th class="edit-option border-right sticky-top">PANUM</th>
          <th class="edit-option border-right sticky-top">TARGET</th>
          <th class="edit-option border-right sticky-top">MEDICATED</th>
          <th class="edit-option border-right sticky-top">PABEGIN</th>
          <th class="edit-option border-right sticky-top">PAEND</th>
          <th class="edit-option border-right sticky-top">PROCCODE</th>
          <th class="edit-option border-right sticky-top">AMOUNT</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT2</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT3</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT4</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT5</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT6</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            1
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>

        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            3
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            4
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            5
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            7
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-end pagination nav pb-2 mt-1">
    <div class="pr-2 pagination-add-close  justify-content-end">
      <span class="footer-text">Per Page</span>
      <select class="pagination-select border-0">
        <option>
          10
        </option>`
      </select>
      <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
      <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
      <button type="button " class="pagination-btn ml-0 " id="next-btn"
        class="pagination-btn btn-green ml-2 color-white">Next</button>
    </div>
  </div>
</div>
