<div class="pr-3 row m-0 pt-3">
  <div class="table-container col-md-8 pr-0">
    <div class="border box-shadow">
      <div class="data-table-header d-flex justify-content-between align-items-center">
        <h5 class="m-0 text-white">Interface List</h5>
      </div>
      <div class="p-2">
        <div class="table-responsive data-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="sticky-top"></th>
                <th scope="col" class="sticky-top w-180"> Name</th>
                <th scope="col" class="sticky-top w-180"> Label </th>
                <th class="align-middle sticky-top"> Description </th>
                <th scope="col" class="sticky-top px-3"> Active </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                    let data of InterfaceDetailsList
                      | filter: searchTerm
                      | paginate: { itemsPerPage: perPage, currentPage: p }
                  ">
                <td class="position-relative edit-option">
                  <ul class="m-0 p-0">
                    <li class="">
                      <div class="share-button">
                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                        <label for="toggle-input" class="toggle"></label>
                      </div>
                      <div class="slider d-flex align-items-center interface-slider-left">
                        <p class="twitter mr-1">
                          <span>
                            <a class="text-white" (click)="getInterfaceDetails(data.id)" title="Edit">
                            </a>
                          </span>
                        </p>
                        <p class="facebook mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'dataset',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Datasets">
                            </a>
                          </span>
                        </p>
                        <p class="googleplus mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'lookup',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Lookups">
                            </a>
                          </span>
                        </p>
                        <p class="mapping mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'lookupdetails',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Export Lookup Mapping">
                            </a>
                          </span>
                        </p>
                        <p class="staticValues mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'staticValues',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Static values">
                            </a>
                          </span>
                        </p>
                        <p class="interfaceOffices mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfaceOffices',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface offices">
                            </a>
                          </span>
                        </p>
                        <p class="payor-details-ico mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfacePayorDetails',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Payor ">
                            </a>
                          </span>
                        </p>
                        <p class="interface-service mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfaceServices',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Services">
                            </a>
                          </span>
                        </p>
                        <p class="providerDetails mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'providerDetails',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Visit Provider Details">
                            </a>
                          </span>
                        </p>
                        <p class="office-details mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfaceMedium',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title=" Interface Medium Details">
                            </a>
                          </span>
                        </p>
                        <p class="visitMedium mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'visitMedium',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Visit Deleted Medium Details">
                            </a>
                          </span>
                        </p>
                        <p class="interfaceToken mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfaceToken',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Token Credentials">
                            </a>
                          </span>
                        </p>
                        <p class="payor-map mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'interfaceJobs',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Job Details">
                            </a>
                          </span>
                        </p>
                        <p class="document mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'doc',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Interface Documents">
                            </a>
                          </span>
                        </p>
                        <p class="interface-status mr-1">
                          <span>
                            <a class="text-white" (click)="
                                  viewContentType(
                                    'statusdetails',
                                    data.id,
                                    data.label,
                                    data
                                  )
                                " title="Dataset Transaction Status">
                            </a>
                          </span>
                        </p>
                      </div>
                    </li>
                  </ul>
                </td>
                <td class="position-relative text-left">{{ data.name }}</td>
                <td class="position-relative text-left">{{ data.label }}</td>
                <td class="position-relative text-left">{{ data.description }}</td>
                <td *ngIf="data.active == 0" class="position-relative">{{data.active==0?'No':'Yes'}}</td>
              </tr>
          </table>
          <p *ngIf="InterfaceDetailsList.length == 0" class="no-records text-center">
            No Records Found
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end pagination">

        <div>
          <span class="footer-text">Per Page</span>
          <select class="pagination-select border-0" [(ngModel)]="perPage">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>

        <div class="dataset-pagination-interface">
          <pagination-controls (pageChange)="p = $event" class="mt-3"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="interfaceForm" class="side-pane col-md-4 pr-0">
    <div class="title">
      <h5  class="modal-title modal-title-content AvenirLTStd-Heavy text-white"
        id="exampleModalLongTitle">
        {{interfaceForm.value.id==0?'Create':'Edit'}} Interface
      </h5>

    </div>
    <div class="border-2 box-shadow">
      <div class="my-3 d-flex">
        <label class="m-0 w-110">Name <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input [disabled]="interfaceForm.value.id!=0" type="search" class="form-control input-text"
            placeholder="Name" aria-label="Your Name"  [trim]="'blur'"
           formControlName ="name" aria-describedby="basic-addon2" tabindex="1"
            [ngClass]="{ 'is-invalid': formError && formControls.name.invalid }" required />
          <div class="break"></div>
          <p *ngIf="formControls.name.invalid && formError" class="text-danger mt-2 mb-0">
            Name is required
          </p>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-110">Label <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="search" class="form-control input-text" placeholder="Label" aria-label="Your Name"
           [trim]="'blur'" formControlName="label" aria-describedby="basic-addon2"
            tabindex="1" [ngClass]="{ 'is-invalid': formError && formControls.label.invalid }" required />
          <div class="break"></div>
          <p *ngIf="formControls.label.invalid && formError" class="text-danger mt-2 mb-0">
            Label is required
          </p>
        </div>
      </div>


      <div class="mb-3 d-flex">
        <label class="m-0 w-110">Description</label>
        <div class="input-group">
          <textarea rows="2" class="textarea-color form-control" placeholder="Description"
          formControlName ="description"></textarea>
          <div class="break"></div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 mt-2 w-110">Billing System </label>
        <div class=" pl-2 input-group input-section">
          <p-dropdown [resetFilterOnHide]="true" [options]="billingSystem" optionValue="id" appendTo="body"
            optionLabel="name" formControlName ="billingSystemId" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="Billing System" class="w-100" styleClass="w-100"></p-dropdown>
        </div>
      </div>
      <div class="input-group input-section mt-2 d-flex align-items-center">
        <label class="m-0 pr-3 font-size-15"> Billing Acknowledgement </label>
        <div style="margin-left: 3.6rem!important;" class="check-box-wrapper ">
          <div class="on-off-toggle ">
            <input class="on-off-toggle__input" id="Billing Acknowledgement"
             formControlName ="billingAcknowledgement"  name="billingAcknowledgement" type="checkbox" value="1" />
            <label for="Billing Acknowledgement" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>

      <div *ngIf="interfaceForm.value.id!=0" class="input-group input-section d-flex align-items-center">
        <label class="m-0 pr-5 mr-5 font-size-15 "> Active </label>
        <div class="check-box-wrapper pl-5 ml-5">
          <div class="on-off-toggle" style="margin-left: 30px;">
            <input class="on-off-toggle__input" id="bopis"formControlName ="active"  name="active" type="checkbox" value="1" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>

      <div class="input-group input-section mt-2 d-flex align-items-center">
        <label class="m-0 pr-3 font-size-15 "> Restrict Reinstate Scheduled Visit
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="Reinstate Scheduled Visit"
             formControlName ="schdVisitReinstateFlag"  name="schdVisitReinstateFlag" type="checkbox"/>
            <label for="Reinstate Scheduled Visit" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>
      <div class="input-group input-section mt-2 d-flex align-items-center">
        <label class="m-0 pr-3 font-size-15 "> Restrict Update Completed Visit &nbsp;

        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="Restrict Update Completed Visit"
             formControlName ="visitUpdateFlag"  name="visitUpdateFlag" type="checkbox"/>
            <label for="Restrict Update Completed Visit" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>
      <div class="input-group input-section mt-2 d-flex align-items-center">
        <label class="m-0 pr-3 font-size-15"> Restrict Cancel Completed Visit &nbsp;&nbsp;</label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="Restrict Cancel Completed Visit"
             formControlName ="visitCancelFlag"  name="visitCancelFlag" type="checkbox"/>
            <label for="Restrict Cancel Completed Visit" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>

      <div class="input-group input-section mt-2 d-flex align-items-center">
        <label class="m-0 pr-3 font-size-15"> DCS License Number Required &nbsp;&nbsp;</label>
        <div class="check-box-wrapper ml-1">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="DCS License Number Required"
             formControlName ="dcsLicenseNumberRequired" name="dcsLicenseNumberRequired" type="checkbox"/>
            <label for="DCS License Number Required" class="on-off-toggle__slider"></label>
          </div>
        </div>
      </div>

      <div class="close-button justify-content-end">
        <button style="margin-right: 52px" type="submit" (click)="createForm()"
          class="btn btn-inner btn-blue btn-bord">
          Cancel
        </button>
        <button type="submit" (click)="createInterface()" class="btn btn-inner btn-save btn-border">
          {{interfaceForm.value.id==0?'Create':'Save'}}
        </button>


      </div>
    </div>
  </form>
</div>
