<!-- <app-header></app-header> -->
<!-- <div class="activity-wrapper">

  <div class="activity-inner-wrapper d-flex">
    <app-sidebar></app-sidebar> -->
    <div class=" px-3 mt-2">
      <div class="filter-content d-flex justify-content-between px-3 align-items-center nav">
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 f-15 mr-4">Dataset</label>
          <div class="input-group input-section">
            <!-- <input type="text" class="form-control input-text w-120" placeholder="Search Dataset"> -->
            <select [(ngModel)]="interfaceDatasetId" class="form-control input-text w-120">
              <option [ngValue]='0'>Select Dataset</option>
              <option *ngFor="let data of datsetFilter" [ngValue]='data.id'>{{data.name}}</option>
            </select>
          </div>
        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 w-200 f-15 my-0">Activity Start Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200" [maxDate]="activityEndDate"
              #ActivityStart="bsDatepicker" readonly bsDatepicker [(ngModel)]="activityStartDate"
              placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityStart.toggle()"></i>
          </div>

        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="ml-2 w-200 f-15 my-0">Activity End Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200" #ActivityEnd="bsDatepicker"
              [minDate]="activityStartDate" readonly bsDatepicker [(ngModel)]="activityEndDate"
              placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i>
          </div>
        </div>
        <div>
          <button class="btn-border btn-green text-white px-3" (click)="getActivityLogList()"> Go</button>
        </div>
      </div>
      <div class="table-res">
        <table class="table box-shadow mt-2">
          <thead class="thead-dark">
            <tr>
              <th colspan="2" class="border-right"></th>
              <th colspan="3" class="border-right text-center">Request</th>
              <th colspan="4" class="border-right text-center">Response</th>
              <th colspan="4" class="border-right text-center">Summary</th>
            </tr>
            <tr>
              <th class="border-right" scope="col">Dataset</th>
              <th class="border-right" scope="col">Direction</th>
              <th class="border-right" scope="col"> File</th>
              <th class="border-right" scope="col">User</th>
              <th class="border-right" scope="col">Activity Date</th>
              <th class="border-right" scope="col"> Accepted</th>
              <th class="border-right" scope="col"> Rejected</th>
              <th class="border-right" scope="col">User</th>
              <th class="border-right" scope="col">Activity Date</th>
              <th class="border-right" scope="col"> Batch# </th>
              <th class="border-right" scope="col"> # of Txns sent</th>
              <th class="border-right" scope="col">Accepted</th>
              <th class="border-right" scope="col">Rejected </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of activityLogList;let i=index">
              <!-- <th><i class="fas fa-file f-20"></i></th> -->
              <!-- let object={
                "interfaceBatchInfoId": 4,
                "requestedAttachmentId": 2,
                "dataFlow": "Export",
                "exportedBy": "JOB",
                "requestedAttachmentName": "TEST_VISITS_NJ_61-1312327_20201106101117.csv",
                "acceptedAttachmentId": 0,
                "rejectedAttachmentId": 0,
                "interafceDataset": "Completed Visits",
                "exportedOn": "11/06/2020 10:15 AM"
            }   -->
              <td>{{data.interafceDataset}}</td>
              <td>{{data.dataFlow}}</td>
              <td [tooltip]="data.requestedAttachmentName"
                (click)="data.requestedAttachmentName.length>0?getAttachmentContent(csv,pdf,data.requestedAttachmentId,data.interfaceBatchInfoId):''">
                <span class="blueanchor" *ngIf="data.requestedAttachmentName.length>0">
                {{data.requestedAttachmentName|slice:0:10}}...{{data.requestedAttachmentName|slice:(data.requestedAttachmentName.length-14):data.requestedAttachmentName.length}}
              </span>
              </td>
              <td>{{data.exportedBy}}</td>
              <td>{{data.exportedOn}}</td>
              <td  [tooltip]="data.acceptedFileName"
                (click)="data.acceptedFileName.length>0?getAttachmentContent(csv,pdf,data.acceptedAttachmentId,data.interfaceBatchInfoId):''">
                <span class="blueanchor" *ngIf="data.acceptedFileName.length>0">{{data.acceptedFileName|slice:0:10}}...{{data.acceptedFileName|slice:(data.acceptedFileName.length-14):data.acceptedFileName.length}}</span>
              </td>
              <td  [tooltip]="data.rejectedFileName"
                (click)="data.rejectedFileName.length>0?getAttachmentContent(csv,pdf,data.rejectedAttachmentId,data.interfaceBatchInfoId):''">
                <span class="blueanchor"  *ngIf="data.rejectedFileName.length>0"> {{data.rejectedFileName|slice:0:10}}...{{data.rejectedFileName|slice:(data.rejectedFileName.length-14):data.rejectedFileName.length}}</span>
              </td>
              <td><span *ngIf="data.rejectedBy.trim()!=','">{{data.rejectedBy}}</span></td>
              <td>{{data.rejectedOn}}</td>
              <td>{{data?.interfaceBatchInfoId}}</td>
              <td>{{data?.sentRecordsCount}}</td>
              <td>{{data?.acceptedRecordsCount}}</td>
              <td>{{data?.rejectedRecordsCount}}</td>
            </tr>

          </tbody>
        </table>
        <p *ngIf="activityLogList.length==0" class="no-records text-center">No Records Found</p>

      </div>

      <!-- <div class="pagination">
        <div>

        </div>
        <button type="button" class="btn-border btn-green mx-2" id="prev-btn">Prev</button>
        <button type="button" class="btn-border btn-green mx-2" id="next-btn">Next</button>
      </div> -->

      <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-n1 ">
        <div class="pagination  justify-content-end pagination-button">
          <div class="d-flex align-items-center">
            <h6 class="mx-3">Per page</h6>
            <select [(ngModel)]="perPage" (change)="perPageChange()" class="border-0 box-shadow mr-3">
              <option [ngValue]="10">10</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="30">30</option>
              <option [ngValue]="40">40</option>
              <option [ngValue]="50">50</option>

            </select>
          </div>
          Showing {{ activityLogList.length==0?0:lowerBound}} to {{upperBound >totalCount?totalCount:upperBound }} of
          {{totalCount}}
          <div class="page-item "><button [disabled]="activityLogList.length==0||this.lowerBound==1" type="button"
              class="btn-green btn-border text-white mx-2" (click)="pagePrev()">Prev</button></div>
          <div class="page-item "><button [disabled]="this.upperBound>=totalCount" type="button"
              class="btn-green btn-border text-white mx-2" (click)="pageNext()">Next</button></div>
        </div>
        <!-- Pagination end  -->
      </div>
    </div>
  <!-- </div>
</div> -->

<!-- <input type="file" ($event)"> -->


<ng-template #csv>
  <div class="modal-header bg-dark d-flex align-items-center">
    <h4 class="modal-title pull-left text-white">Document - {{fileName}} </h4>
    <a [href]="'data:application/octet-stream;base64,' + fileData | domsanitize" download={{fileName}}>
      <i class="fa fa-download blueanchor ml-2" style="font-size: 22px;" aria-hidden="true"></i>
    </a>
    <button type="button" class=" close pull-right p-2 text-white mr-1" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive box-shadow" style="height: 68vh;">
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let item of headersArray;let i=index" scope="col">{{item}}</th>
            <!-- <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let export of exportDetailsArray| paginate: { itemsPerPage: BatchInfoperPage, currentPage: p }; let i=index">
            <td *ngFor="let cell of export">{{cell}}</td>
            <!-- <td [ngClass]="i!==0?'':'d-none'" *ngFor="let cell of item">{{cell}}</td> -->
          </tr>
        </tbody>
      </table>

    </div>
    <div class="d-flex align-items-center mt-2  pagination">

      <div>
        <span class="footer-text">Per Page</span>
        <select class="pagination-select border-0" [(ngModel)]="BatchInfoperPage">
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
        </select>
      </div>

      <div class="dataset-pagination-interface">
        <pagination-controls maxSize="25" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

  </div>
</ng-template>


<ng-template #pdf>
  <div class="modal-header bg-dark d-flex align-items-center">
    <h4 class="modal-title pull-left text-white">{{fileName}}</h4>
    <a [href]="'data:application/octet-stream;base64,' + fileData | domsanitize" download={{fileName}}>
      <i class="fa fa-download text-white ml-2" aria-hidden="true"></i>
    </a>
    <button type="button" class="close pull-right p-2 text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pdf-content p-2">
      <p>
        {{pdfData}}
      </p>
    </div>
  </div>

</ng-template>

