.toptop {
    -webkit-animation: slide-out-top 1s cubic-bezier(.215, .61, .355, 1) forwards;
    animation: slide-out-top 1s cubic-bezier(.215, .61, .355, 1) forwards;
  }
  .rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
  @keyframes slide-out-top {
    0% {
   
      -webkit-transform: translateY(-20%);
      transform: translateY(-20%)
    }
    to {
        -webkit-transform: translateY(0);
      transform: translateY(0)
    }
  }

  .tabs {
    .nav-tabs {
      border: 0;
      background: #00adf0;
      
    }
  
    .nav-link {
      padding: 5px 10px;
      font-size: 14px;
      color: white;
      position: relative;
      font-family: "AvenirLTStd-Medium", sans-serif !important;
  
      &.active {
        color: black;
        background-color: white !important;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          top: 0px;
          border-top: 2px solid #00adf0;
        }
      }
  
      &:hover {
        color: black;
        background-color: white !important;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          top: 0px;
          border-top: 2px solid #00adf0;
        }
      }
    }
  
  
  }
  .summary-download-icon{
    font-size: 22px;
    position: absolute;
    right: 22px;
    top: 14px;
    background: var(--green);
    color: var(--white);
    padding: 5px 8px;
    z-index: 999;
  }