<div class="row m-0">
  <div class="col-md-12 pt-3 px-2">
    <!-- <span  class="">download</span> -->
    <i class="fa fa-download blueanchor ml-2 summary-download-icon mt-2" (click)="exportexcel()" aria-hidden="true"></i>
    <div class="table-responsive box-shadow bg-white" style="height:calc(100vh - 86px)">
      <table class="table " id="excel-table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Data Element</th>
            <th scope="col">SRI</th>
            <th scope="col">POC</th>
            <th scope="col">Can be Ignored</th>
            <th scope="col">Comments </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="m-0 " style="color: blue;" (click)="getClientList(client)">Clients </a></td>
            <td> {{summaryCounts?.clientFromSri}}</td>
            <td>{{summaryCounts?.clientInPoc}}</td>
            <td>{{summaryCounts?.clientNotInPoc}}</td>
            <td>SRI Sends the full file everyday.</td>
          </tr>
          <tr>
            <td><a class="m-0 " style="color: blue;" (click)="getClientAltList(client)">Clients Alternate ID </a></td>
            <td>{{summaryCounts?.clientAltIdsfromSri}}</td>
            <td>{{summaryCounts?.clientAltIdsInPoc}}</td>
            <td>{{summaryCounts?.clientAltIdsNotInPoc }}</td>
            <td></td>
          </tr>
          <tr>
            <!-- <td> <i class="fas fa-chevron-right rotate mr-2" (click)="this.paToggle = !this.paToggle"></i> </td> -->
            <td> <a class="m-0 " style="color: blue;" (click)="getAuthServiceMatchedList(auth)">PA </a> </td>
            <td>{{summaryCounts?.paFromSri}}</td>
            <td>{{summaryCounts?.activePaFromSri}} </td>
            <td>{{summaryCounts?.voidPaFromSri}}</td>
            <td>SRI Sends only the current active Auths
            </td>
          </tr>
          <ng-container>
            <tr class="toptop">
              <td>  </td>
              <td></td>
              <td>{{summaryCounts?.critieria1}}</td>
              <td>{{summaryCounts?.critieria1Void}}</td>
              <td>Critieria 1: Match - Alternate ID - Medicaid # - Auth Num - Service - PA Begin </td>
            </tr>
            <tr class="toptop">
              <td> </td>
              <td> </td>
              <td>{{summaryCounts?.critieria2}}</td>
              <td> {{summaryCounts?.critieria2Void}}</td>
              <td>Critieria 2: Match - Alternate ID -Medicaid # - Service - PA Begin </td>
            </tr>
            <tr class="toptop">
              <td></td>
              <td></td>
              <td>{{summaryCounts?.critieria3}}</td>
              <td>{{summaryCounts?.critieria3Void}}</td>
              <td>Critieria 3: Match - Alternate ID - Service - PA Begin
              </td>
            </tr>
            <tr class="toptop">
              <td></td>
              <td></td>
              <td>{{summaryCounts?.critieria4}} </td>
              <td> {{summaryCounts?.critieria4Void}} </td>
              <td>Critieria 4: Match - Alternate ID matched with ps_alternate_id table </td>
            </tr>
            <tr class="toptop">
              <td></td>
              <td>{{summaryCounts?.notMatchedFromSri}}</td>
              <td>{{summaryCounts?.notMatchedAnyCritieriaPOC}}</td>
              <td> {{summaryCounts?.notMatchedAnyCritieriaPOCVoid}}</td>
              <td>Not matched with any criteria</td>
            </tr>
          </ng-container>
          <tr>
            <!-- <td> <i class="fas fa-chevron-right rotate mr-2" (click)="this.visits = !this.visits"></i></td> -->
            <td ><a style="color: blue;" (click)="getRejectedBySRIVisitList(rejectedSri)" class="cursor-pointer"> Visits</a> </td>
            <td>{{summaryCounts?.sentToSri}}</td>
            <td>{{summaryCounts?.sentToSri - summaryCounts?.onvVisits}}</td>
            <td> </td>
            <td>Total Visits Sent</td>
          </tr>
          <tr  class="toptop">
            <td></td>
            <td></td>
            <td> {{summaryCounts?.onvVisits}}</td>
            <td> </td>
            <td>Overnight Visits</td>
          </tr>
          <tr  class="toptop">
            <td> </td>
            <td>{{summaryCounts?.ignoredBySri}}</td>
            <td></td>
            <td></td>
            <td>Ignored by SRI</td>
          </tr>
          <tr  class="toptop">
            <td></td>
            <td>{{summaryCounts?.totalAccpetedRecords}}</td>
            <td> </td>
            <td></td>
            <td>Accepted by SRI</td>
          </tr>
          <tr  class="toptop">
            <td> </td>
            <td> <a class="m-0 " style="color: blue;" tooltip="Rejected By SRI" (click)="getRejectedBySRIVisitList(rejectedSri)">{{summaryCounts?.messageReceivedFromSri}}</a></td>
            <td></td>
            <td> </td>
            <td>Message Received from SRI</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="d-none">
    <div class="table-responsive box-shadow bg-white" style="height:calc(100vh - 86px)">
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Error Messages</th>
            <th scope="col">SRI</th>
            <th scope="col">POC</th>
            <th scope="col">Can be Ignored</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr class="toptop" *ngFor="let item of errorMessageList " >
            <td></td>
            <td></td>
            <td>{{item.flag=="1"?item.total:''}}</td>
            <td>{{item.flag!="1"?item.total:''}}</td>
            <td> <span [ngClass]="{'text-danger':item.flag!=1}" >{{item.label}}</span> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>



<!-- clients dialog  -->
<ng-template #client>
  <div class="modal-header bg-dark text-white ">
    <h4 class="modal-title AvenirLTStd-Heavy" id="exampleModalLongTitle">Clients</h4>
    <button type="button" class="close text-white" data-dismiss="modal" (click)="this.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tabs">
    <i class="fa fa-download blueanchor ml-2 summary-download-icon" (click)="clientTabs[0]?clientMasterDownload():clientTabs[1]?clienAlternateIdtMasterDownload():clienWithNoPSDownload()"  aria-hidden="true"></i>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':clientTabs[0]}" class="nav-link  AvenirLTStd-Heavy" (click)="getClientList()">Client
          Master</a>
      </li>
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':clientTabs[1]}" class="nav-link AvenirLTStd-Heavy" (click)="getClientAltList()">Client
          AlternateID Master</a>
      </li>
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':clientTabs[2]}" class="nav-link AvenirLTStd-Heavy " (click)="getClientNoPSList()">Client
          With No PS</a>
      </li>
    </ul>
    <div class="tab-content mt-2" id="myTabContent">
      <div *ngIf="clientTabs[0]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">POC SSN</th>
              </tr>
            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of clientMaster">
                <td>{{item.ssn}}</td>
                <td>{{item.lName}}</td>
                <td>{{item.fName}} </td>
                <td>{{item.pocSsn}}</td>
              </tr>
            </tbody>
        </table>
          <p  class="no-records text-center" *ngIf="clientMaster.length==0">No records Found</p>

        </div>
      </div>
      <div *ngIf="clientTabs[1]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">UID Client</th>
                <th scope="col">Open</th>
                <th scope="col">Closed</th>
              </tr>
            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of clientAltList">
                <td>{{item.ssn}}</td>
                <td>{{item.lName}} </td>
                <td>{{item.fName}}</td>
                <td>{{item.uidClient}}</td>
                <td>{{item.open}}</td>
                <td>{{item.closed}}</td>
              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="clientAltList.length==0">No records Found</p>

        </div>

      </div>
      <div *ngIf="clientTabs[2]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">UID Client</th>
              </tr>
            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of clientNoPSList">
                <td>{{item.ssn}} </td>
                <td>{{item.lName}}</td>
                <td>{{item.fName}} </td>
                <td>{{item.uidClient}}</td>
              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="clientNoPSList.length==0">No records Found</p>

        </div>

      </div>
    </div>

  </div>
</ng-template>
<!-- auth dialog  -->
<ng-template #auth>

  <div class="modal-header bg-dark text-white ">
    <h4 class="modal-title AvenirLTStd-Heavy" id="exampleModalLongTitle">Auth Service</h4>
    <button type="button" class="close text-white" data-dismiss="modal" (click)="this.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tabs">
    <i class="fa fa-download blueanchor ml-2 summary-download-icon" (click)="authTabs[0]?authServiceMatchedDownload():authTabs[1]?authServiceNotMatchedDownload():authTabs[2]?totalAuthUnitsNotMatchedDownload():authTabs[3]?weeklyUnitsNotMatchedDownload():getUnMatchedAuthsDownload()"  aria-hidden="true"></i>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':authTabs[0]}" (click)="getAuthServiceMatchedList()"
          class="nav-link AvenirLTStd-Heavy">Auth Service Matched</a>
      </li>
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':authTabs[1]}" (click)="getAuthServiceNotMatchedList()"
          class="nav-link AvenirLTStd-Heavy">Auth Service Not Matched</a>
      </li>
      <li class="nav-item" role="presentation">
        <a [ngClass]="{'active':authTabs[2]}" (click)="getTotalAuthUnitsNotMatchedList()"
          class="nav-link AvenirLTStd-Heavy">Total Auth Units Not Matched</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link AvenirLTStd-Heavy" [ngClass]="{'active':authTabs[3]}" (click)="getWeeklyUnitsNotMatchedList()">Weekly Units Not Matched </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link AvenirLTStd-Heavy" [ngClass]="{'active':authTabs[4]}" (click)="getUnMatchedAuths()">Unmatched Auth Service</a>
      </li>

    </ul>
    <div class="tab-content mt-2" id="myTabContent">
      <div *ngIf="authTabs[0]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">UID Client</th>
                <th scope="col">Client Name</th>
                <th scope="col">PANUM</th>
                <th scope="col">Target</th>
                <th scope="col">Medicaid</th>
                <th scope="col">PA Begin</th>
                <th scope="col">PA End</th>
                <th scope="col">Sri Proc Code</th>
                <th scope="col">Proc Code</th>
                <th scope="col">Modifier </th>
                <th scope="col">Convert Proc Code</th>
                <th scope="col">Unit Type </th>
                <th scope="col">Auth Unit </th>
                <th scope="col">Void Can </th>
                <th scope="col">Can Type </th>
                <th scope="col">Over Ride </th>
                <th scope="col">Edit Date</th>
                <th scope="col">Edit SEC</th>
                <th scope="col">IS EVV</th>
                <th scope="col">CPOC Begin</th>
                <th scope="col">CPOC End</th>
                <th scope="col">CPOC Cap</th>
                <th scope="col">WEEK Cap</th>
                <th scope="col">POC Total Units</th>
                <th scope="col">POC Weekly Units</th>
              </tr>
            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of authServiceMatchedList">
                <td> {{item.uidClient}} </td>
                <td>{{item.clientName}}</td>
                <td> {{item.PaNum}} </td>
                <td> {{item.target}} </td>
                <td> {{item.medIcaId}} </td>
                <td> {{item.pabegIn}} </td>
                <td> {{item.paend}} </td>
                <td> {{item.sriProcCode}} </td>
                <td> {{item.procCode}} </td>
                <td>{{item.modifier}}</td>
                <td>{{item.convertProCode}}</td>
                <td>{{item.uniType}}</td>
                <td>{{item.authUnit}}</td>
                <td>{{item.voidCan}}</td>
                <td>{{item.canType}}</td>
                <td>{{item.override}}</td>
                <td>{{item.editDate}}</td>
                <td>{{item.editSet}}</td>
                <td>{{item.isEvv}}</td>
                <td>{{item.cpocBegin}}</td>
                <td>{{item.cpocEnd}}</td>
                <td>{{item.cpocCap}}</td>
                <td>{{item.weekCap}}</td>
                <td>{{item.pocTotalUnits}}</td>
                <td>{{item.pocWeeklyUnits}}</td>
              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="authServiceMatchedList.length==0">No records Found</p>

        </div>

      </div>
      <div *ngIf="authTabs[1]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">UID Client</th>
                <th scope="col">Client Name</th>
                <th scope="col">PANUM</th>
                <th scope="col">Target</th>
                <th scope="col">Medicaid</th>
                <th scope="col">PA Begin</th>
                <th scope="col">PA End</th>
                <th scope="col">Sri Proc Code</th>
                <th scope="col">Proc Code</th>
                <th scope="col">Modifier </th>
                <th scope="col">Convert Proc Code</th>
                <th scope="col">Unit Type </th>
                <th scope="col">Auth Unit </th>
                <th scope="col">Void Can </th>
                <th scope="col">Can Type </th>
                <th scope="col">Over Ride </th>
                <th scope="col">Edit Date</th>
                <th scope="col">Edit SEC</th>
                <th scope="col">IS EVV</th>
                <th scope="col">CPOC Begin</th>
                <th scope="col">CPOC End</th>
                <th scope="col">CPOC Cap</th>
                <th scope="col">WEEK Cap</th>
              </tr>
            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of authServiceNotMatchedList">
                <td> {{item.uidClient}} </td>
                <td>{{item.clientName}}</td>
                <td> {{item.PaNum}} </td>
                <td> {{item.target}} </td>
                <td> {{item.medIcaId}} </td>
                <td> {{item.pabegIn}} </td>
                <td> {{item.paend}} </td>
                <td> {{item.sriProcCode}} </td>
                <td> {{item.procCode}} </td>
                <td>{{item.modifier}}</td>
                <td>{{item.convertProCode}}</td>
                <td>{{item.uniType}}</td>
                <td>{{item.authUnit}}</td>
                <td>{{item.voidCan}}</td>
                <td>{{item.canType}}</td>
                <td>{{item.override}}</td>
                <td>{{item.editDate}}</td>
                <td>{{item.editSet}}</td>
                <td>{{item.isEvv}}</td>
                <td>{{item.cpocBegin}}</td>
                <td>{{item.cpocEnd}}</td>
                <td>{{item.cpocCap}}</td>
                <td>{{item.weekCap}}</td>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="authServiceNotMatchedList.length==0">No records Found</p>

        </div>

      </div>
      <div *ngIf="authTabs[2]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">UID Client</th>
                <th scope="col">Client Name</th>
                <th scope="col">PANUM</th>
                <th scope="col">Target</th>
                <th scope="col">Medicaid</th>
                <th scope="col">PA Begin</th>
                <th scope="col">PA End</th>
                <th scope="col">Sri Proc Code</th>
                <th scope="col">Proc Code</th>
                <th scope="col">Modifier </th>
                <th scope="col">Convert Proc Code</th>
                <th scope="col">Unit Type </th>
                <th scope="col">Auth Unit </th>
                <th scope="col">Void Can </th>
                <th scope="col">Can Type </th>
                <th scope="col">Over Ride </th>
                <th scope="col">Edit Date</th>
                <th scope="col">Edit SEC</th>
                <th scope="col">IS EVV</th>
                <th scope="col">CPOC Begin</th>
                <th scope="col">CPOC End</th>
                <th scope="col">CPOC Cap</th>
                <th scope="col">WEEK Cap</th>
                <th scope="col">POC Total Units</th>
                <th scope="col">POC Weekly Units</th>
                <th scope="col">Diff in Weekly Units</th>
              </tr>

            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of totalAuthUnitsNotMatchedList">
                <td> {{item.uidClient}} </td>
                <td>{{item.clientName}}</td>
                <td> {{item.paNum}} </td>
                <td> {{item.target}} </td>
                <td> {{item.medicaid}} </td>
                <td> {{item.paBegin}} </td>
                <td> {{item.paEnd}} </td>
                <td> {{item.sriProcCode}} </td>
                <td> {{item.procCode}} </td>
                <td>{{item.modifier}}</td>
                <td>{{item.convertProCode}}</td>
                <td>{{item.unitType}}</td>
                <td>{{item.authUnit}}</td>
                <td>{{item.voidCan}}</td>
                <td>{{item.canType}}</td>
                <td>{{item.override}}</td>
                <td>{{item.editDate}}</td>
                <td>{{item.editSec}}</td>
                <td>{{item.isEvv}}</td>
                <td>{{item.cpocBegin}}</td>
                <td>{{item.cpocEnd}}</td>
                <td>{{item.cpocCap}}</td>
                <td>{{item.weekCap}}</td>
                <td>{{item.pocTotalUnits}}</td>
                <td>{{item.pocWeeklyUnits}}</td>
                <td>{{item?.diffInWeeklyUnits}}</td>
              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="totalAuthUnitsNotMatchedList.length==0">No records Found</p>

        </div>

      </div>
      <div  *ngIf="authTabs[3]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">UID Client</th>
                <th scope="col">Client Name</th>
                <th scope="col">PANUM</th>
                <th scope="col">Target</th>
                <th scope="col">Medicaid</th>
                <th scope="col">PA Begin</th>
                <th scope="col">PA End</th>
                <th scope="col">Sri Proc Code</th>
                <th scope="col">Proc Code</th>
                <th scope="col">Modifier </th>
                <th scope="col">Convert Proc Code</th>
                <th scope="col">Unit Type </th>
                <th scope="col">Auth Unit </th>
                <th scope="col">Void Can </th>
                <th scope="col">Can Type </th>
                <th scope="col">Over Ride </th>
                <th scope="col">Edit Date</th>
                <th scope="col">Edit SEC</th>
                <th scope="col">IS EVV</th>
                <th scope="col">CPOC Begin</th>
                <th scope="col">CPOC End</th>
                <th scope="col">CPOC Cap</th>
                <th scope="col">WEEK Cap</th>
                <th scope="col">POC Total Units</th>
                <th scope="col">POC Weekly Units</th>
                <th scope="col">Diff in Weekly Units</th>
              </tr>

            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of weeklyUnitsNotMatchedList">
                <td> {{item.uidClient}} </td>
                <td>{{item.clientName}}</td>
                <td> {{item.paNum}} </td>
                <td> {{item.target}} </td>
                <td> {{item.medicaid}} </td>
                <td> {{item.paBegIn}} </td>
                <td> {{item.paEnd}} </td>
                <td> {{item.sriProcCode}} </td>
                <td> {{item.procCode}} </td>
                <td>{{item.modifier}}</td>
                <td>{{item.convertProCode}}</td>
                <td>{{item.unitType}}</td>
                <td>{{item.authUnit}}</td>
                <td>{{item.voidCan}}</td>
                <td>{{item.canType}}</td>
                <td>{{item.override}}</td>
                <td>{{item.editDate}}</td>
                <td>{{item.editSec}}</td>
                <td>{{item.isEvv}}</td>
                <td>{{item.cpocBegin}}</td>
                <td>{{item.cpocEnd}}</td>
                <td>{{item.cpocCap}}</td>
                <td>{{item.weekCap}}</td>
                <td>{{item.pocTotalUnits}}</td>
                <td>{{item.pocWeeklyUnits}}</td>
                <td>{{item?.diffInWeeklyUnits}}</td>
              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="weeklyUnitsNotMatchedList.length==0">No records Found</p>


        </div>
      </div>
      <div  *ngIf="authTabs[4]">
        <div class="table-responsive table-shadow table-height" style="height: 67vh;">
          <table class="table">
            <thead class="thead-dark" style="white-space: nowrap;">
              <tr>
                <th scope="col">PS</th>
                <th scope="col">SSN</th>
                <th scope="col">Alternate Id</th>
                <th scope="col">Policy Number</th>
                <th scope="col">Authorization Number</th>
                <th scope="col">Begin Date</th>
                <th scope="col">End Date</th>
                <th scope="col">POC Proc Code</th>
                <th scope="col">SRI Proc Code</th>

              </tr>

            </thead>
            <tbody>
              <tr class="now-wrap" *ngFor="let item of unMatchedAuthsList">
                <td> {{item.ps}} </td>
                <td>{{item.ssn}}</td>
                <td> {{item.alternateId}} </td>
                <td> {{item.policyNumber}} </td>
                <td> {{item.authorizationNumber}} </td>
                <td> {{item.beginDate}} </td>
                <td> {{item.endDate}} </td>
                <td> {{item.pocProcedureCode}} </td>
                <td> {{item.sriProcedureCode}} </td>

              </tr>
            </tbody>
          </table>
          <p  class="no-records text-center" *ngIf="unMatchedAuthsList.length==0">No records Found</p>


        </div>
      </div>
    </div>

  </div>
  <!-- </div>
    </div>
  </div>
</div> -->
</ng-template>
<!-- weekly and rejected by sri -->

<!-- rejected by sri -->
<ng-template #rejectedSri>
  <div class="modal-header bg-dark text-white ">
    <h4 class="modal-title AvenirLTStd-Heavy" id="exampleModalLongTitle">Rejected By SRI  <i style="position: unset !important;" class="fa fa-download summary-download-icon blueanchor ml-2 " (click)="rejectedBySriDownload(totalCount)"  aria-hidden="true"></i></h4>
    <button type="button" class="close text-white" data-dismiss="modal" (click)="this.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tabs">

    <div class="table-responsive table-shadow table-height" style="height: 67vh;">
      <table class="table">
        <thead class="thead-dark" style="white-space: nowrap;">
          <tr>
            <th scope="col"></th>
            <th scope="col">Serv Date</th>
            <th scope="col">Proc Code</th>
            <th scope="col">Enter Date</th>
            <th scope="col">Enter Sec</th>
            <th scope="col">Edit By</th>
            <th scope="col">Edit Date</th>
            <th scope="col">Serv Begin</th>
            <th scope="col">Serv End</th>
            <th scope="col">EVV DSWID</th>
            <th scope="col">DCS</th>
            <th scope="col">UID Client</th>
            <th scope="col">PS</th>
            <th scope="col">UID Serv</th>
            <th scope="col">Method</th>
            <th scope="col">Void</th>
            <th scope="col">IPIN</th>
            <th scope="col">IPOUT</th>
            <th scope="col">IP Edit</th>
            <th scope="col">GEO IN</th>
            <th scope="col">GEO OUT</th>
            <th scope="col">GEO Edit</th>
            <th scope="col">EDIT Time</th>
            <th scope="col">Time</th>
            <th scope="col">Time DEDUC</th>
            <th scope="col">Error MSG</th>
            <th scope="col">Sri Processed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rejectedBySRIVisitList">
            <td><span style="color: #76bd43 !important;" class="material-icons " [tooltip]="'Log'" (click)="getRejectedBySRIVisitLog(item,rejectedSriLogs)" >list</span></td>
            <td>{{item.servDate}}</td>
            <td>{{item.procCode}}</td>
            <td>{{item.enterDate}}</td>
            <td>{{item.enterSec}}</td>
            <td>{{item.editBy}}</td>
            <td>{{item.editDate}}</td>
            <td>{{item.servBegin}}</td>
            <td>{{item.servEnd}}</td>
            <td>{{item.evvDswId}}</td>
            <td>{{item.dcs}}</td>
            <td>{{item.uidClient}}</td>
            <td>{{item.ps}}</td>
            <td>{{item.uidServ}}</td>
            <td>{{item.method}}</td>
            <td>{{item.void}}</td>
            <td>{{item.ipIn}}</td>
            <td>{{item.ipOut}}</td>
            <td>{{item.ipEdit}}</td>
            <td>{{item.geoIn}}</td>
            <td>{{item.geoOut}}</td>
            <td>{{item.geoEdit}}</td>
            <td>{{item.editTime}}</td>
            <td>{{item.time}}</td>
            <td>{{item.timeDeduct}}</td>
            <td>{{item.errorMsg}}</td>
            <td>{{item.sriProcessed}}</td>
          </tr>
        </tbody>
      </table>
      <p  class="no-records text-center" *ngIf="rejectedBySRIVisitList?.length==0">No records Found</p>

    </div>
    <div class="pagination-wrapper table-responsive justify-content-end d-flex mt-2 ">
      <!-- <button type="submit" class="btn btn-inner btn-blue btn-border mr-2 color-white" data-dismiss="modal">
        Close
      </button> -->
      <div class="pagination  justify-content-end pagination-button">
        <div class="d-flex align-items-center">
          <h6 class="mx-3">Per page</h6>
          <select [(ngModel)]="perPage" (change)="perPageChange()" class="border-0 box-shadow mr-3">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="30">30</option>
            <option [ngValue]="40">40</option>
            <option [ngValue]="50">50</option>
          </select>
        </div>
        Showing {{ rejectedBySRIVisitList.length==0?0:lowerBound}} to {{upperBound >totalCount?totalCount:upperBound }} of
        {{totalCount}}
        <div class="page-item "><button [disabled]="rejectedBySRIVisitList.length==0||this.lowerBound==1" type="button"
            class="btn-green btn-border text-white mx-2" (click)="pagePrev()">Prev</button></div>
        <div class="page-item "><button [disabled]="this.upperBound>=totalCount" type="button"
            class="btn-green btn-border text-white mx-2" (click)="pageNext()">Next</button></div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #rejectedSriLogs>
  <div class="modal-header bg-dark text-white ">
    <h4 class="modal-title AvenirLTStd-Heavy" id="exampleModalLongTitle">Visit Response From SRI</h4>
    <button type="button" class="close text-white" data-dismiss="modal" (click)="this.logModelRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tabs" style="    background: #ebfff2;">
<div class="nav justify-content-between">
  <h5 class="modal-title pull-left AvenirLTStd-Heavy">PS: <span class="text-success">{{currentRejectedLog.ps}}</span></h5>
  <h5 class="modal-title pull-left AvenirLTStd-Heavy ml-2">DCS:  <span class="text-success">{{currentRejectedLog.dcs}}</span></h5>
  <h5 class="modal-title pull-left AvenirLTStd-Heavy ml-2">Serv Date:  <span class="text-success">{{currentRejectedLog.servDate}}</span></h5>
</div>
    <div class="table-responsive table-shadow table-height bg-white" style="height: 67vh;">
      <table class="table">
        <thead class="thead-dark" style="white-space: nowrap;">
          <tr>
            <th scope="col">TIME</th>
            <th scope="col">TIME DEDUCT</th>
            <th scope="col">MESSAGE</th>
            <th scope="col">SRI PROCESSED</th>
            <th scope="col">RESPONSE DATE</th>

          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of rejectedBySRIVisitLogs">
          <td>{{item.time}}</td>
          <td>{{item.timeDeduct}}</td>
          <td>{{item.errorMsg}}</td>
          <td>{{item.sriProcessed}}</td>
          <td>{{item.responseDate}}</td>

        </tr>
        </tbody>
      </table>
      <p  class="no-records text-center" *ngIf="rejectedBySRIVisitLogs?.length==0">No records Found</p>

    </div>

  </div>

</ng-template>
