<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Visit Deleted Medium - {{interfaceName}} </h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th scope="col" class="sticky-top">Dataset</th>
              <th scope="col" class="sticky-top">URL</th>
              <th scope="col" class="sticky-top">Username</th>
              <th scope="col" class="sticky-top">Password</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of visitDeleteMediumList">
              <td>
                <span (click)="updateVisitDetailForm(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{item.interfaceDataset}}</td>
              <td>{{item.url}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.password}}</td>
            </tr>
          </tbody>
        </table>

        <p class="no-records text-center" *ngIf="visitDeleteMediumList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <form [formGroup]="visitDetailForm">
  <div class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
       {{visitDetailForm.value.id==0?'Create':'Update'}} Visit Deleted Medium - {{interfaceName}}
      </h5>
    </div>
    <div class="border-2">

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
            aria-describedby="basic-addon2" tabindex="1">
          <div class="break"></div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="w-200">Dataset <span class="text-danger">*</span></h6>
        <div class="w-100">
          <select class="form-control " formControlName="datasetId">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let item of datasetLookup" [ngValue]="item.id">{{item.name}}</option>
          </select>
          <div class="text-danger " *ngIf="formcontrols.datasetId.errors?.required && formError" >
            Dataset is required
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">URL <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="url" placeholder="URL" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="formcontrols.url.errors?.required && formError" >
            <div>URL is required</div>
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">Username<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="userName" placeholder="Username" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="formcontrols.userName.errors?.required && formError" >
            <div>Username is required</div>
          </div>
        </div>
      </div>

      <div class="my-3 d-flex">
        <label class="m-0 w-200">Password<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="password" placeholder="Password" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="formcontrols.password.errors?.required && formError" >
            <div>Password is required</div>
          </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Column Name<span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="columnName" placeholder="Column Name" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="formcontrols.columnName.errors?.required && formError" >
            <div>Column Name is required</div>
          </div>
        </div>
      </div>

      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" tabindex="1" data-dismiss="modal" (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveVisitDetailForm()">{{visitDetailForm.value.id==0?'Create':'Save'}}</button>
      </div>
    </div>
  </div>
  </form>
</div>
