<div class=" px-3 mt-2">
    <div class="d-flex ">
        <div class="filter-content reconcilation-filters d-flex justify-content-between px-3  pb-3 align-items-center nav w-100">
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 d-flex align-items-center">
                    Interface
                    <span class="text-danger ml-1">*</span>
                </label>

                <div class="input-group input-section ">
                      <ng-select style="width: 165%;" [(ngModel)]="interfaceDefinitionId" placeholder="--Select--" class="" >
                      <ng-option [value]="item.id" *ngFor="let item of interfaceList" >{{item.name}}</ng-option>
                  </ng-select>
                </div>
            </div>



            <div class="mt-2 d-flex align-items-center">
                <label class="ml-2 f-13 my-0   text-left">Start Date <span class="text-danger ">*</span>
                </label>
                <div class="input-group input-section">
                    <input type="text" [(ngModel)]="startDate" class="form-control input-text "  bsDatepicker
                        placeholder="MM/DD/YYYY">
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-13 my-0   text-right">End Date<span class="text-danger">*</span>
                </label>
                <div class="input-group input-section">
                    <input type="text" [(ngModel)]="endDate" class="form-control input-text" style="width:161px" bsDatepicker
                        placeholder="MM/DD/YYYY">
                </div>
            </div>
            <!-- <div class="mt-2 d-flex align-items-center">
                <p class="mx-2  mb-0 f-15 d-flex align-items-center">
                    Status
                </p>
                <div class="input-group input-section ">
                    <select class="form-control input-text ">
                        <option>Export EVV Data</option>
                    </select>
                </div>
            </div> -->

        </div>
        <div class="filter-content d-flex justify-content-between pb-3 px-3  align-items-end nav">
            <button (click)="onGo()" class="btn-border btn-green text-white px-3 py-2" > Go</button>
        </div>
    </div>
    <div class="table-reconcilation">
        <table class="table box-shadow mt-2">
            <thead class="thead-dark">
                <tr>
                    <th colspan="4" class="border-right "></th>
                    <th colspan="2" class="border-right text-center ">
                        <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
                    </th>
                    <th colspan="2" class="border-right text-center ">
                        <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
                    </th>
                </tr>
                <tr class="no-wrap" style="white-space: nowrap;">
                    <th class="border-right " scope="col">Site</th>
                    <th class="border-right " scope="col">
                        <span class="mx-1">PS</span>
                    </th>
                    <th class="border-right " scope="col">DCS</th>
                    <!-- <th class="border-right " scope="col">
                        <span class="mx-2">Payor</span>
                    </th> -->
                    <th class="border-right " scope="col">Service</th>
                    <th class="border-right " scope="col">
                        <span class="mx-2">Start</span>
                    </th>
                    <th class="border-right " scope="col">
                        <span class="mx-2">End</span>
                    </th>
                    <th class="border-right " scope="col">
                        <span class="mx-2">Start</span>
                    </th>
                    <th class="border-right " scope="col">
                        <span class="mx-2">End</span>
                    </th>
                  </tr>
            </thead>
            <tbody>
                <tr class="no-wrap"*ngFor="let item of exportingVisitArray| paginate: { itemsPerPage: perPage, currentPage: currentPage  };let i=index" >
                    <td>{{item.siteCode}}</td>
                    <td>{{item.psName}}</td>
                    <td>{{item.dcsName}}</td>
                    <!-- <td>{{item.interfacePayerId}}</td> -->
                    <td>{{item.procedureCode}}</td>
                    <td>{{item.scheduledBeginDateTime}}</td>
                    <td>{{item.scheduledEndDateTime}}</td>
                    <td>{{item.arrivalDateTime}}</td>
                    <td>{{item.departureDateTime}}</td>
                </tr>

            </tbody>
        </table>

        <p *ngIf="exportingVisitArray.length==0" class="no-records text-center">{{interfaceDefinitionId==null?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
    </div>
    <div class="pagination-wrapper table-responsive justify-content-between nav d-flex mt-2 align-items-center">
        <button [disabled]="exportingVisitArray?.length==0"  (click)="exportingVisitArray?.length>0?downloadFile():''" class="btn-border btn-green text-white px-3 py-1 d-flex align-items-center" ><span  class="material-icons mr-2">
            upload_file
            </span> Download</button>
        <div class="pagination d-flex justify-content-end pagination-button">
            <div class="d-flex align-items-center">
                <h6 class="mx-3">Per page</h6>
                <select (ngModelChange)='pageChange(1)' [(ngModel)]="perPage" class="border-0 box-shadow mr-3">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="50">50</option>

                </select>
            </div>
            <!-- Showing 10 to 20 of 100
            <div class="page-item "><button type="button" class="btn-green btn-border text-white mx-2">Prev</button>
            </div>
            <div class="page-item "><button type="button" class="btn-green btn-border text-white mx-2">Next</button>
            </div> -->
            <pagination-controls
            (pageChange)="pageChange($event)"
            class="mt-3"
          ></pagination-controls>
        </div>
        <!-- Pagination end  -->
    </div>
</div>
<!-- </div> -->
<!-- </div> -->

<!-- <ng-template #notFoundTemplate let-notFound>
    <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template> -->


<!-- <ng-template #recordDetails>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Record Details</h4>
        <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="">
            <h3 class="m-0 table-reconcile-header">Details</h3>
            <div class="table-responsive border box-shadow height-67 reconcilation-table">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="bg-dark color-white border-right">
                                Column Name
                            </th>
                            <th class="bg-dark color-white">
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let item of visitRequestData">
                            <td class=" border-right">
                                <div class="border-left">{{item.interfaceElementName}}</div>
                            </td>
                            <td class="">
                                <div class="border-right">{{item.requestValue}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
            </div>
        </div>

    </div>
</ng-template> -->
