<!-- <app-header></app-header> -->
<!-- <div class="d-flex mh-91">
    <app-sidebar></app-sidebar> -->

    <div class="lookup-container row m-0">
        <div class="table-container col-md-7 pr-0">
            <div class="border">
                <div class="data-table-header d-flex justify-content-between align-items-center">
                   <h5 class="m-0 text-white">{{lookupName}}</h5>
                </div>
                <div class="p-2">
                    <div class="table-responsive data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="w-60 sticky-top">
                                    </th>
                                    <th scope="col" class=" sticky-top">Name
                                        <!-- <div class="input-group form-input ">
                                            <input type="text" class="form-control" aria-label="Case Manager">
                                        </div> -->
                                    </th>
                                    <th class="align-middle sticky-top">Description
                                        <!-- <div class="input-group form-input ">
                                            <input type="text" class="form-control" aria-label="Case Manager">
                                        </div> -->
                                    </th>
                                    <th scope="col" class="sticky-top px-3">Active
                                        <!-- <div class="input-group form-input ">
                                            <input type="text" class="form-control" aria-label="Case Manager">
                                        </div> -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="material-icons"
                                            data-toggle="modal" data-target="#staticBackdrop">
                                            edit
                                        </span>
                                    </td>
                                    <td class="text-left">name</td>
                                    <td class="text-left">description</td>
                                    <td >
                                        No
                                    </td>
                                    <!-- <td *ngIf='data.active==1'>
                                        Yes
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <span class="material-icons"
                                            data-toggle="modal" data-target="#staticBackdrop">
                                            edit
                                        </span>
                                    </td>
                                    <td class="text-left">name</td>
                                    <td class="text-left">description</td>
                                    <td >
                                        No
                                    </td>
                                    <!-- <td *ngIf='data.active==1'>
                                        Yes
                                    </td> -->
                                </tr><tr>
                                    <td>
                                        <span class="material-icons"
                                            data-toggle="modal" data-target="#staticBackdrop">
                                            edit
                                        </span>
                                    </td>
                                    <td class="text-left">name</td>
                                    <td class="text-left">description</td>
                                    <td >
                                        No
                                    </td>
                                    <!-- <td *ngIf='data.active==1'>
                                        Yes
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>

        <div class="side-pane col-md-5 pr-0">

            <div class="title">
                <!-- <h5  class="modal-title modal-title-content AvenirLTStd-Heavy text-white"
                    id="exampleModalLongTitle">
                    Edit Interface
                </h5> -->
                <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white"
                    id="exampleModalLongTitle">
                    Create {{lookupName}} Lookup
                </h5>

            </div>
            <div class="border-2">
                <div class="my-3 d-flex">
                    <label class="m-0 w-200">Name <span class="text-danger">*</span></label>
                    <div class="input-group input-section">
                        <input type="search" class="form-control input-text " placeholder="Name" aria-label="Your Name"
                     aria-describedby="basic-addon2"
                        tabindex="1"
                     >
                        <div class="break"></div>
                    </div>
                </div>
                <!-- <div *ngIf='name.invalid && submitted' class="text-danger ml-5">
                    Name is required
                </div> -->

                <!-- <div class="mb-3 d-flex">
                    <label class="m-0 w-200">Description</label>
                    <div class="input-group ">
                        <textarea rows="2" class="textarea-color form-control" placeholder="Description"

                      ></textarea>
                        <div class="break"></div>
                    </div>
                </div> -->

                <div class="my-3 d-flex">
                    <label class="m-0 w-200">Value <span class="text-danger">*</span></label>
                    <div class="input-group input-section">
                        <input type="search" class="form-control input-text " placeholder="Value" aria-label="Your Name"
                     aria-describedby="basic-addon2"
                        tabindex="1"
                     >
                        <div class="break"></div>
                    </div>
                </div>
                <!-- <div class="input-group input-section d-flex align-items-center">

                    <label class="m-0 pr-3 font-size-15">
                        Active
                    </label>
                    <div class="check-box-wrapper">
                        <div class="on-off-toggle">
                            <input class="on-off-toggle__input" id="bopis"
                                name='active'
                                type="checkbox"  />
                            <label for="bopis" class="on-off-toggle__slider"></label>
                        </div>
                    </div>

                </div> -->
                <div class="close-button justify-content-end">
                    <!-- <button type="submit" class="btn btn-inner btn-border" data-dismiss="modal">Create</button> -->
                    <!-- <button type="submit"
                        class="btn btn-inner btn-save btn-border" data-dismiss="modal">Save</button> -->

                    <button type="submit"
                        class="btn btn-inner btn-save btn-border" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>


    </div>
<!-- </div> -->
