<!-- <p>dashboard-chart works!</p> -->
<!-- <div class="dashboard-header"> -->
<!-- <app-header></app-header> -->
<!-- </div> -->
<!-- <div class="dashboard-inner-wrapper activity-inner-wrapper">
  <div class="d-flex ">
    <app-sidebar></app-sidebar> -->
<div class=" ">
  <div class="pb-4 pl-3 mt-2">
    <div class="filter-content d-flex justify-content-center px-3 align-items-end nav">

      <div class="my-3 mr-2 d-flex align-items-center ">
        <label class="mx-2 f-15 my-0">Activity Start Date</label>
        <div class="input-group input-section mw-127">
          <input type="text" class="form-control input-text " [maxDate]="activityEndDate" #ActivityStart="bsDatepicker"
            readonly bsDatepicker [(ngModel)]="activityStartDate" placeholder="MM/dd/yyyy">
          <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityStart.toggle()"></i>
        </div>

      </div>
      <div class="my-3 mr-2 d-flex align-items-center ">
        <label class="mx-2 f-15 my-0">Activity End Date</label>
        <div class="input-group input-section mw-127">
          <input type="text" class="form-control input-text " #ActivityEnd="bsDatepicker" [minDate]="activityStartDate"
            readonly bsDatepicker [(ngModel)]="activityEndDate" placeholder="MM/dd/yyyy">
          <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i>
        </div>
      </div>
      <div class="d-flex align-items-end my-3">
        <button class="btn-border  text-white px-3 mr-2 bg-blue">
          Reset</button>
        <button class="btn-border btn-green text-white px-3">
          Submit</button>
      </div>

    </div>
    <div class="sunburst-viz d-flex">
      <div id='canvas' class="mx-auto col-md-6 px-6 text-center my-2"></div>
      <div class="col-md-6">
        <canvas  baseChart [data]="pieChartData"
          [labels]="pieChartLabels" [plugins]="pieChartPlugins" [legend]="true" [options]="pieChartOptions" [colors]="pieChartColors"
          [chartType]="pieChartType"></canvas>
      </div>
    </div>

  </div>
</div>
<!-- </div>
</div> -->
