
<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Interface Static Value - {{interfaceName}} </h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th scope="col" class="sticky-top">Name</th>
              <th scope="col" class="sticky-top">Value</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of staicValuesList">
              <td>
                <span (click)="updateStaticValue(item)" class="material-icons" title="Edit">
                  edit
                </span>
              </td>
              <td>{{item.name}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>

        <p class="no-records text-center" *ngIf="staicValuesList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <form [formGroup]="staticvalueForm">
  <div class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{staticvalueForm.value.id==0?"Create":"Update"}} Interface Static Value  - {{interfaceName}}
      </h5>
    </div>
    <div class="border-2">
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Name <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="name" placeholder="Name"
            aria-label="Your Name" aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger">
          <div *ngIf="(formcontrols.name.errors?.required)  && formError">Name is required</div>
          <!-- <div *ngIf="(formcontrols.name.errors?.pattern)  && formError">Name Cannot start with space</div> -->

        </div>
        </div>
      </div>
      <div class="my-3 d-flex">
        <label class="m-0 w-200">Value <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" [trim]="'blur'" class="form-control input-text "    formControlName="value" placeholder="Value"
            aria-label="Your Name" aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="(formcontrols.value.errors?.required) && formError">
          <div>Value is required</div>
        </div>
        </div>
      </div>
      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Sort order <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="number" class="form-control input-text " formControlName="sortOrder" placeholder="Sort order"
            aria-label="Your Name" aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger"*ngIf="formcontrols.value.errors?.required && formError">
          <div>Sort order is required</div>
        </div>
        </div>
      </div>
      <div class="input-group input-section d-flex align-items-center mt-2">
        <label class="m-0 pr-3 font-size-15 w-135"> Active </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="bopis" name="active"(change)="onActivechange($event)"[checked]="staticvalueForm.value.active==1?true:false" type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>


      </div> -->
      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"(click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveInterfaceStaticValue()">{{staticvalueForm.value.id==0?"Create":"Save"}}</button>
      </div>
    </div>
  </div>
  </form>
</div>
