<!-- <app-header></app-header> -->

    <!-- <div class="d-flex h-100">
        <app-sidebar></app-sidebar> -->
        <div class="interface-container">

            <div class="d-flex justify-content-between align-items-center interface-wrapper nav">
                <h3>Export Completed Visits</h3>
                <div class="input-group search-content">
                    <input class="form-control" type="text" placeholder="Search ">
                    <span class="material-icons right-icon">
                        search
                    </span>
                </div>
            </div>
            <div class="table-container">
                <div class="table-filter">
                    <div class="d-flex nav justify-content-between align-items-center">


                        <div class="d-flex align-items-center justify-content-between nav">
                            <div class="filter-group d-flex align-items-center pr-0 mb-3" >
                                <span class="filter-icon mr-1 d-none-sm"><i class="fa fa-filter"></i></span>
                                <div class="d-flex align-items-center">
                                    <label class="m-0 d-none-sm">Interface</label>

                                    <div class="input-group ">
                                        <input class="form-control" type="text">
                                        <!-- <span class="material-icons left-icon">
                                            person
                                        </span> -->
                                    </div>
                                </div>

                            </div>
                            <div class="filter-group d-flex align-items-center pr-0 mb-3">
                                <!-- <span class="filter-icon mr-1"><i class="fa fa-filter"></i></span> -->

                                    <label class="m-0 space-nowrap d-none-sm">Start Date</label>

                                    <div class="input-group ">
                                        <input class="form-control" type="text" placeholder="MM/DD/YYYY">
                                        <!-- <span class="material-icons left-icon">
                                            person
                                        </span> -->
                                    </div>


                            </div>
                            <div class="filter-group d-flex align-items-center pr-0 mb-3">
                                <!-- <span class="filter-icon mr-1"><i class="fa fa-filter"></i></span> -->

                                    <label class="m-0 space-nowrap d-none-sm">End Date</label>

                                    <div class="input-group ">
                                        <input class="form-control" type="text" placeholder="MM/DD/YYYY">
                                        <!-- <span class="material-icons left-icon">
                                            person
                                        </span> -->
                                    </div>


                            </div>
                            <div class="filter-group d-flex align-items-center pr-0 mb-3">
                                <!-- <span class="filter-icon mr-1"><i class="fa fa-filter"></i></span> -->

                                    <label class="m-0 d-none-sm">Payor</label>

                                    <div class="input-group ">
                                        <input class="form-control" type="text">
                                        <!-- <span class="material-icons left-icon">
                                            person
                                        </span> -->
                                    </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="table-responsive data-table">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="sticky-top">Actions</th>
                                <th scope="col" class="sticky-top">Site</th>
                                <th scope="col" class="sticky-top">PS</th>
                                <th scope="col" class="sticky-top">DCS</th>
                                <th scope="col" class="sticky-top">Service</th>
                                <th scope="col" class="sticky-top">Schedule Begin Date Time</th>
                                <th scope="col" class="sticky-top">Schedule End Date Time</th>
                                <th scope="col" class="sticky-top">Reported Begin Date Time</th>
                                <th scope="col" class="sticky-top">Reported End Date Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="material-icons" data-toggle="modal" data-target="#staticBackdrop">
                                        edit
                                    </span>
                                </td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>12/5/2020</td>
                                <td>12/12/2020</td>
                                <td>12/3/2020</td>
                                <td>12/12/2020</td>

                            </tr>
                            <tr>
                                <td><span class="material-icons">
                                        edit
                                    </span></td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>
                                    <td>12/5/2020</td>
                                    <td>12/12/2020</td>
                                    <td>12/3/2020</td>
                                    <td>12/12/2020</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="material-icons" data-toggle="modal" data-target="#staticBackdrop">
                                        edit
                                    </span>
                                </td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>12/5/2020</td>
                                <td>12/12/2020</td>
                                <td>12/3/2020</td>
                                <td>12/12/2020</td>
                            </tr>
                            <tr>
                                <td><span class="material-icons">
                                        edit
                                    </span></td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>
                                    <td>12/5/2020</td>
                                    <td>12/12/2020</td>
                                    <td>12/3/2020</td>
                                    <td>12/12/2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <div class="modal fade p-0" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-container modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle">Edit
                    Export Completed Visits</h5>
                <button type="button" class="close m-0 close-button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-container">
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="Name" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="Start Date" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group input-section">
                    <input type="search" class="form-control input-text" placeholder="End Date" aria-label="Your Name"
                        aria-describedby="basic-addon2" tabindex="1">
                    <div class=" right-icon">
                    </div>

                </div>
                <div class="input-group ">

                    <textarea rows="2" class="textarea-color form-control" placeholder="Payor"></textarea>
                    <div class=" right-icon">

                    </div>

                </div>
                <!-- <div class="input-group input-section d-flex align-items-center">

                    <label class="m-0 pr-3 font-size-15">
                        Active
                    </label>
                    <div class="check-box-wrapper">
                        <div class="example">
                            <button type="button" class="btn btn-sm btn-toggle" data-toggle="button"
                                aria-pressed="false" autocomplete="off">
                                <div class="handle"></div>
                            </button>
                        </div>
                    </div>

                </div> -->
                <div class="close-button">
                    <button type="submit" class="btn btn-inner" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-inner btn-save" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
