
    <div class="px-2 mt-2">
      <div class="d-flex filter-content reconcilation-filters pb-2">
        <div class="row m-0 ">
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <p-dropdown  [resetFilterOnHide]="true" [options]="interfaceList" (onChange)="filterChange()" [(ngModel)]="interfaceId"
                optionValue="id" appendTo="body" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
                placeholder="Select Interface" class="w-100" styleClass="w-100"></p-dropdown>
              <label for="inputtext">Interface <span class="text-danger" >*</span></label>
            </span>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12 d-flex align-items-center">

            <span class="p-float-label w-100">
              <p-dropdown  [resetFilterOnHide]="true" [options]="psFilter" [(ngModel)]="psFilterselected" [virtualScroll]="true" [virtualScrollItemSize]="30"
                optionValue="psId" appendTo="body" optionLabel="psName" [filter]="true" filterBy="psName" [showClear]="true"
                placeholder="Select PS" class="w-100" styleClass="w-100">
                <ng-template let-caller pTemplate="item">
                  <div class="country-item">
                      <div [ngClass]="{'inActive':caller.active==0}">{{caller.psName}} </div>
                  </div>
              </ng-template>
              </p-dropdown>
              <label for="inputtext">PS</label>
            </span>
            <p-checkbox [binary]="true" [(ngModel)]="includeInActivePS" (onChange)="onIncludeInactiveChange($event.checked,'PS')" title="Incluce In-Active" name="groupname" value="val1" class="ml-2" ></p-checkbox>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12 d-flex align-items-center">

            <span class="p-float-label w-100">
              <p-dropdown  [resetFilterOnHide]="true" [options]="dcsFilter" [(ngModel)]="dcsFilterSelected" [virtualScroll]="true" [virtualScrollItemSize]="30"
                optionValue="dcsId" appendTo="body" optionLabel="dcsName" [filter]="true" filterBy="dcsName"
                [showClear]="true" placeholder="Select DCS" class="w-100" styleClass="w-100">
                <ng-template let-caller pTemplate="item">
                  <div class="country-item">
                      <div [ngClass]="{'inActive':caller.active==0}">{{caller.dcsName}} </div>
                  </div>
              </ng-template>

              </p-dropdown>
              <label for="inputtext">DCS</label>
            </span>
            <p-checkbox  [(ngModel)]="includeInActiveDCS" [binary]="true" (onChange)="onIncludeInactiveChange($event.checked,'DCS')" title="Incluce In-Active" name="groupname2"  class="ml-2" ></p-checkbox>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <p-dropdown  [resetFilterOnHide]="true" [options]="serviceFilter" optionValue="serviceId" [(ngModel)]="serviceFilterSelected" appendTo="body"
                optionLabel="serviceName" [filter]="true" filterBy="serviceName" [showClear]="true"
                placeholder="Select Service " class="w-100" styleClass="w-100"></p-dropdown>
              <label for="inputtext">Service</label>
            </span>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <p-dropdown  [resetFilterOnHide]="true" [options]="payorFilter" [(ngModel)]="payorId" appendTo="body" optionLabel="payerName"
                optionValue="payerId" [filter]="true" filterBy="payerName" [showClear]="true"
                placeholder="Select Payor/Plan " class="w-100" styleClass="w-100"></p-dropdown>
              <label for="inputtext">Payor/Plan</label>
            </span>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <input  style="width: 91% !important;"  type="text" [(ngModel)]="startDate" [maxDate]="endDate" class=" w-100"
                bsDatepicker placeholder="MM/DD/YYYY" pInputText>
              <label for="inputtext">Start Date</label>
            </span>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <input  style="width: 91% !important;"  type="text" class="" [(ngModel)]="endDate" class="w-100" [minDate]="startDate"
                 bsDatepicker placeholder="MM/DD/YYYY" pInputText>
              <label for="inputtext">End Date  </label>
            </span>
          </div>
          <div class="field pt-4 col-lg-3 col-md-4 col-12">
            <span class="p-float-label">
              <p-dropdown  [resetFilterOnHide]="true" [options]="officeList" [(ngModel)]="officeId"
                optionValue="officeId" appendTo="body" optionLabel="officeName" [filter]="true" filterBy="officeName" [showClear]="true"
                placeholder="Select site" class="w-100" styleClass="w-100"></p-dropdown>
              <label for="inputtext">Site</label>
            </span>
          </div>
        </div>
        <div class="filter-content d-flex justify-content-between  px-3  align-items-end nav">
          <button class="btn-border btn-green text-white px-3 py-2" (click)='onGo()'> Go</button>
        </div>
      </div>
      <div class="table-reconcilation mt-2 box-shadow">
        <table class="table  ">
          <thead style="z-index:995 ;" class="thead-dark sticky-top">
            <tr>

              <th colspan="6" class="border-right"></th>
              <th colspan="2" class="border-right text-center">
                <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
              </th>
              <th colspan="2" class="border-right text-center">
                <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
              </th>
              <th colspan="4" class="border-right text-center">
                Export Details
              </th>
            </tr>
            <tr >

              <th><input class="mr-2" [checked]="visiitDetailsCheckedAll" (change)="onCheckAll($event)" type="checkbox"></th>
              <th class="border-right" scope="col"><span class="d-flex">Site</span></th>
              <th class="border-right ps-th" scope="col">
                <i (click)="sortorder('ps','asc')" [ngClass]="currentorderby=='ps' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-1">PS</span>
                <i (click)="sortorder('ps','desc')" [ngClass]="currentorderby=='ps' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">DCS</th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('payor','asc')" [ngClass]="currentorderby=='payor' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Payor</span>
                <i (click)="sortorder('payor','desc')" [ngClass]="currentorderby=='payor' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">Service</th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('scheduled start date','asc')" [ngClass]="currentorderby=='scheduled start date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Start</span>
                <i (click)="sortorder('scheduled start date','desc')" [ngClass]="currentorderby=='scheduled start date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('scheduled end date','asc')" [ngClass]="currentorderby=='scheduled end date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">End</span>
                <i (click)="sortorder('scheduled end date','desc')" [ngClass]="currentorderby=='scheduled end date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('reported start date','asc')" [ngClass]="currentorderby=='reported start date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Start</span>
                <i (click)="sortorder('reported start date','desc')" [ngClass]="currentorderby=='reported start date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('reported end date','asc')" [ngClass]="currentorderby=='reported end date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">End</span>
                <i (click)="sortorder('reported end date','desc')" [ngClass]="currentorderby=='reported end date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col" style="white-space: nowrap;">
                <i (click)="sortorder('batch','asc')" [ngClass]="currentorderby=='batch' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Batch #</span>
                <i (click)="sortorder('batch','desc')" [ngClass]="currentorderby=='batch' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">Exported On</th>
              <th class="border-right" scope="col">Request/Response Message/Corrections</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let export of resubmitTransactionList;let i= index">
              <td><input type="checkbox" [checked]="visiitDetails.includes(export.visitDetailsId)" (change)="onvisitCheck(export.visitDetailsId,$event)" ></td>
              <td>{{export.siteCode}}</td>
              <td>{{export.psName}}</td>

              <td>{{export.dcsName}}</td>
              <td>{{export.interfacePayer}}</td>
              <td>{{export.procedureCode}}</td>
              <td>{{export.scheduledStartDateTime}}</td>
              <td>{{export.scheduledEndDateTime}}</td>
              <td>{{export.reportedStartDateTime}}</td>
              <td>{{export.reportedEndDateTime}}</td>
              <td class="text-center">{{export?.batchNumber}}</td>
              <td>{{export.exportedOn}}</td>
              <td>
                <div class="d-flex">
                  <i class="far fa-arrow-alt-circle-up mx-2 f-20" title="Request"
                    (click)="getExportedDataDetails(export,recordDetails)"></i>
                  <i class="far fa-arrow-alt-circle-down mx-2 f-20" title="Response" (click)="onresponse(response,export.responseMessage)"></i>
                  <i class="far fa fa-compress mx-2 f-20" title="Corrections" (click)="getCorrectionFileds(correction,export)" ></i>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <p *ngIf="resubmitTransactionList.length==0" class="no-records text-center">{{this.appliedInterfaceId ==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>



      </div>
      <div class="pagination-wrapper table-responsive justify-content-between d-flex nav mt-2">
        <div class="">
          <button *ngIf="resubmitTransactionList.length>0" [ngStyle]="visiitDetails.length==0?{'cursor': 'not-allowed'}:''" [disabled]="visiitDetails.length==0" (click)="repushRejectedRecords()" class="bg-blue-header btn-border text-white  px-2 py-2">Repush</button>
          <button *ngIf="resubmitTransactionList.length>0" [ngStyle]="visiitDetails.length==0?{'cursor': 'not-allowed'}:''" [disabled]="visiitDetails.length==0" (click)="dismissRejectedRecords()" class="bg-blue-header btn-border text-white ml-2  px-2 py-2">Dismiss</button>

        </div>
        <div class="pagination justify-content-end pagination-button">
          <div class="d-flex align-items-center">
            <h6 class="mx-3">Per page</h6>
            <select [(ngModel)]="perPage" (change)="pageChange()" class="border-0 box-shadow mr-3">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
              <option [ngValue]="125">125</option>
              <option [ngValue]="150">150</option>
            </select>
          </div>
          Showing {{totalCount>0?lowerBound:totalCount}} to {{this.upperBound<=totalCount ?this.upperBound:this.totalCount}} of {{totalCount}}
          <div class="page-item">
            <button (click)="prevpage()"  [disabled]="lowerBound==1" type="button" class="btn-green btn-border text-white mx-2">
              Prev
            </button>
          </div>
          <div class="page-item">
            <button (click)="nextPage()" [disabled]="upperBound>=totalCount" type="button" class="btn-green btn-border text-white mx-2">
              Next
            </button>
          </div>
        </div>
        <!-- Pagination end  -->
      </div>
    </div>


<ng-template #notFoundTemplate let-notFound>
  <div style="color: black" [innerHTML]="notFound"></div>
</ng-template>



<ng-template #response>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Response Message </h5>
        <button type="button" class="close text-white" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3">
      {{responseMessage}}
      </div>

    </ng-template>

 <ng-template #correction>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Corrections</h5>
    <button type="button" class="close text-white" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <table class="table mt-3 box-shadow">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaintlistArrayDisplay;let i=index">
          <td><input type="checkbox" [(ngModel)]="complaintlistArrayDisplay[i].checked" [checked]="complaint.checked==1"(change)="correctionChecked(i,$event,false) " ></td>
          <td scope="row">{{complaint.interfaceColumnName}}</td>
          <td><input *ngIf="complaint.checked==1" type="text" placeholder="Value" [(ngModel)]="complaintlistArrayDisplay[i].newColumnValue">
          <p *ngIf="complaint.checked==0">{{complaint.interfaceColumnValue}}</p></td>
        </tr>

      </tbody>
    </table>
    <p *ngIf="complaintlistArrayDisplay.length==0" class="no-records text-center">No Records Found</p>

    <span class="mr-5 ml-2"><input type="checkbox"(change)="correctionChecked(null,$event,true)" > Resubmit all records  </span>
  </div>


  <!-- <div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo non quas ratione similique excepturi aperiam
    ducimus odit sed ullam ipsum porro nam laboriosam asperiores quidem officia enim eaque, illum aliquid. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quam qui odio nulla quidem! Dolorum, adipisci quidem
    vel officia eius iste magnam? Enim, quaerat est tempore iure consequatur similique. Exercitationem Lorem ipsum
    dolor sit, amet consectetur adipisicing elit. Itaque alias cum esse quibusdam, molestias quasi deserunt illum
    iusto nam iure laudantium eaque maxime repudiandae adipisci, numquam sint dicta officia at! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Repellendus, voluptates, dolore sunt quae vitae nihil repellat id maiores
    natus ipsam, maxime commodi vel hic doloribus molestiae voluptatem quasi voluptate laborum. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Accusamus soluta similique, quidem impedit blanditiis magni consectetur
    sapiente atque, debitis iusto, veniam ad quis sint eaque voluptate animi neque adipisci quisquam. </div> -->
  <div class="modal-footer justify-content-center">
    <button (click)="oncorrectionSave()" type="button" style="background-color: #76bd43;" class="btn btn-primary ">{{this.correctionSaveButton?'Save':'Close'}}</button>
  </div>
 </ng-template>

 <ng-template #recordDetails>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Record Details</h4>
      <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="color-white">&times;</span>
  </button>
  </div>
  <div class="modal-body">
      <div class="">
          <h3 class="m-0 table-reconcile-header">Details</h3>
          <div class="table-responsive border box-shadow height-67 reconcilation-table">
              <table class="table ">
                  <thead>
                      <tr>
                          <th class="bg-dark color-white border-right">
                              Column Name
                          </th>
                          <th class="bg-dark color-white">
                              Value
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="" *ngFor="let item of visitRequestData">
                          <td class=" border-right">
                              <div class="border-left">{{item.interfaceElementName}}</div>
                          </td>
                          <td class="">
                              <div class="border-right">{{item.requestValue}}</div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
          </div>
      </div>

  </div>
</ng-template>
