<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="ball-spin" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<app-header *ngIf="!login.isActive"></app-header>
<div *ngIf="!login.isActive" class="activity-wrapper evv-dashboard-wrapper">
  <div class="dashboard-inner-wrapper activity-inner-wrapper ">
    <div class="d-flex  mh-91">
      <app-sidebar></app-sidebar>
      <router-outlet *ngIf="!login.isActive"></router-outlet>

    </div>
  </div>
</div>
<router-outlet *ngIf="login.isActive"></router-outlet>


<!--  for session Timeout-->
<div class="timepopup">
  <ng-template #template>
    <div class="modal-header">
      <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsmodelRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{idleState}}
      <div class="row mrgbtm d-flex mt-3">
        <div class="px-3">
          <button type="button" (click)="logout()" class="btn btn-danger btn common-table-btn ">Logout</button>
        </div>
        <div class="px-2">
          <button type="button" (click)="stay()" class="btn btn-success btn common-table-btn ">Stay</button>
        </div>
      </div>
    </div>

  </ng-template>
</div>








<span style="pointer-events: none;" routerLink="/login" routerLinkActive #login="routerLinkActive">
</span>
