.sidebar-container {
  .sublist-sub-items {
    &:hover{
        .dropdown-submenu{
            display: block;
            left: 274px !important;
            top: 40px;
        }
        .laevv-submenu{

          display: block;

          left: 274px !important;

          top: 240px;

        }
    }
  }
}
.dropdown-submenu{
    display: none;
}
