<div class="sidebar-container">
    <ul class="p-0 m-0">
        <li class="sidebar-listcontent">
            <div class="btn-group dropright w-100 d-flex align-items-center justify-content-center">
                <a class="list-items text-center" href="javascript:void(0)">
                    <div class="material-icon-sidebar">
                        <span class="material-icons mr-1">
                            sync_alt
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-listitems dropdown-listitems-cont">
                    <li routerLink="/dashboard" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="mr-2"><i class="fas fa-sliders-h"></i></span> Dashboard
                    </li>
                    <li  class="sublist-items  sublist-sub-items">
                        <span class="mr-2"><i class="fas fa-history"></i></span> Reconciliation
                        <ul class="dropdown-submenu dropdown-listitems dropdown-menu w-100">
                            <li routerLink="/reconcilation" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-list"></i></span> Completed Visits
                            </li>
                            <li routerLink="/reconcilation-schedule" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-list"></i></span> Scheduled Visits
                            </li>
                            <li routerLink="/reconciliation-ps" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-user"></i></span>  PS
                            </li>
                            <li routerLink="/reconciliation-dcs" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-user"></i></span> DCS
                            </li>
                        </ul>
                    </li>
                    <li  class="sublist-items  sublist-sub-items">
                        <span class="material-icons mr-2">
                            point_of_sale
                        </span> Resubmit Transaction
                        <ul routerLinkActive="active" style="top: 80px;" class="dropdown-submenu dropdown-listitems dropdown-menu w-100">
                            <li routerLink="/resubmit-transaction" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-list"></i></span> Completed Visits
                            </li>
                            <li routerLink="/resubmit-scheduled" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-list"></i></span> Scheduled Visits
                            </li>
                            <li routerLink="/resubmit-ps" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-user"></i></span>  PS
                            </li>
                            <li routerLink="/resubmit-dcs" routerLinkActive="active" class="sublist-items sublist-wrapper">
                                <span class="mr-2"><i class="fas fa-user"></i></span> DCS
                            </li>
                        </ul>
                    </li>
                    <li  class="sublist-items  sublist-sub-items">
                      <span class="material-icons mr-2">
                          point_of_sale
                      </span> Pending Transactions
                      <ul routerLinkActive="active" style="top: 120px;" class="dropdown-submenu dropdown-listitems dropdown-menu w-100">
                          <li routerLink="/pending-completed" routerLinkActive="active" class="sublist-items sublist-wrapper">
                              <span class="mr-2"><i class="fas fa-list"></i></span> Dashboard
                          </li>
                      </ul>
                  </li>
                    <li routerLink="/analytics" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            dashboard
                        </span> Metrics Dashboard
                    </li>
                    <li routerLink="/metrics-summary" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            summarize
                        </span> Metrics Summary
                    </li>
                    <li routerLink="/export-evv" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            text_snippet
                        </span> Download EVV Data
                    </li>
                    <li  class="sublist-items  sublist-sub-items">
                      <span class="mr-2"><i class="fas fa-history"></i></span> LAEVV
                      <ul class="dropdown-submenu laevv-submenu dropdown-listitems dropdown-menu w-100">
                    <li routerLink="/laevv-activity-log" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            text_snippet
                        </span>  Activity Log
                    </li>
                    <li routerLink="/laevv-summary-log" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            text_snippet
                        </span>  Summary
                    </li>

                    <li routerLink="/client-file-from-sri" routerLinkActive="active" class="sublist-items sublist-wrapper">
                      <span class="material-icons mr-2">
                          text_snippet
                      </span>  Client & PA files form SRI
                  </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="sidebar-listcontent">
            <div class="btn-group dropright w-100 d-flex align-items-center justify-content-center">

                <a class="list-items text-center" href="javascript:void(0)">
                    <div class="material-icon-sidebar">
                        <span class="material-icons mr-1">
                            build
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-listitems dropdown-listitems-cont">
                    <li routerLink="/interface" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            bookmark
                        </span>
                        Interface
                    </li>
                    <li routerLink="/interface-job-list" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            view_list
                        </span>
                        Interface Jobs
                    </li>
                    <li routerLink="/dbms-jobs" routerLinkActive="active" class="sublist-items sublist-wrapper">
                        <span class="material-icons mr-2">
                            description
                        </span>
                        DBMS Scheduler Jobs
                    </li>
                    <!-- <li routerLink="/interface-jobs" routerLinkActive="active" class="sublist-items sublist-wrapper">
                      <span class="mr-2"><i class="fas fa-clipboard-list"></i></span> Interface Jobs
                     </li> -->
                </ul>
            </div>
        </li>
    </ul>
</div>
