<!-- <p>review works!</p> -->
<div class="modal-header">
  <h4 class="modal-title pull-left AvenirLTStd-Heavy"> {{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body activity-inner-wrapper">
  <div class="filter-content reconcilation-filters pb-2" *ngIf="pa">
    <div class="row m-0 w-100">
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">UID Client</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">Procedure Code</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">PABegin</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">PAEnd</label>
        </span>
      </div>
      <div class="col-lg-2 pl-0" >
        <div class="d-flex align-items-center" style="margin-top: 22px;">
          <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-content reconcilation-filters pb-2" *ngIf="client">
    <div class="row m-0 w-100">
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">Last Name</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">First Name</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">UID Client</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12" >
        <span class="p-float-label">
          <input type="text" class=" w-100" pInputText>
          <label for="inputtext">SSN</label>
        </span>
      </div>
      <div class="col-lg-2 pl-0" >
        <div class="d-flex align-items-center" style="margin-top: 22px;">
          <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive box-shadow  mb-3" style="height: calc(100vh - 261px);">
    <table class="table  mb-0 visit-table">
      <thead class="thead-dark">
        <tr *ngIf="pa">
          <th class="edit-option border-right sticky-top"></th>
          <th class="edit-option border-right sticky-top">#</th>
          <th class="edit-option border-right sticky-top">TRANSCTION TYPE</th>
          <th class="edit-option border-right sticky-top">UID_CLIENT</th>
          <th class="edit-option border-right sticky-top">PANUM</th>
          <th class="edit-option border-right sticky-top">TARGET</th>
          <th class="edit-option border-right sticky-top">MEDICATED</th>
          <th class="edit-option border-right sticky-top">PABEGIN</th>
          <th class="edit-option border-right sticky-top">PAEND</th>
          <th class="edit-option border-right sticky-top">PROCCODE</th>
          <th class="edit-option border-right sticky-top">AMOUNT</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT2</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT3</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT4</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT5</th>
          <th class="edit-option border-right sticky-top">AUTHUNIT6</th>
        </tr>
        <tr *ngIf="service">
          <th class="edit-option border-right sticky-top">UID SERV</th>
          <th class="edit-option border-right sticky-top">Time</th>
          <th class="edit-option border-right sticky-top">Time Deduc</th>
          <th class="edit-option border-right sticky-top">Message</th>
        </tr>
        <tr *ngIf="client">
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            Transaction Type
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            LName
          </th>
          <th class="AvenirLTStd-Heavy border-right sticky-top">
            FName
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            MI
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Suffix
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Street
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Apartement
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            City
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            State
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Zip Code
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Home Phone
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            Other Phone
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            SIG-Others
          </th>
          <th class="AvenirLTStd-Heavy border-right  sticky-top">
            SIG-Street
          </th>
          <th class="AvenirLTStd-Heavy  sticky-top">
            SIG-Apt
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="pa || service">
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            1
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium" *ngIf="pa">
            0
          </td>
        </tr>
        <!-- <tr *ngIf="client"> -->
          <!-- <td> -->

          <!-- </td> -->
        <!-- </tr> -->

        <!-- <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            3
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            4
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            5
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr>
        <tr>
          <td class="border-right AvenirLTStd-Medium">
            <span class="material-icons-outlined text-danger">delete</span>
          </td>
          <td class="border-right AvenirLTStd-Medium">
            7
          </td>
          <td class="border-right AvenirLTStd-Medium">
            New

          </td>
          <td class="border-right AvenirLTStd-Medium">
            1900534214.293OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            71434000386
          </td>
          <td class="border-right AvenirLTStd-Medium">
            OAASCCW
          </td>
          <td class="border-right AvenirLTStd-Medium">
            2589794326700
          </td>
          <td class="border-right AvenirLTStd-Medium">
            02/14/19
          </td>
          <td class="border-right AvenirLTStd-Medium">
            01/13/20
          </td>
          <td class="border-right AvenirLTStd-Medium">
            S5125
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0.00
          </td>
          <td class="border-right AvenirLTStd-Medium">
            6784
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
          <td class="border-right AvenirLTStd-Medium">
            0
          </td>
        </tr> -->
      </tbody>
    </table>
    <p *ngIf="client" class="no-records text-center AvenirLTStd-Heavy">
      No Records Found
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end pagination nav pb-2 mt-1">
    <!-- <button class="btn-border btn-green text-white px-3 py-2 bg-dark"> Close</button> -->
    <div class="pr-2 pagination-add-close  justify-content-end">
      <span class="footer-text">Per Page</span>
      <select class="pagination-select border-0">
        <option>
          10
        </option>`
      </select>
      <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
      <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
      <button type="button " class="pagination-btn ml-0 " id="next-btn"
        class="pagination-btn btn-green ml-2 color-white">Next</button>
    </div>
  </div>
</div>
