<div class="modal-header">
  <h4 class="modal-title pull-left AvenirLTStd-Heavy"> {{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-white p-0">
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="f-15 AvenirLTStd-Heavy">Unprocessed</span>
      </ng-template>
      <div class="activity-inner-wrapper">
        <div class="filter-content reconcilation-filters pb-2">
          <div class="row m-0 w-100">
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].lastName">
              <span class="p-float-label">
                <input type="text" class=" w-100" pInputText>
                <label for="inputtext">Last Name</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].firstName">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">First Name </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].UIDClient">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">UID Client </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].ssn">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">SSN</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].paNumber">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">PA Number </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].procedureCode">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Procedure Code </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].medicalId">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Medical ID </label>
              </span>
            </div>
            <div class="col-lg-2 pl-0">
              <div class="d-flex align-items-center" style="margin-top: 22px;">
                <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive box-shadow mb-3" style="height: calc(100vh - 310px);">
          <table class="table  mb-0 visit-table">
            <thead class="thead-dark">
              <tr *ngIf="client">
                <!-- <th class="edit-option border-right sticky-top"></th> -->
                <th class="edit-option border-right sticky-top"></th>
                <th class="edit-option border-right sticky-top"></th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  LName
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  FName
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  MI
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Suffix
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Street
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Apartement
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  City
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  State
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Zip Code
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Home Phone
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Other Phone
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  SIG-Others
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  SIG-Street
                </th>
                <th class="AvenirLTStd-Heavy  sticky-top">
                  SIG-Apt
                </th>
              </tr>
              <tr *ngIf="pa">
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  UID Client
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  PANUM
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Target
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  MEDICAID
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PABEGIN
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PAEND
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PROCCODE
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AMOUNT
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT2
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT3
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT4
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT5
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <td class="border-right border-bottom text-center">
                  <p-radioButton></p-radioButton>
                </td> -->
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  <span class="material-icons-outlined cursor-pointer text-danger">
                    delete_outline
                  </span>
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  1
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Update
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Adams
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Jemani
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  D
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  1518 Holly Drive
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Opelousas
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  LA
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  70570
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  3376580638
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium" *ngIf="client">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium" *ngIf="client">

                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="client">

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-center justify-content-end pagination nav mr-0 pb-1  mt-1">
          <div class="pr-2 pagination-add-close  justify-content-end">
            <span class="footer-text">Per Page</span>
            <select class="pagination-select border-0">
              <option>
                10
              </option>`
            </select>
            <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
            <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
            <button type="button " class="pagination-btn ml-0 " id="next-btn"
              class="pagination-btn btn-green ml-2 color-white">Next</button>
          </div>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-between mt-2">
          <button class="btn-border btn-green text-white px-3 py-2 bg-dark"> Close</button>
          <button class="btn-border btn-green text-white px-3 py-2"> Process</button>
        </div> -->
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="f-15 AvenirLTStd-Heavy">Processed</span>
      </ng-template>
      <!-- tab 2 code  -->
      <div class="activity-inner-wrapper">
        <div class="filter-content reconcilation-filters pb-2">
          <div class="row m-0 w-100">
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].lastName">
              <span class="p-float-label">
                <input type="text" class=" w-100" pInputText>
                <label for="inputtext">Last Name</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].firstName">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">First Name </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].UIDClient">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">UID Client </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].ssn">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">SSN</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].paNumber">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">PA Number </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].procedureCode">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Procedure Code </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].medicalId">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Medical ID </label>
              </span>
            </div>
            <div class="col-lg-2 pl-0">
              <div class="d-flex align-items-center" style="margin-top: 22px;">
                <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive box-shadow mb-3" style="height: calc(100vh - 310px);">
          <table class="table  mb-0 visit-table">
            <thead class="thead-dark">
              <tr *ngIf="client">
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  LName
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  FName
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  MI
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Suffix
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Street
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Apartement
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  City
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  State
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Zip Code
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Home Phone
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Other Phone
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  SIG-Others
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  SIG-Street
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-Apt
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-City
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-State
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-Zip
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-Hphone
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SIG-Ophone
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  SSN
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Target
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Birth Date
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Sex
                </th>
              </tr>
              <tr *ngIf="pa">
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  UID Client
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  PANUM
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Target
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  MEDICAID
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PABEGIN
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PAEND
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PROCCODE
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AMOUNT
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT2
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT3
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT4
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  AUTHUNIT5
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Update
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Adams
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Jemani
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  D
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  1518 Holly Drive
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Opelousas
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  LA
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  70570
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  3376580638
                </td>

                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  06/24/1984
                </td>
                <td class="border-bottom  AvenirLTStd-Medium">
                  1
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  06/24/1984
                </td>
                <td class="border-bottom  AvenirLTStd-Medium">
                  1
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
                <td class="border-bottom  AvenirLTStd-Medium" *ngIf="pa">
                  test
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-center justify-content-end pagination nav mr-0 pb-1  mt-1">
          <div class="pr-2 pagination-add-close  justify-content-end">
            <span class="footer-text">Per Page</span>
            <select class="pagination-select border-0">
              <option>
                10
              </option>`
            </select>
            <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
            <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
            <button type="button " class="pagination-btn ml-0 " id="next-btn"
              class="pagination-btn btn-green ml-2 color-white">Next</button>
          </div>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-between mt-2">
          <button class="btn-border btn-green text-white px-3 py-2 bg-dark"> Close</button>
        </div> -->
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="f-15 AvenirLTStd-Heavy">Error Log</span>
      </ng-template>
      <!-- tab 3 code  -->
      <div class="activity-inner-wrapper">
        <div class="filter-content reconcilation-filters pb-2">
          <div class="row m-0 w-100">
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].lastName">
              <span class="p-float-label">
                <input type="text" class=" w-100" pInputText>
                <label for="inputtext">Last Name</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-3 col-md-4 col-12" *ngIf="filter[0].firstName">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">First Name </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].UIDClient">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">UID Client </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].ssn">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">SSN</label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].paNumber">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">PA Number </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].procedureCode">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Procedure Code </label>
              </span>
            </div>
            <div class="field pt-4 col-lg-2 col-md-4 col-12" *ngIf="filter[0].medicalId">
              <span class="p-float-label">
                <input type="text" class="w-100" pInputText>
                <label for="inputtext">Medical ID </label>
              </span>
            </div>
            <div class="col-lg-2 pl-0">
              <div class="d-flex align-items-center" style="margin-top: 22px;">
                <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive box-shadow mb-3" style="height: calc(100vh - 310px);">
          <table class="table  mb-0 visit-table">
            <thead class="thead-dark">
              <tr *ngIf="client">
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  LName
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  FName
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  SSN
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Open
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Closed
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  UID-Client
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Medical id
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Error Message
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Error Date
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Update User
                </th>
              </tr>
              <tr *ngIf="pa">
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  Transaction Type
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  UID Client
                </th>
                <th class="AvenirLTStd-Heavy border-right sticky-top">
                  PANUM
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  MEDICAID
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PABEGIN
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PAEND
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  PROCCODE
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Error Message
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Error Date
                </th>
                <th class="AvenirLTStd-Heavy border-right  sticky-top">
                  Updated User
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Update
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Sonnier
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Kervis
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  438020542
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  07/13/2022
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">

                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  2284121609LTPCS
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  7769997123315
                </td>
                <td class="border-right border-bottom  AvenirLTStd-Medium">
                  Cannot be processed since there exits a previous record with UID-Client 2284121609LTPCS OR SSN
                  438020542 which is not yet processed
                </td>
                <!-- <td class="border-right border-bottom  AvenirLTStd-Medium">
                  08/05/2022 11.30 PM
                </td> -->
                <td class="border-bottom  AvenirLTStd-Medium">
                  JOB
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-center justify-content-end pagination nav mr-0 pb-1  mt-1">
          <div class="pr-2 pagination-add-close  justify-content-end">
            <span class="footer-text">Per Page</span>
            <select class="pagination-select border-0">
              <option>
                10
              </option>`
            </select>
            <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
            <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
            <button type="button " class="pagination-btn ml-0 " id="next-btn"
              class="pagination-btn btn-green ml-2 color-white">Next</button>
          </div>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-between mt-2">
          <button class="btn-border btn-green text-white px-3 py-2 bg-dark"> Close</button>

        </div> -->
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
