<div class="row">
    <div class="col-md-7 pr-0">
      <div class="border box-shadow">
        <div class="data-table-header d-flex justify-content-between align-items-center ">
          <h5 class="m-0 text-white">DCS Provider Details - {{interfaceName}} </h5>
        </div>
        <div class="p-2">
          <div class="table-responsive data-table" style="height: 72vh;">
            <table class="table">
              <thead>
                <tr class="no-wrap" style="
                white-space: nowrap;">
                  <th scope="col" class="w-60 sticky-top"></th>
                  <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
                  <th scope="col" class="sticky-top">Office</th>
                  <th scope="col" class="sticky-top">DCS</th>
                  <th scope="col" class="sticky-top">Provider ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of dcsProviderDetailsList" style="
                white-space: nowrap;">
                  <td>
                    <span (click)="updateProvideForm(doc)" class="material-icons" title="Edit">
                      edit
                    </span>
                  </td>
                  <td>{{doc.office}}</td>
                  <td>{{doc.dcs}}</td>
                  <td>{{doc.providerId}}</td>

                </tr>
              </tbody>
            </table>

            <p class="no-records text-center" *ngIf="dcsProviderDetailsList.length==0">No Records Found</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 pr-0">
      <form [formGroup]="dcsproviderForm">
        <div class="create-wrapper">
          <div class="title">
            <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
               {{dcsproviderForm.value.id==0?'Create':'Update'}} DCS Provider Details - {{interfaceName}}
            </h5>
          </div>
          <div class="border-2">

            <!-- <div class="my-3 d-flex">
            <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
            <div class="input-group input-section">
              <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
                aria-describedby="basic-addon2" tabindex="1">
              <div class="break"></div>
            </div>
          </div> -->

            <div class="d-flex align-items-center justify-content-between my-3">
              <h6 class="">Office <span class="text-danger">*</span></h6>
              <div class=" ">
                <!-- <select class="form-control w-275" formControlName="officeId">
                  <option [ngValue]="null">Select</option>
                  <option [ngValue]="1">Dataset1</option>
                </select> -->
                <ng-select placeholder="Select" [items]="officeLookup" (change)="onOfficeChange(true)" bindLabel='officeName' bindValue='officeId'
                              formControlName='officeId' class="w-235">
                            </ng-select>
                <div class="text-danger " *ngIf="formcontrols.officeId.errors?.required &&formError">
                Office is required
              </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between my-3">
              <h6 class=" ">DCS <span class="text-danger">*</span></h6>
              <div class=" ">
                <!-- <select class="form-control w-275" formControlName="payorPlan">
                  <option [ngValue]="null">Select</option>
                  <option [ngValue]="1">Dataset1</option>
                </select> -->
                <ng-select  placeholder="Select" [items]="dcsList" bindLabel='dcs' bindValue='dcsId'
                formControlName='dcsId' class="w-235">
              </ng-select>
                <div class="text-danger " *ngIf="formcontrols.dcsId.errors?.required &&formError">
                DCS is required
              </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between my-3">
              <h6 class=" ">Provider ID <span class="text-danger">*</span></h6>
              <div class=" ">
                <!-- <select class="form-control w-275" formControlName="payorPlan">
                  <option [ngValue]="null">Select</option>
                  <option [ngValue]="1">Dataset1</option>
                </select> -->
                <ng-select  placeholder="Select" [items]="providerIdList" bindLabel='providerIdLable' bindValue='providerId'
                formControlName='providerId' class="w-235">
              </ng-select>
                <div class="text-danger " *ngIf="formcontrols.providerId.errors?.required &&formError">
                  Provider ID is required
              </div>
              </div>
            </div>



            <div class="close-button justify-content-end">
              <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal" (click)="createForm()">Cancel</button>
              <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveDCSProviderDetails()">{{dcsproviderForm.value.id==0?'Create':'Save'}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
