<div class="row m-0 ">
    <div class="table-container col-md-12  mt-2">
        <div class="border">
            <div class="data-table-header d-flex justify-content-between align-items-center">
                <h5 class="m-0 text-white">DBMS Scheduler Jobs  </h5>
                <button  (click)="getInterfaceSchedulerJobs()" class="btn-border btn-green text-white px-3 py-2"> Refresh</button>

            </div>
            <div class="p-2 row m-0">
                <div class=" col-12 pl-0">
                    <div style="height: 78vh;" class="table-responsive data-table ">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th scope="col" class=" sticky-top text-left pl-3">Job Name</th>
                                    <th scope="col" class=" sticky-top text-left pl-3">Job Time</th>
                                       <th scope="col" class=" sticky-top text-left pl-3">Procedure Name</th>
                                       <th scope="col" class=" sticky-top text-left pl-3">Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of schedulerJobsList" >
                                  <td style="width: 115px;">
                                    <button [ngStyle]="!isJobsButtonEnabled?{'cursor': 'not-allowed'}:''" [disabled]="!isJobsButtonEnabled" [ngClass]="{'disabled':!isJobsButtonEnabled}" (click)="runSchedulerJob(item.jobName)" class="btn-border btn-green text-white px-3 py-2"> Run Job</button>
                                  </td>
                                    <td class="position-relative text-left">{{item.jobName}}</td>
                                    <td class="position-relative text-left">{{item.jobTime}}</td>
                                    <td class="position-relative text-left">{{item.procedureName}}</td>
                                    <td class="position-relative text-left">{{item.description}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
