<div class="row">
  <div class="col-md-7 pr-0">
    <div class="border box-shadow">
      <div class="data-table-header d-flex justify-content-between align-items-center ">
        <h5 class="m-0 text-white">Visit Provider Details - {{interfaceName}} </h5>
      </div>
      <div class="p-2">
        <div class="table-responsive data-table" style="height: 72vh;">
          <table class="table">
            <thead>
              <tr class="no-wrap" style="
              white-space: nowrap;">
                <th scope="col" class="w-60 sticky-top"></th>
                <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
                <th scope="col" class="sticky-top">Office</th>
                <th scope="col" class="sticky-top">Payor Plan</th>
                <!-- <th scope="col" class="sticky-top w-150">&nbsp;&nbsp; Name &nbsp;&nbsp; </th> -->
                <th scope="col" class="sticky-top">Provider ID</th>
                <!-- <th scope="col" class="sticky-top">Provider Medicaid Id</th>
                <th scope="col" class="sticky-top">NPI</th>
                <th scope="col" class="sticky-top">Provide EIN</th>
                <th scope="col" class="sticky-top "> Taxonomy </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of providerList" style="
              white-space: nowrap;">
                <td>
                  <span (click)="updateProvideForm(doc)" class="material-icons" title="Edit">
                    edit
                  </span>
                </td>
                <td>{{doc.siteCode}}</td>
                <td>{{doc.payorPlan}}</td>
                <!-- <td>{{doc.name}}</td> -->
                <td>{{doc.providerId}}</td>
                <!-- <td>{{doc.providerMedicaidId}}</td>
                <td>{{doc.npi}}</td>
                <td>{{doc.provideEin}}</td>
                <td>{{doc.taxonomy}}</td> -->
              </tr>
            </tbody>
          </table>

          <p class="no-records text-center" *ngIf="providerList.length==0">No Records Found</p>
        </div>
      </div>
    </div>
  </div>
  <div class="  col-md-5 pr-0">
    <form [formGroup]="providerForm">
      <div class="create-wrapper">
        <div class="title">
          <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
             {{providerForm.value.id==0?'Create':'Update'}} Visit Provider Details - {{interfaceName}}
          </h5>
        </div>
        <div class="border-2">

          <!-- <div class="my-3 d-flex">
          <label class="m-0 w-200">Interface Payer<span class="text-danger">*</span></label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text" placeholder="Interface Payer" readonly aria-label="Your Name"
              aria-describedby="basic-addon2" tabindex="1">
            <div class="break"></div>
          </div>
        </div> -->

          <div class="d-flex align-items-center justify-content-between my-3">
            <h6 class="">Office <span class="text-danger">*</span></h6>
            <div class=" ">
              <!-- <select class="form-control w-275" formControlName="officeId">
                <option [ngValue]="null">Select</option>
                <option [ngValue]="1">Dataset1</option>
              </select> -->
              <ng-select placeholder="Select" [items]="officeLookup" (change)="getMappedPayorPlanList()" bindLabel='officeName' bindValue='officeId'
                            formControlName='officeId' class="w-235">
                          </ng-select>
              <div class="text-danger " *ngIf="formcontrols.officeId.errors?.required &&formError">
              Office is required
            </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between my-3">
            <h6 class=" ">Payor Plan <span class="text-danger">*</span></h6>
            <div class=" ">
              <!-- <select class="form-control w-275" formControlName="payorPlan">
                <option [ngValue]="null">Select</option>
                <option [ngValue]="1">Dataset1</option>
              </select> -->
              <ng-select  placeholder="Select" [items]="mappedPayorPlanList" bindLabel='payorPlan' bindValue='payorPlanId'
              formControlName='payorPlanId' class="w-235">
            </ng-select>
              <div class="text-danger " *ngIf="formcontrols.payorPlanId.errors?.required &&formError">
              Payor Plan is required
            </div>
            </div>
          </div>
          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">Name</label>
            <div class="input-group input-section w-235">
              <input type="text" class="form-control input-text " formControlName="name" placeholder="Name"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.name.errors?.required &&formError">
              <div>Name is required</div>
            </div>
            </div>
          </div>
          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">Provider ID </label>
            <div class="input-group input-section w-235">
              <input type="text" class="form-control input-text " formControlName="providerId" placeholder="Provider ID"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.providerId.errors?.required &&formError">
              <div>ProviderId is required</div>
            </div>
            </div>
          </div>

          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">Provider <br> Medicaid ID</label>
            <div class="input-group input-section  w-235">
              <input type="text" class="form-control input-text " formControlName="providerMedicaidId" placeholder="Provider Medicaid ID"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.providerMedicaidId.errors?.required &&formError">
              <div>Provider MedicaidId is required</div>
            </div>
            </div>
          </div>
          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">NPI</label>
            <div class="input-group input-section  w-235">
              <input type="text" class="form-control input-text " formControlName="npi" placeholder="NPI"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.npi.errors?.required &&formError">
              <div>NPI is required</div>
            </div>
            </div>
          </div>
          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">Provide EIN </label>
            <div class="input-group input-section  w-235">
              <input type="text" class="form-control input-text " formControlName="provideEin" placeholder="Provide EIN"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.provideEin.errors?.required &&formError">
              <div>ProvideEin is required</div>
            </div>
            </div>
          </div>

          <div class="my-3 d-flex  align-items-center justify-content-between">
            <label class="m-0 ">Taxonomy </label>
            <div class="input-group input-section w-235">
              <input type="text" class="form-control input-text " formControlName="taxonomy" placeholder="Taxonomy"
                aria-label="Your Name" aria-describedby="basic-addon2">
              <div class="break"></div>
              <div class="text-danger"*ngIf="formcontrols.taxonomy.errors?.required &&formError">
              <div>Taxonomy is required</div>
            </div>
            </div>
          </div>
          <div class="close-button justify-content-end">
            <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal" (click)="createForm()">Cancel</button>
            <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"(click)="saveProviderDetails()">{{providerForm.value.id==0?'Create':'Save'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>






</div>
