<!-- <app-header></app-header> -->
<!-- <div class="d-flex mh-91">
  <app-sidebar></app-sidebar> -->
  <div class="interface-container row m-0">
    <div class="table-container col-md-5 pr-0">
      <div class="border">
        <div class="data-table-header d-flex justify-content-between align-items-center">
          <h5 class="m-0 text-white">Interface Dataset Elements List</h5>
          <input type="search" class="form-control w-200" placeholder="Search Interface Elements "
            [(ngModel)]='searchTerm' />
        </div>
        <div class="p-2">
          <div class="table-responsive data-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="sticky-top align-middle  w-60"></th>
                  <th class="sticky-top align-middle">Interface
                  </th>
                  <th class="sticky-top align-middle">Dataset
                  </th>
                  <!-- <th scope="col">Active
                                <div class="input-group form-input ">
                                    <input type="text" class="form-control" aria-label="Case Manager">
                                </div>
                            </th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor='let data of InterfaceElementList | filter:searchTerm | paginate: { itemsPerPage: perPage, currentPage: p }'>
                  <td>
                    <span (click)='getAllInterfaceElementById(data.id)' class="material-icons" data-toggle="modal"
                      data-target="#staticBackdrop">
                      edit
                    </span>
                  </td>
                  <td>{{data.interfaceDefinitionName}}</td>
                  <td>{{data.interfaceDatasetName}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end pagination">

          <div>
            <!-- <button (click)='refresh()' type="button " class="pagination-btn btn next-btn primary-button mr-3">Refresh</button> -->
            <span class="footer-text pl-0">Per Page</span>
            <select class="pagination-select border-0" [(ngModel)]='perPage'>
              <option value=10>10</option>
              <option value=15>15</option>
              <option value=20>20</option>

            </select>
          </div>
          <pagination-controls (pageChange)="p = $event" class="pt-3"></pagination-controls>

          <!-- <span class="footer-text">Showing <span>10</span> to <span>
                                500</span> of
                            <span>1000</span></span>
                        <button type="button " class="pagination-btn mr-3 p-2" id="prev-btn">Prev</button>
                        <button type="button " class="pagination-btn p-2" id="next-btn"
                            class="pagination-btn">Next</button> -->

        </div>
      </div>


    </div>

    <div class="table-container col-md-7 pr-0">
      <div class="border">
        <div class="title">
          <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
            <span>{{showUpdate ? 'Create': 'Edit'}}</span>
            Interface Dataset Elements
          </h5>
        </div>
        <div class="">
          <form [formGroup]="lookupEleForm" autocomplete="off">
            <div class="nav align-items-end justify-content-between px-2">

              <div class="my-2 ">
                <label class="m-0 w-200">Interface <span class="text-danger">*</span></label>
                <div class="input-group input-section h-30">
                  <ng-select [items]='lookUpData.interfaceDefinition' bindLabel='name' bindValue='id'
                    name="interfaceDefinition" [(ngModel)]='lookupEle.interfaceDefinition'
                    formControlName='interfaceDefinition' class="form-control h-30" [ngClass]="{ 'is-invalid': submitted &&
                                lookupEleForm.controls.interfaceDefinition.errors?.required }">
                  </ng-select>
                </div>
                <div *ngIf="lookupEleForm.controls.interfaceDefinition.errors?.required && submitted"
                  class="text-danger">
                  Interface is required
                </div>
              </div>
              <div class="my-2 ">
                <label class="m-0 w-200">Dataset <span class="text-danger">*</span></label>
                <div class="input-group input-section h-30">
                  <ng-select class="form-control h-30" [items]='lookUpData.interfaceDataset' name="interfaceDataset"
                    bindLabel='name' bindValue='id' [(ngModel)]='lookupEle.interfaceDataset'
                    formControlName='interfaceDataset' [ngClass]="{ 'is-invalid': submitted &&
                                lookupEleForm.controls.interfaceDataset.errors?.required }"></ng-select>
                </div>
                <div *ngIf="lookupEleForm.controls.interfaceDataset.errors?.required && submitted" class="text-danger">
                  Dataset is required
                </div>
              </div>
              <button type="submit" (click)='addOpenHours()' class="btn btn-add btn-border mb-2 h-30"
                data-dismiss="modal">Add</button>
            </div>
          </form>
          <div class="px-2 pb-2">
            <div [formGroup]="addScheduleOverrideForm" class="table-responsive data-table h-56">
              <table class="table">
                <thead>
                  <tr>
                    <th class="sticky-top align-middle w-60">&nbsp;</th>
                    <th class="sticky-top align-middle w-120">Element Name</th>
                    <th class="sticky-top align-middle w-120">POC Dataset
                    </th>
                    <th class="sticky-top align-middle w-120">POC Element
                    </th>
                    <th class="sticky-top align-middle w-120">Sort Order
                    </th>
                    <!-- <th scope="col">Active
                                <div class="input-group form-input ">
                                    <input type="text" class="form-control" aria-label="Case Manager">
                                </div>
                            </th> -->
                  </tr>
                </thead>
                <tbody formArrayName="openHours">
                  <tr *ngFor="let item of openHoursArray.controls ; let j = index" [formGroupName]="j">

                    <td>
                      <i *ngIf='j>getLength || j==getLength || showUpdate' (click)="removeOpenHours(j)"
                        class="fa fa-trash mr-3"></i>
                    </td>
                    <td>
                      <input type="text" formControlName='elementName' name='elementName' class="form-control"
                        [ngClass]="{ 'is-invalid': submitted &&
                                                              openHoursArray.controls[j].get('elementName').errors?.required }"
                        required>
                      <div *ngIf="openHoursArray.controls[j].get('elementName').errors?.required && submitted"
                        class="text-danger">
                        Element Name is required
                      </div>
                    </td>
                    <td>
                      <ng-select class="form-control h-30" formControlName='pocDatasetName' [items]='pocDataSets'
                        bindLabel='name' bindValue='tableName' (change)='changeDataSet($event)' [ngClass]="{ 'is-invalid': submitted &&
                                                openHoursArray.controls[j].get('pocDatasetName').errors?.required }"
                        required></ng-select>
                      <div *ngIf="openHoursArray.controls[j].get('pocDatasetName').errors?.required && submitted"
                        class="text-danger">
                        POC Dataset is required
                      </div>
                      <!-- <input type="text" formControlName='pocDatasetName' placeholder="pocDatasetName" class="form-control"> -->
                    </td>
                    <td>
                      <ng-select class="form-control h-30" formControlName='pocElementName' [items]='elementItems'
                        bindLabel='name' bindValue='name' [ngClass]="{ 'is-invalid': submitted &&
                                                openHoursArray.controls[j].get('pocElementName').errors?.required }"
                        required></ng-select>
                      <div *ngIf="openHoursArray.controls[j].get('pocElementName').errors?.required && submitted"
                        class="text-danger">
                        POC Element is required
                      </div>
                      <!-- <input type="text" formControlName='pocElementName' placeholder="pocElementName" class="form-control"> -->
                    </td>
                    <td>
                      <input type="text" formControlName='sortOrder' class="form-control" [ngClass]="{ 'is-invalid': submitted &&
                                                openHoursArray.controls[j].get('sortOrder').errors?.required }"
                        required>
                      <div *ngIf="openHoursArray.controls[j].get('sortOrder').errors?.required && submitted"
                        class="text-danger">
                        Sort Order is required
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="close-button px-2 pt-1 justify-content-end">
            <!-- <button (click)='reset()' type="submit" class="btn btn-inner btn-border"
                            data-dismiss="modal">Close</button> -->
            <button type="submit" class="btn btn-inner btn-save btn-border" (click)='saveInterfaceElement()'
              data-dismiss="modal">{{showUpdate ? 'Create': 'Save'}}</button>
          </div>
        </div>


      </div>

      <!-- <div class="side-pane col-md-6 pr-0">
            <div class="interface-container">
                <div class="table-container">
                    <div class="table-responsive data-table-inner">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">elementName</th>
                                    <th scope="col">pocDatasetName</th>
                                    <th scope="col">pocElementName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let data of InterfaceElementById.interfaceElementsDetailsList'>


                                    <td>{{data.elementName}}</td>
                                    <td>{{data.pocDatasetName}}</td>
                                    <td>{{data.pocElementName}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="close-button">
                <button type="submit" class="btn btn-inner btn-border" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-add btn-border" data-dismiss="modal">Add</button>
                <button type="submit" class="btn btn-inner btn-save btn-border"
                    data-dismiss="modal">Save</button>
            </div>

        </div> -->
    </div>
  </div>
<!-- </div> -->


<!-- <div class="table-modal">

        <div class="modal fade p-0" id="staticBackdrop" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-container modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy" id="exampleModalLongTitle">Edit
                            Interface Dataset Elements</h5>
                        <button type="button" class="close m-0 close-button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body-container">
                        <div class="interface-container">
                            <div class="table-container">
                                <div class="table-responsive data-table-inner">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">elementName</th>
                                                <th scope="col">pocDatasetName</th>
                                                <th scope="col">pocElementName</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let data of InterfaceElementById.interfaceElementsDetailsList'>

                                                <td>{{data.elementName}}</td>
                                                <td>{{data.pocDatasetName}}</td>
                                                <td>{{data.pocElementName}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="close-button">
                            <button type="submit" class="btn btn-inner btn-border" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-add btn-border" data-dismiss="modal">Add</button>
                            <button type="submit" class="btn btn-inner btn-save btn-border"
                                data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div> -->
