<!-- <app-header></app-header> -->
<!-- <div class="d-flex mh-91">
  <app-sidebar></app-sidebar> -->
  <div class=" row m-0 pt-3">
    <div class="view-container row m-0 py-3">
      <!-- interface start -->
      <div class="col-md-3 pr-0 interface-block">
        <div class="table-responsive interface-block-interface h-100">
          <table class="table box-shadow mb-0">
            <thead class="">
              <tr>
                <th scope="col" class="sticky-top">Menu</th>
                <th scope="col" class="sticky-top">Interface Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of InterfaceDetailsList" [ngClass]="data.id == viewDataInterfaceId ? 'selected' : ''"
                class="">
                <td class="position-relative edit-option padding-interface border-left">
                  <ul class="m-0 p-0">
                    <li class="">
                      <div class="share-button">
                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                        <label for="toggle-input" class="toggle"></label>
                      </div>
                      <div class="slider d-flex align-items-center interface-slider-left">
                        <p class="twitter mr-1">
                          <span>
                            <a class="text-white" (click)="editInterface(data.id)" title="Edit">
                            </a>
                          </span>
                        </p>
                        <p class="facebook mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'dataset',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Datasets">
                            </a>
                          </span>
                        </p>
                        <p class="googleplus mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'lookup',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface Lookups">
                            </a>
                          </span>
                        </p>
                        <p class="mapping mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'lookupdetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Export Lookup Mapping">
                            </a>
                          </span>
                        </p>
                        <p class="staticValues mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'staticValues',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Static values">
                            </a>
                          </span>
                        </p>
                        <p class="interfaceOffices mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfaceOffices',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface offices">
                            </a>
                          </span>
                        </p>
                        <p class="payor-details-ico mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfacePayorDetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface Payor ">
                            </a>
                          </span>
                        </p>
                        <p class="interface-service mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfaceServices',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface Services">
                            </a>
                          </span>
                        </p>
                         <p class="providerDetails mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'providerDetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Visit Provider Details">
                            </a>
                          </span>
                        </p>
                       <!-- <p class="ps-providerDetails mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'psproviderDetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="PS Provider Details">
                            </a>
                          </span>
                        </p>
                        <p class="dcs-providerDetails mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'dcsproviderDetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="DCS Provider Details">
                            </a>
                          </span>
                        </p> -->

                        <p class="office-details mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfaceMedium',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title=" Interface Medium Details">
                            </a>
                          </span>
                        </p>
                        <p class="visitMedium mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'visitMedium',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Visit Deleted Medium Details">
                            </a>
                          </span>
                        </p>
                        <p class="interfaceToken mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfaceToken',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface Token Credentials">
                            </a>
                          </span>
                        </p>
                        <p class="payor-map mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'interfaceJobs',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Interface Job Details">
                            </a>
                          </span>
                        </p>
                        <p class="document mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType('doc', data.id, data.label, data)
                              " title="Interface Documents">
                            </a>
                          </span>
                        </p>
                        <p class="interface-status mr-1">
                          <span>
                            <a class="text-white" (click)="
                                viewContentType(
                                  'statusdetails',
                                  data.id,
                                  data.label,
                                  data
                                )
                              " title="Dataset Transaction Status">
                            </a>
                          </span>
                        </p>

                        <!-- <p class="service-map mr-1">
                          <span>
                            <a class="text-white" (click)="viewContentType('interfacePocServicesMap',data.id,data.name,data)"
                              title="Poc service mapping ">
                            </a>
                          </span>
                        </p> -->
                        <!-- <p class="interface-medium mr-1">
                          <span>
                            <a class="text-white" (click)="viewContentType('interfaceOffice',data.id,data.name,data)"
                              title="Interface Office ">
                            </a>
                          </span>
                        </p> -->
                      </div>
                    </li>
                  </ul>
                </td>
                <td class="position-relative padding-interface">
                  {{ data.label }}
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="InterfaceDetailsList.length == 0" class="no-records text-center">
            No Records Found
          </p>
        </div>
      </div>
      <!-- interface end -->

      <!-- ============= dataset listing start============ -->
      <ng-container *ngIf="displayArray[1]">
        <div class="col-md-4 pr-0">
          <div class="border box-shadow" style="min-height: 84vh">
            <div class="data-table-header d-flex justify-content-between align-items-center nav">
              <h5 class="m-0 text-white">Interface Dataset List</h5>
              <!-- <input type="search" class="form-control w-180" [(ngModel)]='searchTerm'
                placeholder="Search Interface Dataset" /> -->
            </div>
            <div class="p-2">
              <div class="table-responsive data-table dataset-element-mintable">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="w-60 sticky-top"></th>
                      <th scope="col" class="sticky-top">
                        Name
                        <!-- <div class="input-group form-input ">
                                        <input type="text" class="form-control" aria-label="Case Manager">
                                    </div> -->
                      </th>
                      <th *ngIf="showType !== 'datasetElement'" class="align-middle sticky-top">
                        Description
                        <!-- <div class="input-group form-input ">
                                        <input type="text" class="form-control" aria-label="Case Manager">
                                    </div> -->
                      </th>
                      <th *ngIf="showType !== 'datasetElement'" scope="col" class="sticky-top px-3">
                        Active
                        <!-- <div class="input-group form-input ">
                                        <input type="text" class="form-control" aria-label="Case Manager">
                                    </div> -->
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                        let data of InterfaceDataSetDetailsList
                          | filter: searchTerm
                          | paginate: { itemsPerPage: perPage, currentPage: p }
                      ">
                      <td class="position-relative edit-option">
                        <ul class="m-0 p-0">
                          <li class="">
                            <div class="share-button">
                              <input class="toggle-input" id="toggle-input" type="checkbox" />
                              <label for="toggle-input" class="toggle"></label>
                              <div class="slider d-flex align-items-center">
                                <p class="twitter mr-2" title="Edit Dataset">
                                  <span>
                                    <a class="text-white" (click)="
                                        getInterfacesDataSetById(data.id)
                                      " title="Edit">
                                    </a>
                                  </span>
                                </p>
                                <p class="facebook mr-2" title="Dataset Element">
                                  <span>
                                    <a class="text-white" (click)="viewDatasetElement(data)" title="Dataset Element"
                                      data-toggle="modal" data-target="#datasetElementmodal">
                                    </a>
                                  </span>
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </td>
                      <td>{{ data.name }}</td>
                      <td *ngIf="showType !== 'datasetElement'">
                        {{ data.description }}
                      </td>
                      <td *ngIf="showType !== 'datasetElement'">
                        {{ data.active === 0 ? "No" : "Yes" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="InterfaceDataSetDetailsList.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end pagination nav">
              <div class="mr-2">
                <span class="footer-text">Per Page</span>
                <select class="pagination-select border-0" [(ngModel)]="perPage">
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <pagination-controls class="mt-3 dataset-pagination" (pageChange)="p = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
        <div class="col-md-5 pr-1" *ngIf="showType === 'createDataset'">
          <form [formGroup]="addForm" autocomplete="off">
            <div class="title">
              <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
                Create Interface Dataset - {{ this.interface }}
              </h5>
            </div>
            <div class="border-2 box-shadow">
              <!-- <div class="my-2 d-flex">
                <label class="m-0 w-200">Interface <span class="text-danger">*</span></label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select [disabled]="true" class="w-100 border-0 outline-0" [items]="lookUpData.interfaceDefinition"
                    bindLabel='name' name='interfaceDefinitionId' placeholder="--Select--"
                    formControlName="interfaceDefinitionId" bindValue='id'
                    [(ngModel)]='postInterfaceDataSet.interfaceDefinitionId'
                    [ngClass]="{ 'is-invalid': submitted && f.interfaceDefinitionId.errors}">
                  </ng-select>

                  <div class="break"></div>
                  <div *ngIf="submitted && f.interfaceDefinitionId.errors" class="text-danger">
                    <div *ngIf="f.interfaceDefinitionId.errors.required">Interface is required</div>
                  </div>
                </div>

              </div>-->

              <div class="my-2 d-flex">
                <label class="m-0 w-200">Name<span class="text-danger">*</span></label>
                <div class="input-group input-section w-75 ml-auto">
                  <input type="text " [trim]="'blur'" class="form-control input-text" aria-label="Your Name" name="name"
                    formControlName="name" autocomplete="off" placeholder="Name" [(ngModel)]="postInterfaceDataSet.name"
                    aria-describedby="basic-addon2" tabindex="1"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div class="break"></div>
                  <div *ngIf="submitted && f.name.errors" class="text-danger">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
              </div>
              <div class="my-2 d-flex">
                <label class="m-0 w-200">Effective From</label>
                <div class="input-group input-section w-75 ml-auto">
                  <input type="text " class="form-control input-text" formControlName="effectiveFrom" bsDatepicker
                    autocomplete="off" placeholder="MM/DD/YYYY" [(ngModel)]="postInterfaceDataSet.effectiveDate" />
                </div>
              </div>
              <div class="my-2 d-flex">
                <label class="m-0 w-200">Exported Table<span class="text-danger">*</span></label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select (change)="onExportchange(postInterfaceDataSet.interfaceExportedTable,'create')" placeholder="--Select--" class="w-100" [items]="exportTableLookup" bindLabel="name"
                    bindValue="value" [(ngModel)]="postInterfaceDataSet.interfaceExportedTable"
                    formControlName="interfaceExportedTable" [ngClass]="{
                      'is-invalid': submitted &&  (postInterfaceDataSet.interfaceExportedTable == null ||
                      postInterfaceDataSet.interfaceExportedTable ==
                        undefined ||
                      postInterfaceDataSet.interfaceExportedTable == '')
                    }">
                  </ng-select>
                  <div class="break"></div>
                  <div *ngIf="submitted && f.interfaceExportedTable.errors" class="text-danger">
                    <div *ngIf="
                        postInterfaceDataSet.interfaceExportedTable == null ||
                        postInterfaceDataSet.interfaceExportedTable ==
                          undefined ||
                        postInterfaceDataSet.interfaceExportedTable == ''
                      ">
                      Exported Table is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="my-2 d-flex">
                <label class="m-0 w-200">Data Flow <span class="text-danger">*</span></label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.dataflow" bindLabel="name"
                    bindValue="id" name="dataFlowId" formControlName="dataFlowId"
                    [(ngModel)]="postInterfaceDataSet.dataFlowId" [ngClass]="{
                      'is-invalid': submitted && f.dataFlowId.errors
                    }">
                  </ng-select>
                  <div class="break"></div>
                  <div *ngIf="submitted && f.dataFlowId.errors" class="text-danger">
                    <div *ngIf="f.dataFlowId.errors.required">
                      Data Flow is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="my-2 d-flex">
                <label class="m-0 w-200">Data Medium</label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.datamedium" bindLabel="name"
                    bindValue="id" [(ngModel)]="postInterfaceDataSet.dataMediumId" name="dataMediumId"
                    formControlName="dataMediumId">
                  </ng-select>
                  <div class="break"></div>
                </div>
              </div>
              <div class="my-2 d-flex">
                <label class="m-0 w-200">Data File Format</label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.datafileformat" bindLabel="name"
                    bindValue="id" (change)="onfileFormatChange(postInterfaceDataSet.dataFileFormatId)"  [(ngModel)]="postInterfaceDataSet.dataFileFormatId" name="dataFileFormatId"
                    formControlName="dataFileFormatId">
                  </ng-select>
                  <div class="break"></div>
                </div>
              </div>
              <div class="my-2 d-flex" *ngIf="postInterfaceDataSet?.dataFileFormatId==1||postInterfaceDataSet?.dataFileFormatId==5||postInterfaceDataSet?.dataFileFormatId==2">
                <label class="m-0 w-200">Data File Delimeter</label>
                <div class="input-group input-section w-75 ml-auto">
                  <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.datafiledelimeter"
                    bindLabel="name" bindValue="id" [(ngModel)]="postInterfaceDataSet.dataFileDelimeterId"
                    name="dataFileDelimeterId" formControlName="dataFileDelimeterId">
                  </ng-select>
                </div>
              </div>

              <div class="my-2 d-flex">
                <label class="m-0 w-200">Description</label>
                <div class="input-group w-75 ml-auto">
                  <textarea rows="2" class="textarea-color form-control" [(ngModel)]="postInterfaceDataSet.description"
                    name="description" formControlName="description"></textarea>
                </div>
              </div>
              <div class="my-2 d-flex"*ngIf="postInterfaceDataSet.interfaceExportedTable=='exported_visit_data'">
                <label class="m-0 pr-5 font-size-15">
                  Sync Provider Details
                </label>
                <div class="check-box-wrapper">
                  <div class="on-off-toggle">
                    <input class="on-off-toggle__input" id="bopis" formControlName="isSyncProviderDetails"
                      [(ngModel)]="postInterfaceDataSet.isSyncProviderDetails" (change)="
                        postInterfaceDataSet.isSyncProviderDetails = $event
                          .target.checked
                          ? 1
                          : 0
                      " name="sync" type="checkbox" value="1" />
                    <label for="bopis" class="on-off-toggle__slider"></label>
                  </div>
                </div>
              </div>
              <div class="close-button d-flex justify-content-end">
                <button class="btn btn-inner btn-blue btn-border mr-2" (click)="dataSetsInitForm(viewDataInterfaceId,true)">
                  Cancel
                </button>
                <button type="submit" (click)="saveInterfaceDataSet()" class="btn btn-inner btn-save btn-border"
                  data-dismiss="modal">
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 pr-1" *ngIf="showType === 'editDataset'">
          <div class="title">
            <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
              Update Interface Dataset - {{ interface }}
            </h5>
          </div>
          <div class="border-2 box-shadow">
            <!-- <div class="my-2 d-flex">
              <label class="m-0 w-200">Interface <span class="text-danger">*</span></label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.interfaceDefinition"
                  bindLabel='name' bindValue='id' [(ngModel)]='InterfaceDataSetById.interfaceDefinitionId'>
                </ng-select>
                <div class=" right-icon">
                </div>
              </div>
            </div> -->
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Name <span class="text-danger">*</span></label>
              <div class="input-group input-section w-75 ml-auto">
                <input type="text" [trim]="'blur'" class="form-control input-text" placeholder="Name" aria-label="Your Name" name="name"
                  #name="ngModel" autocomplete="off" required [(ngModel)]="InterfaceDataSetById.name"
                  aria-describedby="basic-addon2" tabindex="1" />
                <div class="break"></div>
                <div *ngIf="
                    name.invalid && (submitted || name.invalid || name.touched)
                  " class="text-danger">
                  <div *ngIf="name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Effective From</label>
              <div class="input-group input-section w-75 ml-auto">
                <input type="text " class="form-control input-text" bsDatepicker autocomplete="off"
                  placeholder="MM/DD/YYYY" [(ngModel)]="InterfaceDataSetById.effectiveDate" />
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Exported Table<span class="text-danger">*</span></label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select (change)="onExportchange(InterfaceDataSetById.interfaceExportedTable,'edit')" placeholder="--Select--" class="w-100" [items]="exportTableLookup" bindLabel="name"
                  bindValue="value" [(ngModel)]="InterfaceDataSetById.interfaceExportedTable">
                </ng-select>
                <div class="break"></div>
                <div *ngIf="submitted && f.dataFlowId.errors" class="text-danger">
                  <div *ngIf="
                      InterfaceDataSetById.interfaceExportedTable == '' ||
                      InterfaceDataSetById.interfaceExportedTable == undefined
                    ">
                    Exported Table is required
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Data Flow<span class="text-danger">*</span></label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select placeholder="--Select--" class="w-100" [items]="lookUpData.dataflow" bindLabel="name"
                  bindValue="id" name="dataFlowId" [(ngModel)]="InterfaceDataSetById.dataFlowId"
                  [ngClass]="{ 'is-invalid': submitted && (InterfaceDataSetById.dataFlowId==0||InterfaceDataSetById.dataFlowId==null) }">
                </ng-select>
                <div class="break"></div>
                <div *ngIf="submitted && InterfaceDataSetById.dataFlowId == null" class="text-danger">
                  <div *ngIf="f.dataFlowId.errors.required">
                    Data Flow is required
                  </div>
                </div>
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Date Medium</label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select class="w-100" [items]="lookUpData.datamedium" bindLabel="name" bindValue="id"
                  [(ngModel)]="InterfaceDataSetById.dataMediumId">
                </ng-select>
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Data File Format</label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select (change)="onfileFormatChange(InterfaceDataSetById.dataFileFormatId,'edit')" class="w-100" [items]="lookUpData.datafileformat" bindLabel="name" bindValue="id"
                  [(ngModel)]="InterfaceDataSetById.dataFileFormatId">
                </ng-select>
              </div>
            </div>
            <div class="my-2 d-flex" *ngIf="InterfaceDataSetById?.dataFileFormatId==1||InterfaceDataSetById?.dataFileFormatId==5||InterfaceDataSetById?.dataFileFormatId==2">
              <label class="m-0 w-200">Data File Delimeter</label>
              <div class="input-group input-section w-75 ml-auto">
                <ng-select class="w-100" [items]="lookUpData.datafiledelimeter" bindLabel="name" bindValue="id"
                  [(ngModel)]="InterfaceDataSetById.dataFileDelimeterId">
                </ng-select>
              </div>
            </div>
            <div class="my-2 d-flex">
              <label class="m-0 w-200">Description</label>
              <div class="input-group w-75 ml-auto">
                <textarea rows="2" class="textarea-color form-control" [(ngModel)]="InterfaceDataSetById.description"
                  placeholder="Description"></textarea>
              </div>
            </div>
            <div class="input-group input-section d-flex align-items-center mt-2" *ngIf="InterfaceDataSetById.interfaceExportedTable=='exported_visit_data'">
              <label class="m-0 pr-5 font-size-15">
                Sync Provider Details
              </label>
              <div class="check-box-wrapper">
                <div class="on-off-toggle">
                  <input class="on-off-toggle__input" id="bopis"
                    [(ngModel)]="InterfaceDataSetById.isSyncProviderDetails" (change)="
                      InterfaceDataSetById.isSyncProviderDetails = $event.target
                        .checked
                        ? 1
                        : 0
                    " name="sync" type="checkbox" value="1" />
                  <label for="bopis" class="on-off-toggle__slider"></label>
                </div>
              </div>
            </div>
            <div class="input-group input-section d-flex align-items-center mt-2">
              <label class="m-0 pr-3 font-size-15"> Active </label>
              <div class="check-box-wrapper">
                <div class="on-off-toggle">
                  <input class="on-off-toggle__input" id="bopis1" [(ngModel)]="InterfaceDataSetById.active" (change)="
                      InterfaceDataSetById.active = $event.target.checked
                        ? 1
                        : 0
                    " name="active" type="checkbox" value="1" />
                  <label for="bopis1" class="on-off-toggle__slider"></label>
                </div>
              </div>
            </div>
            <div class="close-button justify-content-end">
              <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
                (click)="cancelupdateInterfaceDataSet()">
                Cancel
              </button>
              <button type="submit" class="btn btn-inner btn-save btn-border" (click)="updateInterfaceDataSet()"
                data-dismiss="modal">
                Save
              </button>
            </div>
          </div>
        </div>

        <!-- Dataset elements Modal -->
        <div class="modal fade" id="datasetElementmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="Dataset-element-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-dark d-flex justify-content-between align-items-center p-2">
                  <h4 class="modal-title text-white AvenirLTStd-Heavy">
                    Interface Dataset Elements
                  </h4>
                  <div class="my-2 d-flex align-items-center">
                    <h4 class="mb-0 AvenirLTStd-Heavy mr-2">Interface :</h4>
                    <h4 class="mb-0 AvenirLTStd-Heavy mr-2">{{ interface }}</h4>
                    <!-- <label class="m-0 w-90 text-white">Interface <span class="text-danger">*</span></label>
                    <div class="input-group input-section h-30 mx-1">
                      <input type="text" [(ngModel)]="interface" disabled placeholder="Interface" class="form-control">
                    </div> -->
                  </div>
                  <div class="my-2 d-flex align-items-center">
                    <h4 class="mb-0 AvenirLTStd-Heavy mr-2">Dataset :</h4>
                    <h4 class="mb-0 AvenirLTStd-Heavy mr-2">{{ Dataset }}</h4>
                    <!-- <label class="m-0 w-90 text-white">Dataset <span class="text-danger">*</span></label>
                    <div class="input-group input-section h-30 mx-1">
                      <input type="text" [(ngModel)]="Dataset" disabled placeholder="Dataset" class="form-control">
                    </div> -->
                  </div>
                  <div class="d-flex align-items-center mr-5">
                    <label class="mb-0 mr-2">Rows</label>
                    <input type="number" class="form-control mr-2 h-30 w-40 number-input"
                      [(ngModel)]="addDatasetRows" />
                    <button type="submit" (click)="addDataset(addDatasetRows)"
                      class="btn btn-add btn-border h-30 w-auto px-2">
                      Add
                    </button>
                  </div>

                  <button type="button" class="close text-white m-0 px-2 modal-close-btn" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="border box-shadow dataset-wrap">
                    <!-- <div class="title d-flex justify-content-between align-items-center">
                                            <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white"
                                                id="exampleModalLongTitle">
                                                <span>{{showType==="datasetElement" ? 'Create': 'Edit'}}</span>
                                                Interface Dataset Elements </h5>
                                        </div> -->
                    <div class="">
                      <!-- <div>
                                                <div class="nav d-flex align-items-end justify-content-between px-2">
                                                    <div class="my-2 d-flex align-items-center">
                                                        <label class="m-0 w-90">Interface <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group input-section h-30 mx-1">
                                                            <input type="text" [(ngModel)]="interface" disabled
                                                                placeholder="Interface" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="my-2 d-flex align-items-center">
                                                        <label class="m-0 w-90">Dataset <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group input-section h-30 mx-1">
                                                            <input type="text" [(ngModel)]="Dataset" disabled
                                                                placeholder="Dataset" class="form-control">
                                                        </div>

                                                    </div>
                                                    <button type="submit" (click)="addDataset()"
                                                        class="btn btn-add btn-border mb-2 h-30">

                                                        Add</button>
                                                </div>
                                            </div> -->
                      <div class="px-2 pb-2">
                        <div class="data-table h-70" [ngClass]="{
                            Nodata: InterfaceElementsDetailsList.length == 0
                          }">
                          <table class="table">
                            <thead>
                              <tr>
                                <th class="sticky-top align-middle w-60 sticky-head first-child"></th>
                                <th class="sticky-top align-middle">
                                  Sort Order<span class="text-danger f-15">*</span>
                                </th>
                                <th class="sticky-top align-middle mnw-150 sticky-head second-child">
                                  Element Name<span class="text-danger f-15">*</span>
                                </th>
                                <th class="sticky-top align-middle mnw-150 sticky-head third-child">
                                  POC Dataset
                                </th>
                                <th class="sticky-top align-middle">
                                  POC Element
                                </th>
                                <th class="sticky-top align-middle">
                                  Static Value
                                </th>
                                <th class="sticky-top align-middle mnw-90">
                                  Default Value
                                </th>
                                <th class="sticky-top align-middle mnw-150">
                                  Lookup
                                </th>

                                <th class="sticky-top align-middle mnw-90">
                                  Data Type<span class="text-danger f-15">*</span>
                                </th>
                                <th class="sticky-top align-middle mnw-150">
                                  Date Format
                                </th>
                                <th class="sticky-top align-middle">Length</th>
                                <th class="sticky-top align-middle mnw-150">
                                  Function Name
                                </th>
                                <!-- <th class="sticky-top align-middle">
                                  Sort Order<span class="text-danger f-15">*</span>
                                </th> -->
                                <th class="sticky-top align-middle">
                                  Is Parent
                                </th>
                                <th class="sticky-top align-middle">
                                  Is Child
                                </th>
                                <th class="sticky-top align-middle">
                                  Is JsonArray
                                </th>
                                <th class="sticky-top align-middle">
                                  Json KeyName
                                </th>
                                <th class="sticky-top align-middle">
                                  No.of End Braces
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="
                                  let item of InterfaceElementsDetailsList;
                                  let j = index;
                                ">
                                <td class="first-col">
                                  <i (click)="removeDataset(j, item)" class="fa fa-trash"></i>
                                </td>
                                <td>
                                  <input type="number" class="form-control h-30 w-60" [ngClass]="{
                                      'is-invalid':
                                        InterfaceElementsDetailsList[j]
                                          .sortOrder == null
                                    }" [(ngModel)]="
                                      InterfaceElementsDetailsList[j].sortOrder
                                    " />
                                  <!-- <div *ngIf="
                                      InterfaceElementsDetailsList[j]
                                        .sortOrder == null
                                    " class="text-danger mt-1">
                                    <div>Sort required</div>
                                  </div> -->
                                </td>
                                <td class="second-col">
                                  <input class="form-control h-30 mxw-100" type="text" [ngClass]="{
                                      'is-invalid':
                                        InterfaceElementsDetailsList[j]
                                          .interfaceElementName.length == 0 ||
                                        InterfaceElementsDetailsList[j]
                                          .interfaceElementName == null ||
                                        InterfaceElementsDetailsList[
                                          j
                                        ].interfaceElementName.trim().length ==
                                          0
                                    }" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .interfaceElementName
                                    " />
                                  <!-- <div *ngIf="
                                      InterfaceElementsDetailsList[j]
                                        .interfaceElementName.length == 0 ||
                                      InterfaceElementsDetailsList[j]
                                        .interfaceElementName == null ||
                                      InterfaceElementsDetailsList[
                                        j
                                      ].interfaceElementName.trim().length == 0
                                    " class="text-danger">
                                    <div>Element name required</div>
                                  </div> -->
                                </td>
                                <td class="third-col">
                                  <ng-select class="h-30 w-135 text-left" [items]="pocDataSetList"
                                    bindLabel="datasetName" bindValue="datasetId" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .pocDatasetId
                                    " (change)="pocDatsetChange($event, j)" appendTo="body" (clear)="pocDatasetClear(j)" >
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.datasetName }}">
                                        {{ item.datasetName }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                  <!-- <div *ngIf=" InterfaceElementsDetailsList[j].pocDatasetId==null||InterfaceElementsDetailsList[j].pocDatasetId==''"class="text-danger mt-1">
                                    <div >POC Dataset required</div>
                                  </div> -->
                                </td>
                                <td>
                                  <ng-select class="w-160 text-left" [ngClass]="{
                                      'is-invalid':
                                        InterfaceElementsDetailsList[j]
                                          .pocDatasetElementsId == null &&
                                        InterfaceElementsDetailsList[j]
                                          .pocDatasetId != null
                                    }" [items]="
                                      pocDataSetElementsList[
                                        item.pocDatasetId - 1
                                      ]
                                    " bindLabel="elementName" bindValue="pocDatasetElementsId" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .pocDatasetElementsId
                                    " required>
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.elementName }}">
                                        {{ item.elementName }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                  <!-- <div *ngIf="
                                      InterfaceElementsDetailsList[j]
                                        .pocDatasetElementsId == null &&
                                      InterfaceElementsDetailsList[j]
                                        .pocDatasetId != null
                                    " class="text-danger mt-1">
                                    <div>POC Element required</div>
                                  </div> -->
                                </td>
                                <td>
                                  <ng-select class="w-160 text-left" [items]="interfaceStaticValues" bindLabel="name"
                                    bindValue="id" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .interfaceStaticValuesId
                                    " required>
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.name }}">
                                        {{ item.name }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                </td>
                                <td>
                                  <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .interfaceDefaultValue
                                    " />
                                </td>
                                <td>
                                  <ng-select class="h-30 w-160" [items]="lookupArray" bindLabel="lookupName"
                                    bindValue="lookupId" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .interfaceLookupId
                                    ">
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.lookupName }}">
                                        {{ item.lookupName }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                </td>
                                <td>
                                  <ng-select class="mxw-100" [items]="dataType" bindLabel="name" [ngClass]="{
                                      'is-invalid':
                                        InterfaceElementsDetailsList[j]
                                          .dataTypeId == null
                                    }" bindValue="id" [(ngModel)]="
                                      InterfaceElementsDetailsList[j].dataTypeId
                                    " required>
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.name }}">
                                        {{ item.name }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                  <!-- <div *ngIf="
                                      InterfaceElementsDetailsList[j]
                                        .dataTypeId == 0 ||
                                      InterfaceElementsDetailsList[j]
                                        .dataTypeId == null
                                    " class="text-danger mt-1">
                                    <div>Data Type required</div>
                                  </div> -->
                                </td>
                                <td>
                                  <ng-select class="w-160" [items]="dateFormat" bindLabel="name" bindValue="id"
                                    [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .dateFormatId
                                    "
                                    [ngClass]="{
                                      'is-invalid':
                                      InterfaceElementsDetailsList[j]
                                      .dataTypeId == 3 &&
                                    (InterfaceElementsDetailsList[j]
                                      .dateFormatId == null ||
                                      InterfaceElementsDetailsList[j]
                                        .dateFormatId == 0)
                                    }"
                                    >
                                    <ng-template ng-option-tmp let-item="item">
                                      <div title="{{ item.name }}">
                                        {{ item.name }}
                                      </div>
                                    </ng-template>
                                  </ng-select>
                                  <!-- <div *ngIf="
                                      InterfaceElementsDetailsList[j]
                                        .dataTypeId == 3 &&
                                      (InterfaceElementsDetailsList[j]
                                        .dateFormatId == null ||
                                        InterfaceElementsDetailsList[j]
                                          .dateFormatId == 0)
                                    " class="text-danger mt-1">
                                    <div>Data Type required</div>
                                  </div> -->
                                </td>
                                <td>
                                  <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                                      InterfaceElementsDetailsList[j].length
                                    " />
                                </td>
                                <td>
                                  <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .specialHandlerFunctionName
                                    " />
                                </td>

                                <!-- <td class="check-box-wrapper">
                                  <div class="check-box-wrapper">
                                    <input  class="on-off-toggle__input" (change)="InterfaceElementsDetailsList[j].isParent = $event.target.checked?1:0" [checked]="InterfaceElementsDetailsList[j].isParent == 1
                                    " id="isParent" name="active" type="checkbox" />
                                  <label for="isparent" class="on-off-toggle__slider"></label>
                                  </div>

                                </td> -->
                                <td>
                                  <div class="check-box-wrapper">
                                    <div class="on-off-toggle">
                                      <input
                                        class="on-off-toggle__input"
                                        id="isParent{{j}}"
                                        [(ngModel)]="InterfaceElementsDetailsList[j].isParent"
                                        (change)="InterfaceElementsDetailsList[j].isParent = $event.target.checked?1:0" [checked]="InterfaceElementsDetailsList[j].isParent == 1"
                                        name="active"
                                        type="checkbox"
                                        value="1"
                                      />
                                      <label for="isParent{{j}}" class="on-off-toggle__slider"></label>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="check-box-wrapper">
                                  <div class="on-off-toggle">
                                    <input class="on-off-toggle__input" id="bopisy{{j}}"
                                      [(ngModel)]="InterfaceElementsDetailsList[j].isChild " [checked]="InterfaceElementsDetailsList[j].isChild==1" (change)="
                                        InterfaceElementsDetailsList[j].isChild  = $event.target.checked ? 1: 0" name="sync" type="checkbox"  />
                                    <label for="bopisy{{j}}" class="on-off-toggle__slider"></label>
                                  </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="check-box-wrapper">
                                  <div class="on-off-toggle">
                                    <input class="on-off-toggle__input" id="jsonArray{{j}}"
                                      [(ngModel)]="InterfaceElementsDetailsList[j].isJsonArray " [checked]="InterfaceElementsDetailsList[j].isJsonArray==1" (change)="
                                        InterfaceElementsDetailsList[j].isJsonArray  = $event.target.checked ? 1: 0" name="sync" type="checkbox"  />
                                    <label for="jsonArray{{j}}" class="on-off-toggle__slider"></label>
                                  </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control h-30 mxw-100" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .jsonKeyName
                                    " />
                                </td>   <td>
                                  <input type="number" class="form-control h-30 mxw-100" [(ngModel)]="
                                      InterfaceElementsDetailsList[j]
                                        .noOfEndBraces
                                    " />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p *ngIf="InterfaceElementsDetailsList.length == 0" class="no-records text-center">
                            No Records Found
                          </p>
                        </div>
                      </div>
                      <div class="close-button px-2 pt-1 justify-content-end">
                        <button type="submit" class="mr-2 btn btn-inner btn-blue btn-border" data-dismiss="modal">
                          <!-- <span class="material-icons mr-2">
                                                        close
                                                        </span> -->
                          Close
                        </button>
                        <button type="submit" class="btn btn-inner btn-save btn-border"
                          (click)="saveInterfaceElements()">
                          <!-- <span class="material-icons mr-2">
                                                        save
                                                        </span> -->
                          {{
                          showType === "datasetElement" ? "Create" : "Save"
                          }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- ============= dataset listing end ============ -->

      <!-- ============= lookup listing start============ -->
      <ng-container *ngIf="displayArray[2]">
        <div class="col-md-5 pr-0">
          <div class="border box-shadow">
            <div class="data-table-header d-flex justify-content-between align-items-center">
              <h5 class="m-0 text-white">Lookup List - {{ interface }}</h5>
            </div>

            <div class="p-2">
              <div class="table-responsive data-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="w-60 sticky-top"></th>
                      <!-- <th class="align-middle sticky-top">Interface
                                            </th> -->
                      <th scope="col" class="sticky-top px-3">Lookup Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of lookUpNameList">
                      <td class="position-relative edit-option">
                        <ul class="m-0 p-0">
                          <li class="">
                            <div class="share-button">
                              <input class="toggle-input" id="toggle-input" type="checkbox" />
                              <label for="toggle-input" class="toggle"></label>
                            </div>
                            <div class="slider d-flex align-items-center">
                              <p class="twitter mr-2" title="Edit Dataset">
                                <span>
                                  <a class="text-white" (click)="editLookup(data.lookupId)" title="Lookup Edit">
                                  </a>
                                </span>
                              </p>
                              <p class="facebook mr-2" title="Dataset Element">
                                <span>
                                  <a class="text-white" (click)="lookupList(data.lookupId)" title="Lookup Details">
                                  </a>
                                </span>
                              </p>
                            </div>
                          </li>
                        </ul>
                      </td>

                      <!-- <td>{{data.interfaceDefinitionName}}</td> -->
                      <td>
                        {{ data.lookupName }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="lookUpNameList.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>

            <div>
              <div class="d-flex align-items-center justify-content-end pagination">
                <span class="footer-text">Per Page</span>
                <select (change)="lookupperpageChange()" class="pagination-select border-0 mr-4"
                  [(ngModel)]="lookupPerPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="15">15</option>
                  <option [ngValue]="20">20</option>
                </select>
                <p class="mt-3">
                  Showing
                  {{ lookUpNameList.length > 0 ? lookuplowerBound : "0" }} to
                  {{
                  lookupUpperBound > lookupmaxCount
                  ? lookupmaxCount
                  : lookupUpperBound
                  }}
                  of {{ lookupmaxCount }}
                </p>
                <button type="submit" class="btn btn-inner ml-4 btn-green btn-border" data-dismiss="modal"
                  (click)="lookupPrevpage()" [disabled]="lookuplowerBound == 1">
                  Prev
                </button>
                <button type="submit" [disabled]="lookupUpperBound > lookupmaxCount"
                  class="btn btn-inner ml-4 btn-green btn-border" data-dismiss="modal" (click)="lookupPagenext()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pr-0">
          <!-- ===== edit lookupname ==== -->
          <div class="create-wrapper" *ngIf="lookupDisplay[0]">
            <div class="title">
              <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
                {{ lookupDataById.id == 0 ? "Create" : "Update" }} Lookup
                - {{ interface }}
              </h5>
            </div>
            <div class="border-2">
              <div class="my-3 d-flex">
                <label class="m-0 w-200">Lookup Name<span class="text-danger">*</span></label>
                <div class="input-group input-section">
                  <input type="text" [trim]="'blur'" class="form-control input-text" placeholder="Lookup Name"
                    [(ngModel)]="lookupDataById.lookupName" aria-label="Your Name" aria-describedby="basic-addon2"
                    />
                  <div class="break"></div>
                  <div *ngIf="lookupSubmit" class="text-danger">
                    <div *ngIf="
                        (lookupSubmit && lookupDataById.lookupName == null) ||
                        (lookupDataById.lookupName != null
                          ? lookupDataById.lookupName.trim().length == 0
                          : lookupSubmit)
                      ">
                      Lookup Name is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-3 d-flex">
                <label class="m-0 w-200">Title <span class="text-danger">*</span></label>
                <div class="input-group input-section">
                  <input type="text" [trim]="'blur'" class="form-control input-text" placeholder="Title"
                    [(ngModel)]="lookupDataById.title"  />
                  <div class="break"></div>
                  <div *ngIf="
                      lookupSubmit &&
                      (lookupDataById.title == null ||
                        lookupDataById.title.trim().length == 0)
                    " class="text-danger">
                    <div>Title is required</div>
                  </div>
                </div>
              </div>

              <div class="my-3 d-flex">
                <label class="m-0 w-200">Sort Order</label>
                <div class="input-group input-section">
                  <input type="number" class="form-control input-text" placeholder="Sort Order"
                    [(ngModel)]="lookupDataById.sortOrder" aria-label="Your Name" aria-describedby="basic-addon2"
                    tabindex="1" />

                </div>
              </div>

              <div *ngIf=" lookupDataById.id != 0 " class="input-group input-section d-flex align-items-center mt-2"
                >
                <label class="m-0 pr-3 font-size-15"> Active </label>
                <div class="check-box-wrapper">
                  <div class="on-off-toggle">
                    <input class="on-off-toggle__input" id="bopis" name="active" [(ngModel)]="lookupDataById.active"
                      (change)="
                        lookupDataById.active = $event.target.checked ? 1 : 0
                      " type="checkbox" [checked]="lookupDetailsById.active==1"  />
                    <label for="bopis" class="on-off-toggle__slider"></label>
                  </div>
                </div>

                <!-- <div class="check-box-wrapper">
                                    <div class="on-off-toggle">
                                        <input class="on-off-toggle__input" [(ngModel)]='InterfaceDataSetById.active'
                                            (change)="InterfaceDataSetById.active = $event.target.checked ? 1: 0" name='active'
                                            type="checkbox" />
                                        <label for="bopis" class="on-off-toggle__slider"></label>
                                    </div>
                                </div> -->
              </div>

              <div class="close-button justify-content-end">
                <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
                  (click)="cancellookup()">
                  Cancel
                </button>
                <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
                  (click)="saveLookup()">
                  {{ lookupDataById.id == 0 ? "Create" : "Save" }}
                </button>
              </div>
            </div>
          </div>
          <!-- =========== edit lookupname end=================== -->

          <div class="edit-wrapper mb-4 box-shadow" *ngIf="lookupDisplay[1]">
            <div class="title">
              <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
                {{ lookupDetailsById.id == 0 ? "Create" : "Update" }}
                Lookup Details -{{ interface }}
              </h5>
            </div>
            <div class="border-2">
              <div class="my-3 d-flex">
                <label class="m-0 w-200">Name <span class="text-danger">*</span></label>
                <div class="input-group input-section">
                  <input type="search" class="form-control input-text" placeholder="Name"
                    [(ngModel)]="lookupDetailsById.name" aria-label="Your Name" aria-describedby="basic-addon2"
                    tabindex="1" />
                    <div class="break text-danger"*ngIf="(lookupDetailsById.name==null&&savelookupdetailsError)||((lookupDetailsById.name!=null?lookupDetailsById.name.trim().length==0 :true) &&savelookupdetailsError )" >
                      <div >Name is required</div>
                  </div>
                </div>
              </div>

              <div class="my-4 d-flex">
                <label class="m-0 w-200">Value <span class="text-danger">*</span></label>
                <div class="input-group input-section">
                  <input type="search" class="form-control input-text" placeholder="Value"
                    [(ngModel)]="lookupDetailsById.value" aria-label="Your Name" aria-describedby="basic-addon2"
                    tabindex="1" />
                    <div class="break text-danger"*ngIf="(lookupDetailsById.value==null&&savelookupdetailsError)||((lookupDetailsById.value!=null?lookupDetailsById.value.trim().length==0 :true) &&savelookupdetailsError )" >
                      <div>Value is required</div>

                  </div>
                </div>
              </div>
              <div class="my-4 d-flex">
                <label class="m-0 w-200">Sort Order </label>
                <div class="input-group input-section">
                  <input type="number" class="form-control input-text" placeholder="Sort Order"
                    [(ngModel)]="lookupDetailsById.sortOrder" aria-label="Your Name" aria-describedby="basic-addon2"
                    tabindex="1" />
                  <div class="break"></div>
                </div>
              </div>

              <div *ngIf="lookupDetailsById.id != 0 " class="input-group input-section d-flex align-items-center mt-2"
                >
                <label class="m-0 pr-3 font-size-15"> Active </label>
                <div class="check-box-wrapper">
                  <div class="on-off-toggle">
                    <input class="on-off-toggle__input" id="bopis" name="active" [(ngModel)]="lookupDetailsById.active"
                      (change)="
                        lookupDetailsById.active = $event.target.checked ? 1 : 0
                      " [checked]="lookupDetailsById.active==1?true:false" type="checkbox" />
                    <label for="bopis" class="on-off-toggle__slider"></label>
                  </div>
                </div>

                <!-- <div class="check-box-wrapper">
                                  <div class="on-off-toggle">
                                      <input class="on-off-toggle__input" [(ngModel)]='InterfaceDataSetById.active'
                                          (change)="InterfaceDataSetById.active = $event.target.checked ? 1: 0" name='active'
                                          type="checkbox" />
                                      <label for="bopis" class="on-off-toggle__slider"></label>
                                  </div>
                              </div> -->
              </div>

              <div class="close-button justify-content-end">
                <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
                  (click)="cancellookupdetails()">
                  Cancel
                </button>
                <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
                  (click)="saveLookupDetails()">
                  {{ lookupDetailsById.id == 0 ? "Create" : "Save" }}
                </button>
              </div>
            </div>
          </div>

          <div class="border box-shadow" *ngIf="lookupDisplay[2]">
            <div class="data-table-header d-flex justify-content-between align-items-center">
              <h5 class="m-0 text-white">Lookup Details</h5>
              <!-- <input type="search" class="form-control w-200" placeholder="Search Lookups" /> -->
            </div>
            <div class="p-2">
              <div class="table-responsive dual-data-table vh-30">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="w-60 sticky-top"></th>
                      <th scope="col" class="sticky-top">Name</th>
                      <th class="align-middle sticky-top">Value</th>
                      <th scope="col" class="sticky-top px-3">Active</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of lookupDetailsList; let i = index">
                      <td>
                        <span class="material-icons" data-toggle="modal" title="Interface lookup Mapping"
                          (click)="getLookupDetailsById(item.id)" data-target="#staticBackdrop">
                          edit
                        </span>
                      </td>
                      <td class="text-left">{{ item.name }}</td>
                      <td class="text-left">{{ item.value }}</td>
                      <td>
                        {{ item.active}}
                      </td>
                    </tr>
                    <!-- <tr>
                                            <td>
                                                <span class="material-icons" data-toggle="modal"
                                                    data-target="#staticBackdrop">
                                                    edit
                                                </span>
                                            </td>
                                            <td class="text-left">name</td>
                                            <td class="text-left">description</td>
                                            <td>
                                                No
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="material-icons" data-toggle="modal"
                                                    data-target="#staticBackdrop">
                                                    edit
                                                </span>
                                            </td>
                                            <td class="text-left">name</td>
                                            <td class="text-left">description</td>
                                            <td>
                                                No
                                            </td>
                                        </tr> -->
                  </tbody>
                </table>
                <p *ngIf="lookupDetailsList.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- ============= lookup listing end ============ -->

      <!-- ============= document listing start============ -->
      <ng-container>
        <app-dcoument class="col-md-9 d-flex p-0" *ngIf="displayArray[3]"></app-dcoument>
      </ng-container>
      <!-- ============= document listing end ============ -->
      <!-- ============= lookup details ============ -->
      <ng-container *ngIf="displayArray[4]">
        <div class="col-md-4 pr-0">
          <div class="border box-shadow">
            <div class="data-table-header d-flex justify-content-between align-items-center">
              <h5 class="m-0 text-white">POC Lookup List - {{ interface }}</h5>
            </div>
            <div class="p-2">
              <div class="table-responsive data-table" style="height: 71vh">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="w-60 sticky-top"></th>
                      <th scope="col" class="sticky-top">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ExportPOCLookupList; let i = index">
                      <td>
                        <span class="material-icons" (click)="
                            getExportPOCLookupDetailsById(item.pocLookupId)
                          " title="External lookupMapping">
                          edit
                        </span>
                      </td>

                      <td>{{ item.lookupName }}</td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="ExportPOCLookupList.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 pr-0">
          <div class="border box-shadow">
            <div class="data-table-header d-flex justify-content-between align-items-center">
              <h5 class="m-0 text-white">Lookup Mapping - {{ interface }}</h5>
            </div>
            <div class="p-2">
              <div class="d-flex align-items-center justify-content-between">
                <h6 class="pl-3">Interface Lookup</h6>
                <div>
                  <select [ngClass]="{
                      'is-invalid':
                        interfaceLookupId == 0 && lookupmappingSubmit
                    }" (change)="getLookupDetailsList(interfaceLookupId, true)" [(ngModel)]="interfaceLookupId"
                    class="mb-2 form-control w-250 mr-5">
                    <option [value]="0">Select</option>
                    <option *ngFor="let item of interfaceLookupList" [ngValue]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="interfaceLookupId == 0 && lookupmappingSubmit" class="text-danger mb-2 text-center">
                    InterfaceLookup is required
                  </div>
                </div>
              </div>

              <div class="table-responsive data-table" style="height: 60vh">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="sticky-top w-160">POC Lookup</th>
                      <th class="align-middle sticky-top">Interface Lookup</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pocLookupDetails; let i = index">
                      <td class="text-left">{{ item.name }}</td>
                      <!-- <td>Value</td> -->
                      <td class="w-250 pr-20">
                        <!-- <ng-select class="form-control text-left m-0 mxw-250" [items]="lookupDetailsList" bindLabel='name'
                          bindValue='id' placeholder="--Select--" (change)="onchange(i,$event)"
                          [(ngModel)]="pocLookupDetails[i].interfaceLookupDetailsId"
                          [ngClass]="{ 'is-invalid': pocLookupDetails[i].interfaceLookupDetailsId==null   &&lookupmappingSubmit }">
                        </ng-select> -->
                        <select [(ngModel)]="
                            pocLookupDetails[i].interfaceLookupDetailsId
                          " class="mb-2 form-control mxw-250 mr-5" [ngClass]="{
                            'is-invalid':
                              pocLookupDetails[i].interfaceLookupDetailsId ==
                                0 && lookupmappingSubmit
                          }">
                          <option [ngValue]="0">--select--</option>
                          <option [ngValue]="data.id" *ngFor="
                              let data of lookupDetailsList | orderBy: order
                            ">
                            {{ data.name }}
                          </option>
                        </select>
                        <div *ngIf="
                            pocLookupDetails[i].interfaceLookupDetailsId == 0 &&
                            lookupmappingSubmit
                          " class="text-danger text-center">
                          InterfaceLookup is required
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="pocLookupDetails.length == 0" class="no-records text-center">
                  No Records Found
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end pagination">
              <button type="submit" class="btn-border btn-blue w-60 text-white mr-2"
                (click)="getExportPOCLookupDetailsById(pocLookupId)">
                Cancel
              </button>
              <button type="submit" class="btn-border btn-green w-60 text-white" (click)="saveExportLookupMapping()">
                Save
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- =============End lookup details ============ -->

      <!-- ============= interfacePayor details ============ -->
      <app-payor-details *ngIf="displayArray[5]" class="col-md-9 d-flex p-0"></app-payor-details>
      <!-- =============End interfacePayor details ============ -->

      <!-- ============= interfacePayor details ============ -->

      <!-- <app-interface-payor-mapping *ngIf='displayArray[6]' class="col-md-9 d-flex p-0"></app-interface-payor-mapping> -->
      <app-interface-jobs *ngIf="displayArray[6]" class="col-md-9 d-flex p-0"></app-interface-jobs>
      <!-- =============End interfacePayor details ============ -->

      <!-- ============= interfacePayor details ============ -->

      <app-interface-poc-services-map *ngIf="displayArray[7]" class="col-md-9 d-flex p-0">
      </app-interface-poc-services-map>
      <!-- =============End interfacePayor details ============ -->

      <!-- ============= interface services ============ -->

      <app-interface-services *ngIf="displayArray[8]" class="col-md-9 d-flex p-0"></app-interface-services>
      <!-- =============End interface services ============ -->

      <app-interface-office-details *ngIf="displayArray[9]" class="col-md-9 d-flex p-0"></app-interface-office-details>
      <app-interface-medium *ngIf="displayArray[10]" class="col-md-9 d-flex p-0"></app-interface-medium>

      <app-interface-offices *ngIf="displayArray[11]" class="col-md-9 d-flex p-0"></app-interface-offices>

      <app-interface-token-credential *ngIf="displayArray[12]" class="col-md-9 d-flex p-0">
      </app-interface-token-credential>

      <app-visit-deleted-medium *ngIf="displayArray[13]" class="col-md-9 d-flex p-0"></app-visit-deleted-medium>

      <app-interface-provider-details *ngIf="displayArray[14]" class="col-md-9"></app-interface-provider-details>

      <app-interface-static-values *ngIf="displayArray[15]" class="col-md-9 d-flex p-0"></app-interface-static-values>

      <app-ps-provider-details *ngIf="displayArray[16]" class="col-md-9"></app-ps-provider-details>
      <app-dcs-provider-details *ngIf="displayArray[17]" class="col-md-9"></app-dcs-provider-details>
      <app-interface-status *ngIf="displayArray[18]" class="col-md-9 d-flex p-0"></app-interface-status>
    </div>
  </div>
<!-- </div> -->

<!-- lorem -->
