<!-- <app-header></app-header> -->
<!-- <div class="activity-wrapper">

  <div class="activity-inner-wrapper d-flex">
    <app-sidebar></app-sidebar> -->
    <div class=" px-3 mt-2">
      <div class="filter-content d-flex justify-content-between px-3 align-items-center mb-2 nav">
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 f-15 mr-4">Dataset</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-120" placeholder="Search Dataset">
          </div>
        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 w-200 f-15 my-0">Activity Start Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200" #ActivityStart="bsDatepicker"
            readonly bsDatepicker [(ngModel)]="activityStartDate" placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityStart.toggle()" ></i>
          </div>

        </div>
        <div class="my-3 d-flex align-items-center">
          <label class="mx-2 w-200 f-15 my-0">Activity End Date</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text w-200" #ActivityEnd="bsDatepicker" readonly bsDatepicker [(ngModel)]="activityEndDate" placeholder="MM/dd/yyyy">
            <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()" ></i>
          </div>
        </div>
        <div>
          <button class="btn-border btn-green text-white px-3">Go</button>
        </div>
      </div>

      <div class="table-res">
        <table class="table box-shadow">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="sticky-top ">Dataset</th>
              <th scope="col" class="sticky-top">Direction</th>
              <th scope="col" class="sticky-top">User</th>
              <th scope="col" class="sticky-top">Activity Date</th>
              <th scope="col" class="sticky-top">Request File</th>
              <th scope="col" class="sticky-top">Response File</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataSetlist;let i=index">
              <!-- <th><i class="fas fa-file f-20"></i></th> -->

              <td>{{data.dataset+i}}</td>
              <td>{{data.direction+i}}</td>
              <td>{{data.user+i}}</td>
              <td>{{data.activityDate}}</td>
              <td ><p title=data.requestFile>{{data.requestFile|slice:0:10}}...</p></td>
              <td>{{data.responseFile|slice:0:10 }}...</td>
              <!-- <td><i class="fas fa-list f-20"></i></td> -->

            </tr>
            <tr>
              <!-- <th><i class="fas fa-file f-20"></i></th> -->

              <td>Schedules</td>
              <td>Exported</td>
              <td>Person 2</td>
              <td>08/25/2020 8:00 AM</td>
              <td>Attachment1</td>
              <td>Attachment2</td>

            </tr>
            <tr>
              <!-- <th><i class="fas fa-file f-20"></i></th> -->

              <td>Completed Visits</td>
              <td>Imported</td>
              <td>Person 3</td>
              <td>09/21/2020 5:30 PM</td>
              <td>Attachment1</td>
              <td>Attachment2</td>

            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="pagination">
        <div>

        </div>
        <button type="button" class="btn-border btn-green mx-2" id="prev-btn">Prev</button>
        <button type="button" class="btn-border btn-green mx-2" id="next-btn">Next</button>
      </div> -->

      <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-n1 ">
        <div class="pagination  justify-content-end pagination-button">
          <div class="d-flex align-items-center">
            <h6 class="mx-3">Per page</h6>
            <select name="" id="" class="border-0 box-shadow mr-3">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </div>
          <div class="page-item "><button type="button" class="btn-green btn-border text-white mx-2">Prev</button></div>
          <div class="page-item "><button type="button" class="btn-green btn-border text-white mx-2">Next</button></div>
        </div>
        <!-- Pagination end  -->
      </div>
    </div>
  <!-- </div>
</div> -->
