  <div class="modal-header">
    <h4 class="modal-title pull-left">EVV Metrics Details <i (click)="downloadSheet()" class="fa fa-download  ml-2" style="font-size: 22px;"></i> </h4>
    <button type="button" class="close pull-right color-white" (click)="bsmodelRef.hide()" aria-label="Close">
  <span aria-hidden="true" class="color-white">&times;</span>
</button>
</div>
<div class="modal-body">
  <div class="table-res mt-2 box-shadow" >
    <table class="table  mb-0 table-analytics">
      <thead class="thead-dark">

        <tr>
          <th class="border-right" scope="col">Batch #</th>
          <th class="border-right" scope="col">Billed Revenue</th>
          <th class="border-right" scope="col"> Site </th>
          <th class="border-right" scope="col">PS </th>
          <th class="border-right" scope="col">DCS</th>
          <th class="border-right" scope="col">Procedure Code</th>
          <th class="border-right" scope="col"> Scheduled Start </th>
          <th class="border-right" scope="col"> Scheduled End </th>
          <th class="border-right" scope="col"> Reported Start </th>
          <th class="border-right" scope="col"> Reported End </th>
          <th class="border-right" scope="col"> Arrival Call Type</th>
          <th class="border-right" scope="col">Departure Call Type </th>
          <th class="border-right" scope="col"> Exported On</th>
          <th class="border-right" scope="col"> Billing Status</th>
          <th *ngIf="modalData?.status==3" class="border-right" scope="col"> Error Code</th>
          <th *ngIf="modalData?.status==3" class="border-right" scope="col"> Rejected Reason</th>
          <th *ngIf="modalData?.status==3" class="border-right" scope="col"> Payor Code</th>


        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of evvMetricsDetailsArray">
          <td class="border-right" scope="col">{{item.batchNumber}}</td>
          <td class="border-right" scope="col">{{item.billedRevenue}}</td>
          <td class="border-right" scope="col"> {{item.siteCode}}</td>
          <td class="border-right" scope="col">{{item.psName}}</td>
          <td class="border-right" scope="col">{{item.dcsName}}</td>
          <td class="border-right" scope="col"> {{item.procedureCode  }}</td>
          <td class="border-right" scope="col">{{item.scheduledStartDateTime}} </td>
          <td class="border-right" scope="col">{{item.scheduledEndDateTime}} </td>
          <td class="border-right" scope="col">{{item.reportedStartDateTime}} </td>
          <td class="border-right" scope="col">{{item.reportedEndDateTime}} </td>
          <td class="border-right" scope="col">{{item.arrCallType}} </td>
          <td class="border-right" scope="col">{{item.depCallType}} </td>
          <td class="border-right" scope="col">{{item.exportedOn}} </td>
          <td class="border-right" scope="col">{{item.billingStatus}} </td>
          <td *ngIf="modalData?.status==3" class="border-right" scope="col">{{item?.exportStatusCode}} </td>
          <td *ngIf="modalData?.status==3" class="border-right" scope="col">{{item?.exportStatusMessage}} </td>
          <td *ngIf="modalData?.status==3" class="border-right" scope="col">{{item?.payorCode}} </td>


        </tr>
      </tbody>
    </table>
    <p *ngIf="evvMetricsDetailsArray.length==0" class="no-records text-center">No Records Found</p>

  </div>
  <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2 ">
    <div class="pagination  justify-content-end pagination-button">
      <div class="d-flex align-items-center">
        <h6 class="mx-3">Per page</h6>
        <select [(ngModel)]="perPage" (change)="pageChange()" class="border-0 box-shadow mr-3">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      Showing {{evvMetricsDetailsArray.length>0?lowerBound:'0'}} to {{upperBound >totalCount?totalCount:upperBound}} of {{totalCount}}

      <div class="page-item "><button (click)="prevpage()"  [disabled]="lowerBound==1"  type="button"
          class="btn-green btn-border text-white mx-2" >Prev</button></div>
      <div class="page-item "><button (click)="nextPage()" [disabled]="upperBound>=totalCount" type="button"
          class="btn-green btn-border text-white mx-2">Next</button></div>
    </div>
    <!-- Pagination end  -->
  </div>
  </div>
