<!-- <app-header></app-header> -->
<!-- <div class="activity-wrapper">
  <div class="activity-inner-wrapper d-flex">
    <app-sidebar></app-sidebar> -->
    <div class="px-2 mt-2">
      <div class="d-flex">
        <div
          class="filter-content reconcilation-filters  px-2 pb-3 align-items-center justify-content-between nav">
            <div class="d-flex align-items-center justify-content-between nav w-100">
              <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 text-right">
                  Interface
                  <span class="text-danger ml-1">*</span>
                </label>

                <div class="input-group input-section">
                  <!-- <input type="text" class="form-control input-text w-120" placeholder="Search Dataset"> -->
                  <select (change)="filterChange()" [(ngModel)]="interfaceId" class="form-control input-text">
                    <option [ngValue]="0">--Select--</option>
                    <option [ngValue]="item.id" *ngFor="let item of interfaceList">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <div class=" form-check ">
                  <input type="checkbox" [(ngModel)]="includeInActivePS" (change)="onIncludeInactiveChange($event,'PS')" class="form-check-input" id="exampleCheck1">
                  <span class="form-check-label f-15 AvenirLTStd-Roman" for="exampleCheck1">Include In-Active</span>
                 </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="f-15 my-0 ml-4 pr-2 text-right" style="width: 178px">PS
                </label>
                <div class="input-group input-section">
                  <!-- <input  type="text" class="form-control input-text w-180" placeholder="Search PS"> -->
                  <ng-autocomplete #ps class="input-text w-100" (inputCleared)="filterClear('ps')" (selected)='selectEvent($event,"ps")'  [data]="psFilter"  [searchKeyword]="'psName'"
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                    <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.psName"></a>
                  </ng-template>
                </div>
              </div>
              </div>
              <div class="text-center">
                <div class=" form-check ">
                  <input  [(ngModel)]="includeInActiveDCS" (change)="onIncludeInactiveChange($event,'DCS')"  type="checkbox" class="form-check-input" id="dcsIncludeInActive">
                  <span class="form-check-label f-15 AvenirLTStd-Roman" for="dcsIncludeInActive">Include In-Active</span>
                 </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="f-15 my-0 ml-4 pr-2 text-right" style="width: 178px">DCS
                </label>
                <div class="input-group input-section">
                  <!-- <input type="text" class="form-control input-text w-180" placeholder="Search DCS"> -->
                  <ng-autocomplete #dcs (inputCleared)="filterClear('dcs')" (selected)='selectEvent($event,"dcs")' [data]="dcsFilter" class="input-text w-100"   [searchKeyword]="'dcsName'"
                    [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate2 let-item>
                    <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.dcsName"></a>
                  </ng-template>
                </div>
              </div>
              </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 my-0 text-right mr-2">Service </label>
                <div class="input-group input-section">
                  <!-- <input type="text" class="form-control input-text w-180" placeholder="Search Service"> -->
                  <ng-autocomplete (inputCleared)="filterClear('service')" (selected)='selectEvent($event,"service")'  [data]='serviceFilter' #service class="input-text w-100"
                    [searchKeyword]="'serviceName'" [itemTemplate]="itemTemplate3" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate3 let-item>
                    <a [innerHTML]="item.serviceName"></a>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between nav w-100">
              <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 my-0 text-right">Payor </label>
                <div class="input-group input-section">
                  <select [(ngModel)]="payorId" class="form-control input-text">
                    <option [ngValue]="0">--Select--</option>
                    <option [ngValue]="item.payerId" *ngFor="let item of payorFilter">{{item.payerName}}</option>
                  </select>
                </div>
              </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 my-0 text-right">Site </label>
                <div class="input-group input-section">
                  <select [(ngModel)]="officeId" class="form-control input-text">
                    <option [ngValue]="0">--Select--</option>
                    <option [ngValue]="item.officeId" *ngFor="let item of officeList">{{item.officeName}}</option>
                  </select>
                </div>
              </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="ml-2 f-13 my-0 text-left">Start Date <span class="text-danger">*</span>
                </label>
                <div class="input-group input-section">
                  <input type="text" class="form-control input-text" [(ngModel)]="startDate" bsDatepicker placeholder="MM/DD/YYYY" />
                  <!-- <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i> -->
                </div>
              </div>
              <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-13 my-0 text-right">End Date<span class="text-danger">*</span>
                </label>
                <div class="input-group input-section">
                  <input type="text" class="form-control input-text" [(ngModel)]="endDate" style="width:161px" bsDatepicker placeholder="MM/DD/YYYY" />
                  <!-- <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i> -->
                </div>
              </div>


            </div>
        </div>
        <div class="filter-content d-flex justify-content-between pb-3 px-3 align-items-start pt-2 nav">
          <button class="btn-border btn-green text-white px-3 py-2" (click)="onGo()" >Go</button>
        </div>
      </div>

      <div class="table-reconcilation mt-2 box-shadow">
        <table class="table  ">
          <thead class="thead-dark sticky-top">
            <tr>

              <th colspan="6" class="border-right"></th>
              <th colspan="2" class="border-right text-center">
                <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
              </th>
              <!-- <th colspan="2" class="border-right text-center">
                <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
              </th> -->
              <th colspan="4" class="border-right text-center">
                Export Details
              </th>
            </tr>
            <tr >

              <th><input class="mr-2" [checked]="visiitDetailsCheckedAll" (change)="onCheckAll($event)" type="checkbox"></th>
              <th class="border-right" scope="col"><span class="d-flex">Site</span></th>
              <th class="border-right ps-th" scope="col">
                <i (click)="sortorder('ps','asc')" [ngClass]="currentorderby=='ps' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-1">PS</span>
                <i (click)="sortorder('ps','desc')" [ngClass]="currentorderby=='ps' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">DCS</th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('payor','asc')" [ngClass]="currentorderby=='payor' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Payor</span>
                <i (click)="sortorder('payor','desc')" [ngClass]="currentorderby=='payor' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">Service</th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('scheduled start date','asc')" [ngClass]="currentorderby=='scheduled start date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Start</span>
                <i (click)="sortorder('scheduled start date','desc')" [ngClass]="currentorderby=='scheduled start date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('scheduled end date','asc')" [ngClass]="currentorderby=='scheduled end date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">End</span>
                <i (click)="sortorder('scheduled end date','desc')" [ngClass]="currentorderby=='scheduled end date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <!-- <th class="border-right" scope="col">
                <i (click)="sortorder('reported start date','asc')" [ngClass]="currentorderby=='reported start date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Start</span>
                <i (click)="sortorder('reported start date','desc')" [ngClass]="currentorderby=='reported start date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">
                <i (click)="sortorder('reported end date','asc')" [ngClass]="currentorderby=='reported end date' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">End</span>
                <i (click)="sortorder('reported end date','desc')" [ngClass]="currentorderby=='reported end date' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th> -->
              <th class="border-right" scope="col"  style="white-space: nowrap;">
                <i (click)="sortorder('batch','asc')" [ngClass]="currentorderby=='batch' && orderType=='asc' ? 'text-primary':'' " class="fas fa-arrow-down text-white"></i>
                <span class="mx-2">Batch #</span>
                <i (click)="sortorder('batch','desc')" [ngClass]="currentorderby=='batch' && orderType=='desc' ? 'text-primary':'' " class="fas fa-arrow-up text-white"></i>
              </th>
              <th class="border-right" scope="col">Exported On</th>
              <th class="border-right" scope="col">Request/Response Message/Corrections</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let export of resubmitTransactionList;let i= index">
              <td><input type="checkbox" [checked]="visiitDetails.includes(export.visitDetailsId)" (change)="onvisitCheck(export.visitDetailsId,$event)" ></td>
              <td>{{export.siteCode}}</td>
              <td>{{export.psName}}</td>

              <td>{{export.dcsName}}</td>
              <td>{{export.interfacePayer}}</td>
              <td>{{export.procedureCode}}</td>
              <td>{{export.scheduledStartDateTime}}</td>
              <td>{{export.scheduledEndDateTime}}</td>
              <!-- <td>{{export.reportedStartDateTime}}</td>
              <td>{{export.reportedEndDateTime}}</td> -->
              <td class="text-center">{{export?.batchNumber}}</td>
              <td>{{export.exportedOn}}</td>
              <td>
                <div class="d-flex">
                  <i class="far fa-arrow-alt-circle-up mx-2 f-20" title="Request"
                    (click)="getExportedDataDetails(export,recordDetails)"></i>
                  <i class="far fa-arrow-alt-circle-down mx-2 f-20" title="Response" (click)="onresponse(response,export.responseMessage)"></i>
                  <i class="far fa fa-compress mx-2 f-20" title="Corrections" (click)="getCorrectionFileds(correction,export)" ></i>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <p *ngIf="resubmitTransactionList.length==0" class="no-records text-center">{{this.appliedInterfaceId ==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>



      </div>
      <div class="pagination-wrapper table-responsive justify-content-between d-flex nav mt-2">
        <div class="">
          <button *ngIf="resubmitTransactionList.length>0" [ngStyle]="visiitDetails.length==0?{'cursor': 'not-allowed'}:''" [disabled]="visiitDetails.length==0" (click)="repushSchdVisitRecords()" class="bg-blue-header btn-border text-white  px-2 py-2">Repush</button>
        </div>
        <div class="pagination justify-content-end pagination-button">
          <div class="d-flex align-items-center">
            <h6 class="mx-3">Per page</h6>
            <select [(ngModel)]="perPage" (change)="pageChange()" class="border-0 box-shadow mr-3">
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="75">75</option>
              <option [ngValue]="100">100</option>
              <option [ngValue]="125">125</option>
              <option [ngValue]="150">150</option>
            </select>
          </div>
          Showing {{totalCount>0?lowerBound:totalCount}} to {{this.upperBound<=totalCount ?this.upperBound:this.totalCount}} of {{totalCount}}
          <div class="page-item">
            <button (click)="prevpage()"  [disabled]="lowerBound==1" type="button" class="btn-green btn-border text-white mx-2">
              Prev
            </button>
          </div>
          <div class="page-item">
            <button (click)="nextPage()" [disabled]="upperBound>=totalCount" type="button" class="btn-green btn-border text-white mx-2">
              Next
            </button>
          </div>
        </div>
        <!-- Pagination end  -->
      </div>
    </div>


<ng-template #notFoundTemplate let-notFound>
  <div style="color: black" [innerHTML]="notFound"></div>
</ng-template>



<ng-template #response>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Response Message </h5>
        <button type="button" class="close text-white" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3">
      {{responseMessage}}
      </div>

    </ng-template>

 <ng-template #correction>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Corrections</h5>
    <button type="button" class="close text-white" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <table class="table mt-3 box-shadow">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaintlistArrayDisplay;let i=index">
          <td><input type="checkbox" [(ngModel)]="complaintlistArrayDisplay[i].checked" [checked]="complaint.checked==1"(change)="correctionChecked(i,$event,false) " ></td>
          <td scope="row">{{complaint.interfaceColumnName}}</td>
          <td><input *ngIf="complaint.checked==1" type="text" placeholder="Value" [(ngModel)]="complaintlistArrayDisplay[i].newColumnValue">
          <p *ngIf="complaint.checked==0">{{complaint.interfaceColumnValue}}</p></td>
        </tr>

      </tbody>
    </table>
    <p *ngIf="complaintlistArrayDisplay.length==0" class="no-records text-center">No Records Found</p>

    <span class="mr-5 ml-2"><input type="checkbox"(change)="correctionChecked(null,$event,true)" > Resubmit all records  </span>
  </div>


  <!-- <div class="modal-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo non quas ratione similique excepturi aperiam
    ducimus odit sed ullam ipsum porro nam laboriosam asperiores quidem officia enim eaque, illum aliquid. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat quam qui odio nulla quidem! Dolorum, adipisci quidem
    vel officia eius iste magnam? Enim, quaerat est tempore iure consequatur similique. Exercitationem Lorem ipsum
    dolor sit, amet consectetur adipisicing elit. Itaque alias cum esse quibusdam, molestias quasi deserunt illum
    iusto nam iure laudantium eaque maxime repudiandae adipisci, numquam sint dicta officia at! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Repellendus, voluptates, dolore sunt quae vitae nihil repellat id maiores
    natus ipsam, maxime commodi vel hic doloribus molestiae voluptatem quasi voluptate laborum. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Accusamus soluta similique, quidem impedit blanditiis magni consectetur
    sapiente atque, debitis iusto, veniam ad quis sint eaque voluptate animi neque adipisci quisquam. </div> -->
  <div class="modal-footer justify-content-center">
    <button (click)="oncorrectionSave()" type="button" style="background-color: #76bd43;" class="btn btn-primary ">{{this.correctionSaveButton?'Save':'Close'}}</button>
  </div>
 </ng-template>

 <ng-template #recordDetails>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Record Details</h4>
      <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" class="color-white">&times;</span>
  </button>
  </div>
  <div class="modal-body">
      <div class="">
          <h3 class="m-0 table-reconcile-header">Details</h3>
          <div class="table-responsive border box-shadow height-67 reconcilation-table">
              <table class="table ">
                  <thead>
                      <tr>
                          <th class="bg-dark color-white border-right">
                              Column Name
                          </th>
                          <th class="bg-dark color-white">
                              Value
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="" *ngFor="let item of visitRequestData">
                          <td class=" border-right">
                              <div class="border-left">{{item.interfaceElementName}}</div>
                          </td>
                          <td class="">
                              <div class="border-right">{{item.requestValue}}</div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
          </div>
      </div>

  </div>
</ng-template>
