<div class=" px-3 mt-2">
  <div class="d-flex">
    <div class="filter-content reconcilation-filters d-flex justify-content-between px-3  pb-3 align-items-end nav">
      <div class="mt-2 d-flex align-items-center">
        <label class="mx-2 f-15 d-flex align-items-center justify-content-end">
          Interface
          <span class="text-danger ml-1">*</span>
        </label>
        <div class="input-group input-section ">
          <select (change)="filterChange()" [(ngModel)]="interFaceId" class="form-control input-text ">
            <option [ngValue]="0">--Select--</option>
            <option *ngFor="let data of interfaceList" [ngValue]="data.id">{{data.name}}</option>
          </select>
        </div>
      </div>
      <div class="text-center">
        <div class=" form-check ">
          <input  [(ngModel)]="includeInActiveDCS" (change)="onIncludeInactiveChange($event,'DCS')"  type="checkbox" class="form-check-input" id="dcsIncludeInActive">
          <span class="form-check-label f-15 AvenirLTStd-Roman" for="dcsIncludeInActive">Include In-Active</span>
        </div>
      <div class="mt-2 d-flex align-items-center">
        <label class=" f-15 my-0 ml-4 pr-2 text-right" style="width: 178px;">DCS </label>
        <div class="input-group input-section">
          <ng-autocomplete #ps class="input-text w-100" [data]="dcsList" [searchKeyword]="'dcsName'" [(ngModel)]="dcsId"
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.dcsName"></a>
          </ng-template>
        </div>
      </div>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <label class="ml-2 f-13 my-0   text-left">Start Date <span class="text-danger ">*</span>
        </label>
        <div class="input-group input-section">
          <input [(ngModel)]="startDate" type="text" class="form-control input-text " bsDatepicker
            placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <label class="mx-2 f-13 my-0   text-right">End Date<span class="text-danger">*</span>
        </label>
        <div class="input-group input-section">
          <input [(ngModel)]="endDate" type="text" class="form-control input-text" style="width:161px" bsDatepicker
            placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="mt-2 d-flex align-items-center">
        <label class="mx-1 mt-2 f-15 text-right">Status </label>
        <div class="input-group input-section">
          <select [(ngModel)]="exportStatusId" class="form-control input-text ">
            <option [ngValue]="0">--Select--</option>
            <option [ngValue]="1">Exported</option>
            <option [ngValue]="2">Accepted</option>
            <option [ngValue]="3">Rejected</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-2  align-items-center">
        <!-- <div class=" form-check mr-5">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <span class="form-check-label f-15 AvenirLTStd-Roman" for="exampleCheck1">Include In-Active</span>
       </div> -->
        <button class="btn-border btn-green text-white px-3 py-2" (click)="onGo()"> Go</button>
      </div>
    </div>

  </div>

  <div class="table-reconcilation mt-2" >
    <table class="table box-shadow ">
      <thead class="thead-dark sticky-top">
        <tr>
          <th colspan="1" class="border-right  align-middle" rowspan="2">DCS</th>
          <th colspan="1" class="border-right text-center  align-middle" rowspan="2">
            Enterprise Id
          </th>
          <th colspan="5" class="border-right text-center border-bottom">Export Details</th>
        </tr>
        <tr class="no-wrap" style="white-space: nowrap;">
          <th class="border-right " scope="col">Batch #</th>
          <th class="border-right " scope="col">Details
          </th>
          <th class="border-right " scope="col">Status</th>
          <th class="border-right " scope="col">Exported On</th>
          <th class="border-right " scope="col">Response Message
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="no-wrap" *ngFor="let data  of exportDetailsArray">
          <td>{{data.dcsName}}</td>
          <td>{{data.enterpriseId}}</td>
          <td class="text-center">{{data.batchNumber}}</td>
          <td><span class="details-icon" (click)="getExportedDataDetails(data,recordDetails)"><i
                class="fas fa-file-alt"></i></span></td>
          <td>{{data.exportStatus}}</td>
          <td>{{data.exportedOn}}</td>
          <td class="word-break">{{data?.responseMessage}}</td>
        </tr>

      </tbody>
    </table>
    <p *ngIf="exportDetailsArray.length==0" class="no-records text-center">{{defaultrecords==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
  </div>
  <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2">
    <div class="pagination  justify-content-end pagination-button">
      <div class="d-flex align-items-center">
        <h6 class="mx-3">Per page</h6>
        <select (change)="onPageReset()" [(ngModel)]="perPage" class="border-0 box-shadow mr-3">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      Showing {{totalRecordCount>0?lowerBound:totalRecordCount}} to {{this.upperBound<=totalRecordCount ?this.upperBound:this.totalRecordCount}}
      of {{totalRecordCount}}

      <div class="page-item "><button [disabled]="lowerBound<=1" (click)="prevpage()" type="button"
          class="btn-green btn-border text-white mx-2">Prev</button>
      </div>
      <div class="page-item "><button [disabled]="this.upperBound>=totalRecordCount" (click)="nextPage()" type="button"
          class="btn-green btn-border text-white mx-2">Next</button>
      </div>
    </div>
    <!-- Pagination end  -->
  </div>
</div>
<ng-template #notFoundTemplate let-notFound>
  <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template>
<ng-template #recordDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Record Details</h4>
    <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modelRef.hide()">
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <h3 class="m-0 table-reconcile-header">Details</h3>
      <div class="table-responsive border box-shadow height-67 reconcilation-table">
        <table class="table ">
          <thead>
            <tr>
              <th class="bg-dark color-white border-right">
                Column Name
              </th>
              <th class="bg-dark color-white">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let item of visitRequestData">
              <td class=" border-right">
                <div class="border-left">{{item.interfaceElementName}}</div>
              </td>
              <td class="">
                <div class="border-right">{{item.requestValue}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
      </div>
    </div>

  </div>
</ng-template>
