<div class=" px-3 mt-2">
  <div class="d-flex filter-content reconcilation-filters pb-2">
    <div class="row w-100 m-0 ">
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true"  [options]="interfaceList" [(ngModel)]='interFaceId' (onChange)="this.getFilterDataByDataSet();"
            optionValue="id" appendTo="body" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false"
            placeholder="Select Interface" class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Interface <span class="text-danger" >*</span></label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12 d-flex align-items-center">

        <span class="p-float-label w-100">
          <p-dropdown  [resetFilterOnHide]="true" [options]="dcsList" [(ngModel)]="dcsId" [virtualScroll]="true" [virtualScrollItemSize]="30"
            optionValue="dcsId" appendTo="body" optionLabel="dcsName" [filter]="true" filterBy="dcsName" [showClear]="true"
            placeholder="Select DCS" class="w-100" styleClass="w-100">
            <ng-template let-caller pTemplate="item">
              <div class="country-item">
                  <div [ngClass]="{'inActive':caller.active==0}">{{caller.dcsName}} </div>
              </div>
          </ng-template>
          </p-dropdown>
          <label for="inputtext">DCS</label>
        </span>
        <p-checkbox [binary]="true" [(ngModel)]="includeInActiveDCS" (onChange)="onIncludeInactiveChange($event.checked)" title="Incluce In-Active" name="groupname" value="val1" class="ml-2" ></p-checkbox>
      </div>



      <div class="field pt-4 col-lg-2 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" [(ngModel)]="startDate" [maxDate]="endDate" class=" w-100"
            bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">Start Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;"  type="text" class="" [(ngModel)]="endDate" class="w-100" [minDate]="startDate"
             bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">End Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-2 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true" [options]="statusList" [(ngModel)]="exportStatusId"
            optionValue="id" appendTo="body" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
            placeholder="Select Interface" class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Status</label>
        </span>
      </div>
    </div>
    <div class="filter-content d-flex justify-content-between  px-3  align-items-end nav">
      <button class="btn-border btn-green text-white px-3 py-2" (click)='onGo()'> Go</button>
    </div>
  </div>

  <div class="table-reconcilation mt-2" >
    <table class="table box-shadow ">
      <thead style="z-index: 997;" class="thead-dark sticky-top">
        <tr>
          <th colspan="1" class="border-right  align-middle" rowspan="2">DCS</th>
          <th colspan="1" class="border-right text-center  align-middle" rowspan="2">
            Enterprise Id
          </th>
          <th colspan="5" class="border-right text-center border-bottom">Export Details</th>
        </tr>
        <tr class="no-wrap" style="white-space: nowrap;">
          <th class="border-right " scope="col">Batch #</th>
          <th class="border-right " scope="col">Details
          </th>
          <th class="border-right " scope="col">Status</th>
          <th class="border-right " scope="col">Exported On</th>
          <th class="border-right " scope="col">Response Message
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="no-wrap" *ngFor="let data  of exportDetailsArray">
          <td>{{data.dcsName}}</td>
          <td>{{data.enterpriseId}}</td>
          <td class="text-center">{{data.batchNumber}}</td>
          <td><span class="details-icon" (click)="getExportedDataDetails(data,recordDetails)"><i
                class="fas fa-file-alt"></i></span></td>
          <td>{{data.exportStatus}}</td>
          <td>{{data.exportedOn}}</td>
          <td class="word-break">{{data?.responseMessage}}</td>
        </tr>

      </tbody>
    </table>
    <p *ngIf="exportDetailsArray.length==0" class="no-records text-center">{{defaultrecords==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
  </div>
  <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2">
    <div class="pagination  justify-content-end pagination-button">
      <div class="d-flex align-items-center">
        <h6 class="mx-3">Per page</h6>
        <select (change)="onPageReset()" [(ngModel)]="perPage" class="border-0 box-shadow mr-3">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      Showing {{totalRecordCount>0?lowerBound:totalRecordCount}} to {{this.upperBound<=totalRecordCount ?this.upperBound:this.totalRecordCount}}
      of {{totalRecordCount}}

      <div class="page-item "><button [disabled]="lowerBound<=1" (click)="prevpage()" type="button"
          class="btn-green btn-border text-white mx-2">Prev</button>
      </div>
      <div class="page-item "><button [disabled]="this.upperBound>=totalRecordCount" (click)="nextPage()" type="button"
          class="btn-green btn-border text-white mx-2">Next</button>
      </div>
    </div>
    <!-- Pagination end  -->
  </div>
</div>
<ng-template #notFoundTemplate let-notFound>
  <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template>
<ng-template #recordDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Record Details</h4>
    <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modelRef.hide()">
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <h3 class="m-0 table-reconcile-header">Details</h3>
      <div class="table-responsive border box-shadow height-67 reconcilation-table">
        <table class="table ">
          <thead>
            <tr>
              <th class="bg-dark color-white border-right">
                Column Name
              </th>
              <th class="bg-dark color-white">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let item of visitRequestData">
              <td class=" border-right">
                <div class="border-left">{{item.interfaceElementName}}</div>
              </td>
              <td class="">
                <div class="border-right">{{item.requestValue}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
      </div>
    </div>

  </div>
</ng-template>
