<div class=" px-3 mt-2" >
  <div class="filter-content d-flex justify-content-between px-3 align-items-center nav">
    <div class="my-2 d-flex align-items-center">
      <label class="mx-2 f-15 mr-2">Interface</label>
      <div class="input-group input-section filter-selection interface-filter-select">
        <ng-select [(ngModel)]="interfaceId" placeholder="--Select--" class="" >
          <ng-option [value]="item.id" *ngFor="let item of interfaceList" >{{item.label}}</ng-option>
      </ng-select>
      </div>
    </div>
    <div class="my-2 d-flex align-items-center">
      <label class="mx-2 w-space f-15 my-0 "> Start Date <span class="text-danger" > *</span></label>
      <div class="input-group input-section">
        <input type="text" #bsstartdate="bsDatepicker" [(ngModel)]="startDate" class="form-control input-text w-200 bg-white"
            bsDatepicker
          placeholder="MM/DD/YYYY">
        <i (click)="bsstartdate.toggle()" class="far fa-calendar-alt pl-2 f-20 pt-2" ></i>
      </div>

    </div>
    <div class="my-2 d-flex align-items-center">
      <label class="mx-2 w-space   f-15 my-0"> End Date <span class="text-danger" > *</span></label>
      <div class="input-group input-section">
        <input type="text" #bsenddate="bsDatepicker" [(ngModel)]="endDate" class="form-control input-text w-200 bg-white"   bsDatepicker
          placeholder="MM/DD/YYYY">
        <i (click)="bsenddate.toggle()" class="far fa-calendar-alt pl-2 f-20 pt-2" ></i>
      </div>
    </div>
    <div>
      <button class="btn-border btn-green text-white px-3" (click)="onGo()" > Go</button>
    </div>
  </div>
  <div class="table-res mt-2 box-shadow" >
    <table class="table  mb-0 table-analytics">
      <thead class="thead-dark">

        <tr>
          <th class="border-right" scope="col">Interface</th>
          <th class="border-right" scope="col"># of Txns Sent</th>
          <th class="border-right" scope="col"># of Txns Accepted</th>
          <th class="border-right" scope="col"> # of Txns Rejected</th>
          <th class="border-right" scope="col"> EVV% </th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of evvMetricsArray">
          <td class="border-right" scope="col">{{item.interfaceName}}</td>
          <td class="border-right blue-link" scope="col"(click)="opentemplate(item,0)"  >{{item.txnTotalCount}}</td>
          <td class="border-right blue-link" scope="col"(click)="opentemplate(item,2)" >{{item.txnAcceptedCount}}</td>
          <td class="border-right text-danger" scope="col"(click)="opentemplate(item,3)" > {{item.txnRejectedCount  }}</td>
          <td class="border-right" scope="col"> {{item.evvPercentage}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="evvMetricsArray.length==0" class="no-records text-center">No Records Found</p>

  </div>


</div>


