
<!-- <div class="evv-dashboard-wrapper">


    <div class="dashboard-inner-wrapper"  >
        <div class="d-flex nav">
            <app-sidebar></app-sidebar> -->
            <div class=" d-flex nav">
                <div class="card m-2" *ngFor='let data of DashboardData'>
                    <div class="dataset-header d-flex justify-content-between">
                        <h4 class="m-0 text-white">{{data.interfaceName}} </h4>
                        <!-- <div>
                            <i class="far fa-minus-square px-2 text-white" alt="minimise"></i>
                            <i class="fas fa-compress-alt" alt="expand"></i>
                            <i class="fas fa-expand px-2 text-white"></i>
                        </div> -->
                        <div class="d-flex">
                         <div><i class="fas fa-list text-white mx-3" (click)="navigate('/activityLog/'+data.interfaceName+'/'+data.interfaceDefinitionId)"  title="Activity Log"></i></div>
                        <div><i class="fas fa-exclamation-triangle text-white" (click)="navigate('/errorlog/'+data.interfaceName+'/'+data.interfaceDefinitionId)"title="Error Log"></i></div>
                        </div>
                    </div>
                    <div class="dataset-body">
                        <!-- <p>Arrow <span class="">Highlight Text</span> Effect</p> -->
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <h5 class="pt-3 ribbon-highlight dataset-title text-white f-15"><span  class="p-1" style="background-color: grey ; border-radius: 5px;">Datasets</span></h5>
                            <h5 class="pt-3 ribbon-highlight dataset-title text-white f-15"><span  class="p-1" style="background-color: grey ; border-radius: 5px;">Last Activity</span></h5>
                        </div>
                        <div class="dataset-inner-links">
                            <p class="my-1 pl-2 d-flex justify-content-between" *ngFor='let dataSet of data.datasetList'>
                                <span>
                                <i class="fas fa-arrow-alt-circle-down mr-2 text-danger"></i>
                                <a title="Activity Log" (click)="navigate('/activityLog/'+data.interfaceName+'/'+data.interfaceDefinitionId+'/'+ dataSet.id )" href="javascript:void(0)" class="m-0">{{dataSet.name}}</a>
                                </span>
                                <span  class="px-2 f-15">
                                  {{dataSet.lastActivity}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->
