<div class="col-md-7 pr-0">
    <div class="border box-shadow">
      <div class="data-table-header d-flex justify-content-between align-items-center ">
        <h5 class="m-0 text-white">Transaction Status Details - {{interfaceName}}</h5>
      </div>
      <div class="p-2">
        <div class="table-responsive data-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="w-60 sticky-top"></th>
                <th scope="col" class="sticky-top">Interface Dataset</th>
                <!-- <th scope="col" class="sticky-top">DatasetType</th> -->
                <th scope="col" class="sticky-top">URL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of statusList">
                <td>
                  <span (click)="updateForm(item)" class="material-icons" title="Edit">
                    edit
                  </span>
                </td>
                <td>{{item.interfaceDataset}}</td>
                <!-- <td>{{item.datasetType}}</td -->
                <td>{{item.url}}</td>
              </tr>
            </tbody>
          </table>
          <p class="no-records text-center" *ngIf="statusList.length==0">No Records Found</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 pr-0">
    <div class="create-wrapper">
      <div class="title">
        <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
          {{interfaceStatusForm.value.id==0 ?'Create':'Update'}} Transaction Status Details - {{interfaceName}}
        </h5>
      </div>
      <div class="border-2" [formGroup]="interfaceStatusForm"
       >
        <div class="d-flex align-items-center justify-content-between my-3">
          <h6 class="w-200">Interface Dataset <span class="text-danger">*</span></h6>
          <div class="w-100">
            <select class="form-control w-100" formControlName="interfaceDatasetId">
              <option [ngValue]="null">Select</option>
              <option *ngFor="let item of interFaceDatasetList" [ngValue]="item.id">{{item.name}}</option>
            </select>
            <div class="text-danger" *ngIf="interfaceStatusForm.value.interfaceDatasetId==null && formError">
              InterfaceDatasetId is required
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between my-3">
          <h6 class="w-200">DatasetType  <span class="text-danger">*</span></h6>
          <div class="w-100">
            <select class="form-control w-100" formControlName="datasetTypeId">
              <option [ngValue]="null">Select</option>
              <option *ngFor="let item of exportTableLookup" [ngValue]="item.id">{{item.name}}</option>
            </select>
            <div class="text-danger" *ngIf="interfaceStatusForm.value.datasetTypeId==null && formError">
              DatasetType is required
            </div>
          </div>
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200"> URL <span class="text-danger">*</span></label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " [trim]="'blur'" formControlName="url" placeholder="URL"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formControls.url.errors?.required && formError">
         URL is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200"> ProviderId <span class="text-danger">*</span></label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " [trim]="'blur'" formControlName="providerId" placeholder="ProviderId"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>

        </div>
        <div class="text-danger text-center" *ngIf="formControls.providerId.errors?.required && formError">
           ProviderId is required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200"> User Name </label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " formControlName="userName" placeholder="User Name"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>

        </div>


        <div class="my-3 d-flex">
          <label class="m-0 w-200"> Password</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " formControlName="password" placeholder="Password"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formControls.password.errors?.required && formError">
           Password required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200"> ClientId</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " formControlName="clientId" placeholder="ClientId"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formControls.clientId.errors?.required && formError">
          ClientId required
        </div>
        <div class="my-3 d-flex">
          <label class="m-0 w-200"> ClientSecret</label>
          <div class="input-group input-section">
            <input type="text" class="form-control input-text " formControlName="clientSecret" placeholder="ClientSecret"
              aria-label="Your Name" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="text-danger text-center" *ngIf="formControls.clientSecret.errors?.required && formError">
          ClientSecret   required
        </div>
        <div *ngIf="interfaceStatusForm.value.id!=0" class="input-group input-section d-flex align-items-center mt-2">
          <label class="m-0 pr-3  font-size-15 w-135">
            Active
          </label>
          <div class="check-box-wrapper">
            <div class="on-off-toggle">
              <input class="on-off-toggle__input" [checked]="interfaceStatusForm.value.active==1" (change)="onActiveChange($event)" id="bopis" name='active'
                type="checkbox" />
              <label for="bopis" class="on-off-toggle__slider"></label>
            </div>
          </div>

        </div>
        <div class="close-button justify-content-end ">
          <button type="submit" class="btn btn-inner btn-blue btn-border mr-2"
            (click)="createForm()">Cancel</button>
          <button type="submit" class="btn btn-inner btn-save btn-border"
            (click)="saveStatusMediumDetails()">{{interfaceStatusForm.value.id==0?'Create':'Save'}}</button>
        </div>
      </div>
    </div>
  </div>
