<!-- <div class="modal-header bg-dark text-white ">
  <h5 class="modal-title" id="exampleModalLongTitle">Create Interface </h5>
  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<!-- <div class="modal-content">
  <div class="bg-white"> -->

<div class="p-3">
  <div class="ps-edit-tabs pb-1">
    <tabset [justified]="true">
      <tab heading="Dataset" #dataset id="tab1">
        <app-interface-dataset *ngIf="dataset.active||dataset.active==undefined" class="d-flex"></app-interface-dataset>
      </tab>
      <tab heading="Lookup">
        lookup is In progress
      </tab>
      <tab heading="Lookup Mapping">
        lookup mapping is In progress
      </tab>
      <tab heading="Static values" #static (selectTab)='static.active=true' (deselect)="static.active=false">
        <app-interface-static-values *ngIf="static.active" class="d-flex"></app-interface-static-values>
      </tab>
      <tab heading="Offices" #offices (selectTab)='offices.active=true' (deselect)="offices.active=false">
        <app-interface-offices *ngIf="offices.active" class="d-flex"></app-interface-offices>

      </tab>
      <tab heading="Payor Details" #provider (selectTab)='provider.active=true' (deselect)="provider.active=false">
        <app-payor-details *ngIf="provider.active" class="d-flex"></app-payor-details>
      </tab>
      <tab heading="Services" #service (selectTab)='service.active=true' (deselect)="service.active=false">
        <app-interface-services *ngIf="service.active" class="d-flex"></app-interface-services>
      </tab>
      <tab heading="Provider" #provider (selectTab)='provider.active=true' (deselect)="provider.active=false">
        <app-interface-provider-details *ngIf="provider.active"></app-interface-provider-details>
      </tab>
      <tab heading="PS Provider" #PSprovider (selectTab)='PSprovider.active=true' (deselect)="PSprovider.active=false">
        <app-ps-provider-details *ngIf="PSprovider.active"></app-ps-provider-details>
      </tab>
      <tab heading="DCS Provider" #dcsprovider (selectTab)='dcsprovider.active=true'
        (deselect)="dcsprovider.active=false">
        <app-dcs-provider-details *ngIf="dcsprovider.active"></app-dcs-provider-details>
      </tab>
      <tab heading="Interface Medium" #medium (selectTab)='medium.active=true' (deselect)="medium.active=false">
        <app-interface-medium *ngIf="medium.active" class="d-flex"></app-interface-medium>
      </tab>
      <tab heading="Visit Deleted&nbsp;Medium" #visitDelete (selectTab)='visitDelete.active=true'
        (deselect)="visitDelete.active=false">
        <app-visit-deleted-medium *ngIf="visitDelete.active" class="d-flex"></app-visit-deleted-medium>
      </tab>
      <tab heading="Token Credintial" #tokencredential (selectTab)='tokencredential.active=true'
        (deselect)="tokencredential.active=false">
        <app-interface-token-credential *ngIf="tokencredential.active" class="d-flex"></app-interface-token-credential>
      </tab>
      <tab heading="Interface Jobs" #interfacejobs (selectTab)='interfacejobs.active=true'
        (deselect)="interfacejobs.active=false">
        <app-interface-jobs *ngIf="interfacejobs.active" class="d-flex"></app-interface-jobs>>
      </tab>
      <tab heading="Interface Documents" #docments (selectTab)='docments.active=true'
        (deselect)="docments.active=false">
        <app-dcoument *ngIf="docments.active" class="d-flex"></app-dcoument>
      </tab>
      <tab heading="Transaction Status" #transactionStatus (selectTab)='transactionStatus.active=true'
        (deselect)="transactionStatus.active=false">
        <app-interface-status *ngIf="transactionStatus.active" class="d-flex"></app-interface-status>
      </tab>



    </tabset>
  </div>
</div>
<!-- </div>
</div> -->
