<!-- <p>job-log works!</p> -->
<div class="px-2 mt-2">

  <div class="filter-content reconcilation-filters pb-2">
    <div class="row m-0 w-100">
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" class=" w-100"
            pInputText>
          <label for="inputtext">Job Name</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" class=" w-100" bsDatepicker placeholder="MM/DD/YYYY"
            pInputText>
          <label for="inputtext">Start Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input style="width: 91% !important;" type="text" class="" bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">End Date </label>
        </span>
      </div>
      <div class="col-lg-3 pl-0">
        <div class="d-flex align-items-center" style="margin-top: 22px;">
          <button class="btn-border btn-green text-white px-3 py-2" > Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive bg-white box-shadow mx-auto mx-2" style="height: Calc(100vh - 140px)">
    <table class="table mb-0">
        <thead class="thead-dark text-left">
            <tr>
                <th class="border-right  align-middle sticky-top border-bottom AvenirLTStd-Heavy">Job Name</th>
                <th class="border-right  align-middle sticky-top border-bottom AvenirLTStd-Heavy">Job Run Date Time</th>
                <th class="border-right  align-middle sticky-top border-bottom AvenirLTStd-Heavy">Status</th>
                <th class="border-right  align-middle sticky-top  border-bottom AvenirLTStd-Heavy">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-right  border-bottom AvenirLTStd-Heavy">
                    Importlea1236
                </td>
                <td class="border-right  border-bottom AvenirLTStd-Heavy">
                    08/08/2022 11.18 PM
                </td>
                <td class="border-right  border-bottom AvenirLTStd-Heavy">
                    Fail
                </td>
                <td class="border-right  border-bottom AvenirLTStd-Heavy">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

