<!-- <p>laevv-master works!</p> -->
<div class="modal-header">
  <h4 class="modal-title pull-left AvenirLTStd-Heavy"> LAEVV PA Master</h4>
  <button type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="activity-inner-wrapper">
      <div class="filter-content reconcilation-filters pb-2">
        <div class="row m-0 w-100">
          <div class="field pt-4 col-lg-2 col-md-4 col-12" >
            <span class="p-float-label">
              <input type="text" class="w-100" pInputText>
              <label for="inputtext">UID Client </label>
            </span>
          </div>
          <div class="field pt-4 col-lg-2 col-md-4 col-12" >
            <span class="p-float-label">
              <input type="text" class="w-100" pInputText>
              <label for="inputtext">PA Number </label>
            </span>
          </div>
          <div class="field pt-4 col-lg-2 col-md-4 col-12" >
            <span class="p-float-label">
              <input type="text" class="w-100" pInputText>
              <label for="inputtext">Procedure Code </label>
            </span>
          </div>
          <div class="field pt-4 col-lg-2 col-md-4 col-12" >
            <span class="p-float-label">
              <input type="text" class="w-100" pInputText>
              <label for="inputtext">Medicad ID </label>
            </span>
          </div>
          <div  class="input-group input-section d-flex align-items-center mt-3 col-lg-2 pl-0">
            <label class="m-0 pr-3  font-size-15 w-auto">
            Admission
            </label>
            <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input
                  class="on-off-toggle__input" id="bopis" name='active' type="checkbox" value=1 />
                <label for="bopis" class="on-off-toggle__slider"></label>
              </div>
            </div>
          </div>
          <div class="col-lg-2 pl-0">
            <div class="d-flex align-items-center" style="margin-top: 22px;">
              <button class="btn-border btn-green text-white px-3 py-2"> Go</button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive box-shadow mb-3" style="height: calc(100vh - 310px);">
        <table class="table  mb-0 visit-table">
          <thead class="thead-dark">

            <tr >
              <th class="AvenirLTStd-Heavy border-right sticky-top">

              </th>
              <th class="AvenirLTStd-Heavy border-right sticky-top">
                Transaction Type
              </th>
              <th class="AvenirLTStd-Heavy border-right sticky-top">
                UID Client
              </th>
              <th class="AvenirLTStd-Heavy border-right sticky-top">
                PANUM
              </th>
              <th class="AvenirLTStd-Heavy border-right  sticky-top">
                PABEGIN
              </th>
              <th class="AvenirLTStd-Heavy border-right  sticky-top">
                PAEND
              </th>
              <th class="AvenirLTStd-Heavy border-right  sticky-top">
                Processed Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td class="border-right border-bottom text-center">
                <p-radioButton></p-radioButton>
              </td> -->
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                <span class="material-icons" (click)="openClients()">list</span>
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                1
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                Update
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                Adams
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                Jemani
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                D
              </td>
              <td class="border-right border-bottom  AvenirLTStd-Medium">
                1518 Holly Drive
              </td>


            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex align-items-center justify-content-end pagination nav mr-0 pb-1  mt-1">
        <div class="pr-2 pagination-add-close  justify-content-end">
          <span class="footer-text">Per Page</span>
          <select class="pagination-select border-0">
            <option>
              10
            </option>`
          </select>
          <span class="footer-text">Showing <span>1</span> to <span> 10 </span> of <span>100</span></span>
          <button type="button " class="pagination-btn ml-0" id="prev-btn " class="pagination-btn">Prev</button>
          <button type="button " class="pagination-btn ml-0 " id="next-btn"
            class="pagination-btn btn-green ml-2 color-white">Next</button>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center justify-content-between mt-2">
        <button class="btn-border btn-green text-white px-3 py-2 bg-dark"> Close</button>
        <button class="btn-border btn-green text-white px-3 py-2"> Process</button>
      </div> -->
    </div>
</div>

