<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Interface Payor Mapping List - {{interfaceName}}</h5>
    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <th scope="col" class=" sticky-top">Poc Payor Plan
              </th>
              <th scope="col" class=" sticky-top">Office
              </th>
              <th scope="col" class=" sticky-top">Active</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of payorMappingList">
              <td>
                <span class="material-icons" title="External lookupMapping">
                  edit
                </span>
              </td>
              <td>{{item.pocPayorPlan}}</td>
              <td>{{item.office}}</td>
              <td>{{item.active==1?'Yes':'No'}}</td>
            </tr>

          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="payorMappingList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0">
  <div class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        Payor Mapping - {{interfaceName}}
      </h5>
    </div>

    <div class="border-2">

      <div class="d-flex align-items-center justify-content-between pt-2">
        <h6 class="">Poc Payor Plan <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235">
            <option>Plan</option>
            <option>3</option>
          </select>
          <!-- <div class="text-danger mb-2 text-center">
            InterfaceLookup is required
          </div> -->
        </div>
      </div>

      <!-- <div class="my-3 d-flex">
        <label class="m-0 w-200">Poc Payor Plan <span class="text-danger">*</span></label>
        <div class="input-group input-section">
          <input type="text" class="form-control input-text " placeholder="Title" aria-label="Your Name"
            aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger">
            <div>Title is required</div>
          </div>
        </div>
      </div> -->

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Office <span class="text-danger">*</span></h6>
        <div>
          <select class="form-control w-235">
            <option>ID</option>
            <option>3</option>
          </select>
          <!-- <div class="text-danger mb-2 text-center">
            InterfaceLookup is required
          </div> -->
        </div>
      </div>

      <div class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3  font-size-15 w-135">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" id="bopis" name='active'
               type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>


        <!-- <div class="check-box-wrapper">
                            <div class="on-off-toggle">
                                <input class="on-off-toggle__input" [(ngModel)]='InterfaceDataSetById.active'
                                    (change)="InterfaceDataSetById.active = $event.target.checked ? 1: 0" name='active'
                                    type="checkbox" />
                                <label for="bopis" class="on-off-toggle__slider"></label>
                            </div>
                        </div> -->

      </div>

      <div class="close-button justify-content-end">
        <!-- <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal">Cancel</button> -->
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>
