<div class="col-md-7 pr-0">
  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center ">
      <h5 class="m-0 text-white">Services List - {{interfaceName}}</h5>
      <!-- <input type="search" class="form-control w-200" placeholder="Lookup list" /> -->
        <ng-select class=" w-200 border-0 outline-0" [items]="payerlist" bindLabel='name'
        name='interfacePayerDetailsId' placeholder="--Select--" [(ngModel)]="interfacePayerDetailsId"
        bindValue='id'>
      </ng-select>

    <button class="btn-border btn-green text-white px-3" (click)="getInterfaceServicesList()"> Go</button>

    </div>
    <div class="p-2">
      <div class="table-responsive data-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top"></th>
              <!-- <th scope="col" class=" sticky-top">Interface Payer Id</th> -->
              <th class=" sticky-top">Code</th>
              <th scope="col" class="sticky-top">Name</th>
              <th scope="col" class="sticky-top">Active</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ServiceList">
              <td class="position-relative edit-option padding-interface border-left">
                <ul class="m-0 p-0">
                  <li class="">
                    <div class="share-button">
                      <input class="toggle-input" id="toggle-input" type="checkbox" />
                      <label for="toggle-input" class="toggle"></label>
                    </div>
                    <div class="slider d-flex align-items-center interface-slider-left">
                      <p class="twitter mr-1">
                        <span (click)="getInterfaceServicesById(item.id)">
                          <a class="text-white" title="Edit"></a>
                        </span>
                      </p>
                      <p class="payor-details-ico mr-1">
                        <span (click)="getInterfacePocServiceMapList(item)">
                          <a class="text-white" title="Service Mapping">
                          </a>
                        </span>
                      </p>
                    </div>
                  </li>
                </ul>
              </td>
              <td>{{item.code}}</td>
              <td>{{item.name}}</td>
              <td>{{item.active==1?'Yes':'No'}}</td>
            </tr>

          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="ServiceList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5 pr-0" *ngIf="!displaymapping">
  <div [formGroup]="servieFrom" class="create-wrapper">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{servieFrom.value.id==0?'Create':'Update'}} Interface Services - {{interfaceName}}
      </h5>

    </div>
    <div class="border-2">

      <div class="my-2 d-flex align-items-center justify-content-between">
        <label class="m-0 ">Interface Payor<span class="text-danger">*</span></label>
        <div class="">
          <ng-select  class="w-235 border-0 outline-0" [items]="payerlist" bindLabel='name'
            name='interfacePayerDetailsId' placeholder="--Select--" formControlName="interfacePayerDetailsId"
            bindValue='id' class="w-235">
          </ng-select>

          <div class="break"></div>
          <div *ngIf="formError && formControls.interfacePayerDetailsId.errors" class="text-danger">
            <div *ngIf="formControls.interfacePayerDetailsId.errors.required">Interface is required</div>
          </div>
        </div>

      </div>

      <div class="my-3 d-flex d-flex align-items-center justify-content-between">
        <label class="m-0 ">Code <span class="text-danger">*</span></label>
        <div class="input-group input-section w-235">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="code" placeholder="Code"
            aria-label="Your Name" aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControls.code.errors?.required && formError">
            <div>Code is required</div>
          </div>
        </div>
      </div>

      <div class="my-3 d-flex d-flex align-items-center justify-content-between">
        <label class="m-0">Name <span class="text-danger">*</span></label>
        <div class="input-group input-section w-235">
          <input type="text" [trim]="'blur'" class="form-control input-text " formControlName="name" placeholder="Name"
            aria-label="Your Name" aria-describedby="basic-addon2">
          <div class="break"></div>
          <div class="text-danger" *ngIf="formControls.name.errors?.required && formError">
            <div>Name is required</div>
          </div>
        </div>
      </div>

      <div *ngIf="servieFrom.value.id!=0" class="input-group justify-content-between input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3  font-size-15">
          Active
        </label>
        <div class="check-box-wrapper w-235">
          <div *ngIf="servieFrom.value.id!=0" class="on-off-toggle">
            <input class="on-off-toggle__input" (change)="onActivechange($event)" [checked]="servieFrom.value.active==1"
              id="bopis" name='active' type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
          (click)="createForm()">Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
          (click)="saveInterfaceServices()">{{servieFrom.value.id==0?'Create':'Save'}}</button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5" *ngIf="displaymapping">
  <div [formGroup]="servieMappingFrom" class="edit-wrapper mb-3 box-shadow">
    <div class="title">
      <h5 class="modal-title modal-title-content AvenirLTStd-Heavy text-white" id="exampleModalLongTitle">
        {{servieMappingFrom.value.serviceMapId==0?"Create":'Update'}} Service Mapping - {{serviceName}}
      </h5>

    </div>

    <div class="border-2">

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Office <span class="text-danger">*</span></h6>
        <div>
          <!-- <select class="form-control w-235" (change)="getMappedPayorPlanList()" formControlName="officeId">
            <option [ngValue]="0">select</option>
            <option [ngValue]="item.officeId" *ngFor="let item of officeLookup">{{item.officeName}}</option>
          </select> -->
          <ng-select  class="w-235 border-0 outline-0" (change)="getMappedPayorPlanList(true)" [items]="officeLookup" bindLabel='officeName'
          placeholder="--Select--" formControlName="officeId"
          bindValue='officeId' class="w-235">
        </ng-select>
          <div class="text-danger" *ngIf="formcontrolsmap.officeId.errors?.required &&formError">
            Office is required
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">Payor Plan <span class="text-danger">*</span></h6>
        <div>
          <!-- <select class="form-control w-235"
            (change)="getServiceList(servieMappingFrom.value.officeId,servieMappingFrom.value.payorPlanId)"
            formControlName="payorPlanId">
            <option [ngValue]="0">select</option>
            <option [ngValue]="item.payorPlanId" *ngFor="let item of mappedPayorPlanList">{{item.payorPlan}}</option>
          </select> -->
          <ng-select  class="w-235 border-0 outline-0" (change)="getServiceList(servieMappingFrom.value.officeId,servieMappingFrom.value.payorPlanId,true)"[items]="mappedPayorPlanList" bindLabel='payorPlan'
          placeholder="--Select--" formControlName="payorPlanId"
          bindValue='payorPlanId' class="w-235">
        </ng-select>
          <div class="text-danger" *ngIf="formcontrolsmap.payorPlanId.errors?.required &&formError">
            Payor Plan is required
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between my-3">
        <h6 class="">POC Service <span class="text-danger">*</span></h6>
        <div>
          <!-- <select class="form-control w-235" formControlName="serviceId">
            <option [ngValue]="0">select</option>
            <option [ngValue]="item.serviceId" *ngFor="let item of mappaedServiceList">{{item.service}}</option>
          </select> -->
          <ng-select  class="w-235 border-0 outline-0" [items]="mappaedServiceList" bindLabel='service'
          placeholder="--Select--" formControlName="serviceId"
          bindValue='serviceId' class="w-235">
        </ng-select>
          <div class="text-danger" *ngIf="formcontrolsmap.serviceId.errors?.required &&formError">
            POC Service is required
          </div>
        </div>
      </div>

      <div *ngIf="servieMappingFrom.value.serviceMapId!=0" class="input-group input-section d-flex align-items-center mt-2">

        <label class="m-0 pr-3 w-120 font-size-15">
          Active
        </label>
        <div class="check-box-wrapper">
          <div class="on-off-toggle">
            <input class="on-off-toggle__input" (change)="onActivechange($event,'mapping')"
              [checked]="servieMappingFrom.value.active==1" id="bopis" name='active' type="checkbox" />
            <label for="bopis" class="on-off-toggle__slider"></label>
          </div>
        </div>

      </div>

      <div class="close-button justify-content-end">
        <button type="submit" class="btn btn-inner btn-blue btn-border mr-2" data-dismiss="modal"
          (click)="serviceMappingForm()"> Cancel</button>
        <button type="submit" class="btn btn-inner btn-save btn-border" data-dismiss="modal"
          (click)="saveInterfacePocServiceMap()">{{servieMappingFrom.value.serviceMapId==0?"Create":'Save'}}</button>
      </div>
    </div>
  </div>

  <div class="border box-shadow">
    <div class="data-table-header d-flex justify-content-between align-items-center">
      <h5 class="m-0 text-white">Interface Service Mapping List
      </h5>
      <!-- <input type="search" class="form-control w-200" placeholder="Search Lookups" /> -->
    </div>
    <div class="p-2">
      <div class="table-responsive dual-data-table vh-30">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="w-60 sticky-top p-0">
              </th>
              <th scope="col" class=" sticky-top p-0">Office

              </th>
              <th class="align-middle sticky-top p-0">POC Service

              </th>
              <th scope="col" class="sticky-top p-0">Active

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of serviceMappingList">
              <td>
                <span (click)="updateServiceMappingForm(item)" class="material-icons" data-toggle="modal" title="Edit"
                  data-target="#staticBackdrop">
                  edit
                </span>
              </td>
              <td class="text-left">{{item.siteCode}}</td>
              <td class="text-left">{{item.service}}</td>
              <td>
                {{item.active==1?'Yes':'No'}}
              </td>

            </tr>
          </tbody>
        </table>
        <p class="no-records text-center" *ngIf="serviceMappingList.length==0">No Records Found</p>
      </div>
    </div>
  </div>
</div>
