.details-icon{
    font-size: 16px;
    color: #76bd43;
}
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label{
    color: #fff;
    font-family: "AvenirLTSTD-Medium", sans-serif !important;
    font-size: 13px;
}
