<div class=" px-3 mt-2">
<div class="d-flex filter-content reconcilation-filters pb-2">
    <div class="row m-0 ">
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true" [options]="InterfaceDetailsList" (onChange)="filterChange()" [(ngModel)]="interfaceDefinitionId"
            optionValue="id" appendTo="body" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
            placeholder="Select Interface" class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Interface <span class="text-danger" >*</span></label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12 d-flex align-items-center">

        <span class="p-float-label w-100">
          <p-dropdown  [resetFilterOnHide]="true" [options]="psList" [(ngModel)]="psId" [virtualScroll]="true" [virtualScrollItemSize]="30" [ngModel]="psId"
            optionValue="psId" appendTo="body" optionLabel="psName" [filter]="true" filterBy="psName" [showClear]="true"
            placeholder="Select PS" class="w-100" styleClass="w-100">
            <ng-template let-caller pTemplate="item">
              <div class="country-item">
                  <div [ngClass]="{'inActive':caller.active==0}">{{caller.psName}} </div>
              </div>
          </ng-template>
          </p-dropdown>
          <label for="inputtext">PS</label>
        </span>
        <p-checkbox [binary]="true" [(ngModel)]="includeInActivePS" (onChange)="onIncludeInactiveChange($event.checked,'PS')" title="Incluce In-Active" name="groupname" value="val1" class="ml-2" ></p-checkbox>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12 d-flex align-items-center">

        <span class="p-float-label w-100">
          <p-dropdown  [resetFilterOnHide]="true" [options]="dcsList" [(ngModel)]="dcsId" [virtualScroll]="true" [virtualScrollItemSize]="30"
            optionValue="dcsId" appendTo="body" optionLabel="dcsName" [filter]="true" filterBy="dcsName"
            [showClear]="true" placeholder="Select DCS" class="w-100" styleClass="w-100">
            <ng-template let-caller pTemplate="item">
              <div class="country-item">
                  <div [ngClass]="{'inActive':caller.active==0}">{{caller.dcsName}} </div>
              </div>
          </ng-template>

          </p-dropdown>
          <label for="inputtext">DCS</label>
        </span>
        <p-checkbox  [(ngModel)]="includeInActiveDCS" [binary]="true" (onChange)="onIncludeInactiveChange($event.checked,'DCS')" title="Incluce In-Active" name="groupname2"  class="ml-2" ></p-checkbox>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true" [options]="serviceList" optionValue="serviceId" [(ngModel)]="serviceId" appendTo="body"
            optionLabel="serviceName" [filter]="true" filterBy="serviceName" [showClear]="true"
            placeholder="Select Service " class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Service</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true" [options]="payerList" [(ngModel)]="payorId" appendTo="body" optionLabel="payerName"
            optionValue="payerId" [filter]="true" filterBy="payerName" [showClear]="true"
            placeholder="Select Payor/Plan " class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Payor/Plan</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input  style="width: 91% !important;"  type="text" [(ngModel)]="startDate" [maxDate]="endDate" class=" w-100" (ngModelChange)="datchange()"
            bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">Start Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <input  style="width: 91% !important;"  type="text" class="" [(ngModel)]="endDate" class="w-100" [minDate]="startDate" [maxDate]="systemDate"
            (ngModelChange)="datchange()" bsDatepicker placeholder="MM/DD/YYYY" pInputText>
          <label for="inputtext">End Date</label>
        </span>
      </div>
      <div class="field pt-4 col-lg-3 col-md-4 col-12">
        <span class="p-float-label">
          <p-dropdown  [resetFilterOnHide]="true" [options]="statusList" [(ngModel)]="exportStatus"
            optionValue="id" appendTo="body" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
            placeholder="Select Interface" class="w-100" styleClass="w-100"></p-dropdown>
          <label for="inputtext">Status</label>
        </span>
      </div>
    </div>
    <div class="filter-content d-flex justify-content-between pb-3 px-3  align-items-end nav">
      <button class="btn-border btn-green text-white px-3 py-2" (click)='applyfilter()'> Go</button>
    </div>
  </div>




  <div class="table-reconcilation ">
    <table class="table box-shadow ">
      <thead class="thead-dark sticky-top" style="z-index: 999 !important;">
        <tr>
          <th colspan="6" class="border-right "></th>
          <th colspan="2" class="border-right text-center ">
            <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
          </th>
          <th colspan="2" class="border-right text-center ">
            <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
          </th>
          <th colspan="5" class="border-right text-center ">Export Details</th>
          <!-- <th colspan="" class="border-right "></th> -->
        </tr>
        <tr class="no-wrap" style="white-space: nowrap;">
          <th scope="col"></th>
          <th class="border-right " scope="col">Site</th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('ps','asc')" [ngClass]="currentorderby=='ps' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-1">PS</span>
            <i (click)="sortorder('ps','desc')"
              [ngClass]="currentorderby=='ps' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">DCS</th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('payor','asc')"
              [ngClass]="currentorderby=='payor' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-2">Payor</span>
            <i (click)="sortorder('payor','desc')"
              [ngClass]="currentorderby=='payor' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">Service</th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('schedulestart','asc')"
              [ngClass]="currentorderby=='schedulestart' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-2">Start</span>
            <i (click)="sortorder('schedulestart','desc')"
              [ngClass]="currentorderby=='schedulestart' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('scheduleend','asc')"
              [ngClass]="currentorderby=='scheduleend' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-2">End</span>
            <i (click)="sortorder('scheduleend','desc')"
              [ngClass]="currentorderby=='scheduleend' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('arrivaltime','asc')"
              [ngClass]="currentorderby=='arrivaltime' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-2">Start</span>
            <i (click)="sortorder('arrivaltime','desc')"
              [ngClass]="currentorderby=='arrivaltime' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">
            <i (click)="sortorder('departuretime','asc')"
              [ngClass]="currentorderby=='departuretime' && orderType=='asc' ? 'text-primary':'' "
              class="fas fa-arrow-down text-white"></i>
            <span class="mx-2">End</span>
            <i (click)="sortorder('departuretime','desc')"
              [ngClass]="currentorderby=='departuretime' && orderType=='desc' ? 'text-primary':'' "
              class="fas fa-arrow-up text-white"></i>
          </th>
          <th class="border-right " scope="col">Batch #</th>
          <th class="border-right " scope="col">Details
          </th>
          <th class="border-right " scope="col">Status</th>
          <th class="border-right " scope="col">Exported On</th>
          <th class="border-right " scope="col">Response Message</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let export of exportDetailsArray" class="no-wrap">
          <td><span style="color: #76bd43 !important;" class="material-icons " [tooltip]="'Log'"
              (click)="getReconciliationCompVisitLog(export,logs)">list</span></td>
          <td>{{export.siteCode}}</td>
          <td>{{export.psName}}</td>
          <td>{{export.dcsName}}</td>
          <td>{{export.interfacePayer}}</td>
          <td>{{export.procedureCode}}</td>
          <td>{{export.scheduledBeginDateTime}}</td>
          <td>{{export.scheduledEndDateTime}}</td>
          <td>{{export.arrivalDateTime}}</td>
          <td>{{export.departureDateTime}}</td>
          <td class="text-center">{{export.batchNumber}}</td>
          <td><span class="details-icon" (click)="getExportedDataDetails(export,recordDetails)"><i
                class="fas fa-file-alt"></i></span></td>
          <td>{{export.exportStatus}}</td>
          <td>{{export.exportedOn}}</td>
          <td class="word-break">{{export.responseMessage}}</td>


        </tr>



      </tbody>
    </table>
    <p *ngIf="exportDetailsArray.length==0" class="no-records text-center">
      {{defaultrecords==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
  </div>
  <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2">
    <div class="pagination  justify-content-end pagination-button">
      <div class="d-flex align-items-center">
        <h6 class="mx-3">Per page</h6>
        <select (change)="pageChange()" [(ngModel)]="perpage" class="border-0 box-shadow mr-3">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="50">50</option>

        </select>
      </div>
      Showing {{totalCount>0?lowerBound:totalCount}} to {{this.upperBound<=totalCount ?this.upperBound:this.totalCount}}
        of {{totalCount}} <div class="page-item "><button [disabled]="lowerBound==1" type="button" (click)="prevpage()"
          class="btn-green btn-border text-white mx-2">Prev</button>
    </div>
    <div class="page-item "><button type="button" (click)="nextPage()" [disabled]="upperBound>totalCount"
        class="btn-green btn-border text-white mx-2">Next</button>
    </div>
  </div>
  <!-- Pagination end  -->
</div>
</div>


<ng-template #notFoundTemplate let-notFound>
  <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template>


<ng-template #recordDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Record Details</h4>
    <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="">
      <h3 class="m-0 table-reconcile-header">Details</h3>
      <div class="table-responsive border box-shadow height-67 reconcilation-table">
        <table class="table ">
          <thead>
            <tr>
              <th class="bg-dark color-white border-right">
                Column Name
              </th>
              <th class="bg-dark color-white">
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let item of visitRequestData">
              <td class=" border-right">
                <div class="border-left">{{item.interfaceElementName}}</div>
              </td>
              <td class="">
                <div class="border-right">{{item.requestValue}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
      </div>
    </div>

  </div>
</ng-template>


<ng-template #logs>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Completed Visit Log</h4>
    <button type="button" class="close pull-right color-white" (click)="visitsLogModalRef?.hide()">
      <span aria-hidden="true" class="color-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-reconcilation ">
      <table class="table box-shadow ">
        <thead class="thead-dark sticky-top">
          <tr>
            <th colspan="5" class="border-right "></th>
            <th colspan="2" class="border-right text-center ">
              <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
            </th>
            <th colspan="2" class="border-right text-center ">
              <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
            </th>
            <th colspan="5" class="border-right text-center ">Export Details</th>
            <!-- <th colspan="" class="border-right "></th> -->
          </tr>
          <tr class="no-wrap" style="white-space: nowrap;">
            <th class="border-right " scope="col">Site</th>
            <th class="border-right " scope="col">PS</th>
            <th class="border-right " scope="col">DCS</th>
            <th class="border-right " scope="col"> Payor</th>
            <th class="border-right " scope="col">Service</th>
            <th class="border-right " scope="col">Start</th>
            <th class="border-right " scope="col">End</th>
            <th class="border-right " scope="col">Start</th>
            <th class="border-right " scope="col">End</th>
            <th class="border-right " scope="col">Batch #</th>
            <th class="border-right " scope="col">Details</th>
            <th class="border-right " scope="col">Status</th>
            <th class="border-right " scope="col">Exported On</th>
            <th class="border-right " scope="col">Response Message</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let export of exportDetailsLogsArray" class="no-wrap">
            <td>{{export.siteCode}}</td>
            <td>{{export.psName}}</td>
            <td>{{export.dcsName}}</td>
            <td>{{export.interfacePayer}}</td>
            <td>{{export.procedureCode}}</td>
            <td>{{export.scheduledBeginDateTime}}</td>
            <td>{{export.scheduledEndDateTime}}</td>
            <td>{{export.arrivalDateTime}}</td>
            <td>{{export.departureDateTime}}</td>
            <td class="text-center">{{export.batchNumber}}</td>
            <td><span class="details-icon" (click)="getExportedDataDetails(export,recordDetails)"><i
                  class="fas fa-file-alt"></i></span></td>
            <td>{{export.exportStatus}}</td>
            <td>{{export.exportedOn}}</td>
            <td class="word-break">{{export.responseMessage}}</td>

          </tr>



        </tbody>
      </table>
      <p *ngIf="exportDetailsLogsArray.length==0" class="no-records text-center">No Records Found</p>
    </div>
  </div>
</ng-template>
