<!-- <app-header></app-header> -->
<!-- <div class="activity-wrapper">

    <div class="activity-inner-wrapper mh-91  d-flex">
        <app-sidebar></app-sidebar> -->
<div class=" px-3 mt-2">

    <div class="d-flex">
        <div
            class="filter-content reconcilation-filters d-flex justify-content-between px-3  pb-3 align-items-end nav">
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 d-flex align-items-center">
                    Interface
                    <span class="text-danger ml-1">*</span>
                </label>

                <div class="input-group input-section ">
                    <!-- <input type="text" class="form-control input-text w-120" placeholder="Search Dataset"> -->
                    <select [(ngModel)]='interfaceDefinitionId' (change)="filterChange()"
                        class="form-control input-text ">
                        <option [ngValue]="0">--Select--</option>
                        <option *ngFor="let data of InterfaceDetailsList" [ngValue]="data.id">{{data.name}}</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <div class=" form-check ">
                    <input type="checkbox" [(ngModel)]="includeInActivePS" (change)="onIncludeInactiveChange($event,'PS')" class="form-check-input" id="exampleCheck1">
                    <span class="form-check-label f-15 AvenirLTStd-Roman" for="exampleCheck1">Include In-Active</span>
                </div>
                <div class="mt-2 d-flex align-items-center">
                    <label class=" f-15 my-0 ml-4 pr-2 text-right" style="width: 178px;">PS </label>
                    <div class="input-group input-section">
                        <!-- <input  type="text" class="form-control input-text w-180" placeholder="Search PS"> -->
                        <ng-autocomplete #ps class="input-text w-100" [data]="psList" [searchKeyword]="'psName'"
                            (inputCleared)="filterClear('ps')" (selected)='selectEvent($event,"ps")'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.psName"></a>
                        </ng-template>


                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class=" form-check ">
                    <input  [(ngModel)]="includeInActiveDCS" (change)="onIncludeInactiveChange($event,'DCS')"  type="checkbox" class="form-check-input" id="dcsIncludeInActive">
                    <span class="form-check-label f-15 AvenirLTStd-Roman" for="dcsIncludeInActive">Include In-Active</span>
                </div>
                <div class="mt-2 d-flex align-items-center">
                    <label class="f-15 my-0 ml-4 pr-2 text-right" style="width: 178px;">DCS </label>
                    <div class="input-group input-section">
                        <!-- <input type="text" class="form-control input-text w-180" placeholder="Search DCS"> -->
                        <ng-autocomplete #dcs class="input-text w-100" (inputCleared)="filterClear('dcs')"
                            [data]="dcsList" [searchKeyword]="'dcsName'" (selected)='selectEvent($event,"dcs")'
                            [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <ng-template #itemTemplate2 let-item>
                            <a [ngClass]="{'inActive':item.active==0}" [innerHTML]="item.dcsName"></a>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 my-0">Service </label>
                <div class="input-group input-section">
                    <!-- <input type="text" class="form-control input-text w-180" placeholder="Search Service"> -->
                    <ng-autocomplete #service class="input-text w-100" (inputCleared)="filterClear('service')"
                        [data]="serviceList" [searchKeyword]="'serviceName'" (selected)='selectEvent($event,"service")'
                        [itemTemplate]="itemTemplate3" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate3 let-item>
                        <a [innerHTML]="item.serviceName"></a>
                    </ng-template>
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-15 my-0">Payor/Plan </label>
                <div class="input-group input-section">
                    <select [(ngModel)]="payorId" class="form-control input-text ">
                        <option [ngValue]="0">--Select--</option>placeholder="Search Ps"
                        <option *ngFor="let dat of payerList" [ngValue]="dat.payerId">{{dat.payerName}}</option>
                    </select>
                </div>

            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="ml-2 f-13 my-0   text-left">Start Date <span class="text-danger ">*</span>
                </label>
                <div class="input-group input-section">
                    <input type="text" [(ngModel)]="startDate" [maxDate]="endDate" class="form-control input-text "
                        (ngModelChange)="datchange()" bsDatepicker placeholder="MM/DD/YYYY">
                    <!-- <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i> -->
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 f-13 my-0   text-right">End Date<span class="text-danger">*</span>
                </label>
                <div class="input-group input-section">
                    <input type="text" class="form-control input-text" style="width:161px" [(ngModel)]="endDate"
                        [minDate]="startDate" [maxDate]="systemDate" (ngModelChange)="datchange()" bsDatepicker
                        placeholder="MM/DD/YYYY">
                    <!-- <i class="far fa-calendar-alt pl-2 f-20 pt-2" (click)="ActivityEnd.toggle()"></i> -->
                </div>
            </div>
            <div class="mt-2 d-flex align-items-center">
                <label class="mx-2 mt-2 f-15">Status </label>
                <!-- <span class="text-danger mr-2">*</span> -->
                <div class="input-group input-section">
                    <select [(ngModel)]="exportStatus" class="form-control input-text ">
                        <option [ngValue]='0'>--Select--</option>
                        <option [ngValue]='1'>Exported</option>
                        <option [ngValue]="2">Accepted</option>
                        <option [ngValue]="3">Rejected</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="filter-content d-flex justify-content-between pb-3 px-3  align-items-end nav">
            <button class="btn-border btn-green text-white px-3 py-2" (click)='applyfilter()'> Go</button>
        </div>
    </div>
    <div class="table-reconcilation mt-2">
        <table class="table box-shadow ">
            <thead class="thead-dark sticky-top">
                <tr>
                    <th colspan="6" class="border-right "></th>
                    <th colspan="2" class="border-right text-center ">
                        <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
                    </th>
                    <th colspan="2" class="border-right text-center ">
                        <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
                    </th>
                    <th colspan="5" class="border-right text-center ">Export Details</th>
                    <!-- <th colspan="" class="border-right "></th> -->
                </tr>
                <tr class="no-wrap" style="white-space: nowrap;">
                    <th scope="col"></th>
                    <th class="border-right " scope="col">Site</th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('ps','asc')"
                            [ngClass]="currentorderby=='ps' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-1">PS</span>
                        <i (click)="sortorder('ps','desc')"
                            [ngClass]="currentorderby=='ps' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">DCS</th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('payor','asc')"
                            [ngClass]="currentorderby=='payor' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-2">Payor</span>
                        <i (click)="sortorder('payor','desc')"
                            [ngClass]="currentorderby=='payor' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">Service</th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('schedulestart','asc')"
                            [ngClass]="currentorderby=='schedulestart' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-2">Start</span>
                        <i (click)="sortorder('schedulestart','desc')"
                            [ngClass]="currentorderby=='schedulestart' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('scheduleend','asc')"
                            [ngClass]="currentorderby=='scheduleend' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-2">End</span>
                        <i (click)="sortorder('scheduleend','desc')"
                            [ngClass]="currentorderby=='scheduleend' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('arrivaltime','asc')"
                            [ngClass]="currentorderby=='arrivaltime' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-2">Start</span>
                        <i (click)="sortorder('arrivaltime','desc')"
                            [ngClass]="currentorderby=='arrivaltime' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">
                        <i (click)="sortorder('departuretime','asc')"
                            [ngClass]="currentorderby=='departuretime' && orderType=='asc' ? 'text-primary':'' "
                            class="fas fa-arrow-down text-white"></i>
                        <span class="mx-2">End</span>
                        <i (click)="sortorder('departuretime','desc')"
                            [ngClass]="currentorderby=='departuretime' && orderType=='desc' ? 'text-primary':'' "
                            class="fas fa-arrow-up text-white"></i>
                    </th>
                    <th class="border-right " scope="col">Batch #</th>
                    <th class="border-right " scope="col">Details
                    </th>
                    <th class="border-right " scope="col">Status</th>
                    <th class="border-right " scope="col">Exported On</th>
                    <th class="border-right " scope="col">Response Message</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let export of exportDetailsArray" class="no-wrap">
                    <td><span style="color: #76bd43 !important;" class="material-icons " [tooltip]="'Log'"
                            (click)="getReconciliationCompVisitLog(export,logs)">list</span></td>
                    <td>{{export.siteCode}}</td>
                    <td>{{export.psName}}</td>
                    <td>{{export.dcsName}}</td>
                    <td>{{export.interfacePayer}}</td>
                    <td>{{export.procedureCode}}</td>
                    <td>{{export.scheduledBeginDateTime}}</td>
                    <td>{{export.scheduledEndDateTime}}</td>
                    <td>{{export.arrivalDateTime}}</td>
                    <td>{{export.departureDateTime}}</td>
                    <td class="text-center">{{export.batchNumber}}</td>
                    <td><span class="details-icon" (click)="getExportedDataDetails(export,recordDetails)"><i
                                class="fas fa-file-alt"></i></span></td>
                    <td>{{export.exportStatus}}</td>
                    <td>{{export.exportedOn}}</td>
                    <td class="word-break">{{export.responseMessage}}</td>


                </tr>



            </tbody>
        </table>
        <p *ngIf="exportDetailsArray.length==0" class="no-records text-center">
          {{defaultrecords==0?'Please select an Interface and click on Go for the records':'No Records Found'}}</p>
    </div>
    <div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2">
        <div class="pagination  justify-content-end pagination-button">
            <div class="d-flex align-items-center">
                <h6 class="mx-3">Per page</h6>
                <select (change)="pageChange()" [(ngModel)]="perpage" class="border-0 box-shadow mr-3">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="50">50</option>

                </select>
            </div>
            Showing {{totalCount>0?lowerBound:totalCount}} to {{this.upperBound<=totalCount
                ?this.upperBound:this.totalCount}} of {{totalCount}} <div class="page-item "><button
                    [disabled]="lowerBound==1" type="button" (click)="prevpage()"
                    class="btn-green btn-border text-white mx-2">Prev</button>
        </div>
        <div class="page-item "><button type="button" (click)="nextPage()" [disabled]="upperBound>totalCount"
                class="btn-green btn-border text-white mx-2">Next</button>
        </div>
    </div>
    <!-- Pagination end  -->
</div>
</div>
<!-- </div> -->
<!-- </div> -->

<ng-template #notFoundTemplate let-notFound>
    <div style="color: black;" [innerHTML]="notFound"></div>
</ng-template>


<ng-template #recordDetails>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Record Details</h4>
        <button type="button" class="close pull-right color-white" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="color-white">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="">
            <h3 class="m-0 table-reconcile-header">Details</h3>
            <div class="table-responsive border box-shadow height-67 reconcilation-table">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="bg-dark color-white border-right">
                                Column Name
                            </th>
                            <th class="bg-dark color-white">
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let item of visitRequestData">
                            <td class=" border-right">
                                <div class="border-left">{{item.interfaceElementName}}</div>
                            </td>
                            <td class="">
                                <div class="border-right">{{item.requestValue}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="visitRequestData.length==0" class="no-records text-center">No Records Found</p>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #logs>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Completed Visit Log</h4>
        <button type="button" class="close pull-right color-white" (click)="visitsLogModalRef?.hide()">
            <span aria-hidden="true" class="color-white">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-reconcilation ">
            <table class="table box-shadow ">
                <thead class="thead-dark sticky-top">
                    <tr>
                        <th colspan="5" class="border-right "></th>
                        <th colspan="2" class="border-right text-center ">
                            <span class="mx-2">&nbsp; &nbsp; Scheduled Times &nbsp; &nbsp;</span>
                        </th>
                        <th colspan="2" class="border-right text-center ">
                            <span class="mx-2">&nbsp; &nbsp; Reported Times &nbsp; &nbsp;</span>
                        </th>
                        <th colspan="5" class="border-right text-center ">Export Details</th>
                        <!-- <th colspan="" class="border-right "></th> -->
                    </tr>
                    <tr class="no-wrap" style="white-space: nowrap;">
                        <th class="border-right " scope="col">Site</th>
                        <th class="border-right " scope="col">PS</th>
                        <th class="border-right " scope="col">DCS</th>
                        <th class="border-right " scope="col"> Payor</th>
                        <th class="border-right " scope="col">Service</th>
                        <th class="border-right " scope="col">Start</th>
                        <th class="border-right " scope="col">End</th>
                        <th class="border-right " scope="col">Start</th>
                        <th class="border-right " scope="col">End</th>
                        <th class="border-right " scope="col">Batch #</th>
                        <th class="border-right " scope="col">Details</th>
                        <th class="border-right " scope="col">Status</th>
                        <th class="border-right " scope="col">Exported On</th>
                        <th class="border-right " scope="col">Response Message</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let export of exportDetailsLogsArray" class="no-wrap">
                        <td>{{export.siteCode}}</td>
                        <td>{{export.psName}}</td>
                        <td>{{export.dcsName}}</td>
                        <td>{{export.interfacePayer}}</td>
                        <td>{{export.procedureCode}}</td>
                        <td>{{export.scheduledBeginDateTime}}</td>
                        <td>{{export.scheduledEndDateTime}}</td>
                        <td>{{export.arrivalDateTime}}</td>
                        <td>{{export.departureDateTime}}</td>
                        <td class="text-center">{{export.batchNumber}}</td>
                        <td><span class="details-icon" (click)="getExportedDataDetails(export,recordDetails)"><i
                                    class="fas fa-file-alt"></i></span></td>
                        <td>{{export.exportStatus}}</td>
                        <td>{{export.exportedOn}}</td>
                        <td class="word-break">{{export.responseMessage}}</td>

                    </tr>



                </tbody>
            </table>
            <p *ngIf="exportDetailsLogsArray.length==0" class="no-records text-center">No Records Found</p>
        </div>
    </div>
</ng-template>


